﻿@import "mixins.scss";
#contentImageArchiv_grpImage {
	@include elemTop(10);
}
#contentImageArchiv_grpImage {
	@include elemLeft(10);
}
#contentImageArchiv_grpImage {
	@include elemWidth(520);
}
#contentImageArchiv_grpImage {
	@include elemHeight(500);
}
#contentImageArchiv_grpImage {
		z-index: 0;
}
#contentImageArchiv_lstImageArchiv {
	@include elemTop(3);
}
#contentImageArchiv_lstImageArchiv {
	@include elemLeft(220);
}
#contentImageArchiv_lstImageArchiv {
	&.ListBoxView{
	@include elemWidth(290);
	}
}
#contentImageArchiv_lstImageArchiv {
	&.ListBoxView{
	@include elemHeight(397);
	}
}
#contentImageArchiv_lstImageArchiv {
		z-index: 0;
}
#contentImageArchiv_lstImageArchiv {
	&.ListBoxView{
		border-width: 1px;
	}
}
#contentImageArchiv_lstImageArchiv {
	&.ListBoxView{
	@include border-radius(3px);
	}
}
#contentImageArchiv_btnImageArchivRefresh {
	@include elemTop(303);
}
#contentImageArchiv_btnImageArchivRefresh {
	@include elemLeft(9);
}
#contentImageArchiv_btnImageArchivRefresh {
	@include elemAutoWidth(190);
}
#contentImageArchiv_btnImageArchivRefresh {
	@include elemAutoHeight(40);
}
#contentImageArchiv_btnImageArchivRefresh {
		z-index: 1;
}
#contentImageArchiv_btnImageArchivRefresh {
	@include border-radius(5px);
}
#contentImageArchiv_btnImageArchivRefresh {
	span{
		font-size: 24px;
	}
}
#contentImageArchiv_btnImageArchivRefresh {
	span{
	@include font-weight-bold(true);
	}
}
#contentImageArchiv_btnImageArchivDelete {
	@include elemTop(68);
}
#contentImageArchiv_btnImageArchivDelete {
	@include elemLeft(9);
}
#contentImageArchiv_btnImageArchivDelete {
	@include elemAutoWidth(190);
}
#contentImageArchiv_btnImageArchivDelete {
	@include elemAutoHeight(50);
}
#contentImageArchiv_btnImageArchivDelete {
		z-index: 2;
}
#contentImageArchiv_btnImageArchivDelete {
	@include border-radius(5px);
}
#contentImageArchiv_btnImageArchivDelete {
	&:not(.disabled):not(.active):not(.checked){
	@include backGroundGradient('linear-gradient(to bottom, #FFAA4D 0%,#FF8500 100%)');
	}
}
#contentImageArchiv_btnImageArchivDelete {
	span{
		font-size: 24px;
	}
}
#contentImageArchiv_btnImageArchivDelete {
	span{
	@include font-weight-bold(true);
	}
}
#contentImageArchiv_btnImageArchivSave {
	@include elemTop(8);
}
#contentImageArchiv_btnImageArchivSave {
	@include elemLeft(9);
}
#contentImageArchiv_btnImageArchivSave {
	@include elemAutoWidth(190);
}
#contentImageArchiv_btnImageArchivSave {
	@include elemAutoHeight(50);
}
#contentImageArchiv_btnImageArchivSave {
		z-index: 3;
}
#contentImageArchiv_btnImageArchivSave {
	@include border-radius(5px);
}
#contentImageArchiv_btnImageArchivSave {
	span{
		font-size: 24px;
	}
}
#contentImageArchiv_btnImageArchivSave {
	span{
	@include font-weight-bold(true);
	}
}
#contentImageArchiv_btnShowUploadOptions {
	@include elemTop(363);
}
#contentImageArchiv_btnShowUploadOptions {
	@include elemLeft(9);
}
#contentImageArchiv_btnShowUploadOptions {
	@include elemAutoWidth(190);
}
#contentImageArchiv_btnShowUploadOptions {
	@include elemAutoHeight(40);
}
#contentImageArchiv_btnShowUploadOptions {
		z-index: 4;
}
#contentImageArchiv_btnShowUploadOptions {
	@include border-radius(5px);
}
#contentImageArchiv_btnShowUploadOptions {
	span{
		font-size: 24px;
	}
}
#contentImageArchiv_btnShowUploadOptions {
	span{
	@include font-weight-bold(true);
	}
}
#contentImageArchiv_labImage {
	@include elemAutoHeight(30);
}
#contentImageArchiv_labImage {
	@include elemTop(423);
}
#contentImageArchiv_labImage {
	@include elemLeft(13);
}
#contentImageArchiv_labImage {
	@include elemAutoWidth(71);
}
#contentImageArchiv_labImage {
		z-index: 5;
}
#contentImageArchiv_labImage {
	@include text-alignment-all('right');
}
#contentImageArchiv_labImage {
		font-size: 20px;
}
#contentImageArchiv_labImage {
	@include font-weight-bold(true);
}
#contentImageArchiv_numImageStatus {
	@include elemTop(423);
}
#contentImageArchiv_numImageStatus {
	@include elemLeft(89);
}
#contentImageArchiv_numImageStatus {
	@include elemAutoWidth(110);
}
#contentImageArchiv_numImageStatus {
	@include elemAutoHeight(33);
}
#contentImageArchiv_numImageStatus {
		z-index: 6;
}
#contentImageArchiv_numImageStatus {
		border-width: 1px;
}
#contentImageArchiv_numImageStatus {
	@include border-radius(3px);
}
#contentImageArchiv_btnResetError {
	@include elemTop(413);
}
#contentImageArchiv_btnResetError {
	@include elemLeft(220);
}
#contentImageArchiv_btnResetError {
	@include elemAutoWidth(290);
}
#contentImageArchiv_btnResetError {
	@include elemAutoHeight(40);
}
#contentImageArchiv_btnResetError {
		z-index: 7;
}
#contentImageArchiv_btnResetError {
	@include border-radius(5px);
}
#contentImageArchiv_btnResetError {
	span{
		font-size: 24px;
	}
}
#contentImageArchiv_btnResetError {
	span{
	@include font-weight-bold(true);
	}
}
#contentImageArchiv_btnImageArchivDownload {
	@include elemTop(128);
}
#contentImageArchiv_btnImageArchivDownload {
	@include elemLeft(9);
}
#contentImageArchiv_btnImageArchivDownload {
	@include elemAutoWidth(190);
}
#contentImageArchiv_btnImageArchivDownload {
	@include elemAutoHeight(50);
}
#contentImageArchiv_btnImageArchivDownload {
		z-index: 8;
}
#contentImageArchiv_btnImageArchivDownload {
	@include border-radius(5px);
}
#contentImageArchiv_btnImageArchivDownload {
	span{
		font-size: 24px;
	}
}
#contentImageArchiv_btnImageArchivDownload {
	span{
	@include font-weight-bold(true);
	}
}
#contentImageArchiv_WebDownloadImage {
	@include elemTop(133);
}
#contentImageArchiv_WebDownloadImage {
	@include elemLeft(54);
}
#contentImageArchiv_WebDownloadImage {
	@include elemWidth(106);
}
#contentImageArchiv_WebDownloadImage {
	@include elemHeight(45);
}
#contentImageArchiv_WebDownloadImage {
		z-index: 9;
}
#contentImageArchiv_WebDownloadImage {
	& iframe{
		border-style: none;
	}
}
#contentImageArchiv_WebDownloadImage {
	& div.editorImage{
		border-style: none;
	}
}
#contentImageArchiv_imgImageArchiv {
	@include elemTop(10);
}
#contentImageArchiv_imgImageArchiv {
	@include elemLeft(550);
}
#contentImageArchiv_imgImageArchiv {
	@include elemAutoWidth(640);
}
#contentImageArchiv_imgImageArchiv {
	@include elemAutoHeight(495);
}
#contentImageArchiv_imgImageArchiv {
		z-index: 1;
}
#contentImageArchiv_imgImageArchiv {
	@include border-radius(3px);
}
