#contentImageArchiv_grpImage {
  top: 10px;
  position: absolute;
}

#contentImageArchiv_grpImage {
  left: 10px;
  position: absolute;
}

#contentImageArchiv_grpImage {
  width: 520px;
}

#contentImageArchiv_grpImage {
  height: 500px;
}

#contentImageArchiv_grpImage {
  z-index: 0;
}

#contentImageArchiv_lstImageArchiv {
  top: 3px;
  position: absolute;
}

#contentImageArchiv_lstImageArchiv {
  left: 220px;
  position: absolute;
}

#contentImageArchiv_lstImageArchiv.ListBoxView {
  width: 290px;
}

#contentImageArchiv_lstImageArchiv.ListBoxView {
  height: 397px;
}

#contentImageArchiv_lstImageArchiv {
  z-index: 0;
}

#contentImageArchiv_lstImageArchiv.ListBoxView {
  border-width: 1px;
}

#contentImageArchiv_lstImageArchiv.ListBoxView {
  border-radius: 3px;
}

#contentImageArchiv_btnImageArchivRefresh {
  top: 303px;
  position: absolute;
}

#contentImageArchiv_btnImageArchivRefresh {
  left: 9px;
  position: absolute;
}

#contentImageArchiv_btnImageArchivRefresh {
  width: 190px;
}

#contentImageArchiv_btnImageArchivRefresh {
  height: 40px;
}

#contentImageArchiv_btnImageArchivRefresh {
  z-index: 1;
}

#contentImageArchiv_btnImageArchivRefresh {
  border-radius: 5px;
}

#contentImageArchiv_btnImageArchivRefresh span {
  font-size: 24px;
}

#contentImageArchiv_btnImageArchivRefresh span {
  font-weight: bold;
}

#contentImageArchiv_btnImageArchivDelete {
  top: 68px;
  position: absolute;
}

#contentImageArchiv_btnImageArchivDelete {
  left: 9px;
  position: absolute;
}

#contentImageArchiv_btnImageArchivDelete {
  width: 190px;
}

#contentImageArchiv_btnImageArchivDelete {
  height: 50px;
}

#contentImageArchiv_btnImageArchivDelete {
  z-index: 2;
}

#contentImageArchiv_btnImageArchivDelete {
  border-radius: 5px;
}

#contentImageArchiv_btnImageArchivDelete:not(.disabled):not(.active):not(.checked) {
  background-image: linear-gradient(to bottom, #FFAA4D 0%,#FF8500 100%);
}

#contentImageArchiv_btnImageArchivDelete span {
  font-size: 24px;
}

#contentImageArchiv_btnImageArchivDelete span {
  font-weight: bold;
}

#contentImageArchiv_btnImageArchivSave {
  top: 8px;
  position: absolute;
}

#contentImageArchiv_btnImageArchivSave {
  left: 9px;
  position: absolute;
}

#contentImageArchiv_btnImageArchivSave {
  width: 190px;
}

#contentImageArchiv_btnImageArchivSave {
  height: 50px;
}

#contentImageArchiv_btnImageArchivSave {
  z-index: 3;
}

#contentImageArchiv_btnImageArchivSave {
  border-radius: 5px;
}

#contentImageArchiv_btnImageArchivSave span {
  font-size: 24px;
}

#contentImageArchiv_btnImageArchivSave span {
  font-weight: bold;
}

#contentImageArchiv_btnShowUploadOptions {
  top: 363px;
  position: absolute;
}

#contentImageArchiv_btnShowUploadOptions {
  left: 9px;
  position: absolute;
}

#contentImageArchiv_btnShowUploadOptions {
  width: 190px;
}

#contentImageArchiv_btnShowUploadOptions {
  height: 40px;
}

#contentImageArchiv_btnShowUploadOptions {
  z-index: 4;
}

#contentImageArchiv_btnShowUploadOptions {
  border-radius: 5px;
}

#contentImageArchiv_btnShowUploadOptions span {
  font-size: 24px;
}

#contentImageArchiv_btnShowUploadOptions span {
  font-weight: bold;
}

#contentImageArchiv_labImage {
  height: 30px;
}

#contentImageArchiv_labImage {
  top: 423px;
  position: absolute;
}

#contentImageArchiv_labImage {
  left: 13px;
  position: absolute;
}

#contentImageArchiv_labImage {
  width: 71px;
}

#contentImageArchiv_labImage {
  z-index: 5;
}

#contentImageArchiv_labImage {
  justify-content: flex-end;
  text-align: right;
  -ms-flex-align: center;
  align-items: center;
}

#contentImageArchiv_labImage {
  font-size: 20px;
}

#contentImageArchiv_labImage {
  font-weight: bold;
}

#contentImageArchiv_numImageStatus {
  top: 423px;
  position: absolute;
}

#contentImageArchiv_numImageStatus {
  left: 89px;
  position: absolute;
}

#contentImageArchiv_numImageStatus {
  width: 110px;
}

#contentImageArchiv_numImageStatus {
  height: 33px;
}

#contentImageArchiv_numImageStatus {
  z-index: 6;
}

#contentImageArchiv_numImageStatus {
  border-width: 1px;
}

#contentImageArchiv_numImageStatus {
  border-radius: 3px;
}

#contentImageArchiv_btnResetError {
  top: 413px;
  position: absolute;
}

#contentImageArchiv_btnResetError {
  left: 220px;
  position: absolute;
}

#contentImageArchiv_btnResetError {
  width: 290px;
}

#contentImageArchiv_btnResetError {
  height: 40px;
}

#contentImageArchiv_btnResetError {
  z-index: 7;
}

#contentImageArchiv_btnResetError {
  border-radius: 5px;
}

#contentImageArchiv_btnResetError span {
  font-size: 24px;
}

#contentImageArchiv_btnResetError span {
  font-weight: bold;
}

#contentImageArchiv_btnImageArchivDownload {
  top: 128px;
  position: absolute;
}

#contentImageArchiv_btnImageArchivDownload {
  left: 9px;
  position: absolute;
}

#contentImageArchiv_btnImageArchivDownload {
  width: 190px;
}

#contentImageArchiv_btnImageArchivDownload {
  height: 50px;
}

#contentImageArchiv_btnImageArchivDownload {
  z-index: 8;
}

#contentImageArchiv_btnImageArchivDownload {
  border-radius: 5px;
}

#contentImageArchiv_btnImageArchivDownload span {
  font-size: 24px;
}

#contentImageArchiv_btnImageArchivDownload span {
  font-weight: bold;
}

#contentImageArchiv_WebDownloadImage {
  top: 133px;
  position: absolute;
}

#contentImageArchiv_WebDownloadImage {
  left: 54px;
  position: absolute;
}

#contentImageArchiv_WebDownloadImage {
  width: 106px;
}

#contentImageArchiv_WebDownloadImage {
  height: 45px;
}

#contentImageArchiv_WebDownloadImage {
  z-index: 9;
}

#contentImageArchiv_WebDownloadImage iframe {
  border-style: none;
}

#contentImageArchiv_WebDownloadImage div.editorImage {
  border-style: none;
}

#contentImageArchiv_imgImageArchiv {
  top: 10px;
  position: absolute;
}

#contentImageArchiv_imgImageArchiv {
  left: 550px;
  position: absolute;
}

#contentImageArchiv_imgImageArchiv {
  width: 640px;
}

#contentImageArchiv_imgImageArchiv {
  height: 495px;
}

#contentImageArchiv_imgImageArchiv {
  z-index: 1;
}

#contentImageArchiv_imgImageArchiv {
  border-radius: 3px;
}
