﻿@import "mixins.scss";
@import "../../../../../types/Page_base";
.system_brease_Page_style_default {
@include system_brease_Page_base; 

}
@import "../../../../../types/Dialog_base";
.system_brease_Dialog_style_default {
@include system_brease_Dialog_base; 
.breaseDialogWindowHeader {
	background-image: linear-gradient(to bottom,#F7F7F7 0%,#C6C6C6 100%);
}
.breaseDialogWindowHeader .textDiv {
	font-size: 20px;
}
.breaseDialogWindowHeader .textDiv {
	color: #474747;
}
@include border-radius(8px 8px 0px 0px);
.breaseDialogWindowContentBox {
@include border-bottom-right-radius(8px 8px 0px 0px);
}
.breaseDialogWindowContentBox {
@include border-bottom-left-radius(8px 8px 0px 0px);
}
.breaseDialogWindowHeader {
@include border-radius(8px 8px 0px 0px);
}
.breaseDialogWindowContentBox {
	border-width: 1px;
}
.breaseDialogWindowContentBox {
	border-color: #A899A0 #5F5F5F #5F5F5F #A899A0;
}
@include box-shadow(5px 5px 20px 0px rgba(62, 79, 92, 0.75));

}
@import "../../../../../types/MessageBox_base";
.system_brease_MessageBox_style_default {
@include system_brease_MessageBox_base; 
.breaseMessageBoxHeader {
	background-image: linear-gradient(to bottom, #FFAA4D 0%,#FF8500 100%);
}
.breaseMessageBoxContentBox div.content {
	font-size: 20px;
}
.breaseMessageBoxContentBox div.content {
	color: #474747;
}
.breaseMessageBoxHeader {
	border-radius: 8px 8px 0px 0px;
}
.messageBoxFooter {
	border-radius: 8px 8px 0px 0px;
}
.breaseMessageBoxContentBox {
	border-width: 1px;
}
.breaseMessageBoxContentBox {
	border-color: #A899A0 #5F5F5F #5F5F5F #A899A0;
}
@include box-shadow(5px 5px 20px 0px rgba(62, 79, 92, 0.75));

}
@import "../../../../../types/Area_base";
.system_brease_Area_style_default {
@include system_brease_Area_base; 
	background-color: #ffffff;

}
@import "../../../../../types/Scrollbar_base";
.system_brease_Scrollbar_style_default {
@include system_brease_Scrollbar_base; 
.iScrollIndicator {
	background-color: rgba(77,77,77,0.5);
}
.dataTables_scrollBody::-webkit-scrollbar-thumb {
	background: rgba(77,77,77,0.5);
}
.iScrollIndicator {
	border-color: rgba(214,214,214,0.9);
}
.dataTables_scrollBody::-webkit-scrollbar-thumb {
	border-color: rgba(214,214,214,0.9);
}

}
@import "../../../../../types/StartupProgressBar_base";
.system_brease_StartupProgressBar_style_default {
@include system_brease_StartupProgressBar_base; 
	background-color: #000000;
.startupProgressBar {
	background-color: #FF8000;
}
.startupProgressBar {
	border-color: #999999;
}

}
@import "../../../../../types/Area_base";
.system_brease_Area_style_transparent {
@include system_brease_Area_base; 
	background-color: transparent;

}
