﻿@import "mixins.scss";
#contentBlob_tabBlob {
	@include elemTop(15);
}
#contentBlob_tabBlob {
	@include elemLeft(10);
}
#contentBlob_tabBlob {
	@include elemWidth(1060);
}
#contentBlob_tabBlob {
	@include elemHeight(345);
}
#contentBlob_tabBlob {
		z-index: 0;
}
#contentBlob_ItemNo {
		z-index: 0;
}
#contentBlob_itemModel {
		z-index: 1;
}
#contentBlob_itemClipped {
		z-index: 2;
}
#contentBlob_itemArea {
		z-index: 3;
}
#contentBlob_itemPosX {
		z-index: 4;
}
#contentBlob_itemPosY {
		z-index: 5;
}
#contentBlob_itemOrientation {
		z-index: 6;
}
#contentBlob_itemGray {
		z-index: 7;
}
#contentBlob_itemLength {
		z-index: 8;
}
#contentBlob_itemWidth {
		z-index: 9;
}
#contentBlob_btnBlobRegionalFeatures {
	@include elemTop(375);
}
#contentBlob_btnBlobRegionalFeatures {
	@include elemLeft(10);
}
#contentBlob_btnBlobRegionalFeatures {
	@include elemAutoWidth(360);
}
#contentBlob_btnBlobRegionalFeatures {
	@include elemAutoHeight(60);
}
#contentBlob_btnBlobRegionalFeatures {
		z-index: 1;
}
#contentBlob_btnBlobRegionalFeatures {
	span{
		font-size: 18px;
	}
}
#contentBlob_btnBlobEnhancedBlobInfo {
	@include elemTop(375);
}
#contentBlob_btnBlobEnhancedBlobInfo {
	@include elemLeft(400);
}
#contentBlob_btnBlobEnhancedBlobInfo {
	@include elemAutoWidth(360);
}
#contentBlob_btnBlobEnhancedBlobInfo {
	@include elemAutoHeight(60);
}
#contentBlob_btnBlobEnhancedBlobInfo {
		z-index: 2;
}
#contentBlob_btnBlobEnhancedBlobInfo {
	span{
		font-size: 18px;
	}
}
