﻿@import "mixins.scss";
#contentCodeReader_tabCodeReader {
	@include elemTop(10);
}
#contentCodeReader_tabCodeReader {
	@include elemLeft(10);
}
#contentCodeReader_tabCodeReader {
	@include elemWidth(1175);
}
#contentCodeReader_tabCodeReader {
	@include elemHeight(350);
}
#contentCodeReader_tabCodeReader {
		z-index: 0;
}
#contentCodeReader_ItemNo {
		z-index: 0;
}
#contentCodeReader_itemData {
		z-index: 1;
}
#contentCodeReader_itemGrading {
		z-index: 2;
}
#contentCodeReader_itemPosX {
		z-index: 3;
}
#contentCodeReader_itemPosY {
		z-index: 4;
}
#contentCodeReader_itemOrientation {
		z-index: 5;
}
#contentCodeReader_itemType {
		z-index: 6;
}
#contentCodeReader_labCodeReader1 {
	@include elemTop(380);
}
#contentCodeReader_labCodeReader1 {
	@include elemLeft(50);
}
#contentCodeReader_labCodeReader1 {
	@include elemAutoWidth(171);
}
#contentCodeReader_labCodeReader1 {
	@include elemAutoHeight(27);
}
#contentCodeReader_labCodeReader1 {
		z-index: 1;
}
#contentCodeReader_labCodeReader1 {
	@include text-alignment-all('right');
}
#contentCodeReader_labCodeReader1 {
		font-size: 18px;
}
#contentCodeReader_CodeReaderTypePreset {
	&.DropDownBoxView{
	@include elemHeight(30);
	}
}
#contentCodeReader_CodeReaderTypePreset {
	@include elemTop(380);
}
#contentCodeReader_CodeReaderTypePreset {
	@include elemLeft(230);
}
#contentCodeReader_CodeReaderTypePreset {
	&.DropDownBoxView{
	@include elemWidth(465);
	}
}
#contentCodeReader_CodeReaderTypePreset {
		z-index: 2;
}
#contentCodeReader_CodeReaderTypePreset {
	& .TextView{
	@include text-alignment(center);
	}
}
#contentCodeReader_CodeReaderTypePreset_listBoxWrapper {
	& .TextView{
	@include text-alignment(center);
	}
}
#contentCodeReader_CodeReaderTypePreset {
	& .TextView{
		font-size: 18px;
	}
}
#contentCodeReader_CodeReaderTypePreset_listBoxWrapper {
	& .TextView{
		font-size: 18px;
	}
}
#contentCodeReader_labCodeReader2 {
	@include elemTop(420);
}
#contentCodeReader_labCodeReader2 {
	@include elemLeft(10);
}
#contentCodeReader_labCodeReader2 {
	@include elemAutoWidth(210);
}
#contentCodeReader_labCodeReader2 {
	@include elemAutoHeight(27);
}
#contentCodeReader_labCodeReader2 {
		z-index: 3;
}
#contentCodeReader_labCodeReader2 {
	@include text-alignment-all('right');
}
#contentCodeReader_labCodeReader2 {
		font-size: 18px;
}
#contentCodeReader_CodeReaderParamMode {
	&.DropDownBoxView{
	@include elemHeight(30);
	}
}
#contentCodeReader_CodeReaderParamMode {
	@include elemTop(420);
}
#contentCodeReader_CodeReaderParamMode {
	@include elemLeft(230);
}
#contentCodeReader_CodeReaderParamMode {
	&.DropDownBoxView{
	@include elemWidth(465);
	}
}
#contentCodeReader_CodeReaderParamMode {
		z-index: 4;
}
#contentCodeReader_CodeReaderParamMode {
	& .TextView{
	@include text-alignment(center);
	}
}
#contentCodeReader_CodeReaderParamMode_listBoxWrapper {
	& .TextView{
	@include text-alignment(center);
	}
}
#contentCodeReader_CodeReaderParamMode {
	& .TextView{
		font-size: 18px;
	}
}
#contentCodeReader_CodeReaderParamMode_listBoxWrapper {
	& .TextView{
		font-size: 18px;
	}
}
#contentCodeReader_labCodeReader3 {
	@include elemTop(460);
}
#contentCodeReader_labCodeReader3 {
	@include elemLeft(10);
}
#contentCodeReader_labCodeReader3 {
	@include elemAutoWidth(210);
}
#contentCodeReader_labCodeReader3 {
	@include elemAutoHeight(27);
}
#contentCodeReader_labCodeReader3 {
		z-index: 5;
}
#contentCodeReader_labCodeReader3 {
	@include text-alignment-all('right');
}
#contentCodeReader_labCodeReader3 {
		font-size: 18px;
}
#contentCodeReader_CodeReaderParamOptimization {
	&.DropDownBoxView{
	@include elemHeight(30);
	}
}
#contentCodeReader_CodeReaderParamOptimization {
	@include elemTop(460);
}
#contentCodeReader_CodeReaderParamOptimization {
	@include elemLeft(230);
}
#contentCodeReader_CodeReaderParamOptimization {
	&.DropDownBoxView{
	@include elemWidth(269);
	}
}
#contentCodeReader_CodeReaderParamOptimization {
		z-index: 6;
}
#contentCodeReader_CodeReaderParamOptimization {
	& .TextView{
	@include text-alignment(center);
	}
}
#contentCodeReader_CodeReaderParamOptimization_listBoxWrapper {
	& .TextView{
	@include text-alignment(center);
	}
}
#contentCodeReader_CodeReaderParamOptimization {
	& .TextView{
		font-size: 18px;
	}
}
#contentCodeReader_CodeReaderParamOptimization_listBoxWrapper {
	& .TextView{
		font-size: 18px;
	}
}
#contentCodeReader_btnCodeReaderGrading {
	@include elemTop(370);
}
#contentCodeReader_btnCodeReaderGrading {
	@include elemLeft(910);
}
#contentCodeReader_btnCodeReaderGrading {
	@include elemAutoWidth(269);
}
#contentCodeReader_btnCodeReaderGrading {
	@include elemAutoHeight(60);
}
#contentCodeReader_btnCodeReaderGrading {
		z-index: 7;
}
#contentCodeReader_btnCodeReaderGrading {
	span{
		font-size: 18px;
	}
}
#contentCodeReader_btnCodeReaderRobustness {
	@include elemTop(440);
}
#contentCodeReader_btnCodeReaderRobustness {
	@include elemLeft(910);
}
#contentCodeReader_btnCodeReaderRobustness {
	@include elemAutoWidth(269);
}
#contentCodeReader_btnCodeReaderRobustness {
	@include elemAutoHeight(60);
}
#contentCodeReader_btnCodeReaderRobustness {
		z-index: 8;
}
#contentCodeReader_btnCodeReaderRobustness {
	span{
		font-size: 18px;
	}
}
