﻿@import "mixins.scss";
#contentMatch_tabMatch {
	@include elemTop(10);
}
#contentMatch_tabMatch {
	@include elemLeft(10);
}
#contentMatch_tabMatch {
	@include elemWidth(1100);
}
#contentMatch_tabMatch {
	@include elemHeight(340);
}
#contentMatch_tabMatch {
		z-index: 0;
}
#contentMatch_ItemNo {
		z-index: 0;
}
#contentMatch_itemModel {
		z-index: 1;
}
#contentMatch_itemScore {
		z-index: 2;
}
#contentMatch_itemPosX {
		z-index: 4;
}
#contentMatch_itemPosY {
		z-index: 5;
}
#contentMatch_itemOrientation {
		z-index: 6;
}
#contentMatch_itemScale {
		z-index: 7;
}
#contentMatch_Label10 {
	@include elemAutoHeight(30);
}
#contentMatch_Label10 {
	@include elemTop(365);
}
#contentMatch_Label10 {
	@include elemLeft(-25);
}
#contentMatch_Label10 {
	@include elemAutoWidth(150);
}
#contentMatch_Label10 {
		z-index: 1;
}
#contentMatch_Label10 {
	@include text-alignment-all('right');
}
#contentMatch_Label10 {
		font-size: 18px;
}
#contentMatch_Label11 {
	@include elemAutoHeight(30);
}
#contentMatch_Label11 {
	@include elemTop(405);
}
#contentMatch_Label11 {
	@include elemLeft(-25);
}
#contentMatch_Label11 {
	@include elemAutoWidth(150);
}
#contentMatch_Label11 {
		z-index: 2;
}
#contentMatch_Label11 {
	@include text-alignment-all('right');
}
#contentMatch_Label11 {
		font-size: 18px;
}
#contentMatch_numMatchMinScore {
	@include elemWidth(100);
}
#contentMatch_numMatchMinScore {
	@include elemHeight(30);
}
#contentMatch_numMatchMinScore {
	@include elemTop(365);
}
#contentMatch_numMatchMinScore {
	@include elemLeft(135);
}
#contentMatch_numMatchMinScore {
		z-index: 3;
}
#contentMatch_numMatchMaxOverlap {
	@include elemWidth(100);
}
#contentMatch_numMatchMaxOverlap {
	@include elemHeight(30);
}
#contentMatch_numMatchMaxOverlap {
	@include elemTop(405);
}
#contentMatch_numMatchMaxOverlap {
	@include elemLeft(135);
}
#contentMatch_numMatchMaxOverlap {
		z-index: 4;
}
