﻿@import "mixins.scss";
#contentOCR_tabOCR {
	@include elemTop(10);
}
#contentOCR_tabOCR {
	@include elemLeft(10);
}
#contentOCR_tabOCR {
	@include elemWidth(1180);
}
#contentOCR_tabOCR {
	@include elemHeight(350);
}
#contentOCR_tabOCR {
		z-index: 0;
}
#contentOCR_ItemNo {
		z-index: 0;
}
#contentOCR_itemData {
		z-index: 1;
}
#contentOCR_itemGrading {
		z-index: 2;
}
#contentOCR_itemPosX {
		z-index: 4;
}
#contentOCR_itemPosY {
		z-index: 5;
}
#contentOCR_itemOrientation {
		z-index: 6;
}
#contentOCR_btnOCR_ParameterMode {
	@include elemTop(380);
}
#contentOCR_btnOCR_ParameterMode {
	@include elemLeft(15);
}
#contentOCR_btnOCR_ParameterMode {
	@include elemAutoWidth(269);
}
#contentOCR_btnOCR_ParameterMode {
	@include elemAutoHeight(60);
}
#contentOCR_btnOCR_ParameterMode {
		z-index: 1;
}
#contentOCR_btnOCR_ParameterMode {
	span{
		font-size: 18px;
	}
}
#contentOCR_btnOCR_Grading {
	@include elemTop(380);
}
#contentOCR_btnOCR_Grading {
	@include elemLeft(310);
}
#contentOCR_btnOCR_Grading {
	@include elemAutoWidth(269);
}
#contentOCR_btnOCR_Grading {
	@include elemAutoHeight(60);
}
#contentOCR_btnOCR_Grading {
		z-index: 2;
}
#contentOCR_btnOCR_Grading {
	span{
		font-size: 18px;
	}
}
