﻿@import "mixins.scss";
#contentPixel_tabPixel {
	@include elemTop(15);
}
#contentPixel_tabPixel {
	@include elemLeft(10);
}
#contentPixel_tabPixel {
	@include elemWidth(1170);
}
#contentPixel_tabPixel {
	@include elemHeight(345);
}
#contentPixel_tabPixel {
		z-index: 0;
}
#contentPixel_ItemNo {
		z-index: 0;
}
#contentPixel_itemModel {
		z-index: 1;
}
#contentPixel_itemNumPixels {
		z-index: 2;
}
#contentPixel_itemMinGray {
		z-index: 3;
}
#contentPixel_itemMaxGray {
		z-index: 4;
}
#contentPixel_itemMeanGray {
		z-index: 5;
}
#contentPixel_itemDeviationGray {
		z-index: 6;
}
#contentPixel_itemPositionX {
		z-index: 7;
}
#contentPixel_itemPositionY {
		z-index: 8;
}
#contentPixel_itemModelArea {
		z-index: 9;
}
#contentPixel_itemNumConnectedComponents {
		z-index: 10;
}
#contentPixel_btnPixelEnhancedPixelInfo {
	@include elemTop(440);
}
#contentPixel_btnPixelEnhancedPixelInfo {
	@include elemLeft(20);
}
#contentPixel_btnPixelEnhancedPixelInfo {
	@include elemAutoWidth(360);
}
#contentPixel_btnPixelEnhancedPixelInfo {
	@include elemAutoHeight(60);
}
#contentPixel_btnPixelEnhancedPixelInfo {
		z-index: 1;
}
#contentPixel_btnPixelEnhancedPixelInfo {
	span{
		font-size: 18px;
	}
}
