#contentLights_grpHardware {
  top: 10px;
  position: absolute;
}

#contentLights_grpHardware {
  left: 305px;
  position: absolute;
}

#contentLights_grpHardware {
  width: 635px;
}

#contentLights_grpHardware {
  height: 380px;
}

#contentLights_grpHardware {
  z-index: 0;
}

#contentLights_labLightSerialNo {
  top: 153px;
  position: absolute;
}

#contentLights_labLightSerialNo {
  left: 44px;
  position: absolute;
}

#contentLights_labLightSerialNo {
  width: 128px;
}

#contentLights_labLightSerialNo {
  height: 20px;
}

#contentLights_labLightSerialNo {
  z-index: 0;
}

#contentLights_labLightSerialNo {
  justify-content: flex-end;
  text-align: right;
  -ms-flex-align: center;
  align-items: center;
}

#contentLights_labLightSerialNo {
  font-size: 18px;
}

#contentLights_numHW_SerialNumber {
  width: 100px;
}

#contentLights_numHW_SerialNumber {
  top: 153px;
  position: absolute;
}

#contentLights_numHW_SerialNumber {
  left: 184px;
  position: absolute;
}

#contentLights_numHW_SerialNumber {
  height: 25px;
}

#contentLights_numHW_SerialNumber {
  z-index: 1;
}

#contentLights_numHW_SerialNumber {
  border-width: 2px;
}

#contentLights_numHW_SerialNumber {
  border-radius: 5px;
}

#contentLights_numHW_SerialNumber input {
  font-size: 18px;
}

#contentLights_numHW_SerialNumber {
  padding: 0px 5px 0px 5px;
}

#contentLights_labLightID {
  top: 183px;
  position: absolute;
}

#contentLights_labLightID {
  left: 44px;
  position: absolute;
}

#contentLights_labLightID {
  width: 128px;
}

#contentLights_labLightID {
  height: 20px;
}

#contentLights_labLightID {
  z-index: 2;
}

#contentLights_labLightID {
  justify-content: flex-end;
  text-align: right;
  -ms-flex-align: center;
  align-items: center;
}

#contentLights_labLightID {
  font-size: 18px;
}

#contentLights_numHW_ID {
  width: 100px;
}

#contentLights_numHW_ID {
  top: 183px;
  position: absolute;
}

#contentLights_numHW_ID {
  left: 184px;
  position: absolute;
}

#contentLights_numHW_ID {
  height: 25px;
}

#contentLights_numHW_ID {
  z-index: 3;
}

#contentLights_numHW_ID {
  border-width: 2px;
}

#contentLights_numHW_ID {
  border-radius: 5px;
}

#contentLights_numHW_ID input {
  font-size: 18px;
}

#contentLights_numHW_ID {
  padding: 0px 5px 0px 5px;
}

#contentLights_labLightVariant {
  top: 213px;
  position: absolute;
}

#contentLights_labLightVariant {
  left: 44px;
  position: absolute;
}

#contentLights_labLightVariant {
  width: 128px;
}

#contentLights_labLightVariant {
  height: 20px;
}

#contentLights_labLightVariant {
  z-index: 4;
}

#contentLights_labLightVariant {
  justify-content: flex-end;
  text-align: right;
  -ms-flex-align: center;
  align-items: center;
}

#contentLights_labLightVariant {
  font-size: 18px;
}

#contentLights_numHW_Variant {
  width: 100px;
}

#contentLights_numHW_Variant {
  top: 213px;
  position: absolute;
}

#contentLights_numHW_Variant {
  left: 184px;
  position: absolute;
}

#contentLights_numHW_Variant {
  height: 25px;
}

#contentLights_numHW_Variant {
  z-index: 5;
}

#contentLights_numHW_Variant {
  border-width: 2px;
}

#contentLights_numHW_Variant {
  border-radius: 5px;
}

#contentLights_numHW_Variant input {
  font-size: 18px;
}

#contentLights_numHW_Variant {
  padding: 0px 5px 0px 5px;
}

#contentLights_labLightFirmware {
  top: 243px;
  position: absolute;
}

#contentLights_labLightFirmware {
  left: 14px;
  position: absolute;
}

#contentLights_labLightFirmware {
  width: 164px;
}

#contentLights_labLightFirmware {
  height: 20px;
}

#contentLights_labLightFirmware {
  z-index: 6;
}

#contentLights_labLightFirmware {
  justify-content: flex-end;
  text-align: right;
  -ms-flex-align: center;
  align-items: center;
}

#contentLights_labLightFirmware {
  font-size: 18px;
}

#contentLights_numHW_Firmware {
  width: 100px;
}

#contentLights_numHW_Firmware {
  top: 243px;
  position: absolute;
}

#contentLights_numHW_Firmware {
  left: 184px;
  position: absolute;
}

#contentLights_numHW_Firmware {
  height: 25px;
}

#contentLights_numHW_Firmware {
  z-index: 9;
}

#contentLights_numHW_Firmware {
  border-width: 2px;
}

#contentLights_numHW_Firmware {
  border-radius: 5px;
}

#contentLights_numHW_Firmware input {
  font-size: 18px;
}

#contentLights_numHW_Firmware {
  padding: 0px 5px 0px 5px;
}

#contentLights_StatusConnected {
  top: 13px;
  position: absolute;
}

#contentLights_StatusConnected {
  left: 14px;
  position: absolute;
}

#contentLights_StatusConnected {
  width: 140px;
}

#contentLights_StatusConnected {
  height: 50px;
}

#contentLights_StatusConnected {
  z-index: 7;
}

#contentLights_StatusConnected {
  border-radius: 5px;
}

#contentLights_StatusConnected:not(.disabled):not(.active):not(.checked) {
  background-image: linear-gradient(to bottom,#F7F7F7 0%,#f60909 100%);
}

#contentLights_StatusConnected.disabled {
  background-image: linear-gradient(to bottom,#F7F7F7 0%,#f60909 100%);
}

#contentLights_StatusConnected.disabled.active {
  background-image: linear-gradient(to bottom,#F7F7F7 0%,#f60909 100%);
}

#contentLights_StatusConnected.disabled.checked {
  background-image: linear-gradient(to bottom,#F7F7F7 0%,#f60909 100%);
}

#contentLights_StatusConnected.disabled:not(.checked) span {
  color: white;
}

#contentLights_StatusConnected.disabled:not(.checked).active span {
  color: white;
}

#contentLights_StatusConnected span {
  font-size: 14px;
}

#contentLights_StatusConnected.checked:not(.disabled):not(.active) {
  background-image: linear-gradient(to bottom, #4A4A4A 0%,#29920c 100%);
}

#contentLights_StatusConnected.disabled.checked {
  background-image: linear-gradient(to bottom, #4A4A4A 0%,#29920c 100%);
}

#contentLights_StatusReady {
  top: 13px;
  position: absolute;
}

#contentLights_StatusReady {
  left: 169px;
  position: absolute;
}

#contentLights_StatusReady {
  width: 140px;
}

#contentLights_StatusReady {
  height: 50px;
}

#contentLights_StatusReady {
  z-index: 8;
}

#contentLights_StatusReady {
  border-radius: 5px;
}

#contentLights_StatusReady:not(.disabled):not(.active):not(.checked) {
  background-image: linear-gradient(to bottom,#F7F7F7 0%,#f60909 100%);
}

#contentLights_StatusReady.disabled {
  background-image: linear-gradient(to bottom,#F7F7F7 0%,#f60909 100%);
}

#contentLights_StatusReady.disabled.active {
  background-image: linear-gradient(to bottom,#F7F7F7 0%,#f60909 100%);
}

#contentLights_StatusReady.disabled.checked {
  background-image: linear-gradient(to bottom,#F7F7F7 0%,#f60909 100%);
}

#contentLights_StatusReady.disabled:not(.checked) span {
  color: white;
}

#contentLights_StatusReady.disabled:not(.checked).active span {
  color: white;
}

#contentLights_StatusReady span {
  font-size: 14px;
}

#contentLights_StatusReady.checked:not(.disabled):not(.active) {
  background-image: linear-gradient(to bottom, #4A4A4A 0%,#29920c 100%);
}

#contentLights_StatusReady.disabled.checked {
  background-image: linear-gradient(to bottom, #4A4A4A 0%,#29920c 100%);
}

#contentLights_labLightTemperature {
  top: 273px;
  position: absolute;
}

#contentLights_labLightTemperature {
  left: 14px;
  position: absolute;
}

#contentLights_labLightTemperature {
  width: 164px;
}

#contentLights_labLightTemperature {
  height: 20px;
}

#contentLights_labLightTemperature {
  z-index: 10;
}

#contentLights_labLightTemperature {
  justify-content: flex-end;
  text-align: right;
  -ms-flex-align: center;
  align-items: center;
}

#contentLights_labLightTemperature {
  font-size: 18px;
}

#contentLights_numHW_Temperature {
  width: 100px;
}

#contentLights_numHW_Temperature {
  top: 273px;
  position: absolute;
}

#contentLights_numHW_Temperature {
  left: 184px;
  position: absolute;
}

#contentLights_numHW_Temperature {
  height: 25px;
}

#contentLights_numHW_Temperature {
  z-index: 12;
}

#contentLights_numHW_Temperature {
  border-width: 2px;
}

#contentLights_numHW_Temperature {
  border-radius: 5px;
}

#contentLights_numHW_Temperature input {
  font-size: 18px;
}

#contentLights_numHW_Temperature {
  padding: 0px 5px 0px 5px;
}

#contentLights_labLightStatus {
  top: 123px;
  position: absolute;
}

#contentLights_labLightStatus {
  left: 114px;
  position: absolute;
}

#contentLights_labLightStatus {
  width: 60px;
}

#contentLights_labLightStatus {
  height: 20px;
}

#contentLights_labLightStatus {
  z-index: 11;
}

#contentLights_labLightStatus {
  justify-content: flex-end;
  text-align: right;
  -ms-flex-align: center;
  align-items: center;
}

#contentLights_labLightStatus {
  font-size: 16px;
}

#contentLights_labLightStatus {
  font-weight: normal;
}

#contentLights_txtLightsStatus {
  top: 123px;
  position: absolute;
}

#contentLights_txtLightsStatus {
  left: 184px;
  position: absolute;
}

#contentLights_txtLightsStatus {
  width: 99px;
}

#contentLights_txtLightsStatus {
  height: 25px;
}

#contentLights_txtLightsStatus {
  z-index: 13;
}

#contentLights_txtLightsStatus {
  border-width: 2px;
}

#contentLights_txtLightsStatus {
  border-radius: 5px;
}

#contentLights_txtLightsStatus input {
  font-size: 16px;
}

#contentLights_txtLightsStatus {
  padding: 0px 5px 0px 5px;
}

#contentLights_labLightsPowerlinkNode {
  top: 123px;
  position: absolute;
}

#contentLights_labLightsPowerlinkNode {
  left: 304px;
  position: absolute;
}

#contentLights_labLightsPowerlinkNode {
  width: 165px;
}

#contentLights_labLightsPowerlinkNode {
  height: 20px;
}

#contentLights_labLightsPowerlinkNode {
  z-index: 14;
}

#contentLights_labLightsPowerlinkNode {
  justify-content: flex-end;
  text-align: right;
  -ms-flex-align: center;
  align-items: center;
}

#contentLights_labLightsPowerlinkNode {
  font-size: 18px;
}

#contentLights_labLightsPowerlinkNode {
  font-weight: normal;
}

#contentLights_txtLightsPlkNode {
  top: 123px;
  position: absolute;
}

#contentLights_txtLightsPlkNode {
  left: 474px;
  position: absolute;
}

#contentLights_txtLightsPlkNode {
  width: 147px;
}

#contentLights_txtLightsPlkNode {
  height: 25px;
}

#contentLights_txtLightsPlkNode {
  z-index: 15;
}

#contentLights_txtLightsPlkNode {
  border-width: 2px;
}

#contentLights_txtLightsPlkNode {
  border-radius: 5px;
}

#contentLights_txtLightsPlkNode input {
  font-size: 18px;
}

#contentLights_txtLightsPlkNode {
  padding: 0px 5px 0px 0px;
}

#contentLights_labLightsNettime {
  top: 153px;
  position: absolute;
}

#contentLights_labLightsNettime {
  left: 304px;
  position: absolute;
}

#contentLights_labLightsNettime {
  width: 165px;
}

#contentLights_labLightsNettime {
  height: 20px;
}

#contentLights_labLightsNettime {
  z-index: 16;
}

#contentLights_labLightsNettime {
  justify-content: flex-end;
  text-align: right;
  -ms-flex-align: center;
  align-items: center;
}

#contentLights_labLightsNettime {
  font-size: 18px;
}

#contentLights_labLightsNettime {
  font-weight: normal;
}

#contentLights_txtLightsNettime {
  top: 153px;
  position: absolute;
}

#contentLights_txtLightsNettime {
  left: 474px;
  position: absolute;
}

#contentLights_txtLightsNettime {
  width: 146px;
}

#contentLights_txtLightsNettime {
  height: 25px;
}

#contentLights_txtLightsNettime {
  z-index: 17;
}

#contentLights_txtLightsNettime {
  border-width: 2px;
}

#contentLights_txtLightsNettime {
  border-radius: 5px;
}

#contentLights_txtLightsNettime input {
  font-size: 18px;
}

#contentLights_txtLightsNettime {
  padding: 0px 5px 0px 0px;
}

#contentLights_labLightsStatus {
  width: 80px;
}

#contentLights_labLightsStatus {
  top: 93px;
  position: absolute;
}

#contentLights_labLightsStatus {
  left: 54px;
  position: absolute;
}

#contentLights_labLightsStatus {
  height: 20px;
}

#contentLights_labLightsStatus {
  z-index: 18;
}

#contentLights_labLightsStatus {
  justify-content: flex-end;
  text-align: right;
  -ms-flex-align: center;
  align-items: center;
}

#contentLights_labLightsStatus {
  font-size: 18px;
}

#contentLights_labLightsStatus {
  font-weight: normal;
}

#contentLights_ddbLights {
  top: 93px;
  position: absolute;
}

#contentLights_ddbLights {
  left: 134px;
  position: absolute;
}

#contentLights_ddbLights.DropDownBoxView {
  width: 145px;
}

#contentLights_ddbLights.DropDownBoxView {
  height: 25px;
}

#contentLights_ddbLights {
  z-index: 19;
}

#contentLights_ddbLights > .ItemView.itemDisabled > .TextView {
  color: black;
}

#contentLights_ddbLights .TextView {
  justify-content: flex-end;
  text-align: right;
}

#contentLights_ddbLights_listBoxWrapper .TextView {
  justify-content: flex-end;
  text-align: right;
}

#contentLights_ddbLights .TextView {
  font-size: 18px;
}

#contentLights_ddbLights_listBoxWrapper .TextView {
  font-size: 18px;
}

#contentLights_ddbLights .TextView {
  font-weight: normal;
}

#contentLights_ddbLights_listBoxWrapper .TextView {
  font-weight: normal;
}

#contentLights_btnLightsReset {
  top: 13px;
  position: absolute;
}

#contentLights_btnLightsReset {
  left: 324px;
  position: absolute;
}

#contentLights_btnLightsReset {
  width: 137px;
}

#contentLights_btnLightsReset {
  height: 50px;
}

#contentLights_btnLightsReset {
  z-index: 20;
}

#contentLights_btnLightsReset span {
  font-size: 24px;
}

#contentLights_btnLightsReset span {
  font-weight: bold;
}

#contentLights_labLightTemperature1 {
  top: 303px;
  position: absolute;
}

#contentLights_labLightTemperature1 {
  left: 14px;
  position: absolute;
}

#contentLights_labLightTemperature1 {
  width: 164px;
}

#contentLights_labLightTemperature1 {
  height: 20px;
}

#contentLights_labLightTemperature1 {
  z-index: 21;
}

#contentLights_labLightTemperature1 {
  justify-content: flex-end;
  text-align: right;
  -ms-flex-align: center;
  align-items: center;
}

#contentLights_labLightTemperature1 {
  font-size: 18px;
}

#contentLights_numHW_Temperature1 {
  width: 100px;
}

#contentLights_numHW_Temperature1 {
  top: 303px;
  position: absolute;
}

#contentLights_numHW_Temperature1 {
  left: 184px;
  position: absolute;
}

#contentLights_numHW_Temperature1 {
  height: 25px;
}

#contentLights_numHW_Temperature1 {
  z-index: 22;
}

#contentLights_numHW_Temperature1 {
  border-width: 2px;
}

#contentLights_numHW_Temperature1 {
  border-radius: 5px;
}

#contentLights_numHW_Temperature1 input {
  font-size: 18px;
}

#contentLights_numHW_Temperature1 {
  padding: 0px 5px 0px 5px;
}

#contentLights_labLightCompleted {
  top: 213px;
  position: absolute;
}

#contentLights_labLightCompleted {
  left: 344px;
  position: absolute;
}

#contentLights_labLightCompleted {
  width: 171px;
}

#contentLights_labLightCompleted {
  height: 20px;
}

#contentLights_labLightCompleted {
  z-index: 23;
}

#contentLights_labLightCompleted {
  justify-content: flex-end;
  text-align: right;
  -ms-flex-align: center;
  align-items: center;
}

#contentLights_labLightCompleted {
  font-size: 18px;
}

#contentLights_numFlashCompleted {
  top: 213px;
  position: absolute;
}

#contentLights_numFlashCompleted {
  left: 524px;
  position: absolute;
}

#contentLights_numFlashCompleted {
  width: 97px;
}

#contentLights_numFlashCompleted {
  height: 25px;
}

#contentLights_numFlashCompleted {
  z-index: 24;
}

#contentLights_numFlashCompleted {
  border-width: 2px;
}

#contentLights_numFlashCompleted {
  border-radius: 5px;
}

#contentLights_numFlashCompleted input {
  font-size: 18px;
}

#contentLights_numFlashCompleted {
  padding: 0px 5px 0px 5px;
}

#contentLights_labLightFailed {
  top: 243px;
  position: absolute;
}

#contentLights_labLightFailed {
  left: 384px;
  position: absolute;
}

#contentLights_labLightFailed {
  width: 128px;
}

#contentLights_labLightFailed {
  height: 20px;
}

#contentLights_labLightFailed {
  z-index: 25;
}

#contentLights_labLightFailed {
  justify-content: flex-end;
  text-align: right;
  -ms-flex-align: center;
  align-items: center;
}

#contentLights_labLightFailed {
  font-size: 18px;
}

#contentLights_numFlashFailed {
  top: 243px;
  position: absolute;
}

#contentLights_numFlashFailed {
  left: 524px;
  position: absolute;
}

#contentLights_numFlashFailed {
  width: 97px;
}

#contentLights_numFlashFailed {
  height: 25px;
}

#contentLights_numFlashFailed {
  z-index: 26;
}

#contentLights_numFlashFailed {
  border-width: 2px;
}

#contentLights_numFlashFailed {
  border-radius: 5px;
}

#contentLights_numFlashFailed input {
  font-size: 18px;
}

#contentLights_numFlashFailed {
  padding: 0px 5px 0px 5px;
}

#contentLights_labLightAccepted {
  top: 183px;
  position: absolute;
}

#contentLights_labLightAccepted {
  left: 354px;
  position: absolute;
}

#contentLights_labLightAccepted {
  width: 161px;
}

#contentLights_labLightAccepted {
  height: 20px;
}

#contentLights_labLightAccepted {
  z-index: 27;
}

#contentLights_labLightAccepted {
  justify-content: flex-end;
  text-align: right;
  -ms-flex-align: center;
  align-items: center;
}

#contentLights_labLightAccepted {
  font-size: 18px;
}

#contentLights_labLightAccepted {
  font-weight: normal;
}

#contentLights_numFlashAccepted {
  top: 183px;
  position: absolute;
}

#contentLights_numFlashAccepted {
  left: 524px;
  position: absolute;
}

#contentLights_numFlashAccepted {
  width: 96px;
}

#contentLights_numFlashAccepted {
  height: 25px;
}

#contentLights_numFlashAccepted {
  z-index: 28;
}

#contentLights_numFlashAccepted {
  border-width: 2px;
}

#contentLights_numFlashAccepted {
  border-radius: 5px;
}

#contentLights_numFlashAccepted input {
  font-size: 16px;
}

#contentLights_numFlashAccepted {
  padding: 0px 5px 0px 5px;
}

#contentLights_btnLightsTrigger {
  top: 275px;
  position: absolute;
}

#contentLights_btnLightsTrigger {
  left: 10px;
  position: absolute;
}

#contentLights_btnLightsTrigger {
  width: 280px;
}

#contentLights_btnLightsTrigger {
  height: 50px;
}

#contentLights_btnLightsTrigger {
  z-index: 1;
}

#contentLights_btnLightsTrigger span {
  font-size: 24px;
}

#contentLights_btnLightsTrigger span {
  font-weight: bold;
}

#contentLights_grpSelection {
  top: 10px;
  position: absolute;
}

#contentLights_grpSelection {
  left: 10px;
  position: absolute;
}

#contentLights_grpSelection {
  width: 280px;
}

#contentLights_grpSelection {
  height: 255px;
}

#contentLights_grpSelection {
  z-index: 2;
}

#contentLights_labLightsNo {
  top: 13px;
  position: absolute;
}

#contentLights_labLightsNo {
  left: 19px;
  position: absolute;
}

#contentLights_labLightsNo {
  width: 105px;
}

#contentLights_labLightsNo {
  height: 20px;
}

#contentLights_labLightsNo {
  z-index: 0;
}

#contentLights_labLightsNo {
  justify-content: flex-end;
  text-align: right;
  -ms-flex-align: center;
  align-items: center;
}

#contentLights_labLightsNo {
  font-size: 18px;
}

#contentLights_labLightsNo {
  font-weight: normal;
}

#contentLights_numLightsNo {
  height: 30px;
}

#contentLights_numLightsNo {
  top: 8px;
  position: absolute;
}

#contentLights_numLightsNo {
  left: 169px;
  position: absolute;
}

#contentLights_numLightsNo {
  width: 51px;
}

#contentLights_numLightsNo {
  z-index: 1;
}

#contentLights_numLightsNo input {
  justify-content: center;
  text-align: center;
}

#contentLights_numLightsNo input {
  font-size: 20px;
}

#contentLights_numLightsNo input {
  font-weight: bold;
}

#contentLights_numLightsNo {
  padding: 0px 0px 0px 0px;
}

#contentLights_numLightNoDown {
  top: 8px;
  position: absolute;
}

#contentLights_numLightNoDown {
  left: 134px;
  position: absolute;
}

#contentLights_numLightNoDown {
  width: 30px;
}

#contentLights_numLightNoDown {
  height: 30px;
}

#contentLights_numLightNoDown {
  z-index: 2;
}

#contentLights_numLightNoDown {
  border-width: 0px;
}

#contentLights_numLightNoUp {
  top: 8px;
  position: absolute;
}

#contentLights_numLightNoUp {
  left: 229px;
  position: absolute;
}

#contentLights_numLightNoUp {
  width: 30px;
}

#contentLights_numLightNoUp {
  height: 30px;
}

#contentLights_numLightNoUp {
  z-index: 3;
}

#contentLights_numLightNoUp {
  border-width: 0px;
}

#contentLights_labLightsColor {
  top: 48px;
  position: absolute;
}

#contentLights_labLightsColor {
  left: 19px;
  position: absolute;
}

#contentLights_labLightsColor {
  width: 105px;
}

#contentLights_labLightsColor {
  height: 40px;
}

#contentLights_labLightsColor {
  z-index: 4;
}

#contentLights_labLightsColor {
  justify-content: flex-end;
  text-align: right;
  -ms-flex-align: center;
  align-items: center;
}

#contentLights_labLightsColor {
  font-size: 18px;
}

#contentLights_DropDownBoxFlashColor.DropDownBoxView {
  height: 30px;
}

#contentLights_DropDownBoxFlashColor {
  top: 53px;
  position: absolute;
}

#contentLights_DropDownBoxFlashColor {
  left: 134px;
  position: absolute;
}

#contentLights_DropDownBoxFlashColor.DropDownBoxView {
  width: 124px;
}

#contentLights_DropDownBoxFlashColor {
  z-index: 5;
}

#contentLights_DropDownBoxFlashColor .TextView {
  justify-content: center;
  text-align: center;
}

#contentLights_DropDownBoxFlashColor_listBoxWrapper .TextView {
  justify-content: center;
  text-align: center;
}

#contentLights_DropDownBoxFlashColor .TextView {
  font-size: 18px;
}

#contentLights_DropDownBoxFlashColor_listBoxWrapper .TextView {
  font-size: 18px;
}

#contentLights_labLightsExposure {
  top: 88px;
  position: absolute;
}

#contentLights_labLightsExposure {
  left: 19px;
  position: absolute;
}

#contentLights_labLightsExposure {
  width: 105px;
}

#contentLights_labLightsExposure {
  height: 40px;
}

#contentLights_labLightsExposure {
  z-index: 6;
}

#contentLights_labLightsExposure {
  justify-content: flex-end;
  text-align: right;
  -ms-flex-align: center;
  align-items: center;
}

#contentLights_labLightsExposure {
  font-size: 18px;
}

#contentLights_numLightsExposure {
  height: 30px;
}

#contentLights_numLightsExposure {
  top: 93px;
  position: absolute;
}

#contentLights_numLightsExposure {
  left: 134px;
  position: absolute;
}

#contentLights_numLightsExposure {
  width: 121px;
}

#contentLights_numLightsExposure {
  z-index: 7;
}

#contentLights_numLightsExposure input {
  justify-content: flex-end;
  text-align: right;
}

#contentLights_numLightsExposure input {
  font-size: 20px;
}

#contentLights_numLightsExposure input {
  font-weight: bold;
}

#contentLights_numLightsExposure {
  padding: 0px 5px 0px 5px;
}

#contentLights_labLightsSetAngle {
  top: 168px;
  position: absolute;
}

#contentLights_labLightsSetAngle {
  left: 19px;
  position: absolute;
}

#contentLights_labLightsSetAngle {
  width: 105px;
}

#contentLights_labLightsSetAngle {
  height: 40px;
}

#contentLights_labLightsSetAngle {
  z-index: 8;
}

#contentLights_labLightsSetAngle {
  justify-content: flex-end;
  text-align: right;
  -ms-flex-align: center;
  align-items: center;
}

#contentLights_labLightsSetAngle {
  font-size: 18px;
}

#contentLights_numLightsSetAngle {
  height: 30px;
}

#contentLights_numLightsSetAngle {
  top: 173px;
  position: absolute;
}

#contentLights_numLightsSetAngle {
  left: 134px;
  position: absolute;
}

#contentLights_numLightsSetAngle {
  width: 121px;
}

#contentLights_numLightsSetAngle {
  z-index: 9;
}

#contentLights_numLightsSetAngle input {
  justify-content: flex-end;
  text-align: right;
}

#contentLights_numLightsSetAngle input {
  font-size: 20px;
}

#contentLights_numLightsSetAngle input {
  font-weight: bold;
}

#contentLights_numLightsSetAngle {
  padding: 0px 5px 0px 5px;
}

#contentLights_labLightsFlashSegments {
  top: 128px;
  position: absolute;
}

#contentLights_labLightsFlashSegments {
  left: 19px;
  position: absolute;
}

#contentLights_labLightsFlashSegments {
  width: 105px;
}

#contentLights_labLightsFlashSegments {
  height: 40px;
}

#contentLights_labLightsFlashSegments {
  z-index: 10;
}

#contentLights_labLightsFlashSegments {
  justify-content: flex-end;
  text-align: right;
  -ms-flex-align: center;
  align-items: center;
}

#contentLights_labLightsFlashSegments {
  font-size: 18px;
}

#contentLights_numLightsFlashSegments {
  height: 30px;
}

#contentLights_numLightsFlashSegments {
  top: 133px;
  position: absolute;
}

#contentLights_numLightsFlashSegments {
  left: 134px;
  position: absolute;
}

#contentLights_numLightsFlashSegments {
  width: 121px;
}

#contentLights_numLightsFlashSegments {
  z-index: 11;
}

#contentLights_numLightsFlashSegments input {
  justify-content: flex-end;
  text-align: right;
}

#contentLights_numLightsFlashSegments input {
  font-size: 20px;
}

#contentLights_numLightsFlashSegments input {
  font-weight: bold;
}

#contentLights_numLightsFlashSegments {
  padding: 0px 5px 0px 5px;
}

#contentLights_labNotification {
  top: 440px;
  position: absolute;
}

#contentLights_labNotification {
  left: 10px;
  position: absolute;
}

#contentLights_labNotification {
  width: 1180px;
}

#contentLights_labNotification {
  height: 61px;
}

#contentLights_labNotification {
  z-index: 3;
}

#contentLights_labNotification {
  border-width: 1px;
}

#contentLights_labNotification {
  border-radius: 5px;
}

#contentLights_labNotification {
  border-style: solid;
}

#contentLights_labNotification:before {
  border-style: solid;
}

#contentLights_labNotification:after {
  border-style: solid;
}

#contentLights_labNotification span {
  color: #c00000;
}

#contentLights_labNotification {
  font-weight: bold;
}
