@import '../../../../css/libs/mixins.scss';

$speed: 0.2s;
$buttonborder: #5B7C70;
$buttonbg: #333;

div[data-brease-widget='widgets/brease/FlyOut'] {
	visibility : hidden;
    display: inline;
}

.breaseFlyOut {
  
    background: none !important;
    border: none !important;
    pointer-events: none;

    overflow: hidden;
    //position: relative !important;
    position: absolute;

    &.remove {
        display: inline!important;
    }

    &.initialized {
        display: inline;
	    visibility: visible;

        &.remove{
            display:none!important;
        }
    }

    .breaseFlyOutWrapper > .breaseTooltipIndicator {
        pointer-events: all;
    }

    .breaseFlyOutWrapper > .breaseButton {
        z-index: 100;
        border-style: solid;

        &.checked, &:active {
            border-style: solid;
        }

        pointer-events: all;

        &.disabled {
            background-color: #f1f1f1;
            border-color: #FFFFFF #C8C8C8 #C8C8C8 #FFFFFF;
            border-style: solid;
            border-width: 2px;

            span {
                color: #989898;
            }
        }
    }

    &.show .breaseFlyOutWrapper > .container {
        z-index: 101;
    }

    &.show .breaseFlyOutWrapper > .breaseButton {
        z-index: 101;
    }

    &.move .breaseFlyOutWrapper > .container {
        z-index: 101;
    }

    &.move .breaseFlyOutWrapper > .breaseButton {
        z-index: 101;
    }


    &.left {
        float: none;

        .breaseFlyOutWrapper > .container, .breaseFlyOutWrapper > .breaseButton {
            float: left;
        }


        .breaseFlyOutWrapper > .container {
            border-left: none;
        }
    }

    &.right {
        float: none;
        right: 0px;

        .breaseFlyOutWrapper > .container, .breaseFlyOutWrapper > .breaseButton {
            float: right;
        }

        .breaseFlyOutWrapper > .container {
            border-right: none;
        }
    }

    &.top {
        float: none;

        .breaseFlyOutWrapper > .container {
            border-top: none;
        }
    }

    &.bottom {
        position: absolute !important;
        bottom: 0px;
        float: none;


        .breaseFlyOutWrapper > .container {
            border-bottom: none;
        }
    }
}

.breaseFlyOutWrapper {
	position: absolute;
	height: 0px !important;
            pointer-events: none;

	
    & > .breaseButton,
    & > .breaseButton.checked,
    & > .breaseButton:active {
		width: 50px;
		height: 50px;
		position: relative;
		overflow: visible;
        background-origin: border-box;
	}
	
	&.transition {
		@include transition(all $speed ease-in-out);

       .breaseFlyOut.editMode & {
           @include transition(none );
       }
	}

    > .container {
    background: #FFF;
    background-origin: border-box;
	position: relative;
    @include box-sizing(border-box);
    pointer-events: all;
}
}
