﻿@import '../../../../css/libs/mixins.scss';

.visionCockpitSmartPanel {
    overflow: hidden;
    &.editMode {
        background-repeat: no-repeat;
        background-size: cover;
    }
    svg.hcontrol {
        background-color: black;
        background-size: contain;
        width: 100%;
        height: 100%;
    }
    
    .busyWrapper
    {
        position: absolute;
        top: 0px;
        left: 0px;
        width: 100%;
        height: 100%;
        @include align-items(center);
        @include justify-content(center);
        background-color: #fff;
        opacity: 0.5;
        display: none;

        &.visible
        {
            @include displayFlexBox(true);
        }

        .breaseBusyIndicator
        {
            width: 50px;
            height: 50px;
        }
    }
    
    .active {
        stroke: green;
        fill: green;
    }
    .candidate {
        stroke: yellow;
        fill: yellow;
    }
    .hobject {
        stroke-width: 1px;
        opacity: 0.3;
    }
    .hobject:hover {
        stroke-dasharray: 10px;
        opacity: 0.7;
    }
    g.contours>polyline {
        fill: none;
        stroke: green;
    }
    .contour {
        fill: transparent;
        fill-opacity: 0.0;
        }
    .contour_execRois {
        fill: #896389; 
        fill-opacity: 0.1;
    }
    g>path {
        fill: none;
        stroke: green;
    }
    /* hack to allow mouseover to work without showing the ROI */
    .roi {
        opacity: 0;
    }
    .roi_over {
        fill: none;
        stroke: yellow;
        stroke-width: 2px;
    }
    .roi_active {
        fill: none;
        stroke: green;
        stroke-width: 2px;
    }
    .manualroi {
        stroke: darkblue;
        stroke-width: 2px;
        fill: none;
    }
    .border {
        fill: none !important;
    }
    .marker {
        stroke: skyblue;
        fill: skyblue;
        opacity: 0.7;
    }
    .marker:hover {
        stroke: darkorange;
        fill: darkorange;
    }
    .attention {
        color: green;
        font-size: 20px;
        font-family: monospace;
        font-weight: bold;
    }
    svg image {
        image-rendering: optimizeSpeed;
        image-rendering: -moz-crisp-edges;
        image-rendering: -webkit-optimize-contrast;
        image-rendering: optimize-contrast;
        image-rendering: pixelated;
        -ms-interpolation-mode: nearest-neighbor;
    }
    /*
http://stackoverflow.com/questions/7615009/disable-interpolation-when-scaling-a-canvas
*/
    canvas img {
        image-rendering: optimizeSpeed;
        image-rendering: -moz-crisp-edges;
        image-rendering: -webkit-optimize-contrast;
        image-rendering: optimize-contrast;
        image-rendering: pixelated;
        -ms-interpolation-mode: nearest-neighbor;
    }
    div.tooltip {
        opacity: 0.7;
        background-color: white;
        border-radius: 5px;
        font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    }
    .hidden {
        display: none;
    }
    .visible {
        display: block;
    }
}
