﻿@import "mixins.scss";
#contentColor_grpColorEvaluation {
	@include elemTop(10);
}
#contentColor_grpColorEvaluation {
	@include elemLeft(890);
}
#contentColor_grpColorEvaluation {
	@include elemWidth(300);
}
#contentColor_grpColorEvaluation {
	@include elemHeight(500);
}
#contentColor_grpColorEvaluation {
		z-index: 0;
}
#contentColor_numColorResult1 {
	@include elemAutoHeight(30);
}
#contentColor_numColorResult1 {
	@include elemTop(13);
}
#contentColor_numColorResult1 {
	@include elemLeft(169);
}
#contentColor_numColorResult1 {
	@include elemAutoWidth(99);
}
#contentColor_numColorResult1 {
		z-index: 0;
}
#contentColor_numColorResult1 {
		border-width: 2px;
}
#contentColor_numColorResult1 {
	@include border-radius(5px);
}
#contentColor_numColorResult1 {
		padding: 0px 5px 0px 5px;
}
#contentColor_numColorResult2 {
	@include elemAutoHeight(30);
}
#contentColor_numColorResult2 {
	@include elemTop(48);
}
#contentColor_numColorResult2 {
	@include elemLeft(169);
}
#contentColor_numColorResult2 {
	@include elemAutoWidth(99);
}
#contentColor_numColorResult2 {
		z-index: 1;
}
#contentColor_numColorResult2 {
		border-width: 2px;
}
#contentColor_numColorResult2 {
	@include border-radius(5px);
}
#contentColor_numColorResult2 {
		padding: 0px 5px 0px 5px;
}
#contentColor_numColorResult3 {
	@include elemAutoHeight(30);
}
#contentColor_numColorResult3 {
	@include elemTop(83);
}
#contentColor_numColorResult3 {
	@include elemLeft(169);
}
#contentColor_numColorResult3 {
	@include elemAutoWidth(99);
}
#contentColor_numColorResult3 {
		z-index: 2;
}
#contentColor_numColorResult3 {
		border-width: 2px;
}
#contentColor_numColorResult3 {
	@include border-radius(5px);
}
#contentColor_numColorResult3 {
		padding: 0px 5px 0px 5px;
}
#contentColor_numColorResult4 {
	@include elemAutoHeight(30);
}
#contentColor_numColorResult4 {
	@include elemTop(118);
}
#contentColor_numColorResult4 {
	@include elemLeft(169);
}
#contentColor_numColorResult4 {
	@include elemAutoWidth(99);
}
#contentColor_numColorResult4 {
		z-index: 3;
}
#contentColor_numColorResult4 {
		border-width: 2px;
}
#contentColor_numColorResult4 {
	@include border-radius(5px);
}
#contentColor_numColorResult4 {
		padding: 0px 5px 0px 5px;
}
#contentColor_btnColorEvaluate {
	@include elemTop(398);
}
#contentColor_btnColorEvaluate {
	@include elemLeft(10);
}
#contentColor_btnColorEvaluate {
	@include elemAutoWidth(278);
}
#contentColor_btnColorEvaluate {
	@include elemAutoHeight(50);
}
#contentColor_btnColorEvaluate {
		z-index: 4;
}
#contentColor_btnColorEvaluate {
	span{
		font-size: 24px;
	}
}
#contentColor_btnColorEvaluate {
	span{
	@include font-weight-bold(true);
	}
}
#contentColor_Label17 {
	@include elemAutoHeight(30);
}
#contentColor_Label17 {
	@include elemTop(13);
}
#contentColor_Label17 {
	@include elemLeft(69);
}
#contentColor_Label17 {
	@include elemAutoWidth(91);
}
#contentColor_Label17 {
		z-index: 5;
}
#contentColor_Label17 {
	@include text-alignment-all('right');
}
#contentColor_Label17 {
		font-size: 18px;
}
#contentColor_Label18 {
	@include elemAutoHeight(30);
}
#contentColor_Label18 {
	@include elemTop(48);
}
#contentColor_Label18 {
	@include elemLeft(69);
}
#contentColor_Label18 {
	@include elemAutoWidth(91);
}
#contentColor_Label18 {
		z-index: 6;
}
#contentColor_Label18 {
	@include text-alignment-all('right');
}
#contentColor_Label18 {
		font-size: 18px;
}
#contentColor_Label19 {
	@include elemTop(83);
}
#contentColor_Label19 {
	@include elemLeft(69);
}
#contentColor_Label19 {
	@include elemAutoWidth(91);
}
#contentColor_Label19 {
	@include elemAutoHeight(37);
}
#contentColor_Label19 {
		z-index: 7;
}
#contentColor_Label19 {
	@include text-alignment-all('right');
}
#contentColor_Label19 {
		font-size: 18px;
}
#contentColor_Label20 {
	@include elemTop(118);
}
#contentColor_Label20 {
	@include elemLeft(69);
}
#contentColor_Label20 {
	@include elemAutoWidth(91);
}
#contentColor_Label20 {
	@include elemAutoHeight(32);
}
#contentColor_Label20 {
		z-index: 8;
}
#contentColor_Label20 {
	@include text-alignment-all('right');
}
#contentColor_Label20 {
		font-size: 18px;
}
#contentColor_numColorLowError {
	@include elemAutoHeight(30);
}
#contentColor_numColorLowError {
	@include elemTop(163);
}
#contentColor_numColorLowError {
	@include elemLeft(169);
}
#contentColor_numColorLowError {
	@include elemAutoWidth(99);
}
#contentColor_numColorLowError {
		z-index: 9;
}
#contentColor_numColorLowError {
		border-width: 2px;
}
#contentColor_numColorLowError {
	@include border-radius(5px);
}
#contentColor_numColorLowError {
		padding: 0px 5px 0px 5px;
}
#contentColor_Label21 {
	@include elemAutoHeight(30);
}
#contentColor_Label21 {
	@include elemTop(163);
}
#contentColor_Label21 {
	@include elemLeft(69);
}
#contentColor_Label21 {
	@include elemAutoWidth(91);
}
#contentColor_Label21 {
		z-index: 10;
}
#contentColor_Label21 {
	@include text-alignment-all('right');
}
#contentColor_Label21 {
		font-size: 18px;
}
#contentColor_numColorLowDistance {
	@include elemAutoHeight(30);
}
#contentColor_numColorLowDistance {
	@include elemTop(198);
}
#contentColor_numColorLowDistance {
	@include elemLeft(169);
}
#contentColor_numColorLowDistance {
	@include elemAutoWidth(99);
}
#contentColor_numColorLowDistance {
		z-index: 11;
}
#contentColor_numColorLowDistance {
		border-width: 2px;
}
#contentColor_numColorLowDistance {
	@include border-radius(5px);
}
#contentColor_numColorLowDistance {
		padding: 0px 5px 0px 5px;
}
#contentColor_Label22 {
	@include elemAutoHeight(30);
}
#contentColor_Label22 {
	@include elemTop(198);
}
#contentColor_Label22 {
	@include elemLeft(30);
}
#contentColor_Label22 {
	@include elemAutoWidth(130);
}
#contentColor_Label22 {
		z-index: 12;
}
#contentColor_Label22 {
	@include text-alignment-all('right');
}
#contentColor_Label22 {
		font-size: 18px;
}
#contentColor_numColorLowIndex {
	@include elemAutoHeight(30);
}
#contentColor_numColorLowIndex {
	@include elemTop(233);
}
#contentColor_numColorLowIndex {
	@include elemLeft(169);
}
#contentColor_numColorLowIndex {
	@include elemAutoWidth(99);
}
#contentColor_numColorLowIndex {
		z-index: 13;
}
#contentColor_numColorLowIndex {
		border-width: 2px;
}
#contentColor_numColorLowIndex {
	@include border-radius(5px);
}
#contentColor_numColorLowIndex {
		padding: 0px 5px 0px 5px;
}
#contentColor_Label23 {
	@include elemAutoHeight(30);
}
#contentColor_Label23 {
	@include elemTop(233);
}
#contentColor_Label23 {
	@include elemLeft(69);
}
#contentColor_Label23 {
	@include elemAutoWidth(91);
}
#contentColor_Label23 {
		z-index: 14;
}
#contentColor_Label23 {
	@include text-alignment-all('right');
}
#contentColor_Label23 {
		font-size: 18px;
}
#contentColor_numColorStatus {
	@include elemAutoHeight(30);
}
#contentColor_numColorStatus {
	@include elemTop(278);
}
#contentColor_numColorStatus {
	@include elemLeft(169);
}
#contentColor_numColorStatus {
	@include elemAutoWidth(99);
}
#contentColor_numColorStatus {
		z-index: 15;
}
#contentColor_numColorStatus {
		border-width: 2px;
}
#contentColor_numColorStatus {
	@include border-radius(5px);
}
#contentColor_numColorStatus {
		padding: 0px 5px 0px 5px;
}
#contentColor_Label24 {
	@include elemAutoHeight(30);
}
#contentColor_Label24 {
	@include elemTop(278);
}
#contentColor_Label24 {
	@include elemLeft(69);
}
#contentColor_Label24 {
	@include elemAutoWidth(91);
}
#contentColor_Label24 {
		z-index: 16;
}
#contentColor_Label24 {
	@include text-alignment-all('right');
}
#contentColor_Label24 {
		font-size: 18px;
}
#contentColor_btnColorResetError {
	@include elemTop(333);
}
#contentColor_btnColorResetError {
	@include elemLeft(9);
}
#contentColor_btnColorResetError {
	@include elemAutoWidth(278);
}
#contentColor_btnColorResetError {
	@include elemAutoHeight(50);
}
#contentColor_btnColorResetError {
		z-index: 17;
}
#contentColor_btnColorResetError {
	span{
		font-size: 24px;
	}
}
#contentColor_btnColorResetError {
	span{
	@include font-weight-bold(true);
	}
}
#contentColor_grpColorTeaching {
	@include elemTop(10);
}
#contentColor_grpColorTeaching {
	@include elemLeft(10);
}
#contentColor_grpColorTeaching {
	@include elemWidth(870);
}
#contentColor_grpColorTeaching {
	@include elemHeight(500);
}
#contentColor_grpColorTeaching {
		z-index: 1;
}
#contentColor_tabBlob {
	@include elemTop(13);
}
#contentColor_tabBlob {
	@include elemLeft(9);
}
#contentColor_tabBlob {
	@include elemWidth(851);
}
#contentColor_tabBlob {
	@include elemHeight(277);
}
#contentColor_tabBlob {
		z-index: 0;
}
#contentColor_ItemNo {
		z-index: 0;
}
#contentColor_itemName {
		z-index: 1;
}
#contentColor_itemColor1 {
		z-index: 2;
}
#contentColor_itemColor2 {
		z-index: 3;
}
#contentColor_itemColor3 {
		z-index: 4;
}
#contentColor_itemColor4 {
		z-index: 5;
}
#contentColor_itemColorError {
		z-index: 6;
}
#contentColor_Label10 {
	@include elemAutoHeight(30);
}
#contentColor_Label10 {
	@include elemTop(318);
}
#contentColor_Label10 {
	@include elemLeft(-21);
}
#contentColor_Label10 {
	@include elemAutoWidth(150);
}
#contentColor_Label10 {
		z-index: 1;
}
#contentColor_Label10 {
	@include text-alignment-all('right');
}
#contentColor_Label10 {
		font-size: 18px;
}
#contentColor_numColor1 {
	@include elemWidth(100);
}
#contentColor_numColor1 {
	@include elemHeight(30);
}
#contentColor_numColor1 {
	@include elemTop(318);
}
#contentColor_numColor1 {
	@include elemLeft(139);
}
#contentColor_numColor1 {
		z-index: 2;
}
#contentColor_Label11 {
	@include elemAutoHeight(30);
}
#contentColor_Label11 {
	@include elemTop(353);
}
#contentColor_Label11 {
	@include elemLeft(-21);
}
#contentColor_Label11 {
	@include elemAutoWidth(150);
}
#contentColor_Label11 {
		z-index: 3;
}
#contentColor_Label11 {
	@include text-alignment-all('right');
}
#contentColor_Label11 {
		font-size: 18px;
}
#contentColor_numColor2 {
	@include elemWidth(100);
}
#contentColor_numColor2 {
	@include elemHeight(30);
}
#contentColor_numColor2 {
	@include elemTop(353);
}
#contentColor_numColor2 {
	@include elemLeft(139);
}
#contentColor_numColor2 {
		z-index: 4;
}
#contentColor_Label12 {
	@include elemAutoHeight(30);
}
#contentColor_Label12 {
	@include elemTop(388);
}
#contentColor_Label12 {
	@include elemLeft(-21);
}
#contentColor_Label12 {
	@include elemAutoWidth(150);
}
#contentColor_Label12 {
		z-index: 5;
}
#contentColor_Label12 {
	@include text-alignment-all('right');
}
#contentColor_Label12 {
		font-size: 18px;
}
#contentColor_numColor3 {
	@include elemWidth(100);
}
#contentColor_numColor3 {
	@include elemHeight(30);
}
#contentColor_numColor3 {
	@include elemTop(388);
}
#contentColor_numColor3 {
	@include elemLeft(139);
}
#contentColor_numColor3 {
		z-index: 6;
}
#contentColor_Label13 {
	@include elemAutoHeight(30);
}
#contentColor_Label13 {
	@include elemTop(423);
}
#contentColor_Label13 {
	@include elemLeft(-21);
}
#contentColor_Label13 {
	@include elemAutoWidth(150);
}
#contentColor_Label13 {
		z-index: 7;
}
#contentColor_Label13 {
	@include text-alignment-all('right');
}
#contentColor_Label13 {
		font-size: 18px;
}
#contentColor_numColor4 {
	@include elemWidth(100);
}
#contentColor_numColor4 {
	@include elemHeight(30);
}
#contentColor_numColor4 {
	@include elemTop(423);
}
#contentColor_numColor4 {
	@include elemLeft(139);
}
#contentColor_numColor4 {
		z-index: 8;
}
#contentColor_btnColorTeach {
	@include elemTop(398);
}
#contentColor_btnColorTeach {
	@include elemLeft(639);
}
#contentColor_btnColorTeach {
	@include elemAutoWidth(209);
}
#contentColor_btnColorTeach {
	@include elemAutoHeight(50);
}
#contentColor_btnColorTeach {
		z-index: 9;
}
#contentColor_btnColorTeach {
	span{
		font-size: 24px;
	}
}
#contentColor_btnColorTeach {
	span{
	@include font-weight-bold(true);
	}
}
#contentColor_Label15 {
	@include elemAutoHeight(30);
}
#contentColor_Label15 {
	@include elemTop(388);
}
#contentColor_Label15 {
	@include elemLeft(269);
}
#contentColor_Label15 {
	@include elemAutoWidth(150);
}
#contentColor_Label15 {
		z-index: 10;
}
#contentColor_Label15 {
	@include text-alignment-all('right');
}
#contentColor_Label15 {
		font-size: 18px;
}
#contentColor_numColorError {
	@include elemWidth(100);
}
#contentColor_numColorError {
	@include elemHeight(30);
}
#contentColor_numColorError {
	@include elemTop(388);
}
#contentColor_numColorError {
	@include elemLeft(429);
}
#contentColor_numColorError {
		z-index: 11;
}
#contentColor_Label16 {
	@include elemAutoHeight(30);
}
#contentColor_Label16 {
	@include elemTop(423);
}
#contentColor_Label16 {
	@include elemLeft(269);
}
#contentColor_Label16 {
	@include elemAutoWidth(150);
}
#contentColor_Label16 {
		z-index: 12;
}
#contentColor_Label16 {
	@include text-alignment-all('right');
}
#contentColor_Label16 {
		font-size: 18px;
}
#contentColor_numColorDistance {
	@include elemWidth(100);
}
#contentColor_numColorDistance {
	@include elemHeight(30);
}
#contentColor_numColorDistance {
	@include elemTop(423);
}
#contentColor_numColorDistance {
	@include elemLeft(429);
}
#contentColor_numColorDistance {
		z-index: 13;
}
