#contentColor_grpColorEvaluation {
  top: 10px;
  position: absolute;
}

#contentColor_grpColorEvaluation {
  left: 890px;
  position: absolute;
}

#contentColor_grpColorEvaluation {
  width: 300px;
}

#contentColor_grpColorEvaluation {
  height: 500px;
}

#contentColor_grpColorEvaluation {
  z-index: 0;
}

#contentColor_numColorResult1 {
  height: 30px;
}

#contentColor_numColorResult1 {
  top: 13px;
  position: absolute;
}

#contentColor_numColorResult1 {
  left: 169px;
  position: absolute;
}

#contentColor_numColorResult1 {
  width: 99px;
}

#contentColor_numColorResult1 {
  z-index: 0;
}

#contentColor_numColorResult1 {
  border-width: 2px;
}

#contentColor_numColorResult1 {
  border-radius: 5px;
}

#contentColor_numColorResult1 {
  padding: 0px 5px 0px 5px;
}

#contentColor_numColorResult2 {
  height: 30px;
}

#contentColor_numColorResult2 {
  top: 48px;
  position: absolute;
}

#contentColor_numColorResult2 {
  left: 169px;
  position: absolute;
}

#contentColor_numColorResult2 {
  width: 99px;
}

#contentColor_numColorResult2 {
  z-index: 1;
}

#contentColor_numColorResult2 {
  border-width: 2px;
}

#contentColor_numColorResult2 {
  border-radius: 5px;
}

#contentColor_numColorResult2 {
  padding: 0px 5px 0px 5px;
}

#contentColor_numColorResult3 {
  height: 30px;
}

#contentColor_numColorResult3 {
  top: 83px;
  position: absolute;
}

#contentColor_numColorResult3 {
  left: 169px;
  position: absolute;
}

#contentColor_numColorResult3 {
  width: 99px;
}

#contentColor_numColorResult3 {
  z-index: 2;
}

#contentColor_numColorResult3 {
  border-width: 2px;
}

#contentColor_numColorResult3 {
  border-radius: 5px;
}

#contentColor_numColorResult3 {
  padding: 0px 5px 0px 5px;
}

#contentColor_numColorResult4 {
  height: 30px;
}

#contentColor_numColorResult4 {
  top: 118px;
  position: absolute;
}

#contentColor_numColorResult4 {
  left: 169px;
  position: absolute;
}

#contentColor_numColorResult4 {
  width: 99px;
}

#contentColor_numColorResult4 {
  z-index: 3;
}

#contentColor_numColorResult4 {
  border-width: 2px;
}

#contentColor_numColorResult4 {
  border-radius: 5px;
}

#contentColor_numColorResult4 {
  padding: 0px 5px 0px 5px;
}

#contentColor_btnColorEvaluate {
  top: 398px;
  position: absolute;
}

#contentColor_btnColorEvaluate {
  left: 10px;
  position: absolute;
}

#contentColor_btnColorEvaluate {
  width: 278px;
}

#contentColor_btnColorEvaluate {
  height: 50px;
}

#contentColor_btnColorEvaluate {
  z-index: 4;
}

#contentColor_btnColorEvaluate span {
  font-size: 24px;
}

#contentColor_btnColorEvaluate span {
  font-weight: bold;
}

#contentColor_Label17 {
  height: 30px;
}

#contentColor_Label17 {
  top: 13px;
  position: absolute;
}

#contentColor_Label17 {
  left: 69px;
  position: absolute;
}

#contentColor_Label17 {
  width: 91px;
}

#contentColor_Label17 {
  z-index: 5;
}

#contentColor_Label17 {
  justify-content: flex-end;
  text-align: right;
  -ms-flex-align: center;
  align-items: center;
}

#contentColor_Label17 {
  font-size: 18px;
}

#contentColor_Label18 {
  height: 30px;
}

#contentColor_Label18 {
  top: 48px;
  position: absolute;
}

#contentColor_Label18 {
  left: 69px;
  position: absolute;
}

#contentColor_Label18 {
  width: 91px;
}

#contentColor_Label18 {
  z-index: 6;
}

#contentColor_Label18 {
  justify-content: flex-end;
  text-align: right;
  -ms-flex-align: center;
  align-items: center;
}

#contentColor_Label18 {
  font-size: 18px;
}

#contentColor_Label19 {
  top: 83px;
  position: absolute;
}

#contentColor_Label19 {
  left: 69px;
  position: absolute;
}

#contentColor_Label19 {
  width: 91px;
}

#contentColor_Label19 {
  height: 37px;
}

#contentColor_Label19 {
  z-index: 7;
}

#contentColor_Label19 {
  justify-content: flex-end;
  text-align: right;
  -ms-flex-align: center;
  align-items: center;
}

#contentColor_Label19 {
  font-size: 18px;
}

#contentColor_Label20 {
  top: 118px;
  position: absolute;
}

#contentColor_Label20 {
  left: 69px;
  position: absolute;
}

#contentColor_Label20 {
  width: 91px;
}

#contentColor_Label20 {
  height: 32px;
}

#contentColor_Label20 {
  z-index: 8;
}

#contentColor_Label20 {
  justify-content: flex-end;
  text-align: right;
  -ms-flex-align: center;
  align-items: center;
}

#contentColor_Label20 {
  font-size: 18px;
}

#contentColor_numColorLowError {
  height: 30px;
}

#contentColor_numColorLowError {
  top: 163px;
  position: absolute;
}

#contentColor_numColorLowError {
  left: 169px;
  position: absolute;
}

#contentColor_numColorLowError {
  width: 99px;
}

#contentColor_numColorLowError {
  z-index: 9;
}

#contentColor_numColorLowError {
  border-width: 2px;
}

#contentColor_numColorLowError {
  border-radius: 5px;
}

#contentColor_numColorLowError {
  padding: 0px 5px 0px 5px;
}

#contentColor_Label21 {
  height: 30px;
}

#contentColor_Label21 {
  top: 163px;
  position: absolute;
}

#contentColor_Label21 {
  left: 69px;
  position: absolute;
}

#contentColor_Label21 {
  width: 91px;
}

#contentColor_Label21 {
  z-index: 10;
}

#contentColor_Label21 {
  justify-content: flex-end;
  text-align: right;
  -ms-flex-align: center;
  align-items: center;
}

#contentColor_Label21 {
  font-size: 18px;
}

#contentColor_numColorLowDistance {
  height: 30px;
}

#contentColor_numColorLowDistance {
  top: 198px;
  position: absolute;
}

#contentColor_numColorLowDistance {
  left: 169px;
  position: absolute;
}

#contentColor_numColorLowDistance {
  width: 99px;
}

#contentColor_numColorLowDistance {
  z-index: 11;
}

#contentColor_numColorLowDistance {
  border-width: 2px;
}

#contentColor_numColorLowDistance {
  border-radius: 5px;
}

#contentColor_numColorLowDistance {
  padding: 0px 5px 0px 5px;
}

#contentColor_Label22 {
  height: 30px;
}

#contentColor_Label22 {
  top: 198px;
  position: absolute;
}

#contentColor_Label22 {
  left: 30px;
  position: absolute;
}

#contentColor_Label22 {
  width: 130px;
}

#contentColor_Label22 {
  z-index: 12;
}

#contentColor_Label22 {
  justify-content: flex-end;
  text-align: right;
  -ms-flex-align: center;
  align-items: center;
}

#contentColor_Label22 {
  font-size: 18px;
}

#contentColor_numColorLowIndex {
  height: 30px;
}

#contentColor_numColorLowIndex {
  top: 233px;
  position: absolute;
}

#contentColor_numColorLowIndex {
  left: 169px;
  position: absolute;
}

#contentColor_numColorLowIndex {
  width: 99px;
}

#contentColor_numColorLowIndex {
  z-index: 13;
}

#contentColor_numColorLowIndex {
  border-width: 2px;
}

#contentColor_numColorLowIndex {
  border-radius: 5px;
}

#contentColor_numColorLowIndex {
  padding: 0px 5px 0px 5px;
}

#contentColor_Label23 {
  height: 30px;
}

#contentColor_Label23 {
  top: 233px;
  position: absolute;
}

#contentColor_Label23 {
  left: 69px;
  position: absolute;
}

#contentColor_Label23 {
  width: 91px;
}

#contentColor_Label23 {
  z-index: 14;
}

#contentColor_Label23 {
  justify-content: flex-end;
  text-align: right;
  -ms-flex-align: center;
  align-items: center;
}

#contentColor_Label23 {
  font-size: 18px;
}

#contentColor_numColorStatus {
  height: 30px;
}

#contentColor_numColorStatus {
  top: 278px;
  position: absolute;
}

#contentColor_numColorStatus {
  left: 169px;
  position: absolute;
}

#contentColor_numColorStatus {
  width: 99px;
}

#contentColor_numColorStatus {
  z-index: 15;
}

#contentColor_numColorStatus {
  border-width: 2px;
}

#contentColor_numColorStatus {
  border-radius: 5px;
}

#contentColor_numColorStatus {
  padding: 0px 5px 0px 5px;
}

#contentColor_Label24 {
  height: 30px;
}

#contentColor_Label24 {
  top: 278px;
  position: absolute;
}

#contentColor_Label24 {
  left: 69px;
  position: absolute;
}

#contentColor_Label24 {
  width: 91px;
}

#contentColor_Label24 {
  z-index: 16;
}

#contentColor_Label24 {
  justify-content: flex-end;
  text-align: right;
  -ms-flex-align: center;
  align-items: center;
}

#contentColor_Label24 {
  font-size: 18px;
}

#contentColor_btnColorResetError {
  top: 333px;
  position: absolute;
}

#contentColor_btnColorResetError {
  left: 9px;
  position: absolute;
}

#contentColor_btnColorResetError {
  width: 278px;
}

#contentColor_btnColorResetError {
  height: 50px;
}

#contentColor_btnColorResetError {
  z-index: 17;
}

#contentColor_btnColorResetError span {
  font-size: 24px;
}

#contentColor_btnColorResetError span {
  font-weight: bold;
}

#contentColor_grpColorTeaching {
  top: 10px;
  position: absolute;
}

#contentColor_grpColorTeaching {
  left: 10px;
  position: absolute;
}

#contentColor_grpColorTeaching {
  width: 870px;
}

#contentColor_grpColorTeaching {
  height: 500px;
}

#contentColor_grpColorTeaching {
  z-index: 1;
}

#contentColor_tabBlob {
  top: 13px;
  position: absolute;
}

#contentColor_tabBlob {
  left: 9px;
  position: absolute;
}

#contentColor_tabBlob {
  width: 851px;
}

#contentColor_tabBlob {
  height: 277px;
}

#contentColor_tabBlob {
  z-index: 0;
}

#contentColor_ItemNo {
  z-index: 0;
}

#contentColor_itemName {
  z-index: 1;
}

#contentColor_itemColor1 {
  z-index: 2;
}

#contentColor_itemColor2 {
  z-index: 3;
}

#contentColor_itemColor3 {
  z-index: 4;
}

#contentColor_itemColor4 {
  z-index: 5;
}

#contentColor_itemColorError {
  z-index: 6;
}

#contentColor_Label10 {
  height: 30px;
}

#contentColor_Label10 {
  top: 318px;
  position: absolute;
}

#contentColor_Label10 {
  left: -21px;
  position: absolute;
}

#contentColor_Label10 {
  width: 150px;
}

#contentColor_Label10 {
  z-index: 1;
}

#contentColor_Label10 {
  justify-content: flex-end;
  text-align: right;
  -ms-flex-align: center;
  align-items: center;
}

#contentColor_Label10 {
  font-size: 18px;
}

#contentColor_numColor1 {
  width: 100px;
}

#contentColor_numColor1 {
  height: 30px;
}

#contentColor_numColor1 {
  top: 318px;
  position: absolute;
}

#contentColor_numColor1 {
  left: 139px;
  position: absolute;
}

#contentColor_numColor1 {
  z-index: 2;
}

#contentColor_Label11 {
  height: 30px;
}

#contentColor_Label11 {
  top: 353px;
  position: absolute;
}

#contentColor_Label11 {
  left: -21px;
  position: absolute;
}

#contentColor_Label11 {
  width: 150px;
}

#contentColor_Label11 {
  z-index: 3;
}

#contentColor_Label11 {
  justify-content: flex-end;
  text-align: right;
  -ms-flex-align: center;
  align-items: center;
}

#contentColor_Label11 {
  font-size: 18px;
}

#contentColor_numColor2 {
  width: 100px;
}

#contentColor_numColor2 {
  height: 30px;
}

#contentColor_numColor2 {
  top: 353px;
  position: absolute;
}

#contentColor_numColor2 {
  left: 139px;
  position: absolute;
}

#contentColor_numColor2 {
  z-index: 4;
}

#contentColor_Label12 {
  height: 30px;
}

#contentColor_Label12 {
  top: 388px;
  position: absolute;
}

#contentColor_Label12 {
  left: -21px;
  position: absolute;
}

#contentColor_Label12 {
  width: 150px;
}

#contentColor_Label12 {
  z-index: 5;
}

#contentColor_Label12 {
  justify-content: flex-end;
  text-align: right;
  -ms-flex-align: center;
  align-items: center;
}

#contentColor_Label12 {
  font-size: 18px;
}

#contentColor_numColor3 {
  width: 100px;
}

#contentColor_numColor3 {
  height: 30px;
}

#contentColor_numColor3 {
  top: 388px;
  position: absolute;
}

#contentColor_numColor3 {
  left: 139px;
  position: absolute;
}

#contentColor_numColor3 {
  z-index: 6;
}

#contentColor_Label13 {
  height: 30px;
}

#contentColor_Label13 {
  top: 423px;
  position: absolute;
}

#contentColor_Label13 {
  left: -21px;
  position: absolute;
}

#contentColor_Label13 {
  width: 150px;
}

#contentColor_Label13 {
  z-index: 7;
}

#contentColor_Label13 {
  justify-content: flex-end;
  text-align: right;
  -ms-flex-align: center;
  align-items: center;
}

#contentColor_Label13 {
  font-size: 18px;
}

#contentColor_numColor4 {
  width: 100px;
}

#contentColor_numColor4 {
  height: 30px;
}

#contentColor_numColor4 {
  top: 423px;
  position: absolute;
}

#contentColor_numColor4 {
  left: 139px;
  position: absolute;
}

#contentColor_numColor4 {
  z-index: 8;
}

#contentColor_btnColorTeach {
  top: 398px;
  position: absolute;
}

#contentColor_btnColorTeach {
  left: 639px;
  position: absolute;
}

#contentColor_btnColorTeach {
  width: 209px;
}

#contentColor_btnColorTeach {
  height: 50px;
}

#contentColor_btnColorTeach {
  z-index: 9;
}

#contentColor_btnColorTeach span {
  font-size: 24px;
}

#contentColor_btnColorTeach span {
  font-weight: bold;
}

#contentColor_Label15 {
  height: 30px;
}

#contentColor_Label15 {
  top: 388px;
  position: absolute;
}

#contentColor_Label15 {
  left: 269px;
  position: absolute;
}

#contentColor_Label15 {
  width: 150px;
}

#contentColor_Label15 {
  z-index: 10;
}

#contentColor_Label15 {
  justify-content: flex-end;
  text-align: right;
  -ms-flex-align: center;
  align-items: center;
}

#contentColor_Label15 {
  font-size: 18px;
}

#contentColor_numColorError {
  width: 100px;
}

#contentColor_numColorError {
  height: 30px;
}

#contentColor_numColorError {
  top: 388px;
  position: absolute;
}

#contentColor_numColorError {
  left: 429px;
  position: absolute;
}

#contentColor_numColorError {
  z-index: 11;
}

#contentColor_Label16 {
  height: 30px;
}

#contentColor_Label16 {
  top: 423px;
  position: absolute;
}

#contentColor_Label16 {
  left: 269px;
  position: absolute;
}

#contentColor_Label16 {
  width: 150px;
}

#contentColor_Label16 {
  z-index: 12;
}

#contentColor_Label16 {
  justify-content: flex-end;
  text-align: right;
  -ms-flex-align: center;
  align-items: center;
}

#contentColor_Label16 {
  font-size: 18px;
}

#contentColor_numColorDistance {
  width: 100px;
}

#contentColor_numColorDistance {
  height: 30px;
}

#contentColor_numColorDistance {
  top: 423px;
  position: absolute;
}

#contentColor_numColorDistance {
  left: 429px;
  position: absolute;
}

#contentColor_numColorDistance {
  z-index: 13;
}
