@import '../../../../css/libs/variables.scss';
@import '../../../../css/libs/mixins.scss';

$check-color: #000;
$border: #333;
$disabled-border: #ccc;
$active-border: $active-color;
$disbled-background: #F1F1F1;

.breaseRadioButton {
    @include user-select(none);
    background-color: transparent;
    border: none;
    position: relative;
    vertical-align: middle;
    font-weight: normal;
    @include justify-content(start);

    &.image-right {
        @include justify-content(end);

        .radiobutton {
            margin-left: 10px;
            margin-right: 0px;
        }
    }

    &.image-top {
        @include flex-direction(column);

        .radiobutton {
            margin: 0 0 5px 0;
        }
    }

    &.image-bottom {
        @include flex-direction(column);

        .radiobutton {
            margin: 5px 0 0 0;
        }
    }


    span {
        font-size: 12px;
        font-weight: bold; 
        width: 100%;     
        color: #333;
    }

    .radiobutton {
        display: inline-block;
        width: 47px;
        height: 47px;
        @include border-radius(24px);
        border: 1px solid $border;
        background-color: #FFF;
        position: relative;
        @include box-sizing(border-box);
        margin: 0 10px 0 0;
        @include flex(none);

        &:after {
            opacity: 0;
            content: '';
            position: absolute;
            @include border-radius(50%);
            top: 50%;
            left: 50%;
            width: 50%;
            height: 50%;
            margin-left: -25%;
            margin-top: -25%;
            background: $check-color;
        }
    }

    &.checked {
        background-color: transparent;

        .radiobutton {
            border: 1px solid #333;
            background-color: #FFF;

            &:after {
                opacity: 1;
            }
        }
    }

    &.disabled {
        background-color: transparent;

        &.checked {
            background-color: transparent;

            .radiobutton {
                &:after {
                    opacity: 0.18;
                }
            }
        }

        .radiobutton {
            border: 1px solid $disabled-border;
            background-color: $disbled-background;

            &:after {
                opacity: 0;
            }

            &.checked {
                border: 1px solid $disabled-border;
                background-color: $disbled-background;
            }

        }
    }
}
