.visionCockpitSmartPanelParameterForm{overflow:hidden;box-sizing:border-box}.visionCockpitSmartPanelParameterForm .scrollContainer .drawContainer{display:-ms-inline-flexbox;display:-webkit-inline-box;display:inline-flex}.visionCockpitSmartPanelParameterForm .scrollContainer .drawContainer .ParamRowContainer{position:relative;display:-ms-inline-flexbox;display:-webkit-inline-box;display:inline-flex;-webkit-flex-direction:column;-ms-flex-direction:column;flex-direction:column;-webkit-flex-wrap:nowrap;-ms-flex-wrap:nowrap;flex-wrap:nowrap;text-align:center}
