#mVi2StartPage_LoginWidget {
  width: 300px;
}

#mVi2StartPage_LoginWidget {
  height: 160px;
}

#mVi2StartPage_LoginWidget {
  top: 470px;
  position: absolute;
}

#mVi2StartPage_LoginWidget {
  left: 810px;
  position: absolute;
}

#mVi2StartPage_LoginWidget {
  z-index: 2;
}

#mVi2StartPage_Label3 {
  top: 281px;
  position: absolute;
}

#mVi2StartPage_Label3 {
  left: 641px;
  position: absolute;
}

#mVi2StartPage_Label3 {
  width: 707px;
}

#mVi2StartPage_Label3 {
  height: 55px;
}

#mVi2StartPage_Label3 {
  z-index: 3;
}

#mVi2StartPage_Label3 {
  font-size: 35px;
}

#mVi2StartPage_Label3 {
  font-weight: bold;
}

#mVi2StartPage_Label4 {
  top: 619px;
  position: absolute;
}

#mVi2StartPage_Label4 {
  left: 747px;
  position: absolute;
}

#mVi2StartPage_Label4 {
  width: 435px;
}

#mVi2StartPage_Label4 {
  height: 43px;
}

#mVi2StartPage_Label4 {
  z-index: 4;
}

#mVi2StartPage_Label4 {
  font-size: 18px;
}

#mVi2StartPage_Label4 {
  font-weight: normal;
}

#mVi2StartPage_ImageEinlogen {
  top: -121px;
  position: absolute;
}

#mVi2StartPage_ImageEinlogen {
  left: -151px;
  position: absolute;
}

#mVi2StartPage_ImageEinlogen {
  width: 4424px;
}

#mVi2StartPage_ImageEinlogen {
  height: 1296px;
}

#mVi2StartPage_ImageEinlogen {
  z-index: 0;
}

#mVi2StartPage_ImageEinlogen {
  opacity: 0.08;
}

#mVi2StartPage_Rectangle1 {
  top: 361px;
  position: absolute;
}

#mVi2StartPage_Rectangle1 {
  left: 726px;
  position: absolute;
}

#mVi2StartPage_Rectangle1 {
  width: 468px;
}

#mVi2StartPage_Rectangle1 {
  height: 308px;
}

#mVi2StartPage_Rectangle1 {
  z-index: 1;
}

#mVi2StartPage_Rectangle1 {
  border-width: 3px;
}

#mVi2StartPage_Rectangle1 {
  border-radius: 15px;
}

#mVi2StartPage_Rectangle1 {
  border-color: rgba(192, 192, 192, 0.5);
}

#mVi2StartPage_Rectangle1 {
  background-color: #f0f0f0;
}

#mVi2StartPage_Rectangle1 {
  opacity: 0.8;
}

#mVi2StartPage_Line1 {
  z-index: 5;
}

#mVi2StartPage_Line1 line {
  stroke: rgba(192, 192, 192, 0.5);
}

#mVi2StartPage_Line1 line {
  stroke-width: 3px;
}

#mVi2StartPage_Line2 {
  z-index: 6;
}

#mVi2StartPage_Line2 line {
  stroke: rgba(192, 192, 192, 0.5);
}

#mVi2StartPage_Line2 line {
  stroke-width: 3px;
}

#mVi2StartPage_Label5 {
  top: 371px;
  position: absolute;
}

#mVi2StartPage_Label5 {
  left: 794px;
  position: absolute;
}

#mVi2StartPage_Label5 {
  width: 399px;
}

#mVi2StartPage_Label5 {
  height: 83px;
}

#mVi2StartPage_Label5 {
  z-index: 7;
}

#mVi2StartPage_Label5 {
  font-size: 18px;
}

#mVi2StartPage_Label5 {
  font-weight: normal;
}

#mVi2StartPage_Image2 {
  top: 384px;
  position: absolute;
}

#mVi2StartPage_Image2 {
  left: 745px;
  position: absolute;
}

#mVi2StartPage_Image2 {
  width: 85px;
}

#mVi2StartPage_Image2 {
  height: 47px;
}

#mVi2StartPage_Image2 {
  z-index: 8;
}

#mVi2StartPage_Image2 > .ImageView > svg {
  fill: gray;
}

#mVi2StartPage_ToggleSwitch1 {
  width: 100px;
}

#mVi2StartPage_ToggleSwitch1 {
  height: 30px;
}

#mVi2StartPage_ToggleSwitch1 {
  top: 117px;
  position: absolute;
}

#mVi2StartPage_ToggleSwitch1 {
  left: 181px;
  position: absolute;
}

#mVi2StartPage_ToggleSwitch1 {
  z-index: 9;
}
