﻿@import "mixins.scss";
#mVi2StartPage_LoginWidget {
	@include elemWidth(300);
}
#mVi2StartPage_LoginWidget {
	@include elemHeight(160);
}
#mVi2StartPage_LoginWidget {
	@include elemTop(470);
}
#mVi2StartPage_LoginWidget {
	@include elemLeft(810);
}
#mVi2StartPage_LoginWidget {
		z-index: 2;
}
#mVi2StartPage_Label3 {
	@include elemTop(281);
}
#mVi2StartPage_Label3 {
	@include elemLeft(641);
}
#mVi2StartPage_Label3 {
	@include elemAutoWidth(707);
}
#mVi2StartPage_Label3 {
	@include elemAutoHeight(55);
}
#mVi2StartPage_Label3 {
		z-index: 3;
}
#mVi2StartPage_Label3 {
		font-size: 35px;
}
#mVi2StartPage_Label3 {
	@include font-weight-bold(true);
}
#mVi2StartPage_Label4 {
	@include elemTop(619);
}
#mVi2StartPage_Label4 {
	@include elemLeft(747);
}
#mVi2StartPage_Label4 {
	@include elemAutoWidth(435);
}
#mVi2StartPage_Label4 {
	@include elemAutoHeight(43);
}
#mVi2StartPage_Label4 {
		z-index: 4;
}
#mVi2StartPage_Label4 {
		font-size: 18px;
}
#mVi2StartPage_Label4 {
	@include font-weight-bold(false);
}
#mVi2StartPage_ImageEinlogen {
	@include elemTop(-121);
}
#mVi2StartPage_ImageEinlogen {
	@include elemLeft(-151);
}
#mVi2StartPage_ImageEinlogen {
	@include elemAutoWidth(4424);
}
#mVi2StartPage_ImageEinlogen {
	@include elemAutoHeight(1296);
}
#mVi2StartPage_ImageEinlogen {
		z-index: 0;
}
#mVi2StartPage_ImageEinlogen {
		opacity: 0.08;
}
#mVi2StartPage_Rectangle1 {
	@include elemTop(361);
}
#mVi2StartPage_Rectangle1 {
	@include elemLeft(726);
}
#mVi2StartPage_Rectangle1 {
	@include elemWidth(468);
}
#mVi2StartPage_Rectangle1 {
	@include elemHeight(308);
}
#mVi2StartPage_Rectangle1 {
		z-index: 1;
}
#mVi2StartPage_Rectangle1 {
		border-width: 3px;
}
#mVi2StartPage_Rectangle1 {
	@include border-radius(15px);
}
#mVi2StartPage_Rectangle1 {
		border-color: rgba(192, 192, 192, 0.5);
}
#mVi2StartPage_Rectangle1 {
		background-color: rgba(240, 240, 240, 1);
}
#mVi2StartPage_Rectangle1 {
		opacity: 0.8;
}
#mVi2StartPage_Line1 {
		z-index: 5;
}
#mVi2StartPage_Line1 {
	line{
		stroke: rgba(192, 192, 192, 0.5);
	}
}
#mVi2StartPage_Line1 {
	line{
		stroke-width: 3px;
	}
}
#mVi2StartPage_Line2 {
		z-index: 6;
}
#mVi2StartPage_Line2 {
	line{
		stroke: rgba(192, 192, 192, 0.5);
	}
}
#mVi2StartPage_Line2 {
	line{
		stroke-width: 3px;
	}
}
#mVi2StartPage_Label5 {
	@include elemTop(371);
}
#mVi2StartPage_Label5 {
	@include elemLeft(794);
}
#mVi2StartPage_Label5 {
	@include elemAutoWidth(399);
}
#mVi2StartPage_Label5 {
	@include elemAutoHeight(83);
}
#mVi2StartPage_Label5 {
		z-index: 7;
}
#mVi2StartPage_Label5 {
		font-size: 18px;
}
#mVi2StartPage_Label5 {
	@include font-weight-bold(false);
}
#mVi2StartPage_Image2 {
	@include elemTop(384);
}
#mVi2StartPage_Image2 {
	@include elemLeft(745);
}
#mVi2StartPage_Image2 {
	@include elemAutoWidth(85);
}
#mVi2StartPage_Image2 {
	@include elemAutoHeight(47);
}
#mVi2StartPage_Image2 {
		z-index: 8;
}
#mVi2StartPage_Image2 {
	& > .ImageView > svg{
		fill: rgba(128, 128, 128, 1);
	}
}
#mVi2StartPage_ToggleSwitch1 {
	@include elemAutoWidth(100);
}
#mVi2StartPage_ToggleSwitch1 {
	@include elemAutoHeight(30);
}
#mVi2StartPage_ToggleSwitch1 {
	@include elemTop(117);
}
#mVi2StartPage_ToggleSwitch1 {
	@include elemLeft(181);
}
#mVi2StartPage_ToggleSwitch1 {
		z-index: 9;
}
