﻿@import "mixins.scss";
#mVi2Navigation_Line1 {
		z-index: 1;
}
#mVi2Navigation_DropDownBoxComponentList {
	@include elemTop(6);
}
#mVi2Navigation_DropDownBoxComponentList {
	@include elemLeft(312);
}
#mVi2Navigation_DropDownBoxComponentList {
	&.DropDownBoxView{
	@include elemWidth(190);
	}
}
#mVi2Navigation_DropDownBoxComponentList {
	&.DropDownBoxView{
	@include elemHeight(40);
	}
}
#mVi2Navigation_DropDownBoxComponentList {
		z-index: 10;
}
#mVi2Navigation_DropDownBoxComponentList {
	& > .ItemView.itemSelected:not(.itemDisabled) > .TextView.textSelected{
		color: rgba(255, 255, 255, 1);
	}
}
#mVi2Navigation_DropDownBoxComponentList {
	& .TextView{
		font-size: 16px;
	}
}
#mVi2Navigation_DropDownBoxComponentList_listBoxWrapper {
	& .TextView{
		font-size: 16px;
	}
}
#mVi2Navigation_Label4 {
	@include elemAutoHeight(30);
}
#mVi2Navigation_Label4 {
	@include elemTop(10);
}
#mVi2Navigation_Label4 {
	@include elemLeft(156);
}
#mVi2Navigation_Label4 {
	@include elemAutoWidth(200);
}
#mVi2Navigation_Label4 {
		z-index: 12;
}
#mVi2Navigation_Label4 {
		font-size: 16px;
}
#mVi2Navigation_Label4 {
	@include font-weight-bold(true);
}
#mVi2Navigation_Image1 {
	@include elemTop(-35);
}
#mVi2Navigation_Image1 {
	@include elemLeft(25);
}
#mVi2Navigation_Image1 {
	@include elemAutoWidth(200);
}
#mVi2Navigation_Image1 {
	@include elemAutoHeight(150);
}
#mVi2Navigation_Image1 {
		z-index: 2;
}
#mVi2Navigation_Image1 {
		border-width: 2px;
}
#mVi2Navigation_Image1 {
		margin: 0px;
}
#mVi2Navigation_LoginInfo {
	@include elemAutoWidth(120);
}
#mVi2Navigation_LoginInfo {
	@include elemAutoHeight(30);
}
#mVi2Navigation_LoginInfo {
	@include elemTop(10);
}
#mVi2Navigation_LoginInfo {
	@include elemLeft(1693);
}
#mVi2Navigation_LoginInfo {
		z-index: 4;
}
#mVi2Navigation_LoginInfo {
	& span{
		color: rgba(100, 100, 100, 1);
	}
}
#mVi2Navigation_LoginInfo {
	@include font-weight-bold(false);
}
#mVi2Navigation_LogoutButton {
	@include elemTop(5);
}
#mVi2Navigation_LogoutButton {
	@include elemLeft(1860);
}
#mVi2Navigation_LogoutButton {
	@include elemAutoWidth(48);
}
#mVi2Navigation_LogoutButton {
	@include elemAutoHeight(20);
}
#mVi2Navigation_LogoutButton {
		z-index: 6;
}
#mVi2Navigation_LogoutButton {
	img{
	@include imageHeight(28);
	}
}
#mVi2Navigation_LogoutButton {
	svg{
	@include imageHeight(28);
	}
}
#mVi2Navigation_LogoutButton {
	&:not(.active):not(.disabled):not(.checked) svg{
		fill: rgba(80, 80, 80, 1);
	}
}
#mVi2Navigation_LogoutButton {
	&.active svg{
		fill: rgba(255, 255, 255, 1);
	}
}
#mVi2Navigation_LogoutButton {
	span{
		font-size: 12px;
	}
}
#mVi2Navigation_LogoutButton {
	span{
	@include font-weight-bold(true);
	}
}
#mVi2Navigation_LogoutButton {
		padding: 20px 10px;
}
#mVi2Navigation_CurrentUserLabel {
	@include elemAutoHeight(30);
}
#mVi2Navigation_CurrentUserLabel {
	@include elemTop(10);
}
#mVi2Navigation_CurrentUserLabel {
	@include elemLeft(1595);
}
#mVi2Navigation_CurrentUserLabel {
	@include elemAutoWidth(106);
}
#mVi2Navigation_CurrentUserLabel {
		z-index: 7;
}
#mVi2Navigation_CurrentUserLabel {
		font-size: 16px;
}
#mVi2Navigation_CurrentUserLabel {
	@include font-weight-bold(true);
}
#mVi2Navigation_Rectangle1 {
	@include elemTop(0);
}
#mVi2Navigation_Rectangle1 {
	@include elemLeft(105);
}
#mVi2Navigation_Rectangle1 {
	@include elemWidth(135);
}
#mVi2Navigation_Rectangle1 {
	@include elemHeight(60);
}
#mVi2Navigation_Rectangle1 {
		z-index: 8;
}
#mVi2Navigation_Rectangle1 {
		border-width: 0px;
}
#mVi2Navigation_Rectangle1 {
		background-color: rgba(192, 192, 192, 1);
}
#mVi2Navigation_Image2 {
	@include elemTop(11);
}
#mVi2Navigation_Image2 {
	@include elemLeft(1574);
}
#mVi2Navigation_Image2 {
	@include elemAutoWidth(25);
}
#mVi2Navigation_Image2 {
	@include elemAutoHeight(25);
}
#mVi2Navigation_Image2 {
		z-index: 9;
}
#mVi2Navigation_Image2 {
		border-width: 0px;
}
#mVi2Navigation_Image2 {
	& > .ImageView > svg{
		fill: rgba(128, 128, 128, 1);
	}
}
#mVi2Navigation_ImageArrow {
	@include elemTop(14);
}
#mVi2Navigation_ImageArrow {
	@include elemLeft(480);
}
#mVi2Navigation_ImageArrow {
	@include elemAutoWidth(24);
}
#mVi2Navigation_ImageArrow {
	@include elemAutoHeight(22);
}
#mVi2Navigation_ImageArrow {
		z-index: 5;
}
#mVi2Navigation_ImageArrow {
	& > .ImageView > svg{
		fill: rgba(100, 100, 100, 1);
	}
}
#mVi2Navigation_TextOutputVisionFunction {
	@include elemTop(6);
}
#mVi2Navigation_TextOutputVisionFunction {
	@include elemLeft(312);
}
#mVi2Navigation_TextOutputVisionFunction {
	@include elemAutoWidth(190);
}
#mVi2Navigation_TextOutputVisionFunction {
	@include elemAutoHeight(40);
}
#mVi2Navigation_TextOutputVisionFunction {
		z-index: 0;
}
#mVi2Navigation_GroupBoxLogger {
	@include elemTop(0);
}
#mVi2Navigation_GroupBoxLogger {
	@include elemLeft(540);
}
#mVi2Navigation_GroupBoxLogger {
	@include elemWidth(999);
}
#mVi2Navigation_GroupBoxLogger {
	@include elemHeight(53);
}
#mVi2Navigation_GroupBoxLogger {
		z-index: 11;
}
#mVi2Navigation_GroupBoxLogger {
		background-color: rgba(255, 255, 255, 0);
}
#mVi2Navigation_ImageLoggerError {
	@include elemTop(11);
}
#mVi2Navigation_ImageLoggerError {
	@include elemLeft(720);
}
#mVi2Navigation_ImageLoggerError {
	@include elemAutoWidth(26);
}
#mVi2Navigation_ImageLoggerError {
	@include elemAutoHeight(24);
}
#mVi2Navigation_ImageLoggerError {
		z-index: 2;
}
#mVi2Navigation_ImageLoggerWarning {
	@include elemTop(11);
}
#mVi2Navigation_ImageLoggerWarning {
	@include elemLeft(768);
}
#mVi2Navigation_ImageLoggerWarning {
	@include elemAutoWidth(26);
}
#mVi2Navigation_ImageLoggerWarning {
	@include elemAutoHeight(24);
}
#mVi2Navigation_ImageLoggerWarning {
		z-index: 1;
}
#mVi2Navigation_ImageLoggerSuccess {
	@include elemTop(12);
}
#mVi2Navigation_ImageLoggerSuccess {
	@include elemLeft(876);
}
#mVi2Navigation_ImageLoggerSuccess {
	@include elemAutoWidth(26);
}
#mVi2Navigation_ImageLoggerSuccess {
	@include elemAutoHeight(24);
}
#mVi2Navigation_ImageLoggerSuccess {
		z-index: 3;
}
#mVi2Navigation_btnLogger {
	@include elemTop(5);
}
#mVi2Navigation_btnLogger {
	@include elemLeft(924);
}
#mVi2Navigation_btnLogger {
	@include elemAutoWidth(48);
}
#mVi2Navigation_btnLogger {
	@include elemAutoHeight(38);
}
#mVi2Navigation_btnLogger {
		z-index: 4;
}
#mVi2Navigation_btnLogger {
	img{
	@include imageHeight(28);
	}
}
#mVi2Navigation_btnLogger {
	svg{
	@include imageHeight(28);
	}
}
#mVi2Navigation_btnLogger {
	img{
	@include imageWidth(26);
	}
}
#mVi2Navigation_btnLogger {
	svg{
	@include imageWidth(26);
	}
}
#mVi2Navigation_btnLogger {
	&:not(.active):not(.disabled):not(.checked) svg{
		fill: rgba(80, 80, 80, 1);
	}
}
#mVi2Navigation_btnLogger {
	@include text-alignment(left);
}
#mVi2Navigation_btnLogger {
		padding: 10px;
}
#mVi2Navigation_btnLogger {
	&:not(.active):not(.checked){
	@include box-shadow(none);
	}
}
#mVi2Navigation_btnLogger {
	&.disabled.active{
	@include box-shadow(none);
	}
}
#mVi2Navigation_btnLogger {
	&.disabled.checked{
	@include box-shadow(none);
	}
}
#mVi2Navigation_Line3 {
		z-index: 5;
}
#mVi2Navigation_lmageLoggerInfo {
	@include elemTop(12);
}
#mVi2Navigation_lmageLoggerInfo {
	@include elemLeft(828);
}
#mVi2Navigation_lmageLoggerInfo {
	@include elemAutoWidth(26);
}
#mVi2Navigation_lmageLoggerInfo {
	@include elemAutoHeight(24);
}
#mVi2Navigation_lmageLoggerInfo {
		z-index: 6;
}
#mVi2Navigation_NumericOutputLoggerCounterInformation {
	@include elemAutoHeight(30);
}
#mVi2Navigation_NumericOutputLoggerCounterInformation {
	@include elemTop(11);
}
#mVi2Navigation_NumericOutputLoggerCounterInformation {
	@include elemLeft(828);
}
#mVi2Navigation_NumericOutputLoggerCounterInformation {
	@include elemAutoWidth(60);
}
#mVi2Navigation_NumericOutputLoggerCounterInformation {
		z-index: 7;
}
#mVi2Navigation_NumericOutputLoggerCounterInformation {
	input{
	@include text-alignment(left);
	}
}
#mVi2Navigation_NumericOutputLoggerCounterInformation {
	input{
	@include font-weight-bold(true);
	}
}
#mVi2Navigation_NumericOutputLoggerCounterOfSuccesses {
	@include elemAutoHeight(30);
}
#mVi2Navigation_NumericOutputLoggerCounterOfSuccesses {
	@include elemTop(11);
}
#mVi2Navigation_NumericOutputLoggerCounterOfSuccesses {
	@include elemLeft(876);
}
#mVi2Navigation_NumericOutputLoggerCounterOfSuccesses {
	@include elemAutoWidth(60);
}
#mVi2Navigation_NumericOutputLoggerCounterOfSuccesses {
		z-index: 8;
}
#mVi2Navigation_NumericOutputLoggerCounterOfSuccesses {
	input{
	@include text-alignment(left);
	}
}
#mVi2Navigation_NumericOutputLoggerCounterOfSuccesses {
	input{
	@include font-weight-bold(true);
	}
}
#mVi2Navigation_NumericOutputloggerCounterOfWarnings {
	@include elemAutoHeight(30);
}
#mVi2Navigation_NumericOutputloggerCounterOfWarnings {
	@include elemTop(11);
}
#mVi2Navigation_NumericOutputloggerCounterOfWarnings {
	@include elemLeft(780);
}
#mVi2Navigation_NumericOutputloggerCounterOfWarnings {
	@include elemAutoWidth(56);
}
#mVi2Navigation_NumericOutputloggerCounterOfWarnings {
		z-index: 9;
}
#mVi2Navigation_NumericOutputloggerCounterOfWarnings {
	input{
	@include text-alignment(left);
	}
}
#mVi2Navigation_NumericOutputloggerCounterOfWarnings {
	input{
	@include font-weight-bold(true);
	}
}
#mVi2Navigation_NumericOutputloggerCounterOfWarnings {
		padding: 0px 10px 0px 15px;
}
#mVi2Navigation_NumericOutputLoggerCounterOfErrors {
	@include elemAutoHeight(30);
}
#mVi2Navigation_NumericOutputLoggerCounterOfErrors {
	@include elemTop(11);
}
#mVi2Navigation_NumericOutputLoggerCounterOfErrors {
	@include elemLeft(720);
}
#mVi2Navigation_NumericOutputLoggerCounterOfErrors {
	@include elemAutoWidth(80);
}
#mVi2Navigation_NumericOutputLoggerCounterOfErrors {
		z-index: 10;
}
#mVi2Navigation_NumericOutputLoggerCounterOfErrors {
	input{
	@include text-alignment(left);
	}
}
#mVi2Navigation_NumericOutputLoggerCounterOfErrors {
	input{
	@include font-weight-bold(true);
	}
}
#mVi2Navigation_DropDownBoxVisonFunctionName {
	@include elemTop(5);
}
#mVi2Navigation_DropDownBoxVisonFunctionName {
	@include elemLeft(144);
}
#mVi2Navigation_DropDownBoxVisonFunctionName {
	&.DropDownBoxView{
	@include elemWidth(190);
	}
}
#mVi2Navigation_DropDownBoxVisonFunctionName {
	&.DropDownBoxView{
	@include elemHeight(40);
	}
}
#mVi2Navigation_DropDownBoxVisonFunctionName {
		z-index: 13;
}
#mVi2Navigation_DropDownBoxVisonFunctionName {
	& > .ItemView:not(.itemSelected){
		border-width: 0px 0px 0px 0px;
	}
}
#mVi2Navigation_DropDownBoxVisonFunctionName {
	& > .ItemView.itemSelected:not(.itemDisabled) > .TextView.textSelected{
		color: rgba(255, 255, 255, 1);
	}
}
#mVi2Navigation_DropDownBoxVisonFunctionName {
	& .TextView{
		font-size: 16px;
	}
}
#mVi2Navigation_DropDownBoxVisonFunctionName_listBoxWrapper {
	& .TextView{
		font-size: 16px;
	}
}
#mVi2Navigation_Label5 {
	@include elemAutoHeight(30);
}
#mVi2Navigation_Label5 {
	@include elemTop(10);
}
#mVi2Navigation_Label5 {
	@include elemLeft(12);
}
#mVi2Navigation_Label5 {
	@include elemAutoWidth(200);
}
#mVi2Navigation_Label5 {
		z-index: 11;
}
#mVi2Navigation_Label5 {
		font-size: 16px;
}
#mVi2Navigation_Label5 {
	@include font-weight-bold(true);
}
#mVi2Navigation_Label5 {
	span{
		padding: 0px;
	}
}
#mVi2Navigation_TextOutputVisionFunction1 {
	@include elemTop(5);
}
#mVi2Navigation_TextOutputVisionFunction1 {
	@include elemLeft(144);
}
#mVi2Navigation_TextOutputVisionFunction1 {
	@include elemAutoWidth(190);
}
#mVi2Navigation_TextOutputVisionFunction1 {
	@include elemAutoHeight(40);
}
#mVi2Navigation_TextOutputVisionFunction1 {
		z-index: 0;
}
#mVi2Navigation_ImageArrow1 {
	@include elemTop(16);
}
#mVi2Navigation_ImageArrow1 {
	@include elemLeft(312);
}
#mVi2Navigation_ImageArrow1 {
	@include elemAutoWidth(24);
}
#mVi2Navigation_ImageArrow1 {
	@include elemAutoHeight(22);
}
#mVi2Navigation_ImageArrow1 {
		z-index: 12;
}
#mVi2Navigation_ImageArrow1 {
	& > .ImageView > svg{
		fill: rgba(100, 100, 100, 1);
	}
}
