#mVi2Navigation_Line1 {
  z-index: 1;
}

#mVi2Navigation_DropDownBoxComponentList {
  top: 6px;
  position: absolute;
}

#mVi2Navigation_DropDownBoxComponentList {
  left: 312px;
  position: absolute;
}

#mVi2Navigation_DropDownBoxComponentList.DropDownBoxView {
  width: 190px;
}

#mVi2Navigation_DropDownBoxComponentList.DropDownBoxView {
  height: 40px;
}

#mVi2Navigation_DropDownBoxComponentList {
  z-index: 10;
}

#mVi2Navigation_DropDownBoxComponentList > .ItemView.itemSelected:not(.itemDisabled) > .TextView.textSelected {
  color: white;
}

#mVi2Navigation_DropDownBoxComponentList .TextView {
  font-size: 16px;
}

#mVi2Navigation_DropDownBoxComponentList_listBoxWrapper .TextView {
  font-size: 16px;
}

#mVi2Navigation_Label4 {
  height: 30px;
}

#mVi2Navigation_Label4 {
  top: 10px;
  position: absolute;
}

#mVi2Navigation_Label4 {
  left: 156px;
  position: absolute;
}

#mVi2Navigation_Label4 {
  width: 200px;
}

#mVi2Navigation_Label4 {
  z-index: 12;
}

#mVi2Navigation_Label4 {
  font-size: 16px;
}

#mVi2Navigation_Label4 {
  font-weight: bold;
}

#mVi2Navigation_Image1 {
  top: -35px;
  position: absolute;
}

#mVi2Navigation_Image1 {
  left: 25px;
  position: absolute;
}

#mVi2Navigation_Image1 {
  width: 200px;
}

#mVi2Navigation_Image1 {
  height: 150px;
}

#mVi2Navigation_Image1 {
  z-index: 2;
}

#mVi2Navigation_Image1 {
  border-width: 2px;
}

#mVi2Navigation_Image1 {
  margin: 0px;
}

#mVi2Navigation_LoginInfo {
  width: 120px;
}

#mVi2Navigation_LoginInfo {
  height: 30px;
}

#mVi2Navigation_LoginInfo {
  top: 10px;
  position: absolute;
}

#mVi2Navigation_LoginInfo {
  left: 1693px;
  position: absolute;
}

#mVi2Navigation_LoginInfo {
  z-index: 4;
}

#mVi2Navigation_LoginInfo span {
  color: #646464;
}

#mVi2Navigation_LoginInfo {
  font-weight: normal;
}

#mVi2Navigation_LogoutButton {
  top: 5px;
  position: absolute;
}

#mVi2Navigation_LogoutButton {
  left: 1860px;
  position: absolute;
}

#mVi2Navigation_LogoutButton {
  width: 48px;
}

#mVi2Navigation_LogoutButton {
  height: 20px;
}

#mVi2Navigation_LogoutButton {
  z-index: 6;
}

#mVi2Navigation_LogoutButton img {
  height: 28px;
}

#mVi2Navigation_LogoutButton svg {
  height: 28px;
}

#mVi2Navigation_LogoutButton:not(.active):not(.disabled):not(.checked) svg {
  fill: #505050;
}

#mVi2Navigation_LogoutButton.active svg {
  fill: white;
}

#mVi2Navigation_LogoutButton span {
  font-size: 12px;
}

#mVi2Navigation_LogoutButton span {
  font-weight: bold;
}

#mVi2Navigation_LogoutButton {
  padding: 20px 10px;
}

#mVi2Navigation_CurrentUserLabel {
  height: 30px;
}

#mVi2Navigation_CurrentUserLabel {
  top: 10px;
  position: absolute;
}

#mVi2Navigation_CurrentUserLabel {
  left: 1595px;
  position: absolute;
}

#mVi2Navigation_CurrentUserLabel {
  width: 106px;
}

#mVi2Navigation_CurrentUserLabel {
  z-index: 7;
}

#mVi2Navigation_CurrentUserLabel {
  font-size: 16px;
}

#mVi2Navigation_CurrentUserLabel {
  font-weight: bold;
}

#mVi2Navigation_Rectangle1 {
  top: 0px;
  position: absolute;
}

#mVi2Navigation_Rectangle1 {
  left: 105px;
  position: absolute;
}

#mVi2Navigation_Rectangle1 {
  width: 135px;
}

#mVi2Navigation_Rectangle1 {
  height: 60px;
}

#mVi2Navigation_Rectangle1 {
  z-index: 8;
}

#mVi2Navigation_Rectangle1 {
  border-width: 0px;
}

#mVi2Navigation_Rectangle1 {
  background-color: silver;
}

#mVi2Navigation_Image2 {
  top: 11px;
  position: absolute;
}

#mVi2Navigation_Image2 {
  left: 1574px;
  position: absolute;
}

#mVi2Navigation_Image2 {
  width: 25px;
}

#mVi2Navigation_Image2 {
  height: 25px;
}

#mVi2Navigation_Image2 {
  z-index: 9;
}

#mVi2Navigation_Image2 {
  border-width: 0px;
}

#mVi2Navigation_Image2 > .ImageView > svg {
  fill: gray;
}

#mVi2Navigation_ImageArrow {
  top: 14px;
  position: absolute;
}

#mVi2Navigation_ImageArrow {
  left: 480px;
  position: absolute;
}

#mVi2Navigation_ImageArrow {
  width: 24px;
}

#mVi2Navigation_ImageArrow {
  height: 22px;
}

#mVi2Navigation_ImageArrow {
  z-index: 5;
}

#mVi2Navigation_ImageArrow > .ImageView > svg {
  fill: #646464;
}

#mVi2Navigation_TextOutputVisionFunction {
  top: 6px;
  position: absolute;
}

#mVi2Navigation_TextOutputVisionFunction {
  left: 312px;
  position: absolute;
}

#mVi2Navigation_TextOutputVisionFunction {
  width: 190px;
}

#mVi2Navigation_TextOutputVisionFunction {
  height: 40px;
}

#mVi2Navigation_TextOutputVisionFunction {
  z-index: 0;
}

#mVi2Navigation_GroupBoxLogger {
  top: 0px;
  position: absolute;
}

#mVi2Navigation_GroupBoxLogger {
  left: 540px;
  position: absolute;
}

#mVi2Navigation_GroupBoxLogger {
  width: 999px;
}

#mVi2Navigation_GroupBoxLogger {
  height: 53px;
}

#mVi2Navigation_GroupBoxLogger {
  z-index: 11;
}

#mVi2Navigation_GroupBoxLogger {
  background-color: rgba(255, 255, 255, 0);
}

#mVi2Navigation_ImageLoggerError {
  top: 11px;
  position: absolute;
}

#mVi2Navigation_ImageLoggerError {
  left: 720px;
  position: absolute;
}

#mVi2Navigation_ImageLoggerError {
  width: 26px;
}

#mVi2Navigation_ImageLoggerError {
  height: 24px;
}

#mVi2Navigation_ImageLoggerError {
  z-index: 2;
}

#mVi2Navigation_ImageLoggerWarning {
  top: 11px;
  position: absolute;
}

#mVi2Navigation_ImageLoggerWarning {
  left: 768px;
  position: absolute;
}

#mVi2Navigation_ImageLoggerWarning {
  width: 26px;
}

#mVi2Navigation_ImageLoggerWarning {
  height: 24px;
}

#mVi2Navigation_ImageLoggerWarning {
  z-index: 1;
}

#mVi2Navigation_ImageLoggerSuccess {
  top: 12px;
  position: absolute;
}

#mVi2Navigation_ImageLoggerSuccess {
  left: 876px;
  position: absolute;
}

#mVi2Navigation_ImageLoggerSuccess {
  width: 26px;
}

#mVi2Navigation_ImageLoggerSuccess {
  height: 24px;
}

#mVi2Navigation_ImageLoggerSuccess {
  z-index: 3;
}

#mVi2Navigation_btnLogger {
  top: 5px;
  position: absolute;
}

#mVi2Navigation_btnLogger {
  left: 924px;
  position: absolute;
}

#mVi2Navigation_btnLogger {
  width: 48px;
}

#mVi2Navigation_btnLogger {
  height: 38px;
}

#mVi2Navigation_btnLogger {
  z-index: 4;
}

#mVi2Navigation_btnLogger img {
  height: 28px;
}

#mVi2Navigation_btnLogger svg {
  height: 28px;
}

#mVi2Navigation_btnLogger img {
  width: 26px;
}

#mVi2Navigation_btnLogger svg {
  width: 26px;
}

#mVi2Navigation_btnLogger:not(.active):not(.disabled):not(.checked) svg {
  fill: #505050;
}

#mVi2Navigation_btnLogger {
  justify-content: flex-start;
  text-align: left;
}

#mVi2Navigation_btnLogger {
  padding: 10px;
}

#mVi2Navigation_btnLogger:not(.active):not(.checked) {
  box-shadow: none;
}

#mVi2Navigation_btnLogger.disabled.active {
  box-shadow: none;
}

#mVi2Navigation_btnLogger.disabled.checked {
  box-shadow: none;
}

#mVi2Navigation_Line3 {
  z-index: 5;
}

#mVi2Navigation_lmageLoggerInfo {
  top: 12px;
  position: absolute;
}

#mVi2Navigation_lmageLoggerInfo {
  left: 828px;
  position: absolute;
}

#mVi2Navigation_lmageLoggerInfo {
  width: 26px;
}

#mVi2Navigation_lmageLoggerInfo {
  height: 24px;
}

#mVi2Navigation_lmageLoggerInfo {
  z-index: 6;
}

#mVi2Navigation_NumericOutputLoggerCounterInformation {
  height: 30px;
}

#mVi2Navigation_NumericOutputLoggerCounterInformation {
  top: 11px;
  position: absolute;
}

#mVi2Navigation_NumericOutputLoggerCounterInformation {
  left: 828px;
  position: absolute;
}

#mVi2Navigation_NumericOutputLoggerCounterInformation {
  width: 60px;
}

#mVi2Navigation_NumericOutputLoggerCounterInformation {
  z-index: 7;
}

#mVi2Navigation_NumericOutputLoggerCounterInformation input {
  justify-content: flex-start;
  text-align: left;
}

#mVi2Navigation_NumericOutputLoggerCounterInformation input {
  font-weight: bold;
}

#mVi2Navigation_NumericOutputLoggerCounterOfSuccesses {
  height: 30px;
}

#mVi2Navigation_NumericOutputLoggerCounterOfSuccesses {
  top: 11px;
  position: absolute;
}

#mVi2Navigation_NumericOutputLoggerCounterOfSuccesses {
  left: 876px;
  position: absolute;
}

#mVi2Navigation_NumericOutputLoggerCounterOfSuccesses {
  width: 60px;
}

#mVi2Navigation_NumericOutputLoggerCounterOfSuccesses {
  z-index: 8;
}

#mVi2Navigation_NumericOutputLoggerCounterOfSuccesses input {
  justify-content: flex-start;
  text-align: left;
}

#mVi2Navigation_NumericOutputLoggerCounterOfSuccesses input {
  font-weight: bold;
}

#mVi2Navigation_NumericOutputloggerCounterOfWarnings {
  height: 30px;
}

#mVi2Navigation_NumericOutputloggerCounterOfWarnings {
  top: 11px;
  position: absolute;
}

#mVi2Navigation_NumericOutputloggerCounterOfWarnings {
  left: 780px;
  position: absolute;
}

#mVi2Navigation_NumericOutputloggerCounterOfWarnings {
  width: 56px;
}

#mVi2Navigation_NumericOutputloggerCounterOfWarnings {
  z-index: 9;
}

#mVi2Navigation_NumericOutputloggerCounterOfWarnings input {
  justify-content: flex-start;
  text-align: left;
}

#mVi2Navigation_NumericOutputloggerCounterOfWarnings input {
  font-weight: bold;
}

#mVi2Navigation_NumericOutputloggerCounterOfWarnings {
  padding: 0px 10px 0px 15px;
}

#mVi2Navigation_NumericOutputLoggerCounterOfErrors {
  height: 30px;
}

#mVi2Navigation_NumericOutputLoggerCounterOfErrors {
  top: 11px;
  position: absolute;
}

#mVi2Navigation_NumericOutputLoggerCounterOfErrors {
  left: 720px;
  position: absolute;
}

#mVi2Navigation_NumericOutputLoggerCounterOfErrors {
  width: 80px;
}

#mVi2Navigation_NumericOutputLoggerCounterOfErrors {
  z-index: 10;
}

#mVi2Navigation_NumericOutputLoggerCounterOfErrors input {
  justify-content: flex-start;
  text-align: left;
}

#mVi2Navigation_NumericOutputLoggerCounterOfErrors input {
  font-weight: bold;
}

#mVi2Navigation_DropDownBoxVisonFunctionName {
  top: 5px;
  position: absolute;
}

#mVi2Navigation_DropDownBoxVisonFunctionName {
  left: 144px;
  position: absolute;
}

#mVi2Navigation_DropDownBoxVisonFunctionName.DropDownBoxView {
  width: 190px;
}

#mVi2Navigation_DropDownBoxVisonFunctionName.DropDownBoxView {
  height: 40px;
}

#mVi2Navigation_DropDownBoxVisonFunctionName {
  z-index: 13;
}

#mVi2Navigation_DropDownBoxVisonFunctionName > .ItemView:not(.itemSelected) {
  border-width: 0px 0px 0px 0px;
}

#mVi2Navigation_DropDownBoxVisonFunctionName > .ItemView.itemSelected:not(.itemDisabled) > .TextView.textSelected {
  color: white;
}

#mVi2Navigation_DropDownBoxVisonFunctionName .TextView {
  font-size: 16px;
}

#mVi2Navigation_DropDownBoxVisonFunctionName_listBoxWrapper .TextView {
  font-size: 16px;
}

#mVi2Navigation_Label5 {
  height: 30px;
}

#mVi2Navigation_Label5 {
  top: 10px;
  position: absolute;
}

#mVi2Navigation_Label5 {
  left: 12px;
  position: absolute;
}

#mVi2Navigation_Label5 {
  width: 200px;
}

#mVi2Navigation_Label5 {
  z-index: 11;
}

#mVi2Navigation_Label5 {
  font-size: 16px;
}

#mVi2Navigation_Label5 {
  font-weight: bold;
}

#mVi2Navigation_Label5 span {
  padding: 0px;
}

#mVi2Navigation_TextOutputVisionFunction1 {
  top: 5px;
  position: absolute;
}

#mVi2Navigation_TextOutputVisionFunction1 {
  left: 144px;
  position: absolute;
}

#mVi2Navigation_TextOutputVisionFunction1 {
  width: 190px;
}

#mVi2Navigation_TextOutputVisionFunction1 {
  height: 40px;
}

#mVi2Navigation_TextOutputVisionFunction1 {
  z-index: 0;
}

#mVi2Navigation_ImageArrow1 {
  top: 16px;
  position: absolute;
}

#mVi2Navigation_ImageArrow1 {
  left: 312px;
  position: absolute;
}

#mVi2Navigation_ImageArrow1 {
  width: 24px;
}

#mVi2Navigation_ImageArrow1 {
  height: 22px;
}

#mVi2Navigation_ImageArrow1 {
  z-index: 12;
}

#mVi2Navigation_ImageArrow1 > .ImageView > svg {
  fill: #646464;
}
