#contentRecipe_grpRecManagment {
  top: 10px;
  position: absolute;
}

#contentRecipe_grpRecManagment {
  left: 10px;
  position: absolute;
}

#contentRecipe_grpRecManagment {
  width: 660px;
}

#contentRecipe_grpRecManagment {
  height: 500px;
}

#contentRecipe_grpRecManagment {
  z-index: 0;
}

#contentRecipe_btnRecDelete {
  top: 202px;
  position: absolute;
}

#contentRecipe_btnRecDelete {
  left: 344px;
  position: absolute;
}

#contentRecipe_btnRecDelete {
  width: 160px;
}

#contentRecipe_btnRecDelete {
  height: 40px;
}

#contentRecipe_btnRecDelete {
  z-index: 10;
}

#contentRecipe_btnRecDelete {
  border-radius: 10px;
}

#contentRecipe_btnRecDelete:not(.disabled):not(.active):not(.checked) {
  background-image: linear-gradient(to bottom,#F7F7F7 0%,#f60909 100%);
}

#contentRecipe_labRecFilter {
  height: 30px;
}

#contentRecipe_labRecFilter {
  top: 13px;
  position: absolute;
}

#contentRecipe_labRecFilter {
  left: 9px;
  position: absolute;
}

#contentRecipe_labRecFilter {
  width: 41px;
}

#contentRecipe_labRecFilter {
  z-index: 17;
}

#contentRecipe_labRecFilter {
  justify-content: flex-end;
  text-align: right;
  -ms-flex-align: center;
  align-items: center;
}

#contentRecipe_txtRecFilter {
  height: 30px;
}

#contentRecipe_txtRecFilter {
  top: 13px;
  position: absolute;
}

#contentRecipe_txtRecFilter {
  left: 50px;
  position: absolute;
}

#contentRecipe_txtRecFilter {
  width: 240px;
}

#contentRecipe_txtRecFilter {
  z-index: 18;
}

#contentRecipe_btnRecRefresh {
  top: 410px;
  position: absolute;
}

#contentRecipe_btnRecRefresh {
  left: 14px;
  position: absolute;
}

#contentRecipe_btnRecRefresh {
  width: 126px;
}

#contentRecipe_btnRecRefresh {
  height: 40px;
}

#contentRecipe_btnRecRefresh {
  z-index: 1;
}

#contentRecipe_btnRecRefresh {
  border-radius: 10px;
}

#contentRecipe_labRecItems {
  top: 403px;
  position: absolute;
}

#contentRecipe_labRecItems {
  left: 194px;
  position: absolute;
}

#contentRecipe_labRecItems {
  width: 76px;
}

#contentRecipe_labRecItems {
  height: 27px;
}

#contentRecipe_labRecItems {
  z-index: 5;
}

#contentRecipe_labRecItems {
  justify-content: flex-end;
  text-align: right;
  -ms-flex-align: center;
  align-items: center;
}

#contentRecipe_numRecItems {
  top: 403px;
  position: absolute;
}

#contentRecipe_numRecItems {
  left: 274px;
  position: absolute;
}

#contentRecipe_numRecItems {
  width: 51px;
}

#contentRecipe_numRecItems {
  height: 27px;
}

#contentRecipe_numRecItems {
  z-index: 6;
}

#contentRecipe_numRecItems {
  border-width: 1px;
}

#contentRecipe_numRecItems {
  border-radius: 5px;
}

#contentRecipe_numRecItems {
  padding: 0px 5px 0px 5px;
}

#contentRecipe_btnRecLoad {
  top: 53px;
  position: absolute;
}

#contentRecipe_btnRecLoad {
  left: 344px;
  position: absolute;
}

#contentRecipe_btnRecLoad {
  width: 160px;
}

#contentRecipe_btnRecLoad {
  height: 40px;
}

#contentRecipe_btnRecLoad {
  z-index: 19;
}

#contentRecipe_btnRecLoad {
  border-radius: 10px;
}

#contentRecipe_btnRecSave {
  top: 153px;
  position: absolute;
}

#contentRecipe_btnRecSave {
  left: 344px;
  position: absolute;
}

#contentRecipe_btnRecSave {
  width: 160px;
}

#contentRecipe_btnRecSave {
  height: 40px;
}

#contentRecipe_btnRecSave {
  z-index: 20;
}

#contentRecipe_btnRecSave {
  border-radius: 10px;
}

#contentRecipe_labRecNewName {
  top: 350px;
  position: absolute;
}

#contentRecipe_labRecNewName {
  left: 354px;
  position: absolute;
}

#contentRecipe_labRecNewName {
  width: 105px;
}

#contentRecipe_labRecNewName {
  height: 18px;
}

#contentRecipe_labRecNewName {
  z-index: 21;
}

#contentRecipe_labRecNewName {
  justify-content: flex-start;
  text-align: left;
  -ms-flex-align: center;
  align-items: center;
}

#contentRecipe_txtRecNewName {
  top: 367px;
  position: absolute;
}

#contentRecipe_txtRecNewName {
  left: 354px;
  position: absolute;
}

#contentRecipe_txtRecNewName {
  width: 280px;
}

#contentRecipe_txtRecNewName {
  height: 33px;
}

#contentRecipe_txtRecNewName {
  z-index: 22;
}

#contentRecipe_btnRecNew {
  top: 410px;
  position: absolute;
}

#contentRecipe_btnRecNew {
  left: 504px;
  position: absolute;
}

#contentRecipe_btnRecNew {
  width: 131px;
}

#contentRecipe_btnRecNew {
  height: 43px;
}

#contentRecipe_btnRecNew {
  z-index: 23;
}

#contentRecipe_btnRecNew {
  border-radius: 10px;
}

#contentRecipe_btnRecRename {
  top: 410px;
  position: absolute;
}

#contentRecipe_btnRecRename {
  left: 354px;
  position: absolute;
}

#contentRecipe_btnRecRename {
  width: 131px;
}

#contentRecipe_btnRecRename {
  height: 43px;
}

#contentRecipe_btnRecRename {
  z-index: 24;
}

#contentRecipe_btnRecRename {
  border-radius: 10px;
}

#contentRecipe_lstRecNames {
  top: 50px;
  position: absolute;
}

#contentRecipe_lstRecNames {
  left: 10px;
  position: absolute;
}

#contentRecipe_lstRecNames.ListBoxView {
  width: 320px;
}

#contentRecipe_lstRecNames.ListBoxView {
  height: 350px;
}

#contentRecipe_lstRecNames {
  z-index: 25;
}

#contentRecipe_lstRecNames.ListBoxView {
  border-width: 1px;
}

#contentRecipe_lstRecNames.ListBoxView {
  border-radius: 5px;
}

#contentRecipe_btnRecView {
  top: 103px;
  position: absolute;
}

#contentRecipe_btnRecView {
  left: 344px;
  position: absolute;
}

#contentRecipe_btnRecView {
  width: 160px;
}

#contentRecipe_btnRecView {
  height: 40px;
}

#contentRecipe_btnRecView {
  z-index: 26;
}

#contentRecipe_btnRecView {
  border-radius: 10px;
}

#contentRecipe_btnRecDownload {
  top: 252px;
  position: absolute;
}

#contentRecipe_btnRecDownload {
  left: 344px;
  position: absolute;
}

#contentRecipe_btnRecDownload {
  width: 160px;
}

#contentRecipe_btnRecDownload {
  height: 40px;
}

#contentRecipe_btnRecDownload {
  z-index: 27;
}

#contentRecipe_btnRecDownload {
  border-radius: 10px;
}

#contentRecipe_WebDownload {
  top: 252px;
  position: absolute;
}

#contentRecipe_WebDownload {
  left: 354px;
  position: absolute;
}

#contentRecipe_WebDownload {
  width: 145px;
}

#contentRecipe_WebDownload {
  height: 45px;
}

#contentRecipe_WebDownload {
  z-index: 37;
}

#contentRecipe_WebDownload iframe {
  border-style: none;
}

#contentRecipe_WebDownload div.editorImage {
  border-style: none;
}

#contentRecipe_btnRecClearFilter {
  height: 30px;
}

#contentRecipe_btnRecClearFilter {
  top: 13px;
  position: absolute;
}

#contentRecipe_btnRecClearFilter {
  left: 304px;
  position: absolute;
}

#contentRecipe_btnRecClearFilter {
  width: 30px;
}

#contentRecipe_btnRecClearFilter {
  z-index: 38;
}

#contentRecipe_btnRecClearFilter {
  border-radius: 5px;
}

#contentRecipe_flyViewFile.right {
  top: 0px;
  position: absolute;
}

#contentRecipe_flyViewFile.left {
  top: 0px;
  position: absolute;
}

#contentRecipe_flyViewFile.top {
  left: 1px;
  position: absolute;
}

#contentRecipe_flyViewFile.bottom {
  left: 1px;
  position: absolute;
}

#contentRecipe_flyViewFile_breaseFlyOutWrapper .breaseFlyOutWrapper > .container {
  width: 1198px;
}

#contentRecipe_flyViewFile_breaseFlyOutWrapper .breaseFlyOutWrapper > .container {
  height: 500px;
}

#contentRecipe_flyViewFile {
  z-index: 10;
}

#contentRecipe_flyViewFile_breaseFlyOutWrapper .breaseFlyOutWrapper > .flyoutButton {
  width: 100px;
}

#contentRecipe_flyViewFile {
  width: 100px;
}

#contentRecipe_flyViewFile_breaseFlyOutWrapper .breaseFlyOutWrapper > .flyoutButton {
  border-width: 0px;
}

#contentRecipe_flyViewFile_breaseFlyOutWrapper .breaseFlyOutWrapper > .container {
  border-style: solid;
}

#contentRecipe_flyViewFile_breaseFlyOutWrapper .breaseFlyOutWrapper > .container {
  border-width: 1px;
}

#contentRecipe_flyViewFile_breaseFlyOutWrapper .breaseFlyOutWrapper > .container {
  border-radius: 5px;
}

#contentRecipe_flyViewFile_breaseFlyOutWrapper .breaseFlyOutWrapper > .container {
  background-color: #e0e0e0;
}

#contentRecipe_webViewFile {
  top: 60px;
  position: absolute;
}

#contentRecipe_webViewFile {
  left: 0px;
  position: absolute;
}

#contentRecipe_webViewFile {
  width: 1193px;
}

#contentRecipe_webViewFile {
  height: 433px;
}

#contentRecipe_webViewFile {
  z-index: 0;
}

#contentRecipe_webViewFile iframe {
  background-color: white;
}

#contentRecipe_webViewFile div.editorImage {
  background-color: white;
}

#contentRecipe_btnCloseViewFile {
  top: 10px;
  position: absolute;
}

#contentRecipe_btnCloseViewFile {
  left: 10px;
  position: absolute;
}

#contentRecipe_btnCloseViewFile {
  width: 164px;
}

#contentRecipe_btnCloseViewFile {
  height: 40px;
}

#contentRecipe_btnCloseViewFile {
  z-index: 1;
}

#contentRecipe_btnCloseViewFile {
  border-radius: 10px;
}

#contentRecipe_grpVaApplications {
  top: 10px;
  position: absolute;
}

#contentRecipe_grpVaApplications {
  left: 675px;
  position: absolute;
}

#contentRecipe_grpVaApplications {
  width: 520px;
}

#contentRecipe_grpVaApplications {
  height: 500px;
}

#contentRecipe_grpVaApplications {
  z-index: 11;
}

#contentRecipe_lstVaAppNames {
  top: 33px;
  position: absolute;
}

#contentRecipe_lstVaAppNames {
  left: 19px;
  position: absolute;
}

#contentRecipe_lstVaAppNames.ListBoxView {
  width: 320px;
}

#contentRecipe_lstVaAppNames.ListBoxView {
  height: 382px;
}

#contentRecipe_lstVaAppNames {
  z-index: 0;
}

#contentRecipe_lstVaAppNames.ListBoxView {
  border-width: 1px;
}

#contentRecipe_lstVaAppNames.ListBoxView {
  border-radius: 5px;
}

#contentRecipe_lstVaAppNames .ItemView {
  padding: 0px 5px;
}

#contentRecipe_lstVaAppNames .TextView {
  font-size: 14px;
}

#contentRecipe_btnVaRefresh {
  top: 83px;
  position: absolute;
}

#contentRecipe_btnVaRefresh {
  left: 349px;
  position: absolute;
}

#contentRecipe_btnVaRefresh {
  width: 151px;
}

#contentRecipe_btnVaRefresh {
  height: 40px;
}

#contentRecipe_btnVaRefresh {
  z-index: 1;
}

#contentRecipe_btnVaRefresh {
  border-radius: 10px;
}

#contentRecipe_btnVaSwitch {
  top: 33px;
  position: absolute;
}

#contentRecipe_btnVaSwitch {
  left: 349px;
  position: absolute;
}

#contentRecipe_btnVaSwitch {
  width: 150px;
}

#contentRecipe_btnVaSwitch {
  height: 40px;
}

#contentRecipe_btnVaSwitch {
  z-index: 2;
}

#contentRecipe_btnVaSwitch {
  border-radius: 10px;
}

#contentRecipe_labVaAppName {
  top: 6px;
  position: absolute;
}

#contentRecipe_labVaAppName {
  left: 19px;
  position: absolute;
}

#contentRecipe_labVaAppName {
  width: 310px;
}

#contentRecipe_labVaAppName {
  height: 29px;
}

#contentRecipe_labVaAppName {
  z-index: 3;
}

#contentRecipe_labVaAppName {
  justify-content: center;
  text-align: center;
  -ms-flex-align: center;
  align-items: center;
}

#contentRecipe_labVaStatus {
  top: 423px;
  position: absolute;
}

#contentRecipe_labVaStatus {
  left: 19px;
  position: absolute;
}

#contentRecipe_labVaStatus {
  width: 71px;
}

#contentRecipe_labVaStatus {
  height: 31px;
}

#contentRecipe_labVaStatus {
  z-index: 4;
}

#contentRecipe_labVaStatus {
  justify-content: flex-start;
  text-align: left;
  -ms-flex-align: center;
  align-items: center;
}

#contentRecipe_numVaStatus {
  top: 428px;
  position: absolute;
}

#contentRecipe_numVaStatus {
  left: 79px;
  position: absolute;
}

#contentRecipe_numVaStatus {
  width: 160px;
}

#contentRecipe_numVaStatus {
  height: 27px;
}

#contentRecipe_numVaStatus {
  z-index: 5;
}

#contentRecipe_numVaStatus {
  border-width: 1px;
}

#contentRecipe_numVaStatus {
  border-radius: 5px;
}

#contentRecipe_numVaStatus {
  padding: 0px 5px 0px 5px;
}
