﻿@import "mixins.scss";
#mVi2MainContent_Label1 {
	@include elemTop(40);
}
#mVi2MainContent_Label1 {
	@include elemLeft(40);
}
#mVi2MainContent_Label1 {
	@include elemAutoWidth(720);
}
#mVi2MainContent_Label1 {
	@include elemAutoHeight(30);
}
#mVi2MainContent_Label1 {
		z-index: 0;
}
#mVi2MainContent_Label1 {
		font-size: 16px;
}
