
#parent_mCo_logo {
    position: relative;
    height: 100%;
    width: 100%;
    background: var(--main-black);
    background-image: url(../images/Background.png);
    background-size: cover;
}

#mCo_logo {
    position: absolute;
    left: 4%;
    bottom: 4%;
    width: 10%;
    height: auto;
    content: url(../images/mappCockpitLogo.svg?v5.13);
}
