﻿@import "mixins.scss";
#contentRecipe_grpRecManagment {
	@include elemTop(10);
}
#contentRecipe_grpRecManagment {
	@include elemLeft(10);
}
#contentRecipe_grpRecManagment {
	@include elemWidth(660);
}
#contentRecipe_grpRecManagment {
	@include elemHeight(500);
}
#contentRecipe_grpRecManagment {
		z-index: 0;
}
#contentRecipe_btnRecDelete {
	@include elemTop(202);
}
#contentRecipe_btnRecDelete {
	@include elemLeft(344);
}
#contentRecipe_btnRecDelete {
	@include elemAutoWidth(160);
}
#contentRecipe_btnRecDelete {
	@include elemAutoHeight(40);
}
#contentRecipe_btnRecDelete {
		z-index: 10;
}
#contentRecipe_btnRecDelete {
	@include border-radius(10px);
}
#contentRecipe_btnRecDelete {
	&:not(.disabled):not(.active):not(.checked){
	@include backGroundGradient('linear-gradient(to bottom,#F7F7F7 0%,#f60909 100%)');
	}
}
#contentRecipe_labRecFilter {
	@include elemAutoHeight(30);
}
#contentRecipe_labRecFilter {
	@include elemTop(13);
}
#contentRecipe_labRecFilter {
	@include elemLeft(9);
}
#contentRecipe_labRecFilter {
	@include elemAutoWidth(41);
}
#contentRecipe_labRecFilter {
		z-index: 17;
}
#contentRecipe_labRecFilter {
	@include text-alignment-all('right');
}
#contentRecipe_txtRecFilter {
	@include elemHeight(30);
}
#contentRecipe_txtRecFilter {
	@include elemTop(13);
}
#contentRecipe_txtRecFilter {
	@include elemLeft(50);
}
#contentRecipe_txtRecFilter {
	@include elemWidth(240);
}
#contentRecipe_txtRecFilter {
		z-index: 18;
}
#contentRecipe_btnRecRefresh {
	@include elemTop(410);
}
#contentRecipe_btnRecRefresh {
	@include elemLeft(14);
}
#contentRecipe_btnRecRefresh {
	@include elemAutoWidth(126);
}
#contentRecipe_btnRecRefresh {
	@include elemAutoHeight(40);
}
#contentRecipe_btnRecRefresh {
		z-index: 1;
}
#contentRecipe_btnRecRefresh {
	@include border-radius(10px);
}
#contentRecipe_labRecItems {
	@include elemTop(403);
}
#contentRecipe_labRecItems {
	@include elemLeft(194);
}
#contentRecipe_labRecItems {
	@include elemAutoWidth(76);
}
#contentRecipe_labRecItems {
	@include elemAutoHeight(27);
}
#contentRecipe_labRecItems {
		z-index: 5;
}
#contentRecipe_labRecItems {
	@include text-alignment-all('right');
}
#contentRecipe_numRecItems {
	@include elemTop(403);
}
#contentRecipe_numRecItems {
	@include elemLeft(274);
}
#contentRecipe_numRecItems {
	@include elemAutoWidth(51);
}
#contentRecipe_numRecItems {
	@include elemAutoHeight(27);
}
#contentRecipe_numRecItems {
		z-index: 6;
}
#contentRecipe_numRecItems {
		border-width: 1px;
}
#contentRecipe_numRecItems {
	@include border-radius(5px);
}
#contentRecipe_numRecItems {
		padding: 0px 5px 0px 5px;
}
#contentRecipe_btnRecLoad {
	@include elemTop(53);
}
#contentRecipe_btnRecLoad {
	@include elemLeft(344);
}
#contentRecipe_btnRecLoad {
	@include elemAutoWidth(160);
}
#contentRecipe_btnRecLoad {
	@include elemAutoHeight(40);
}
#contentRecipe_btnRecLoad {
		z-index: 19;
}
#contentRecipe_btnRecLoad {
	@include border-radius(10px);
}
#contentRecipe_btnRecSave {
	@include elemTop(153);
}
#contentRecipe_btnRecSave {
	@include elemLeft(344);
}
#contentRecipe_btnRecSave {
	@include elemAutoWidth(160);
}
#contentRecipe_btnRecSave {
	@include elemAutoHeight(40);
}
#contentRecipe_btnRecSave {
		z-index: 20;
}
#contentRecipe_btnRecSave {
	@include border-radius(10px);
}
#contentRecipe_labRecNewName {
	@include elemTop(350);
}
#contentRecipe_labRecNewName {
	@include elemLeft(354);
}
#contentRecipe_labRecNewName {
	@include elemAutoWidth(105);
}
#contentRecipe_labRecNewName {
	@include elemAutoHeight(18);
}
#contentRecipe_labRecNewName {
		z-index: 21;
}
#contentRecipe_labRecNewName {
	@include text-alignment-all('left');
}
#contentRecipe_txtRecNewName {
	@include elemTop(367);
}
#contentRecipe_txtRecNewName {
	@include elemLeft(354);
}
#contentRecipe_txtRecNewName {
	@include elemWidth(280);
}
#contentRecipe_txtRecNewName {
	@include elemHeight(33);
}
#contentRecipe_txtRecNewName {
		z-index: 22;
}
#contentRecipe_btnRecNew {
	@include elemTop(410);
}
#contentRecipe_btnRecNew {
	@include elemLeft(504);
}
#contentRecipe_btnRecNew {
	@include elemAutoWidth(131);
}
#contentRecipe_btnRecNew {
	@include elemAutoHeight(43);
}
#contentRecipe_btnRecNew {
		z-index: 23;
}
#contentRecipe_btnRecNew {
	@include border-radius(10px);
}
#contentRecipe_btnRecRename {
	@include elemTop(410);
}
#contentRecipe_btnRecRename {
	@include elemLeft(354);
}
#contentRecipe_btnRecRename {
	@include elemAutoWidth(131);
}
#contentRecipe_btnRecRename {
	@include elemAutoHeight(43);
}
#contentRecipe_btnRecRename {
		z-index: 24;
}
#contentRecipe_btnRecRename {
	@include border-radius(10px);
}
#contentRecipe_lstRecNames {
	@include elemTop(50);
}
#contentRecipe_lstRecNames {
	@include elemLeft(10);
}
#contentRecipe_lstRecNames {
	&.ListBoxView{
	@include elemWidth(320);
	}
}
#contentRecipe_lstRecNames {
	&.ListBoxView{
	@include elemHeight(350);
	}
}
#contentRecipe_lstRecNames {
		z-index: 25;
}
#contentRecipe_lstRecNames {
	&.ListBoxView{
		border-width: 1px;
	}
}
#contentRecipe_lstRecNames {
	&.ListBoxView{
	@include border-radius(5px);
	}
}
#contentRecipe_btnRecView {
	@include elemTop(103);
}
#contentRecipe_btnRecView {
	@include elemLeft(344);
}
#contentRecipe_btnRecView {
	@include elemAutoWidth(160);
}
#contentRecipe_btnRecView {
	@include elemAutoHeight(40);
}
#contentRecipe_btnRecView {
		z-index: 26;
}
#contentRecipe_btnRecView {
	@include border-radius(10px);
}
#contentRecipe_btnRecDownload {
	@include elemTop(252);
}
#contentRecipe_btnRecDownload {
	@include elemLeft(344);
}
#contentRecipe_btnRecDownload {
	@include elemAutoWidth(160);
}
#contentRecipe_btnRecDownload {
	@include elemAutoHeight(40);
}
#contentRecipe_btnRecDownload {
		z-index: 27;
}
#contentRecipe_btnRecDownload {
	@include border-radius(10px);
}
#contentRecipe_WebDownload {
	@include elemTop(252);
}
#contentRecipe_WebDownload {
	@include elemLeft(354);
}
#contentRecipe_WebDownload {
	@include elemWidth(145);
}
#contentRecipe_WebDownload {
	@include elemHeight(45);
}
#contentRecipe_WebDownload {
		z-index: 37;
}
#contentRecipe_WebDownload {
	& iframe{
		border-style: none;
	}
}
#contentRecipe_WebDownload {
	& div.editorImage{
		border-style: none;
	}
}
#contentRecipe_btnRecClearFilter {
	@include elemAutoHeight(30);
}
#contentRecipe_btnRecClearFilter {
	@include elemTop(13);
}
#contentRecipe_btnRecClearFilter {
	@include elemLeft(304);
}
#contentRecipe_btnRecClearFilter {
	@include elemAutoWidth(30);
}
#contentRecipe_btnRecClearFilter {
		z-index: 38;
}
#contentRecipe_btnRecClearFilter {
	@include border-radius(5px);
}
#contentRecipe_flyViewFile {
	&.right{
	@include elemTop(0);
	}
}
#contentRecipe_flyViewFile {
	&.left{
	@include elemTop(0);
	}
}
#contentRecipe_flyViewFile {
	&.top{
	@include elemLeft(1);
	}
}
#contentRecipe_flyViewFile {
	&.bottom{
	@include elemLeft(1);
	}
}
#contentRecipe_flyViewFile_breaseFlyOutWrapper {
	.breaseFlyOutWrapper > .container{
	@include elemWidth(1198);
	}
}
#contentRecipe_flyViewFile_breaseFlyOutWrapper {
	.breaseFlyOutWrapper > .container{
	@include elemHeight(500);
	}
}
#contentRecipe_flyViewFile {
		z-index: 10;
}
#contentRecipe_flyViewFile_breaseFlyOutWrapper {
	.breaseFlyOutWrapper > .flyoutButton{
	@include elemWidth(100);
	}
}
#contentRecipe_flyViewFile {
	@include elemWidth(100);
}
#contentRecipe_flyViewFile_breaseFlyOutWrapper {
	.breaseFlyOutWrapper > .flyoutButton{
		border-width: 0px;
	}
}
#contentRecipe_flyViewFile_breaseFlyOutWrapper {
	.breaseFlyOutWrapper > .container{
		border-style: solid;
	}
}
#contentRecipe_flyViewFile_breaseFlyOutWrapper {
	.breaseFlyOutWrapper > .container{
		border-width: 1px;
	}
}
#contentRecipe_flyViewFile_breaseFlyOutWrapper {
	.breaseFlyOutWrapper > .container{
	@include border-radius(5px);
	}
}
#contentRecipe_flyViewFile_breaseFlyOutWrapper {
	.breaseFlyOutWrapper > .container{
		background-color: rgba(224, 224, 224, 1);
	}
}
#contentRecipe_webViewFile {
	@include elemTop(60);
}
#contentRecipe_webViewFile {
	@include elemLeft(0);
}
#contentRecipe_webViewFile {
	@include elemWidth(1193);
}
#contentRecipe_webViewFile {
	@include elemHeight(433);
}
#contentRecipe_webViewFile {
		z-index: 0;
}
#contentRecipe_webViewFile {
	& iframe{
		background-color: rgba(255, 255, 255, 1);
	}
}
#contentRecipe_webViewFile {
	& div.editorImage{
		background-color: rgba(255, 255, 255, 1);
	}
}
#contentRecipe_btnCloseViewFile {
	@include elemTop(10);
}
#contentRecipe_btnCloseViewFile {
	@include elemLeft(10);
}
#contentRecipe_btnCloseViewFile {
	@include elemAutoWidth(164);
}
#contentRecipe_btnCloseViewFile {
	@include elemAutoHeight(40);
}
#contentRecipe_btnCloseViewFile {
		z-index: 1;
}
#contentRecipe_btnCloseViewFile {
	@include border-radius(10px);
}
#contentRecipe_grpVaApplications {
	@include elemTop(10);
}
#contentRecipe_grpVaApplications {
	@include elemLeft(675);
}
#contentRecipe_grpVaApplications {
	@include elemWidth(520);
}
#contentRecipe_grpVaApplications {
	@include elemHeight(500);
}
#contentRecipe_grpVaApplications {
		z-index: 11;
}
#contentRecipe_lstVaAppNames {
	@include elemTop(33);
}
#contentRecipe_lstVaAppNames {
	@include elemLeft(19);
}
#contentRecipe_lstVaAppNames {
	&.ListBoxView{
	@include elemWidth(320);
	}
}
#contentRecipe_lstVaAppNames {
	&.ListBoxView{
	@include elemHeight(382);
	}
}
#contentRecipe_lstVaAppNames {
		z-index: 0;
}
#contentRecipe_lstVaAppNames {
	&.ListBoxView{
		border-width: 1px;
	}
}
#contentRecipe_lstVaAppNames {
	&.ListBoxView{
	@include border-radius(5px);
	}
}
#contentRecipe_lstVaAppNames {
	.ItemView{
		padding: 0px 5px;
	}
}
#contentRecipe_lstVaAppNames {
	.TextView{
		font-size: 14px;
	}
}
#contentRecipe_btnVaRefresh {
	@include elemTop(83);
}
#contentRecipe_btnVaRefresh {
	@include elemLeft(349);
}
#contentRecipe_btnVaRefresh {
	@include elemAutoWidth(151);
}
#contentRecipe_btnVaRefresh {
	@include elemAutoHeight(40);
}
#contentRecipe_btnVaRefresh {
		z-index: 1;
}
#contentRecipe_btnVaRefresh {
	@include border-radius(10px);
}
#contentRecipe_btnVaSwitch {
	@include elemTop(33);
}
#contentRecipe_btnVaSwitch {
	@include elemLeft(349);
}
#contentRecipe_btnVaSwitch {
	@include elemAutoWidth(150);
}
#contentRecipe_btnVaSwitch {
	@include elemAutoHeight(40);
}
#contentRecipe_btnVaSwitch {
		z-index: 2;
}
#contentRecipe_btnVaSwitch {
	@include border-radius(10px);
}
#contentRecipe_labVaAppName {
	@include elemTop(6);
}
#contentRecipe_labVaAppName {
	@include elemLeft(19);
}
#contentRecipe_labVaAppName {
	@include elemAutoWidth(310);
}
#contentRecipe_labVaAppName {
	@include elemAutoHeight(29);
}
#contentRecipe_labVaAppName {
		z-index: 3;
}
#contentRecipe_labVaAppName {
	@include text-alignment-all('center');
}
#contentRecipe_labVaStatus {
	@include elemTop(423);
}
#contentRecipe_labVaStatus {
	@include elemLeft(19);
}
#contentRecipe_labVaStatus {
	@include elemAutoWidth(71);
}
#contentRecipe_labVaStatus {
	@include elemAutoHeight(31);
}
#contentRecipe_labVaStatus {
		z-index: 4;
}
#contentRecipe_labVaStatus {
	@include text-alignment-all('left');
}
#contentRecipe_numVaStatus {
	@include elemTop(428);
}
#contentRecipe_numVaStatus {
	@include elemLeft(79);
}
#contentRecipe_numVaStatus {
	@include elemAutoWidth(160);
}
#contentRecipe_numVaStatus {
	@include elemAutoHeight(27);
}
#contentRecipe_numVaStatus {
		z-index: 5;
}
#contentRecipe_numVaStatus {
		border-width: 1px;
}
#contentRecipe_numVaStatus {
	@include border-radius(5px);
}
#contentRecipe_numVaStatus {
		padding: 0px 5px 0px 5px;
}
