﻿@import "mixins.scss";
#contentNettime_grpNettime {
	@include elemTop(10);
}
#contentNettime_grpNettime {
	@include elemLeft(475);
}
#contentNettime_grpNettime {
	@include elemWidth(710);
}
#contentNettime_grpNettime {
	@include elemHeight(330);
}
#contentNettime_grpNettime {
		z-index: 0;
}
#contentNettime_labNettime4 {
	@include elemTop(8);
}
#contentNettime_labNettime4 {
	@include elemLeft(20);
}
#contentNettime_labNettime4 {
	@include elemAutoWidth(200);
}
#contentNettime_labNettime4 {
	@include elemAutoHeight(40);
}
#contentNettime_labNettime4 {
		z-index: 0;
}
#contentNettime_labNettime4 {
	@include text-alignment-all('right');
}
#contentNettime_labNettime4 {
		font-size: 20px;
}
#contentNettime_labNettime4 {
	@include font-weight-bold(true);
}
#contentNettime_numAxisPeriod {
	@include elemWidth(100);
}
#contentNettime_numAxisPeriod {
	@include elemTop(8);
}
#contentNettime_numAxisPeriod {
	@include elemLeft(224);
}
#contentNettime_numAxisPeriod {
	@include elemHeight(40);
}
#contentNettime_numAxisPeriod {
		z-index: 1;
}
#contentNettime_numAxisPeriod {
	input{
		font-size: 18px;
	}
}
#contentNettime_numAxisPeriod {
		padding: 0px 5px 0px 5px;
}
#contentNettime_labNettime5 {
	@include elemTop(108);
}
#contentNettime_labNettime5 {
	@include elemLeft(20);
}
#contentNettime_labNettime5 {
	@include elemAutoWidth(200);
}
#contentNettime_labNettime5 {
	@include elemAutoHeight(40);
}
#contentNettime_labNettime5 {
		z-index: 2;
}
#contentNettime_labNettime5 {
	@include text-alignment-all('right');
}
#contentNettime_labNettime5 {
		font-size: 20px;
}
#contentNettime_labNettime5 {
	@include font-weight-bold(true);
}
#contentNettime_numPowerlinkDelayAcopos {
	@include elemWidth(100);
}
#contentNettime_numPowerlinkDelayAcopos {
	@include elemTop(108);
}
#contentNettime_numPowerlinkDelayAcopos {
	@include elemLeft(224);
}
#contentNettime_numPowerlinkDelayAcopos {
	@include elemHeight(40);
}
#contentNettime_numPowerlinkDelayAcopos {
		z-index: 3;
}
#contentNettime_numPowerlinkDelayAcopos {
	input{
		font-size: 18px;
	}
}
#contentNettime_numPowerlinkDelayAcopos {
		padding: 0px 5px 0px 5px;
}
#contentNettime_labNettime6 {
	@include elemTop(58);
}
#contentNettime_labNettime6 {
	@include elemLeft(20);
}
#contentNettime_labNettime6 {
	@include elemAutoWidth(200);
}
#contentNettime_labNettime6 {
	@include elemAutoHeight(40);
}
#contentNettime_labNettime6 {
		z-index: 4;
}
#contentNettime_labNettime6 {
	@include text-alignment-all('right');
}
#contentNettime_labNettime6 {
		font-size: 20px;
}
#contentNettime_labNettime6 {
	@include font-weight-bold(true);
}
#contentNettime_numPositionTrigger {
	@include elemWidth(100);
}
#contentNettime_numPositionTrigger {
	@include elemTop(58);
}
#contentNettime_numPositionTrigger {
	@include elemLeft(224);
}
#contentNettime_numPositionTrigger {
	@include elemHeight(40);
}
#contentNettime_numPositionTrigger {
		z-index: 5;
}
#contentNettime_numPositionTrigger {
	input{
		font-size: 18px;
	}
}
#contentNettime_numPositionTrigger {
		padding: 0px 5px 0px 5px;
}
#contentNettime_txtPowerlinkCycle {
	@include elemTop(8);
}
#contentNettime_txtPowerlinkCycle {
	@include elemLeft(534);
}
#contentNettime_txtPowerlinkCycle {
	@include elemAutoWidth(140);
}
#contentNettime_txtPowerlinkCycle {
	@include elemAutoHeight(37);
}
#contentNettime_txtPowerlinkCycle {
		z-index: 6;
}
#contentNettime_txtPowerlinkCycle {
		border-width: 2px;
}
#contentNettime_txtPowerlinkCycle {
	@include border-radius(5px);
}
#contentNettime_txtPowerlinkCycle {
	input{
		font-size: 18px;
	}
}
#contentNettime_txtPowerlinkCycle {
		padding: 0px 5px 0px 5px;
}
#contentNettime_labNettime7 {
	@include elemTop(8);
}
#contentNettime_labNettime7 {
	@include elemLeft(339);
}
#contentNettime_labNettime7 {
	@include elemAutoWidth(182);
}
#contentNettime_labNettime7 {
	@include elemAutoHeight(40);
}
#contentNettime_labNettime7 {
		z-index: 7;
}
#contentNettime_labNettime7 {
	@include text-alignment-all('right');
}
#contentNettime_labNettime7 {
		font-size: 20px;
}
#contentNettime_labNettime7 {
	@include font-weight-bold(true);
}
#contentNettime_txtPositionDelta {
	@include elemTop(58);
}
#contentNettime_txtPositionDelta {
	@include elemLeft(534);
}
#contentNettime_txtPositionDelta {
	@include elemAutoWidth(140);
}
#contentNettime_txtPositionDelta {
	@include elemAutoHeight(37);
}
#contentNettime_txtPositionDelta {
		z-index: 8;
}
#contentNettime_txtPositionDelta {
		border-width: 2px;
}
#contentNettime_txtPositionDelta {
	@include border-radius(5px);
}
#contentNettime_txtPositionDelta {
	input{
		font-size: 18px;
	}
}
#contentNettime_txtPositionDelta {
		padding: 0px 5px 0px 5px;
}
#contentNettime_labNettime10 {
	@include elemTop(58);
}
#contentNettime_labNettime10 {
	@include elemLeft(339);
}
#contentNettime_labNettime10 {
	@include elemAutoWidth(182);
}
#contentNettime_labNettime10 {
	@include elemAutoHeight(40);
}
#contentNettime_labNettime10 {
		z-index: 9;
}
#contentNettime_labNettime10 {
	@include text-alignment-all('right');
}
#contentNettime_labNettime10 {
		font-size: 20px;
}
#contentNettime_labNettime10 {
	@include font-weight-bold(true);
}
#contentNettime_txtTimeDelta {
	@include elemTop(108);
}
#contentNettime_txtTimeDelta {
	@include elemLeft(534);
}
#contentNettime_txtTimeDelta {
	@include elemAutoWidth(140);
}
#contentNettime_txtTimeDelta {
	@include elemAutoHeight(37);
}
#contentNettime_txtTimeDelta {
		z-index: 10;
}
#contentNettime_txtTimeDelta {
		border-width: 2px;
}
#contentNettime_txtTimeDelta {
	@include border-radius(5px);
}
#contentNettime_txtTimeDelta {
	input{
		font-size: 18px;
	}
}
#contentNettime_txtTimeDelta {
		padding: 0px 5px 0px 5px;
}
#contentNettime_labNettime11 {
	@include elemTop(108);
}
#contentNettime_labNettime11 {
	@include elemLeft(339);
}
#contentNettime_labNettime11 {
	@include elemAutoWidth(182);
}
#contentNettime_labNettime11 {
	@include elemAutoHeight(40);
}
#contentNettime_labNettime11 {
		z-index: 11;
}
#contentNettime_labNettime11 {
	@include text-alignment-all('right');
}
#contentNettime_labNettime11 {
		font-size: 20px;
}
#contentNettime_labNettime11 {
	@include font-weight-bold(true);
}
#contentNettime_txtNettimeOverflow {
	@include elemTop(158);
}
#contentNettime_txtNettimeOverflow {
	@include elemLeft(534);
}
#contentNettime_txtNettimeOverflow {
	@include elemAutoWidth(140);
}
#contentNettime_txtNettimeOverflow {
	@include elemAutoHeight(37);
}
#contentNettime_txtNettimeOverflow {
		z-index: 12;
}
#contentNettime_txtNettimeOverflow {
		border-width: 2px;
}
#contentNettime_txtNettimeOverflow {
	@include border-radius(5px);
}
#contentNettime_txtNettimeOverflow {
	input{
		font-size: 18px;
	}
}
#contentNettime_txtNettimeOverflow {
		padding: 0px 5px 0px 5px;
}
#contentNettime_labNettime12 {
	@include elemTop(158);
}
#contentNettime_labNettime12 {
	@include elemLeft(339);
}
#contentNettime_labNettime12 {
	@include elemAutoWidth(182);
}
#contentNettime_labNettime12 {
	@include elemAutoHeight(40);
}
#contentNettime_labNettime12 {
		z-index: 13;
}
#contentNettime_labNettime12 {
	@include text-alignment-all('right');
}
#contentNettime_labNettime12 {
		font-size: 20px;
}
#contentNettime_labNettime12 {
	@include font-weight-bold(true);
}
#contentNettime_btnNettimeActivate {
	@include elemTop(213);
}
#contentNettime_btnNettimeActivate {
	@include elemLeft(29);
}
#contentNettime_btnNettimeActivate {
	@include elemAutoWidth(266);
}
#contentNettime_btnNettimeActivate {
	@include elemAutoHeight(60);
}
#contentNettime_btnNettimeActivate {
		z-index: 14;
}
#contentNettime_btnNettimeActivate {
	span{
		font-size: 24px;
	}
}
#contentNettime_btnNettimeActivate {
	span{
	@include font-weight-bold(true);
	}
}
#contentNettime_labNettime13 {
	@include elemTop(158);
}
#contentNettime_labNettime13 {
	@include elemLeft(20);
}
#contentNettime_labNettime13 {
	@include elemAutoWidth(200);
}
#contentNettime_labNettime13 {
	@include elemAutoHeight(40);
}
#contentNettime_labNettime13 {
		z-index: 15;
}
#contentNettime_labNettime13 {
	@include text-alignment-all('right');
}
#contentNettime_labNettime13 {
		font-size: 20px;
}
#contentNettime_labNettime13 {
	@include font-weight-bold(true);
}
#contentNettime_numPowerlinkDelayCamera {
	@include elemWidth(100);
}
#contentNettime_numPowerlinkDelayCamera {
	@include elemTop(158);
}
#contentNettime_numPowerlinkDelayCamera {
	@include elemLeft(224);
}
#contentNettime_numPowerlinkDelayCamera {
	@include elemHeight(40);
}
#contentNettime_numPowerlinkDelayCamera {
		z-index: 16;
}
#contentNettime_numPowerlinkDelayCamera {
	input{
		font-size: 18px;
	}
}
#contentNettime_numPowerlinkDelayCamera {
		padding: 0px 5px 0px 5px;
}
#contentNettime_grpConfig {
	@include elemTop(10);
}
#contentNettime_grpConfig {
	@include elemLeft(10);
}
#contentNettime_grpConfig {
	@include elemWidth(450);
}
#contentNettime_grpConfig {
	@include elemHeight(485);
}
#contentNettime_grpConfig {
		z-index: 1;
}
#contentNettime_labNettime1 {
	@include elemTop(8);
}
#contentNettime_labNettime1 {
	@include elemLeft(54);
}
#contentNettime_labNettime1 {
	@include elemAutoWidth(100);
}
#contentNettime_labNettime1 {
	@include elemAutoHeight(40);
}
#contentNettime_labNettime1 {
		z-index: 0;
}
#contentNettime_labNettime1 {
	@include text-alignment-all('right');
}
#contentNettime_labNettime1 {
		font-size: 20px;
}
#contentNettime_labNettime1 {
	@include font-weight-bold(true);
}
#contentNettime_numVelocity {
	@include elemTop(8);
}
#contentNettime_numVelocity {
	@include elemLeft(164);
}
#contentNettime_numVelocity {
	@include elemWidth(116);
}
#contentNettime_numVelocity {
	@include elemHeight(40);
}
#contentNettime_numVelocity {
		z-index: 1;
}
#contentNettime_numVelocity {
	input{
		font-size: 18px;
	}
}
#contentNettime_numVelocity {
		padding: 0px 5px 0px 5px;
}
#contentNettime_labNettime2 {
	@include elemTop(58);
}
#contentNettime_labNettime2 {
	@include elemLeft(14);
}
#contentNettime_labNettime2 {
	@include elemAutoWidth(138);
}
#contentNettime_labNettime2 {
	@include elemAutoHeight(40);
}
#contentNettime_labNettime2 {
		z-index: 2;
}
#contentNettime_labNettime2 {
	@include text-alignment-all('right');
}
#contentNettime_labNettime2 {
		font-size: 20px;
}
#contentNettime_labNettime2 {
	@include font-weight-bold(true);
}
#contentNettime_numAcceleration {
	@include elemTop(58);
}
#contentNettime_numAcceleration {
	@include elemLeft(164);
}
#contentNettime_numAcceleration {
	@include elemWidth(116);
}
#contentNettime_numAcceleration {
	@include elemHeight(40);
}
#contentNettime_numAcceleration {
		z-index: 3;
}
#contentNettime_numAcceleration {
	input{
		font-size: 18px;
	}
}
#contentNettime_numAcceleration {
		padding: 0px 5px 0px 5px;
}
#contentNettime_txtVelocityCurrent {
	@include elemTop(8);
}
#contentNettime_txtVelocityCurrent {
	@include elemLeft(304);
}
#contentNettime_txtVelocityCurrent {
	@include elemAutoWidth(120);
}
#contentNettime_txtVelocityCurrent {
	@include elemAutoHeight(37);
}
#contentNettime_txtVelocityCurrent {
		z-index: 4;
}
#contentNettime_txtVelocityCurrent {
		border-width: 2px;
}
#contentNettime_txtVelocityCurrent {
	@include border-radius(5px);
}
#contentNettime_txtVelocityCurrent {
	input{
		font-size: 18px;
	}
}
#contentNettime_txtVelocityCurrent {
		padding: 0px 5px 0px 5px;
}
#contentNettime_txtPositionCurrent {
	@include elemTop(108);
}
#contentNettime_txtPositionCurrent {
	@include elemLeft(164);
}
#contentNettime_txtPositionCurrent {
	@include elemAutoWidth(120);
}
#contentNettime_txtPositionCurrent {
	@include elemAutoHeight(37);
}
#contentNettime_txtPositionCurrent {
		z-index: 5;
}
#contentNettime_txtPositionCurrent {
		border-width: 2px;
}
#contentNettime_txtPositionCurrent {
	@include border-radius(5px);
}
#contentNettime_txtPositionCurrent {
	input{
		font-size: 18px;
	}
}
#contentNettime_txtPositionCurrent {
		padding: 0px 5px 0px 5px;
}
#contentNettime_labNettime3 {
	@include elemTop(108);
}
#contentNettime_labNettime3 {
	@include elemLeft(14);
}
#contentNettime_labNettime3 {
	@include elemAutoWidth(138);
}
#contentNettime_labNettime3 {
	@include elemAutoHeight(40);
}
#contentNettime_labNettime3 {
		z-index: 6;
}
#contentNettime_labNettime3 {
	@include text-alignment-all('right');
}
#contentNettime_labNettime3 {
		font-size: 20px;
}
#contentNettime_labNettime3 {
	@include font-weight-bold(true);
}
#contentNettime_btnDriveRun {
	@include elemTop(233);
}
#contentNettime_btnDriveRun {
	@include elemLeft(19);
}
#contentNettime_btnDriveRun {
	@include elemAutoWidth(266);
}
#contentNettime_btnDriveRun {
	@include elemAutoHeight(60);
}
#contentNettime_btnDriveRun {
		z-index: 7;
}
#contentNettime_btnDriveRun {
	span{
		font-size: 24px;
	}
}
#contentNettime_btnDriveRun {
	span{
	@include font-weight-bold(true);
	}
}
#contentNettime_btnDrivePower {
	@include elemTop(153);
}
#contentNettime_btnDrivePower {
	@include elemLeft(19);
}
#contentNettime_btnDrivePower {
	@include elemAutoWidth(266);
}
#contentNettime_btnDrivePower {
	@include elemAutoHeight(60);
}
#contentNettime_btnDrivePower {
		z-index: 8;
}
#contentNettime_btnDrivePower {
	span{
		font-size: 24px;
	}
}
#contentNettime_btnDrivePower {
	span{
	@include font-weight-bold(true);
	}
}
#contentNettime_btnMoveToTrigger {
	@include elemTop(313);
}
#contentNettime_btnMoveToTrigger {
	@include elemLeft(19);
}
#contentNettime_btnMoveToTrigger {
	@include elemAutoWidth(266);
}
#contentNettime_btnMoveToTrigger {
	@include elemAutoHeight(60);
}
#contentNettime_btnMoveToTrigger {
		z-index: 9;
}
#contentNettime_btnMoveToTrigger {
	span{
		font-size: 24px;
	}
}
#contentNettime_btnMoveToTrigger {
	span{
	@include font-weight-bold(true);
	}
}
#contentNettime_btnAckAxisError {
	@include elemTop(393);
}
#contentNettime_btnAckAxisError {
	@include elemLeft(19);
}
#contentNettime_btnAckAxisError {
	@include elemAutoWidth(120);
}
#contentNettime_btnAckAxisError {
	@include elemAutoHeight(40);
}
#contentNettime_btnAckAxisError {
		z-index: 10;
}
#contentNettime_btnAckAxisError {
	span{
		font-size: 24px;
	}
}
#contentNettime_btnAckAxisError {
	span{
	@include font-weight-bold(true);
	}
}
#contentNettime_btnHomeAxis {
	@include elemTop(393);
}
#contentNettime_btnHomeAxis {
	@include elemLeft(165);
}
#contentNettime_btnHomeAxis {
	@include elemAutoWidth(120);
}
#contentNettime_btnHomeAxis {
	@include elemAutoHeight(40);
}
#contentNettime_btnHomeAxis {
		z-index: 11;
}
#contentNettime_btnHomeAxis {
	span{
		font-size: 24px;
	}
}
#contentNettime_btnHomeAxis {
	span{
	@include font-weight-bold(true);
	}
}
#contentNettime_labNotification {
	@include elemTop(430);
}
#contentNettime_labNotification {
	@include elemLeft(480);
}
#contentNettime_labNotification {
	@include elemAutoWidth(710);
}
#contentNettime_labNotification {
	@include elemAutoHeight(61);
}
#contentNettime_labNotification {
		z-index: 2;
}
#contentNettime_labNotification {
		border-width: 1px;
}
#contentNettime_labNotification {
	@include border-radius(5px);
}
#contentNettime_labNotification {
		border-style: solid;
}
#contentNettime_labNotification {
	&:before{
		border-style: solid;
	}
}
#contentNettime_labNotification {
	&:after{
		border-style: solid;
	}
}
#contentNettime_labNotification {
	& span{
		color: rgba(192, 0, 0, 1);
	}
}
#contentNettime_labNotification {
	@include font-weight-bold(true);
}
