﻿@import "mixins.scss";
@import "../../../../widgets/brease/DropDownBox/meta/DropDownBox_base";
.widgets_brease_DropDownBox_style_vision {
@include widgets_brease_DropDownBox_base; 
& .TextView {
	font-size: 16px;
}
& .TextView {
	font-size: 16px;
}
& .TextView {
@include font-weight-bold(false);
}
& .TextView {
@include font-weight-bold(false);
}
& > .ItemView:not(.itemSelected):not(.itemDisabled) > .TextView:not(.textSelected) {
	color: #FFFFFF;
}
& > .ItemView:not(.itemSelected):not(.itemDisabled) {
	background-color: rgba(108,107,107,0.76);
}
& > .ItemView.itemSelected:not(.itemDisabled) {
	background-color: #646464;
}
& > .ItemView.itemSelected:not(.itemDisabled) > .TextView.textSelected {
	color: #FFFFFF;
}
&.DropDownBoxView {
@include border-radius(0px);
}
& > .ItemView {
@include border-radius(0px);
}
& > .ListView.Container {
@include border-radius(0px);
}
& > .ListView.Container > .ListView.List > .ItemView:not(.itemSelected) {
	background-color: #d6d6d6;
}
& > .ListView.Container > .ListView.List > .ItemView > .TextView:not(.textSelected) {
	color: #646464;
}
& > .ItemView:not(.itemSelected) {
	border-width: 0px 0px 0px 6px;
}
& > .ItemView.itemSelected {
	border-width: 0px 3px 0px 0px;
}
& > .ItemView:not(.itemSelected):not(.itemDisabled) {
	border-color: #ff8800;
}
& > .ListView.Container {
	border-color: #ff8800;
}
& > .ItemView.itemSelected:not(.itemDisabled) {
	border-color: #ff8800;
}
& > .ListView.Container > .ListView.List > .ItemView > .TextView.textSelected {
	color: #FFFFFF;
}
& > .ListView.Container > .ListView.List > .ItemView.itemSelected {
	background-color: #FF8500;
}
& > .ListView.Container {
	border-width: 0px;
}
& .TextView {
@include text-alignment(center);
}
& .TextView {
@include text-alignment(center);
}
& > .ItemView.itemDisabled {
	border-color: #C8C8C8;
}
& > .ItemView.itemDisabled {
	background-color: #F1F1F1;
}
& > .ItemView.itemDisabled > .TextView {
	color: #C8C8C8;
}
& > .ItemView {
	padding: 0px 6px 0px 0px;
}

}
@import "../../../../widgets/brease/NumericInput/meta/NumericInput_base";
.widgets_brease_NumericInput_style_vision {
@include widgets_brease_NumericInput_base; 
&:not(.disabled):not(.active) input {
	color: #fff;
}
&:not(.disabled):not(.active) span.breaseNumericInput_unit {
	color: #fff;
}
&:not(.active):not(.disabled) {
	border-width: 0px 0px 0px 6px;
}
&:not(.disabled):not(.active) {
	border-color: #ff8800;
}
&.active:not(.disabled) {
	border-color: #d6d6d6;
}
input {
	font-size: 16px;
}
&:not(.disabled):not(.active) {
	background-color: rgba(108,107,107,0.76);
}
&.active:not(.disabled) {
	background-color: #d6d6d6;
}
&.active:not(.disabled) input {
	color: #ff8800;
}
&.active:not(.disabled) span.breaseNumericInput_unit {
	color: #ff8800;
}
input {
@include font-weight-bold(false);
}
input {
@include text-alignment(center);
}
	padding: 0px 24px 0px 8px;
&.disabled {
	border-width: 0px 0px 0px 6px;
}

}
@import "../../../../widgets/brease/TextInput/meta/TextInput_base";
.widgets_brease_TextInput_style_vision {
@include widgets_brease_TextInput_base; 
input {
@include text-alignment(center);
}
&:not(.disabled):not(.active) input {
	color: #fff;
}
&:not(.disabled):not(.active) {
	border-width: 0px 0px 0px 6px;
}
&:not(.disabled):not(.active) {
	border-color: #ff8800;
}
&:not(.disabled).active {
	border-color: #d6d6d6;
}
input {
	font-size: 16px;
}
&:not(.disabled):not(.active) {
	background-color: rgba(108,107,107,0.76);
}
&:not(.disabled).active {
	background-color: #d6d6d6;
}
&:not(.disabled).active input {
	color: #ff8800;
}
input {
@include font-weight-bold(false);
}
&.disabled {
	border-width: 0px 0px 0px 6px;
}

}
@import "../../../../widgets/brease/TextOutput/meta/TextOutput_base";
.widgets_brease_TextOutput_style_vision {
@include widgets_brease_TextOutput_base; 
& span {
	color: #C8C8C8;
}
	border-width: 0px 0px 0px 6px;
	border-color: #C8C8C8;
&:before {
	border-color: #C8C8C8;
}
&:after {
	border-color: #C8C8C8;
}
	font-size: 16px;
	background-color: #F1F1F1;
	border-style: solid;
&:before {
	border-style: solid;
}
&:after {
	border-style: solid;
}
@include font-weight-bold(false);
@include text-alignment-all('center');
span {
	padding: 0px 24px 0px 8px;
}

}
@import "../../../../widgets/brease/TextInput/meta/TextInput_base";
.widgets_brease_TextInput_style_sTextInputStyle {
@include widgets_brease_TextInput_base; 
&:not(.disabled):not(.active) {
	background-color: #ffffff;
}
&:not(.disabled):not(.active) {
	border-width: 2px;
}
input {
	font-size: 20px;
}
input {
@include font-weight-bold(true);
}
&:not(.disabled):not(.active) input {
	color: #474747;
}
&:not(.disabled):not(.active) {
	border-color: rgba(192, 192, 192, 1);
}
@include border-radius(3px);

}
@import "../../../../widgets/brease/Password/meta/Password_base";
.widgets_brease_Password_style_sPassword {
@include widgets_brease_Password_base; 
&:not(.disabled):not(.active) {
	background-color: #ffffff;
}
&:not(.disabled):not(.active) {
	border-color: rgba(192, 192, 192, 1);
}
	border-style: solid;
&:not(.active):not(.disabled) {
	border-width: 2px;
}
@include border-radius(3px);

}
@import "../../../../widgets/brease/Label/meta/Label_base";
.widgets_brease_Label_style_sLabel {
@include widgets_brease_Label_base; 
& span {
	color: rgba(100, 100, 100, 1);
}
@include font-weight-bold(false);
	font-size: 16px;

}
@import "../../../../widgets/brease/Label/meta/Label_base";
.widgets_brease_Label_style_sLabelSmartPanelParameterForm {
@include widgets_brease_Label_base; 
& span {
	color: #646464;
}
@include font-weight-bold(false);
	font-size: 14px;
span {
	padding: 5px;
}

}
@import "../../../../widgets/brease/TabControl/meta/TabControl_base";
.widgets_brease_TabControl_style_sTabControl {
@include widgets_brease_TabControl_base; 
> .tabItemContainer {
	border-style: solid;
}
> .tabItemContainer {
	background-color: rgba(192, 192, 192, 1);
}
> .tabItemContainer {
	border-width: 0px 0px 0px 0px;
}
> .tabItemContainer {
	border-color: #646464;
}
> .tabItemContainer {
@include border-radius(0px);
}

}
@import "../../../../widgets/brease/TabItem/meta/TabItem_base";
.widgets_brease_TabItem_style_sTabItem {
@include widgets_brease_TabItem_base; 
&.tabItem:not(.active) span {
	color: #646464;
}
&.tabItem span {
@include font-weight-bold(true);
}
&.tabItem span {
	font-size: 16px;
}
&.tabItem:not(.active) {
	background-color: #FFF;
}
&.tabItem:not(.active) {
@include backGroundGradient('linear-gradient(to bottom, rgba(255,255,255,1) 0%,rgba(229,229,229,1) 100%)');
}
&.tabItem.active {
	background-color: rgba(192, 192, 192, 1);
}
&.tabItem.active {
	border-width: 0px 0px 0px 0px;
}
&.tabItem:not(.active) {
	border-color: rgba(192, 192, 192, 1);
}
&.tabItem:not(.active) {
	border-width: 0px 3px 0px 0px;
}
&.tabItem.active {
	border-color: rgba(255, 255, 255, 0);
}
&.tabItem:not(.active) {
@include border-radius(6px 6px 0px 0px);
}
&.tabItem.active {
@include border-radius(10px 10px 0px 0px);
}
&.tabItem.active span {
	color: #FFF;
}
&:not(.active):not(.disabled) > svg {
	fill: rgba(128, 128, 128, 1);
}
&.tabItem {
@include text-alignment(center);
}
&.active > svg {
	fill: #FFF;
}

}
@import "../../../../widgets/brease/Button/meta/Button_base";
.widgets_brease_Button_style_sButton {
@include widgets_brease_Button_base; 
span {
	font-size: 12px;
}
span {
@include font-weight-bold(true);
}
&:not(.disabled):not(.active):not(.checked) {
@include backGroundGradient('linear-gradient(to bottom, rgba(255,255,255,1) 0%,rgba(229,229,229,1) 100%)');
}
&:not(.disabled):not(.active):not(.checked) span {
	color: #646464;
}
&.active:not(.disabled):not(.editMode) span {
	color: #FFFFFF;
}
&.checked:not(.disabled) span {
	color: #FFFFFF;
}
&.active svg {
	fill: #FFFFFF;
}
&:not(.active):not(.checked) {
	border-width: 0px;
}
&.disabled {
	border-width: 0px;
}
&:not(.active):not(.disabled):not(.checked) svg {
	fill: rgba(80, 80, 80, 1);
}
&.active:not(.disabled):not(.editMode) {
	border-width: 0px;
}
&.checked:not(.disabled) {
	border-width: 0px;
}
@include border-radius(6px 6px 6px 6px);
&:not(.disabled):not(.active):not(.checked) {
	border-color: #FFF;
}
&.active:not(.disabled):not(.editMode) {
	border-color: #ff8800;
}
&.checked:not(.disabled) {
	border-color: #ff8800;
}
&:not(.disabled):not(.active):not(.checked) {
	background-color: #FFF;
}
&.active:not(.disabled):not(.editMode) {
	background-color: #ff8800;
}
&.checked:not(.disabled) {
	background-color: #ff8800;
}
&.disabled {
	border-color: #C8C8C8;
}
&.disabled.active {
	border-color: #C8C8C8;
}
&.disabled.checked {
	border-color: #C8C8C8;
}
&.disabled {
	background-color: #d1d1d1;
}
&.disabled.active {
	background-color: #d1d1d1;
}
&.disabled.checked {
	background-color: #d1d1d1;
}
&:not(.active):not(.checked) {
@include box-shadow(2px 2px 7px 0px rgba(100, 100, 100, 0.5));
}
&.disabled.active {
@include box-shadow(2px 2px 7px 0px rgba(100, 100, 100, 0.5));
}
&.disabled.checked {
@include box-shadow(2px 2px 7px 0px rgba(100, 100, 100, 0.5));
}
&.disabled svg {
	fill: rgba(128, 128, 128, 1);
}

}
@import "../../../../widgets/brease/ToggleButton/meta/ToggleButton_base";
.widgets_brease_ToggleButton_style_sButtonToggle {
@include widgets_brease_ToggleButton_base; 
&:not(.disabled):not(.active):not(.checked) {
@include backGroundGradient('linear-gradient(to bottom, rgba(255,255,255,1) 0%,rgba(229,229,229,1) 100%)');
}
span {
	font-size: 12px;
}
span {
@include font-weight-bold(true);
}
@include border-radius(6px 6px 6px 6px);
&:not(.disabled):not(.active):not(.checked) span {
	color: #646464;
}
	padding: 0px;
&.active:not(.disabled):not(.editMode) span {
	color: #FFFFFF;
}
&.checked:not(.disabled) span {
	color: #FFFFFF;
}
&.checked:not(.disabled):not(.active) span {
	color: #FFFFFF;
}
&.active svg {
	fill: #FFFFFF;
}
&.checked:not(.active):not(.disabled) {
	background-color: rgba(255, 136, 0, 1);
}
&:not(.active):not(.checked) {
	border-width: 0px;
}
&.disabled {
	border-width: 0px;
}
&:not(.active):not(.disabled):not(.checked) svg {
	fill: rgba(80, 80, 80, 1);
}
&.active:not(.disabled):not(.editMode) {
	border-width: 1px 1px 1px 1px;
}
&.checked:not(.disabled) {
	border-width: 1px 1px 1px 1px;
}
&:not(.disabled):not(.checked) {
	border-color: #FFF;
}
&.active:not(.disabled):not(.editMode) {
	border-color: #ff8800;
}
&:not(.disabled):not(.active):not(.checked) {
	background-color: #FFF;
}
&.active:not(.disabled):not(.editMode) {
	background-color: #ff8800;
}
&.disabled:not(.active):not(.checked) {
	border-color: #C8C8C8;
}
&.disabled.checked {
	background-color: #d1d1d1;
}
&.disabled.checked:not(.active) span {
	color: rgba(152, 152, 152, 1);
}
&.disabled.checked:not(.active) svg {
	fill: rgba(152, 152, 152, 1);
}
&.checked:not(.disabled):not(.active) svg {
	fill: #FFFFFF;
}
&:not(.active):not(.checked) {
@include box-shadow(2px 2px 7px 0px rgba(100, 100, 100, 0.5));
}
&.disabled.active {
@include box-shadow(2px 2px 7px 0px rgba(100, 100, 100, 0.5));
}
&.disabled.checked {
@include box-shadow(2px 2px 7px 0px rgba(100, 100, 100, 0.5));
}
&.disabled:not(.checked) {
	background-color: #d1d1d1;
}
&.disabled svg {
	fill: rgba(128, 128, 128, 1);
}

}
@import "../../../../widgets/brease/GroupBox/meta/GroupBox_base";
.widgets_brease_GroupBox_style_sGroupBox {
@include widgets_brease_GroupBox_base; 
	background-color: #d6d6d6;
> .header span {
@include font-weight-bold(true);
}
> .header {
	background-color: rgba(219, 219, 219, 1);
}
> .header span {
	font-size: 16px;
}
> .header {
height: 16px + 20px;
}
> .header span {
	color: #646464;
}
	border-width: 10px 10px 2px 10px;
> .header {
	border-width: 10px 10px 2px 10px;
}
	border-color: transparent;
> .header {
	border-color: transparent;
}

}
@import "../../../../widgets/brease/TextOutput/meta/TextOutput_base";
.widgets_brease_TextOutput_style_sTextOutput {
@include widgets_brease_TextOutput_base; 
@include backGroundGradient('linear-gradient(to bottom, rgba(255,255,255,1) 0%,rgba(229,229,229,1) 100%)');
	border-width: 0px 0px 0px 0px;
@include border-radius(6px 6px 6px 6px);
	background-color: rgba(255, 255, 255, 1);
	border-style: none;
&:before {
	border-style: none;
}
&:after {
	border-style: none;
}
@include font-weight-bold(false);
@include box-shadow(2px 2px 7px 0px rgba(100, 100, 100, 0.1));
@include text-alignment-all('center');
span {
	padding: 0px 24px 0px 8px;
}

}
@import "../../../../widgets/brease/DropDownBox/meta/DropDownBox_base";
.widgets_brease_DropDownBox_style_sDropDownBox {
@include widgets_brease_DropDownBox_base; 
& > .ItemView:not(.itemSelected):not(.itemDisabled) {
	background-color: rgba(255, 255, 255, 0);
}
& > .ItemView {
	border-style: none;
}
& .TextView {
@include font-weight-bold(false);
}
& .TextView {
@include font-weight-bold(false);
}
& .TextView {
	font-size: 12px;
}
& .TextView {
	font-size: 12px;
}
& > .ItemView:not(.itemSelected):not(.itemDisabled) > .TextView:not(.textSelected) {
	color: rgba(100, 100, 100, 1);
}
&.DropDownBoxView {
@include box-shadow(2px 2px 7px 0px rgba(100, 100, 100, 0.5));
}
& .TextView {
@include text-alignment(center);
}
& .TextView {
@include text-alignment(center);
}
& > .ItemView {
	padding: 0px 24px 0px 8px;
}
& > .ItemView.itemSelected:not(.itemDisabled) {
	background-color: #646464;
}
& > .ItemView.itemSelected:not(.itemDisabled) > .TextView.textSelected {
	color: #FFFFFF;
}
&.DropDownBoxView {
@include border-radius(6px 6px 6px 6px);
}
& > .ItemView {
@include border-radius(6px 6px 6px 6px);
}
& > .ListView.Container {
@include border-radius(6px 6px 6px 6px);
}
& > .ListView.Container > .ListView.List > .ItemView:not(.itemSelected) {
	background-color: #d6d6d6;
}
& > .ListView.Container > .ListView.List > .ItemView > .TextView:not(.textSelected) {
	color: #646464;
}
& > .ItemView:not(.itemSelected) {
	border-width: 0px 0px 0px 0px;
}
& > .ItemView.itemSelected {
	border-width: 0px 0px 0px 0px;
}
& > .ItemView:not(.itemSelected):not(.itemDisabled) {
	border-color: #ff8800;
}
& > .ListView.Container {
	border-color: #ff8800;
}
& > .ItemView.itemSelected:not(.itemDisabled) {
	border-color: #ff8800;
}
& > .ListView.Container > .ListView.List > .ItemView > .TextView.textSelected {
	color: #FFFFFF;
}
& > .ListView.Container > .ListView.List > .ItemView.itemSelected {
	background-color: #FF8500;
}
& > .ListView.Container {
	border-width: 0px;
}
& > .ListView.Container > .ListView.List > .ItemView {
	border-bottom-color: rgba(192, 192, 192, 1);
}
& > .ItemView.itemDisabled {
	border-color: #C8C8C8;
}
& > .ItemView.itemDisabled {
	background-color: #d1d1d1;
}

}
@import "../../../../widgets/brease/LogoutButton/meta/LogoutButton_base";
.widgets_brease_LogoutButton_style_sLogoutButton {
@include widgets_brease_LogoutButton_base; 
&:not(.disabled):not(.active):not(.checked) {
@include backGroundGradient('linear-gradient(to bottom, rgba(255,255,255,1) 0%,rgba(229,229,229,1) 100%)');
}
span {
	font-size: 12px;
}
span {
@include font-weight-bold(false);
}
&:not(.disabled):not(.active):not(.checked) span {
	color: #646464;
}
&.active:not(.disabled):not(.editMode) span {
	color: #FFFFFF;
}
&.checked:not(.disabled) span {
	color: #FFFFFF;
}
&:not(.active):not(.checked) {
	border-width: 0px 0px 0px 0px;
}
&.disabled {
	border-width: 0px 0px 0px 0px;
}
&.active:not(.disabled):not(.editMode) {
	border-width: 0px 0px 0px 0px;
}
&.checked:not(.disabled) {
	border-width: 0px 0px 0px 0px;
}
&:not(.disabled):not(.active):not(.checked) {
	background-color: #FFF;
}
&.active:not(.disabled):not(.editMode) {
	background-color: #ff8800;
}
&.checked:not(.disabled) {
	background-color: #ff8800;
}
@include border-radius(6px 6px 6px 6px);
&.disabled {
	background-color: #d1d1d1;
}
&.disabled.active {
	background-color: #d1d1d1;
}
&.disabled.checked {
	background-color: #d1d1d1;
}

}
@import "../../../../widgets/brease/NumericOutput/meta/NumericOutput_base";
.widgets_brease_NumericOutput_style_sloggerGrayrNumericOutput {
@include widgets_brease_NumericOutput_base; 
	background-color: rgba(255, 255, 255, 0);
	border-width: 0px;
input {
	color: rgba(177, 175, 175, 1);
}
span.breaseNumericOutput_unit {
	color: rgba(177, 175, 175, 1);
}

}
@import "../../../../widgets/brease/NumericOutput/meta/NumericOutput_base";
.widgets_brease_NumericOutput_style_sloggerErrorNumericOutput {
@include widgets_brease_NumericOutput_base; 
	background-color: rgba(255, 255, 255, 0);
	border-width: 0px;
input {
	color: #d40000;
}
span.breaseNumericOutput_unit {
	color: #d40000;
}

}
@import "../../../../widgets/brease/NumericOutput/meta/NumericOutput_base";
.widgets_brease_NumericOutput_style_sloggerWarningNumericOutput {
@include widgets_brease_NumericOutput_base; 
	background-color: rgba(255, 255, 255, 0);
	border-width: 0px;
input {
	color: #ffa500;
}
span.breaseNumericOutput_unit {
	color: #ffa500;
}

}
@import "../../../../widgets/brease/NumericOutput/meta/NumericOutput_base";
.widgets_brease_NumericOutput_style_sloggerInfoNumericOutput {
@include widgets_brease_NumericOutput_base; 
	background-color: rgba(255, 255, 255, 0);
	border-width: 0px;
input {
	color: #2d4b5a;
}
span.breaseNumericOutput_unit {
	color: #2d4b5a;
}

}
@import "../../../../widgets/brease/NumericOutput/meta/NumericOutput_base";
.widgets_brease_NumericOutput_style_sloggerSuccessNumericOutput {
@include widgets_brease_NumericOutput_base; 
	background-color: rgba(255, 255, 255, 0);
	border-width: 0px;
input {
	color: #194d32;
}
span.breaseNumericOutput_unit {
	color: #194d32;
}

}
@import "../../../../widgets/brease/TableItem/meta/TableItem_base";
.widgets_brease_TableItem_style_TableItemLeftStyle {
@include widgets_brease_TableItem_base; 
&:not(.disabled):not(.selected):not(.headerElement).override.odd {
	color: #646464;
}
&:not(.disabled):not(.selected):not(.headerElement).override.even {
	color: #646464;
}
&:not(.headerElement):not(.disabled).override {
@include importantBoldText(false);
}
&:not(.headerElement).override.disabled {
@include importantBoldText(false);
}
&:not(.headerElement):not(.disabled).override {
	font-size: 14px;
}
&:not(.headerElement).override.disabled {
	font-size: 14px;
}
&:not(.headerElement):not(.disabled).override {
@include importantItalicText(false);
}
&:not(.headerElement).override.disabled {
@include importantItalicText(false);
}
&:not(.headerElement).override {
@include text-position('left center');
}
&:not(.headerElement) >img .override {
@include image-align('left center');
}
&.headerElement.override {
@include flex-position('left center');
}
&.headerElement.override > span  {
@include text-position('left center');
}
&.override:not(.headerElement) {
	padding: 0px 0px 0px 5px;
}
&.override {
	border-width: 0px 0px 0px 0px;
}
&.headerElement.override {
	border-width: 0px 0px 0px 0px;
}
&:not(.disabled).odd.override:not(.selected) {
	background-color: rgba(255,255,255,0);
}
&:not(.disabled).even.override:not(.selected) {
	background-color: rgba(255,255,255,0);
}

}
@import "../../../../widgets/brease/TableItem/meta/TableItem_base";
.widgets_brease_TableItem_style_TableItemRightStyle {
@include widgets_brease_TableItem_base; 
&:not(.disabled):not(.selected):not(.headerElement).override.odd {
	color: #C8C8C8;
}
&:not(.disabled):not(.selected):not(.headerElement).override.even {
	color: #C8C8C8;
}
&.override {
	border-width: 0px 0px 0px 6px;
}
&.headerElement.override {
	border-width: 0px 0px 0px 6px;
}
&.override {
	border-color: #C8C8C8;
}
&.headerElement.override {
	border-color: #C8C8C8;
}
&:not(.headerElement):not(.disabled).override {
@include importantBoldText(false);
}
&:not(.headerElement).override.disabled {
@include importantBoldText(false);
}
&:not(.headerElement):not(.disabled).override {
	font-size: 16px;
}
&:not(.headerElement).override.disabled {
	font-size: 16px;
}
&:not(.headerElement):not(.disabled).override {
@include importantItalicText(false);
}
&:not(.headerElement).override.disabled {
@include importantItalicText(false);
}
&:not(.headerElement).override {
@include text-position('center center');
}
&:not(.headerElement) >img .override {
@include image-align('center center');
}
&.headerElement.override {
@include flex-position('center center');
}
&.headerElement.override > span  {
@include text-position('center center');
}
&.override:not(.headerElement) {
	padding: 0px 24px 0px 12px;
}
&:not(.disabled).odd.override:not(.selected) {
	background-color: #F1F1F1;
}
&:not(.disabled).even.override:not(.selected) {
	background-color: #F1F1F1;
}

}
@import "../../../../widgets/brease/Table/meta/Table_base";
.widgets_brease_Table_style_TableSmartPanel {
@include widgets_brease_Table_base; 
&:not(.disabled) .verticalOrientation .tableCells tbody tr.odd:not(.disabled):not(.override) {
	background-color: rgba(255,255,255,0);
}
&:not(.disabled) .verticalOrientation .tableCells tbody tr.even:not(.disabled):not(.override) {
	background-color: rgba(255,255,255,0);
}

}
