﻿@import "mixins.scss";
@import "../../../../../types/Page_base";
.system_brease_Page_style_default {
@include system_brease_Page_base; 

}
@import "../../../../../types/Dialog_base";
.system_brease_Dialog_style_default {
@include system_brease_Dialog_base; 
.breaseDialogWindowHeader .textDiv {
	font-size: 20px;
}
.breaseDialogWindowHeader .textDiv {
	color: #646464;
}
@include border-radius(0px 0px 0px 0px);
.breaseDialogWindowContentBox {
@include border-bottom-right-radius(0px 0px 0px 0px);
}
.breaseDialogWindowContentBox {
@include border-bottom-left-radius(0px 0px 0px 0px);
}
.breaseDialogWindowHeader {
@include border-radius(0px 0px 0px 0px);
}
.breaseDialogWindowHeader {
	border-width: 0px;
}
.breaseDialogWindowContentBox {
	border-width: 0px;
}
.breaseDialogWindowContentBox {
	border-color: #A899A0 #5F5F5F #5F5F5F #A899A0;
}

}
@import "../../../../../types/MessageBox_base";
.system_brease_MessageBox_style_default {
@include system_brease_MessageBox_base; 
.breaseMessageBoxContentBox {
	background-color: #fff;
}
.breaseMessageBoxHeader {
	background-color: #d6d6d6;
}
.messageBoxFooter {
	background-color: #d6d6d6;
}
&.breaseMessageBox.breaseWindow .breaseMessageBoxHeader div {
@include font-weight-bold(false);
}
&.breaseMessageBox.breaseWindow .breaseMessageBoxHeader div {
	font-size: 22px;
}
.breaseMessageBoxHeader {
	border-style: none;
}
.breaseMessageBoxHeader {
	border-color: #646464;
}
&.breaseMessageBox.breaseWindow header.breaseMessageBoxHeader > div {
	color: #646464;
}
.breaseMessageBoxContentBox div.content {
	font-size: 20px;
}
.breaseMessageBoxContentBox div.content {
	color: #646464;
}
.breaseMessageBoxHeader {
	border-radius: 0px;
}
.messageBoxFooter {
	border-radius: 0px;
}
.breaseMessageBoxContentBox {
	border-width: 0px;
}
.messageBoxButton {
	border-style: none;
}
.messageBoxButton:active {
	border-style: none;
}
.messageBoxButton.checked {
	border-style: none;
}
.messageBoxButton.disabled {
	border-style: none;
}
.messageBoxButton {
	border-color: #646464;
}
.messageBoxButton:not(.disabled):not(.editMode):active {
	border-width: 0 6px 0 0;
}
.messageBoxButton:not(.disabled):not(.editMode).checked {
	border-width: 0 6px 0 0;
}
.messageBoxButton:not(.disabled):not(.editMode):active {
	border-color: #646464;
}
.messageBoxButton:not(.disabled):not(.editMode).checked {
	border-color: #646464;
}
.messageBoxButton {
	background-color: #ffffff;
}
.messageBoxButton:not(.disabled):not(.editMode):active {
	background-color: #ff8800;
}
.messageBoxButton:not(.disabled):not(.editMode).checked {
	background-color: #ff8800;
}
.messageBoxButton span {
	color: #646464;
}
.messageBoxButton:not(.disabled) span {
	color: #646464;
}
.messageBoxButton.disabled span {
	color: #646464;
}
.messageBoxButton span {
	font-size: 14px;
}
.messageBoxButton:not(.disabled):not(.editMode):active span {
	color: #ffffff;
}
.messageBoxButton:not(.disabled):not(.editMode).checked span {
	color: #ffffff;
}

}
@import "../../../../../types/Area_base";
.system_brease_Area_style_default {
@include system_brease_Area_base; 
	background-color: #e6e6e6;

}
@import "../../../../../types/Area_base";
.system_brease_Area_style_transparent {
@include system_brease_Area_base; 
	background-color: transparent;

}
