#contentNettime_grpNettime {
  top: 10px;
  position: absolute;
}

#contentNettime_grpNettime {
  left: 475px;
  position: absolute;
}

#contentNettime_grpNettime {
  width: 710px;
}

#contentNettime_grpNettime {
  height: 330px;
}

#contentNettime_grpNettime {
  z-index: 0;
}

#contentNettime_labNettime4 {
  top: 8px;
  position: absolute;
}

#contentNettime_labNettime4 {
  left: 20px;
  position: absolute;
}

#contentNettime_labNettime4 {
  width: 200px;
}

#contentNettime_labNettime4 {
  height: 40px;
}

#contentNettime_labNettime4 {
  z-index: 0;
}

#contentNettime_labNettime4 {
  justify-content: flex-end;
  text-align: right;
  -ms-flex-align: center;
  align-items: center;
}

#contentNettime_labNettime4 {
  font-size: 20px;
}

#contentNettime_labNettime4 {
  font-weight: bold;
}

#contentNettime_numAxisPeriod {
  width: 100px;
}

#contentNettime_numAxisPeriod {
  top: 8px;
  position: absolute;
}

#contentNettime_numAxisPeriod {
  left: 224px;
  position: absolute;
}

#contentNettime_numAxisPeriod {
  height: 40px;
}

#contentNettime_numAxisPeriod {
  z-index: 1;
}

#contentNettime_numAxisPeriod input {
  font-size: 18px;
}

#contentNettime_numAxisPeriod {
  padding: 0px 5px 0px 5px;
}

#contentNettime_labNettime5 {
  top: 108px;
  position: absolute;
}

#contentNettime_labNettime5 {
  left: 20px;
  position: absolute;
}

#contentNettime_labNettime5 {
  width: 200px;
}

#contentNettime_labNettime5 {
  height: 40px;
}

#contentNettime_labNettime5 {
  z-index: 2;
}

#contentNettime_labNettime5 {
  justify-content: flex-end;
  text-align: right;
  -ms-flex-align: center;
  align-items: center;
}

#contentNettime_labNettime5 {
  font-size: 20px;
}

#contentNettime_labNettime5 {
  font-weight: bold;
}

#contentNettime_numPowerlinkDelayAcopos {
  width: 100px;
}

#contentNettime_numPowerlinkDelayAcopos {
  top: 108px;
  position: absolute;
}

#contentNettime_numPowerlinkDelayAcopos {
  left: 224px;
  position: absolute;
}

#contentNettime_numPowerlinkDelayAcopos {
  height: 40px;
}

#contentNettime_numPowerlinkDelayAcopos {
  z-index: 3;
}

#contentNettime_numPowerlinkDelayAcopos input {
  font-size: 18px;
}

#contentNettime_numPowerlinkDelayAcopos {
  padding: 0px 5px 0px 5px;
}

#contentNettime_labNettime6 {
  top: 58px;
  position: absolute;
}

#contentNettime_labNettime6 {
  left: 20px;
  position: absolute;
}

#contentNettime_labNettime6 {
  width: 200px;
}

#contentNettime_labNettime6 {
  height: 40px;
}

#contentNettime_labNettime6 {
  z-index: 4;
}

#contentNettime_labNettime6 {
  justify-content: flex-end;
  text-align: right;
  -ms-flex-align: center;
  align-items: center;
}

#contentNettime_labNettime6 {
  font-size: 20px;
}

#contentNettime_labNettime6 {
  font-weight: bold;
}

#contentNettime_numPositionTrigger {
  width: 100px;
}

#contentNettime_numPositionTrigger {
  top: 58px;
  position: absolute;
}

#contentNettime_numPositionTrigger {
  left: 224px;
  position: absolute;
}

#contentNettime_numPositionTrigger {
  height: 40px;
}

#contentNettime_numPositionTrigger {
  z-index: 5;
}

#contentNettime_numPositionTrigger input {
  font-size: 18px;
}

#contentNettime_numPositionTrigger {
  padding: 0px 5px 0px 5px;
}

#contentNettime_txtPowerlinkCycle {
  top: 8px;
  position: absolute;
}

#contentNettime_txtPowerlinkCycle {
  left: 534px;
  position: absolute;
}

#contentNettime_txtPowerlinkCycle {
  width: 140px;
}

#contentNettime_txtPowerlinkCycle {
  height: 37px;
}

#contentNettime_txtPowerlinkCycle {
  z-index: 6;
}

#contentNettime_txtPowerlinkCycle {
  border-width: 2px;
}

#contentNettime_txtPowerlinkCycle {
  border-radius: 5px;
}

#contentNettime_txtPowerlinkCycle input {
  font-size: 18px;
}

#contentNettime_txtPowerlinkCycle {
  padding: 0px 5px 0px 5px;
}

#contentNettime_labNettime7 {
  top: 8px;
  position: absolute;
}

#contentNettime_labNettime7 {
  left: 339px;
  position: absolute;
}

#contentNettime_labNettime7 {
  width: 182px;
}

#contentNettime_labNettime7 {
  height: 40px;
}

#contentNettime_labNettime7 {
  z-index: 7;
}

#contentNettime_labNettime7 {
  justify-content: flex-end;
  text-align: right;
  -ms-flex-align: center;
  align-items: center;
}

#contentNettime_labNettime7 {
  font-size: 20px;
}

#contentNettime_labNettime7 {
  font-weight: bold;
}

#contentNettime_txtPositionDelta {
  top: 58px;
  position: absolute;
}

#contentNettime_txtPositionDelta {
  left: 534px;
  position: absolute;
}

#contentNettime_txtPositionDelta {
  width: 140px;
}

#contentNettime_txtPositionDelta {
  height: 37px;
}

#contentNettime_txtPositionDelta {
  z-index: 8;
}

#contentNettime_txtPositionDelta {
  border-width: 2px;
}

#contentNettime_txtPositionDelta {
  border-radius: 5px;
}

#contentNettime_txtPositionDelta input {
  font-size: 18px;
}

#contentNettime_txtPositionDelta {
  padding: 0px 5px 0px 5px;
}

#contentNettime_labNettime10 {
  top: 58px;
  position: absolute;
}

#contentNettime_labNettime10 {
  left: 339px;
  position: absolute;
}

#contentNettime_labNettime10 {
  width: 182px;
}

#contentNettime_labNettime10 {
  height: 40px;
}

#contentNettime_labNettime10 {
  z-index: 9;
}

#contentNettime_labNettime10 {
  justify-content: flex-end;
  text-align: right;
  -ms-flex-align: center;
  align-items: center;
}

#contentNettime_labNettime10 {
  font-size: 20px;
}

#contentNettime_labNettime10 {
  font-weight: bold;
}

#contentNettime_txtTimeDelta {
  top: 108px;
  position: absolute;
}

#contentNettime_txtTimeDelta {
  left: 534px;
  position: absolute;
}

#contentNettime_txtTimeDelta {
  width: 140px;
}

#contentNettime_txtTimeDelta {
  height: 37px;
}

#contentNettime_txtTimeDelta {
  z-index: 10;
}

#contentNettime_txtTimeDelta {
  border-width: 2px;
}

#contentNettime_txtTimeDelta {
  border-radius: 5px;
}

#contentNettime_txtTimeDelta input {
  font-size: 18px;
}

#contentNettime_txtTimeDelta {
  padding: 0px 5px 0px 5px;
}

#contentNettime_labNettime11 {
  top: 108px;
  position: absolute;
}

#contentNettime_labNettime11 {
  left: 339px;
  position: absolute;
}

#contentNettime_labNettime11 {
  width: 182px;
}

#contentNettime_labNettime11 {
  height: 40px;
}

#contentNettime_labNettime11 {
  z-index: 11;
}

#contentNettime_labNettime11 {
  justify-content: flex-end;
  text-align: right;
  -ms-flex-align: center;
  align-items: center;
}

#contentNettime_labNettime11 {
  font-size: 20px;
}

#contentNettime_labNettime11 {
  font-weight: bold;
}

#contentNettime_txtNettimeOverflow {
  top: 158px;
  position: absolute;
}

#contentNettime_txtNettimeOverflow {
  left: 534px;
  position: absolute;
}

#contentNettime_txtNettimeOverflow {
  width: 140px;
}

#contentNettime_txtNettimeOverflow {
  height: 37px;
}

#contentNettime_txtNettimeOverflow {
  z-index: 12;
}

#contentNettime_txtNettimeOverflow {
  border-width: 2px;
}

#contentNettime_txtNettimeOverflow {
  border-radius: 5px;
}

#contentNettime_txtNettimeOverflow input {
  font-size: 18px;
}

#contentNettime_txtNettimeOverflow {
  padding: 0px 5px 0px 5px;
}

#contentNettime_labNettime12 {
  top: 158px;
  position: absolute;
}

#contentNettime_labNettime12 {
  left: 339px;
  position: absolute;
}

#contentNettime_labNettime12 {
  width: 182px;
}

#contentNettime_labNettime12 {
  height: 40px;
}

#contentNettime_labNettime12 {
  z-index: 13;
}

#contentNettime_labNettime12 {
  justify-content: flex-end;
  text-align: right;
  -ms-flex-align: center;
  align-items: center;
}

#contentNettime_labNettime12 {
  font-size: 20px;
}

#contentNettime_labNettime12 {
  font-weight: bold;
}

#contentNettime_btnNettimeActivate {
  top: 213px;
  position: absolute;
}

#contentNettime_btnNettimeActivate {
  left: 29px;
  position: absolute;
}

#contentNettime_btnNettimeActivate {
  width: 266px;
}

#contentNettime_btnNettimeActivate {
  height: 60px;
}

#contentNettime_btnNettimeActivate {
  z-index: 14;
}

#contentNettime_btnNettimeActivate span {
  font-size: 24px;
}

#contentNettime_btnNettimeActivate span {
  font-weight: bold;
}

#contentNettime_labNettime13 {
  top: 158px;
  position: absolute;
}

#contentNettime_labNettime13 {
  left: 20px;
  position: absolute;
}

#contentNettime_labNettime13 {
  width: 200px;
}

#contentNettime_labNettime13 {
  height: 40px;
}

#contentNettime_labNettime13 {
  z-index: 15;
}

#contentNettime_labNettime13 {
  justify-content: flex-end;
  text-align: right;
  -ms-flex-align: center;
  align-items: center;
}

#contentNettime_labNettime13 {
  font-size: 20px;
}

#contentNettime_labNettime13 {
  font-weight: bold;
}

#contentNettime_numPowerlinkDelayCamera {
  width: 100px;
}

#contentNettime_numPowerlinkDelayCamera {
  top: 158px;
  position: absolute;
}

#contentNettime_numPowerlinkDelayCamera {
  left: 224px;
  position: absolute;
}

#contentNettime_numPowerlinkDelayCamera {
  height: 40px;
}

#contentNettime_numPowerlinkDelayCamera {
  z-index: 16;
}

#contentNettime_numPowerlinkDelayCamera input {
  font-size: 18px;
}

#contentNettime_numPowerlinkDelayCamera {
  padding: 0px 5px 0px 5px;
}

#contentNettime_grpConfig {
  top: 10px;
  position: absolute;
}

#contentNettime_grpConfig {
  left: 10px;
  position: absolute;
}

#contentNettime_grpConfig {
  width: 450px;
}

#contentNettime_grpConfig {
  height: 485px;
}

#contentNettime_grpConfig {
  z-index: 1;
}

#contentNettime_labNettime1 {
  top: 8px;
  position: absolute;
}

#contentNettime_labNettime1 {
  left: 54px;
  position: absolute;
}

#contentNettime_labNettime1 {
  width: 100px;
}

#contentNettime_labNettime1 {
  height: 40px;
}

#contentNettime_labNettime1 {
  z-index: 0;
}

#contentNettime_labNettime1 {
  justify-content: flex-end;
  text-align: right;
  -ms-flex-align: center;
  align-items: center;
}

#contentNettime_labNettime1 {
  font-size: 20px;
}

#contentNettime_labNettime1 {
  font-weight: bold;
}

#contentNettime_numVelocity {
  top: 8px;
  position: absolute;
}

#contentNettime_numVelocity {
  left: 164px;
  position: absolute;
}

#contentNettime_numVelocity {
  width: 116px;
}

#contentNettime_numVelocity {
  height: 40px;
}

#contentNettime_numVelocity {
  z-index: 1;
}

#contentNettime_numVelocity input {
  font-size: 18px;
}

#contentNettime_numVelocity {
  padding: 0px 5px 0px 5px;
}

#contentNettime_labNettime2 {
  top: 58px;
  position: absolute;
}

#contentNettime_labNettime2 {
  left: 14px;
  position: absolute;
}

#contentNettime_labNettime2 {
  width: 138px;
}

#contentNettime_labNettime2 {
  height: 40px;
}

#contentNettime_labNettime2 {
  z-index: 2;
}

#contentNettime_labNettime2 {
  justify-content: flex-end;
  text-align: right;
  -ms-flex-align: center;
  align-items: center;
}

#contentNettime_labNettime2 {
  font-size: 20px;
}

#contentNettime_labNettime2 {
  font-weight: bold;
}

#contentNettime_numAcceleration {
  top: 58px;
  position: absolute;
}

#contentNettime_numAcceleration {
  left: 164px;
  position: absolute;
}

#contentNettime_numAcceleration {
  width: 116px;
}

#contentNettime_numAcceleration {
  height: 40px;
}

#contentNettime_numAcceleration {
  z-index: 3;
}

#contentNettime_numAcceleration input {
  font-size: 18px;
}

#contentNettime_numAcceleration {
  padding: 0px 5px 0px 5px;
}

#contentNettime_txtVelocityCurrent {
  top: 8px;
  position: absolute;
}

#contentNettime_txtVelocityCurrent {
  left: 304px;
  position: absolute;
}

#contentNettime_txtVelocityCurrent {
  width: 120px;
}

#contentNettime_txtVelocityCurrent {
  height: 37px;
}

#contentNettime_txtVelocityCurrent {
  z-index: 4;
}

#contentNettime_txtVelocityCurrent {
  border-width: 2px;
}

#contentNettime_txtVelocityCurrent {
  border-radius: 5px;
}

#contentNettime_txtVelocityCurrent input {
  font-size: 18px;
}

#contentNettime_txtVelocityCurrent {
  padding: 0px 5px 0px 5px;
}

#contentNettime_txtPositionCurrent {
  top: 108px;
  position: absolute;
}

#contentNettime_txtPositionCurrent {
  left: 164px;
  position: absolute;
}

#contentNettime_txtPositionCurrent {
  width: 120px;
}

#contentNettime_txtPositionCurrent {
  height: 37px;
}

#contentNettime_txtPositionCurrent {
  z-index: 5;
}

#contentNettime_txtPositionCurrent {
  border-width: 2px;
}

#contentNettime_txtPositionCurrent {
  border-radius: 5px;
}

#contentNettime_txtPositionCurrent input {
  font-size: 18px;
}

#contentNettime_txtPositionCurrent {
  padding: 0px 5px 0px 5px;
}

#contentNettime_labNettime3 {
  top: 108px;
  position: absolute;
}

#contentNettime_labNettime3 {
  left: 14px;
  position: absolute;
}

#contentNettime_labNettime3 {
  width: 138px;
}

#contentNettime_labNettime3 {
  height: 40px;
}

#contentNettime_labNettime3 {
  z-index: 6;
}

#contentNettime_labNettime3 {
  justify-content: flex-end;
  text-align: right;
  -ms-flex-align: center;
  align-items: center;
}

#contentNettime_labNettime3 {
  font-size: 20px;
}

#contentNettime_labNettime3 {
  font-weight: bold;
}

#contentNettime_btnDriveRun {
  top: 233px;
  position: absolute;
}

#contentNettime_btnDriveRun {
  left: 19px;
  position: absolute;
}

#contentNettime_btnDriveRun {
  width: 266px;
}

#contentNettime_btnDriveRun {
  height: 60px;
}

#contentNettime_btnDriveRun {
  z-index: 7;
}

#contentNettime_btnDriveRun span {
  font-size: 24px;
}

#contentNettime_btnDriveRun span {
  font-weight: bold;
}

#contentNettime_btnDrivePower {
  top: 153px;
  position: absolute;
}

#contentNettime_btnDrivePower {
  left: 19px;
  position: absolute;
}

#contentNettime_btnDrivePower {
  width: 266px;
}

#contentNettime_btnDrivePower {
  height: 60px;
}

#contentNettime_btnDrivePower {
  z-index: 8;
}

#contentNettime_btnDrivePower span {
  font-size: 24px;
}

#contentNettime_btnDrivePower span {
  font-weight: bold;
}

#contentNettime_btnMoveToTrigger {
  top: 313px;
  position: absolute;
}

#contentNettime_btnMoveToTrigger {
  left: 19px;
  position: absolute;
}

#contentNettime_btnMoveToTrigger {
  width: 266px;
}

#contentNettime_btnMoveToTrigger {
  height: 60px;
}

#contentNettime_btnMoveToTrigger {
  z-index: 9;
}

#contentNettime_btnMoveToTrigger span {
  font-size: 24px;
}

#contentNettime_btnMoveToTrigger span {
  font-weight: bold;
}

#contentNettime_btnAckAxisError {
  top: 393px;
  position: absolute;
}

#contentNettime_btnAckAxisError {
  left: 19px;
  position: absolute;
}

#contentNettime_btnAckAxisError {
  width: 120px;
}

#contentNettime_btnAckAxisError {
  height: 40px;
}

#contentNettime_btnAckAxisError {
  z-index: 10;
}

#contentNettime_btnAckAxisError span {
  font-size: 24px;
}

#contentNettime_btnAckAxisError span {
  font-weight: bold;
}

#contentNettime_btnHomeAxis {
  top: 393px;
  position: absolute;
}

#contentNettime_btnHomeAxis {
  left: 165px;
  position: absolute;
}

#contentNettime_btnHomeAxis {
  width: 120px;
}

#contentNettime_btnHomeAxis {
  height: 40px;
}

#contentNettime_btnHomeAxis {
  z-index: 11;
}

#contentNettime_btnHomeAxis span {
  font-size: 24px;
}

#contentNettime_btnHomeAxis span {
  font-weight: bold;
}

#contentNettime_labNotification {
  top: 430px;
  position: absolute;
}

#contentNettime_labNotification {
  left: 480px;
  position: absolute;
}

#contentNettime_labNotification {
  width: 710px;
}

#contentNettime_labNotification {
  height: 61px;
}

#contentNettime_labNotification {
  z-index: 2;
}

#contentNettime_labNotification {
  border-width: 1px;
}

#contentNettime_labNotification {
  border-radius: 5px;
}

#contentNettime_labNotification {
  border-style: solid;
}

#contentNettime_labNotification:before {
  border-style: solid;
}

#contentNettime_labNotification:after {
  border-style: solid;
}

#contentNettime_labNotification span {
  color: #c00000;
}

#contentNettime_labNotification {
  font-weight: bold;
}
