﻿@import "mixins.scss";
#UploadOptionsContent_RadioButtonGroupJPEGorBitmap {
	@include elemWidth(150);
}
#UploadOptionsContent_RadioButtonGroupJPEGorBitmap {
	@include elemHeight(90);
}
#UploadOptionsContent_RadioButtonGroupJPEGorBitmap {
	@include elemTop(170);
}
#UploadOptionsContent_RadioButtonGroupJPEGorBitmap {
	@include elemLeft(20);
}
#UploadOptionsContent_RadioButtonGroupJPEGorBitmap {
		z-index: 1;
}
#UploadOptionsContent_RadioButtonJPEG {
	@include elemAutoWidth(150);
}
#UploadOptionsContent_RadioButtonJPEG {
	@include elemAutoHeight(30);
}
#UploadOptionsContent_RadioButtonJPEG {
	@include elemTop(5);
}
#UploadOptionsContent_RadioButtonJPEG {
	@include elemLeft(10);
}
#UploadOptionsContent_RadioButtonJPEG {
		z-index: 0;
}
#UploadOptionsContent_RadioButtonJPEG {
		margin: 5px 0px;
}
#UploadOptionsContent_RadioButtonBitmap {
	@include elemAutoWidth(150);
}
#UploadOptionsContent_RadioButtonBitmap {
	@include elemAutoHeight(30);
}
#UploadOptionsContent_RadioButtonBitmap {
	@include elemTop(5);
}
#UploadOptionsContent_RadioButtonBitmap {
	@include elemLeft(10);
}
#UploadOptionsContent_RadioButtonBitmap {
		z-index: 1;
}
#UploadOptionsContent_RadioButtonBitmap {
		margin: 5px 0px;
}
#UploadOptionsContent_chkUploadJBEGBitmap {
	@include elemAutoHeight(30);
}
#UploadOptionsContent_chkUploadJBEGBitmap {
	@include elemTop(55);
}
#UploadOptionsContent_chkUploadJBEGBitmap {
	@include elemLeft(20);
}
#UploadOptionsContent_chkUploadJBEGBitmap {
	@include elemAutoWidth(380);
}
#UploadOptionsContent_chkUploadJBEGBitmap {
		z-index: 2;
}
#UploadOptionsContent_chkUploadJBEGBitmap {
	span{
		font-size: 18px;
	}
}
#UploadOptionsContent_chkUploadSVG {
	@include elemAutoHeight(30);
}
#UploadOptionsContent_chkUploadSVG {
	@include elemTop(95);
}
#UploadOptionsContent_chkUploadSVG {
	@include elemLeft(20);
}
#UploadOptionsContent_chkUploadSVG {
	@include elemAutoWidth(380);
}
#UploadOptionsContent_chkUploadSVG {
		z-index: 3;
}
#UploadOptionsContent_chkUploadSVG {
	span{
		font-size: 18px;
	}
}
#UploadOptionsContent_LabelQuality {
	@include elemAutoHeight(30);
}
#UploadOptionsContent_LabelQuality {
	@include elemTop(180);
}
#UploadOptionsContent_LabelQuality {
	@include elemLeft(130);
}
#UploadOptionsContent_LabelQuality {
	@include elemAutoWidth(100);
}
#UploadOptionsContent_LabelQuality {
		z-index: 0;
}
#UploadOptionsContent_LabelQuality {
	@include text-alignment-all('right');
}
#UploadOptionsContent_LabelQuality {
		font-size: 18px;
}
#UploadOptionsContent_numJPEGQuality {
	@include elemHeight(30);
}
#UploadOptionsContent_numJPEGQuality {
	@include elemTop(180);
}
#UploadOptionsContent_numJPEGQuality {
	@include elemLeft(240);
}
#UploadOptionsContent_numJPEGQuality {
	@include elemWidth(90);
}
#UploadOptionsContent_numJPEGQuality {
		z-index: 4;
}
#UploadOptionsContent_numJPEGQuality {
	input{
		font-size: 16px;
	}
}
#UploadOptionsContent_numJPEGQuality {
		padding: 0px 5px 0px 5px;
}
#UploadOptionsContent_LabelImageSettings {
	@include elemAutoHeight(30);
}
#UploadOptionsContent_LabelImageSettings {
	@include elemTop(140);
}
#UploadOptionsContent_LabelImageSettings {
	@include elemLeft(20);
}
#UploadOptionsContent_LabelImageSettings {
	@include elemAutoWidth(360);
}
#UploadOptionsContent_LabelImageSettings {
		z-index: 5;
}
#UploadOptionsContent_LabelImageSettings {
	@include text-alignment-all('left');
}
#UploadOptionsContent_LabelImageSettings {
		font-size: 18px;
}
#UploadOptionsContent_LabelImageSettings {
	@include font-weight-bold(true);
}
#UploadOptionsContent_Label19 {
	@include elemAutoHeight(30);
}
#UploadOptionsContent_Label19 {
	@include elemTop(15);
}
#UploadOptionsContent_Label19 {
	@include elemLeft(20);
}
#UploadOptionsContent_Label19 {
	@include elemAutoWidth(300);
}
#UploadOptionsContent_Label19 {
		z-index: 6;
}
#UploadOptionsContent_Label19 {
	@include text-alignment-all('left');
}
#UploadOptionsContent_Label19 {
		font-size: 18px;
}
#UploadOptionsContent_Label19 {
	@include font-weight-bold(true);
}
#UploadOptionsContent_LabelUploadImages {
	@include elemAutoHeight(30);
}
#UploadOptionsContent_LabelUploadImages {
	@include elemTop(15);
}
#UploadOptionsContent_LabelUploadImages {
	@include elemLeft(20);
}
#UploadOptionsContent_LabelUploadImages {
	@include elemAutoWidth(300);
}
#UploadOptionsContent_LabelUploadImages {
		z-index: 7;
}
#UploadOptionsContent_LabelUploadImages {
	@include text-alignment-all('left');
}
#UploadOptionsContent_LabelUploadImages {
		font-size: 18px;
}
#UploadOptionsContent_LabelUploadImages {
	@include font-weight-bold(true);
}
#UploadOptionsContent_btnDeleteAll {
	@include elemTop(325);
}
#UploadOptionsContent_btnDeleteAll {
	@include elemLeft(20);
}
#UploadOptionsContent_btnDeleteAll {
	@include elemAutoWidth(130);
}
#UploadOptionsContent_btnDeleteAll {
	@include elemAutoHeight(85);
}
#UploadOptionsContent_btnDeleteAll {
		z-index: 8;
}
#UploadOptionsContent_btnDeleteAll {
	@include border-radius(5px);
}
#UploadOptionsContent_btnDeleteAll {
	span{
		font-size: 24px;
	}
}
#UploadOptionsContent_btnDeleteAll {
	span{
	@include font-weight-bold(true);
	}
}
#UploadOptionsContent_btnClose {
	@include elemTop(325);
}
#UploadOptionsContent_btnClose {
	@include elemLeft(260);
}
#UploadOptionsContent_btnClose {
	@include elemAutoWidth(120);
}
#UploadOptionsContent_btnClose {
	@include elemAutoHeight(85);
}
#UploadOptionsContent_btnClose {
		z-index: 9;
}
#UploadOptionsContent_btnClose {
	@include border-radius(5px);
}
#UploadOptionsContent_btnClose {
	span{
		font-size: 24px;
	}
}
#UploadOptionsContent_btnClose {
	span{
	@include font-weight-bold(true);
	}
}
#UploadOptionsContent_chkMainAutoArchive {
	@include elemTop(275);
}
#UploadOptionsContent_chkMainAutoArchive {
	@include elemLeft(25);
}
#UploadOptionsContent_chkMainAutoArchive {
	@include elemAutoWidth(300);
}
#UploadOptionsContent_chkMainAutoArchive {
	@include elemAutoHeight(35);
}
#UploadOptionsContent_chkMainAutoArchive {
		z-index: 10;
}
#UploadOptionsContent_chkMainAutoArchive {
	span{
		font-size: 18px;
	}
}
