﻿@import "mixins.scss";
@import "../../../../widgets/brease/DateTimeInput/meta/DateTimeInput_base";
.widgets_brease_DateTimeInput_style_Input {
@include widgets_brease_DateTimeInput_base; 
&:not(.active):not(.disabled) span {
	color: #000000;
}
&:not(.disabled):not(.active) {
	border-width: 2px 2px 1px 1px;
}
&.active:not(.disabled) {
	border-width: 2px 2px 1px 1px;
}
&:not(.active):not(.disabled) {
	border-color: #FF8800;
}
&.active:not(.disabled) {
	border-color: #FF8800;
}
	font-size: 20px;
&:not(.active):not(.disabled) {
	background-color: #FFFFFF;
}
&.active:not(.disabled) {
	background-color: #EBEBEB;
}
&.active:not(.disabled) span {
	color: #555555;
}
@include font-weight-bold(true);
@include box-shadow(4px 1px 3px 0px rgba(255, 113, 0, 0.75));

}
@import "../../../../widgets/brease/DateTimeInput/meta/DateTimeInput_base";
.widgets_brease_DateTimeInput_style_InputLarge {
@include widgets_brease_DateTimeInput_base; 
&:not(.active):not(.disabled) span {
	color: #000000;
}
&:not(.disabled):not(.active) {
	border-width: 2px 2px 1px 1px;
}
&.active:not(.disabled) {
	border-width: 2px 2px 1px 1px;
}
&:not(.active):not(.disabled) {
	border-color: #FF8800;
}
&.active:not(.disabled) {
	border-color: #FF8800;
}
	font-size: 32px;
&:not(.active):not(.disabled) {
	background-color: #FFFFFF;
}
&.active:not(.disabled) {
	background-color: #EBEBEB;
}
&.active:not(.disabled) span {
	color: #555555;
}
@include font-weight-bold(true);
@include box-shadow(4px 1px 3px 0px rgba(255, 113, 0, 0.75));

}
@import "../../../../widgets/brease/DateTimeInput/meta/DateTimeInput_base";
.widgets_brease_DateTimeInput_style_InputCommand {
@include widgets_brease_DateTimeInput_base; 
&:not(.active):not(.disabled) span {
	color: #000000;
}
&:not(.disabled):not(.active) {
	border-width: 2px 2px 1px 1px;
}
&.active:not(.disabled) {
	border-width: 2px 2px 1px 1px;
}
&:not(.active):not(.disabled) {
	border-color: #5196AF;
}
&.active:not(.disabled) {
	border-color: #5196AF;
}
	font-size: 20px;
&:not(.active):not(.disabled) {
	background-color: #FFFFFF;
}
&.active:not(.disabled) {
	background-color: #EBEBEB;
}
&.active:not(.disabled) span {
	color: #555555;
}
@include font-weight-bold(true);
@include box-shadow(4px 1px 3px 0px rgba(81, 150, 175, 0.75));

}
@import "../../../../widgets/brease/ListBox/meta/ListBox_base";
.widgets_brease_ListBox_style_ListBox1 {
@include widgets_brease_ListBox_base; 
.TextView {
	font-size: 16px;
}
.TextView:not(.textSelected) {
	color: #474747;
}
.TextView.textSelected {
	color: #FFFFFF;
}
&.ListBoxView {
	border-width: 0px;
}
.ItemView:not(.itemSelected) {
	background-color: #C6C6C6;
}
.ItemView.itemSelected {
@include backGroundGradient('linear-gradient(to bottom, #66CCFF 0%,#52A3CC 100%)');
}
&.ListBoxView {
	border-color: #C6C6C6;
}
.TextView {
@include text-alignment(left);
}

}
