@import '../../../../css/libs/variables.scss';
@import '../../../../css/libs/mixins.scss';


.breaseWebViewer {

    .editorImage {
        height: 100%;
        width: 100%;
        background-repeat: no-repeat;
        background-position: center;
        box-sizing: border-box;
    }

    iframe {
        height: inherit;
        width:  inherit;
    }

    &.disabled {
        iframe {
            pointer-events: none;
            opacity: 0.4;
        }
    }
}
