#UploadOptionsContent_RadioButtonGroupJPEGorBitmap {
  width: 150px;
}

#UploadOptionsContent_RadioButtonGroupJPEGorBitmap {
  height: 90px;
}

#UploadOptionsContent_RadioButtonGroupJPEGorBitmap {
  top: 170px;
  position: absolute;
}

#UploadOptionsContent_RadioButtonGroupJPEGorBitmap {
  left: 20px;
  position: absolute;
}

#UploadOptionsContent_RadioButtonGroupJPEGorBitmap {
  z-index: 1;
}

#UploadOptionsContent_RadioButtonJPEG {
  width: 150px;
}

#UploadOptionsContent_RadioButtonJPEG {
  height: 30px;
}

#UploadOptionsContent_RadioButtonJPEG {
  top: 5px;
  position: absolute;
}

#UploadOptionsContent_RadioButtonJPEG {
  left: 10px;
  position: absolute;
}

#UploadOptionsContent_RadioButtonJPEG {
  z-index: 0;
}

#UploadOptionsContent_RadioButtonJPEG {
  margin: 5px 0px;
}

#UploadOptionsContent_RadioButtonBitmap {
  width: 150px;
}

#UploadOptionsContent_RadioButtonBitmap {
  height: 30px;
}

#UploadOptionsContent_RadioButtonBitmap {
  top: 5px;
  position: absolute;
}

#UploadOptionsContent_RadioButtonBitmap {
  left: 10px;
  position: absolute;
}

#UploadOptionsContent_RadioButtonBitmap {
  z-index: 1;
}

#UploadOptionsContent_RadioButtonBitmap {
  margin: 5px 0px;
}

#UploadOptionsContent_chkUploadJBEGBitmap {
  height: 30px;
}

#UploadOptionsContent_chkUploadJBEGBitmap {
  top: 55px;
  position: absolute;
}

#UploadOptionsContent_chkUploadJBEGBitmap {
  left: 20px;
  position: absolute;
}

#UploadOptionsContent_chkUploadJBEGBitmap {
  width: 380px;
}

#UploadOptionsContent_chkUploadJBEGBitmap {
  z-index: 2;
}

#UploadOptionsContent_chkUploadJBEGBitmap span {
  font-size: 18px;
}

#UploadOptionsContent_chkUploadSVG {
  height: 30px;
}

#UploadOptionsContent_chkUploadSVG {
  top: 95px;
  position: absolute;
}

#UploadOptionsContent_chkUploadSVG {
  left: 20px;
  position: absolute;
}

#UploadOptionsContent_chkUploadSVG {
  width: 380px;
}

#UploadOptionsContent_chkUploadSVG {
  z-index: 3;
}

#UploadOptionsContent_chkUploadSVG span {
  font-size: 18px;
}

#UploadOptionsContent_LabelQuality {
  height: 30px;
}

#UploadOptionsContent_LabelQuality {
  top: 180px;
  position: absolute;
}

#UploadOptionsContent_LabelQuality {
  left: 130px;
  position: absolute;
}

#UploadOptionsContent_LabelQuality {
  width: 100px;
}

#UploadOptionsContent_LabelQuality {
  z-index: 0;
}

#UploadOptionsContent_LabelQuality {
  justify-content: flex-end;
  text-align: right;
  -ms-flex-align: center;
  align-items: center;
}

#UploadOptionsContent_LabelQuality {
  font-size: 18px;
}

#UploadOptionsContent_numJPEGQuality {
  height: 30px;
}

#UploadOptionsContent_numJPEGQuality {
  top: 180px;
  position: absolute;
}

#UploadOptionsContent_numJPEGQuality {
  left: 240px;
  position: absolute;
}

#UploadOptionsContent_numJPEGQuality {
  width: 90px;
}

#UploadOptionsContent_numJPEGQuality {
  z-index: 4;
}

#UploadOptionsContent_numJPEGQuality input {
  font-size: 16px;
}

#UploadOptionsContent_numJPEGQuality {
  padding: 0px 5px 0px 5px;
}

#UploadOptionsContent_LabelImageSettings {
  height: 30px;
}

#UploadOptionsContent_LabelImageSettings {
  top: 140px;
  position: absolute;
}

#UploadOptionsContent_LabelImageSettings {
  left: 20px;
  position: absolute;
}

#UploadOptionsContent_LabelImageSettings {
  width: 360px;
}

#UploadOptionsContent_LabelImageSettings {
  z-index: 5;
}

#UploadOptionsContent_LabelImageSettings {
  justify-content: flex-start;
  text-align: left;
  -ms-flex-align: center;
  align-items: center;
}

#UploadOptionsContent_LabelImageSettings {
  font-size: 18px;
}

#UploadOptionsContent_LabelImageSettings {
  font-weight: bold;
}

#UploadOptionsContent_Label19 {
  height: 30px;
}

#UploadOptionsContent_Label19 {
  top: 15px;
  position: absolute;
}

#UploadOptionsContent_Label19 {
  left: 20px;
  position: absolute;
}

#UploadOptionsContent_Label19 {
  width: 300px;
}

#UploadOptionsContent_Label19 {
  z-index: 6;
}

#UploadOptionsContent_Label19 {
  justify-content: flex-start;
  text-align: left;
  -ms-flex-align: center;
  align-items: center;
}

#UploadOptionsContent_Label19 {
  font-size: 18px;
}

#UploadOptionsContent_Label19 {
  font-weight: bold;
}

#UploadOptionsContent_LabelUploadImages {
  height: 30px;
}

#UploadOptionsContent_LabelUploadImages {
  top: 15px;
  position: absolute;
}

#UploadOptionsContent_LabelUploadImages {
  left: 20px;
  position: absolute;
}

#UploadOptionsContent_LabelUploadImages {
  width: 300px;
}

#UploadOptionsContent_LabelUploadImages {
  z-index: 7;
}

#UploadOptionsContent_LabelUploadImages {
  justify-content: flex-start;
  text-align: left;
  -ms-flex-align: center;
  align-items: center;
}

#UploadOptionsContent_LabelUploadImages {
  font-size: 18px;
}

#UploadOptionsContent_LabelUploadImages {
  font-weight: bold;
}

#UploadOptionsContent_btnDeleteAll {
  top: 325px;
  position: absolute;
}

#UploadOptionsContent_btnDeleteAll {
  left: 20px;
  position: absolute;
}

#UploadOptionsContent_btnDeleteAll {
  width: 130px;
}

#UploadOptionsContent_btnDeleteAll {
  height: 85px;
}

#UploadOptionsContent_btnDeleteAll {
  z-index: 8;
}

#UploadOptionsContent_btnDeleteAll {
  border-radius: 5px;
}

#UploadOptionsContent_btnDeleteAll span {
  font-size: 24px;
}

#UploadOptionsContent_btnDeleteAll span {
  font-weight: bold;
}

#UploadOptionsContent_btnClose {
  top: 325px;
  position: absolute;
}

#UploadOptionsContent_btnClose {
  left: 260px;
  position: absolute;
}

#UploadOptionsContent_btnClose {
  width: 120px;
}

#UploadOptionsContent_btnClose {
  height: 85px;
}

#UploadOptionsContent_btnClose {
  z-index: 9;
}

#UploadOptionsContent_btnClose {
  border-radius: 5px;
}

#UploadOptionsContent_btnClose span {
  font-size: 24px;
}

#UploadOptionsContent_btnClose span {
  font-weight: bold;
}

#UploadOptionsContent_chkMainAutoArchive {
  top: 275px;
  position: absolute;
}

#UploadOptionsContent_chkMainAutoArchive {
  left: 25px;
  position: absolute;
}

#UploadOptionsContent_chkMainAutoArchive {
  width: 300px;
}

#UploadOptionsContent_chkMainAutoArchive {
  height: 35px;
}

#UploadOptionsContent_chkMainAutoArchive {
  z-index: 10;
}

#UploadOptionsContent_chkMainAutoArchive span {
  font-size: 18px;
}
