/* definition of the method list toolbar buttons (Off, Abort, ...) */

.methodListToolbarButton {
    font-weight: normal;
    font-family: var(--main-font) !important; 
    font-size: 16px;
    border-radius: 4px;
    border: 1px solid grey !important; 
    color: white !important;
    cursor: pointer !important;
    margin: 0px 0px 0px 1px;
}

.methodListToolbarButton:hover {
    background-color: var(--main-orange) !important;
}

/* definition of the deactivated method list toolbar buttons (Off, Abort, ...) */
.methodListToolbarButtonDeactivated {
    background-color: var(--main-grey-dark2) !important; 
    font-weight: normal;
    font-family: var(--main-font) !important; 
    font-size: 16px;
    border-radius: 4px;
    border: 1px solid grey !important; 
    color: white !important;
    cursor: default !important;
    margin: 0px 0px 0px 1px;
}

.methodListToolbarButtonDeactivated:hover {
    background-color: var(--main-grey-dark2) !important;
    color: white !important;
}

.methodListToolbarButtonDeactivated:active {
    background-color: var(--main-grey-dark2) !important;
    color: white !important;
}