#contentFooter_faAutoSetup.right {
  top: 0px;
  position: absolute;
}

#contentFooter_faAutoSetup.left {
  top: 0px;
  position: absolute;
}

#contentFooter_faAutoSetup.top {
  left: 1000px;
  position: absolute;
}

#contentFooter_faAutoSetup.bottom {
  left: 1000px;
  position: absolute;
}

#contentFooter_faAutoSetup_breaseFlyOutWrapper .breaseFlyOutWrapper > .container {
  width: 360px;
}

#contentFooter_faAutoSetup_breaseFlyOutWrapper .breaseFlyOutWrapper > .container {
  height: 630px;
}

#contentFooter_faAutoSetup {
  z-index: 19;
}

#contentFooter_faAutoSetup_breaseFlyOutWrapper .breaseFlyOutWrapper > .flyoutButton {
  height: 40px;
}

#contentFooter_faAutoSetup {
  height: 40px;
}

#contentFooter_faAutoSetup_breaseFlyOutWrapper .breaseFlyOutWrapper > .flyoutButton {
  width: 150px;
}

#contentFooter_faAutoSetup {
  width: 150px;
}

#contentFooter_faAutoSetup_breaseFlyOutWrapper .breaseFlyOutWrapper > .flyoutButton {
  border-width: 1px;
}

#contentFooter_faAutoSetup_breaseFlyOutWrapper .breaseFlyOutWrapper > .flyoutButton {
  border-radius: 5px;
}

#contentFooter_faAutoSetup_breaseFlyOutWrapper .breaseFlyOutWrapper > .container {
  border-style: solid;
}

#contentFooter_faAutoSetup_breaseFlyOutWrapper .breaseFlyOutWrapper > .container {
  border-width: 1px;
}

#contentFooter_faAutoSetup_breaseFlyOutWrapper .breaseFlyOutWrapper > .container {
  background-color: #ffc080;
}

#contentFooter_faAutoSetup_breaseFlyOutWrapper .breaseFlyOutWrapper > .flyoutButton span {
  font-size: 20px;
}

#contentFooter_Label6 {
  height: 30px;
}

#contentFooter_Label6 {
  top: 19px;
  position: absolute;
}

#contentFooter_Label6 {
  left: 94px;
  position: absolute;
}

#contentFooter_Label6 {
  width: 130px;
}

#contentFooter_Label6 {
  z-index: 0;
}

#contentFooter_Label6 {
  justify-content: flex-end;
  text-align: right;
  -ms-flex-align: center;
  align-items: center;
}

#contentFooter_Label6 {
  font-size: 18px;
}

#contentFooter_Label7 {
  height: 30px;
}

#contentFooter_Label7 {
  top: 54px;
  position: absolute;
}

#contentFooter_Label7 {
  left: 94px;
  position: absolute;
}

#contentFooter_Label7 {
  width: 130px;
}

#contentFooter_Label7 {
  z-index: 1;
}

#contentFooter_Label7 {
  justify-content: flex-end;
  text-align: right;
  -ms-flex-align: center;
  align-items: center;
}

#contentFooter_Label7 {
  font-size: 18px;
}

#contentFooter_Label8 {
  height: 30px;
}

#contentFooter_Label8 {
  top: 89px;
  position: absolute;
}

#contentFooter_Label8 {
  left: 94px;
  position: absolute;
}

#contentFooter_Label8 {
  width: 130px;
}

#contentFooter_Label8 {
  z-index: 2;
}

#contentFooter_Label8 {
  justify-content: flex-end;
  text-align: right;
  -ms-flex-align: center;
  align-items: center;
}

#contentFooter_Label8 {
  font-size: 18px;
}

#contentFooter_btnAutoSetup {
  top: 9px;
  position: absolute;
}

#contentFooter_btnAutoSetup {
  left: 9px;
  position: absolute;
}

#contentFooter_btnAutoSetup {
  width: 121px;
}

#contentFooter_btnAutoSetup {
  height: 60px;
}

#contentFooter_btnAutoSetup {
  z-index: 3;
}

#contentFooter_btnAutoSetup span {
  font-size: 18px;
}

#contentFooter_numAutoSetupGain {
  width: 100px;
}

#contentFooter_numAutoSetupGain {
  height: 30px;
}

#contentFooter_numAutoSetupGain {
  top: 19px;
  position: absolute;
}

#contentFooter_numAutoSetupGain {
  left: 229px;
  position: absolute;
}

#contentFooter_numAutoSetupGain {
  z-index: 4;
}

#contentFooter_numAutoSetupGain {
  border-width: 2px;
}

#contentFooter_numAutoSetupGain {
  border-radius: 5px;
}

#contentFooter_numAutoSetupGain input {
  font-size: 18px;
}

#contentFooter_numAutoSetupFocus {
  width: 100px;
}

#contentFooter_numAutoSetupFocus {
  height: 30px;
}

#contentFooter_numAutoSetupFocus {
  top: 54px;
  position: absolute;
}

#contentFooter_numAutoSetupFocus {
  left: 229px;
  position: absolute;
}

#contentFooter_numAutoSetupFocus {
  z-index: 5;
}

#contentFooter_numAutoSetupFocus {
  border-width: 2px;
}

#contentFooter_numAutoSetupFocus {
  border-radius: 5px;
}

#contentFooter_numAutoSetupFocus input {
  font-size: 18px;
}

#contentFooter_numAutoSetupExposure {
  width: 100px;
}

#contentFooter_numAutoSetupExposure {
  height: 30px;
}

#contentFooter_numAutoSetupExposure {
  top: 89px;
  position: absolute;
}

#contentFooter_numAutoSetupExposure {
  left: 229px;
  position: absolute;
}

#contentFooter_numAutoSetupExposure {
  z-index: 6;
}

#contentFooter_numAutoSetupExposure {
  border-width: 2px;
}

#contentFooter_numAutoSetupExposure {
  border-radius: 5px;
}

#contentFooter_numAutoSetupExposure input {
  font-size: 18px;
}

#contentFooter_numAutoSetupExposure {
  padding: 0px 5px 0px 15px;
}

#contentFooter_Label4 {
  top: 364px;
  position: absolute;
}

#contentFooter_Label4 {
  left: 80px;
  position: absolute;
}

#contentFooter_Label4 {
  width: 130px;
}

#contentFooter_Label4 {
  height: 40px;
}

#contentFooter_Label4 {
  z-index: 7;
}

#contentFooter_Label4 {
  justify-content: flex-end;
  text-align: right;
  -ms-flex-align: center;
  align-items: center;
}

#contentFooter_Label4 {
  font-size: 18px;
}

#contentFooter_DropDownBoxFlashColor.DropDownBoxView {
  height: 30px;
}

#contentFooter_DropDownBoxFlashColor {
  top: 369px;
  position: absolute;
}

#contentFooter_DropDownBoxFlashColor {
  left: 214px;
  position: absolute;
}

#contentFooter_DropDownBoxFlashColor.DropDownBoxView {
  width: 120px;
}

#contentFooter_DropDownBoxFlashColor {
  z-index: 8;
}

#contentFooter_DropDownBoxFlashColor .TextView {
  justify-content: center;
  text-align: center;
}

#contentFooter_DropDownBoxFlashColor_listBoxWrapper .TextView {
  justify-content: center;
  text-align: center;
}

#contentFooter_DropDownBoxFlashColor .TextView {
  font-size: 18px;
}

#contentFooter_DropDownBoxFlashColor_listBoxWrapper .TextView {
  font-size: 18px;
}

#contentFooter_Label5 {
  top: 149px;
  position: absolute;
}

#contentFooter_Label5 {
  left: 74px;
  position: absolute;
}

#contentFooter_Label5 {
  width: 130px;
}

#contentFooter_Label5 {
  height: 40px;
}

#contentFooter_Label5 {
  z-index: 9;
}

#contentFooter_Label5 {
  justify-content: flex-end;
  text-align: right;
  -ms-flex-align: center;
  align-items: center;
}

#contentFooter_Label5 {
  font-size: 18px;
}

#contentFooter_Label12 {
  top: 433px;
  position: absolute;
}

#contentFooter_Label12 {
  left: 80px;
  position: absolute;
}

#contentFooter_Label12 {
  width: 130px;
}

#contentFooter_Label12 {
  height: 40px;
}

#contentFooter_Label12 {
  z-index: 10;
}

#contentFooter_Label12 {
  justify-content: flex-end;
  text-align: right;
  -ms-flex-align: center;
  align-items: center;
}

#contentFooter_Label12 {
  font-size: 18px;
}

#contentFooter_DropDownBoxLedStatusColor.DropDownBoxView {
  height: 30px;
}

#contentFooter_DropDownBoxLedStatusColor {
  top: 438px;
  position: absolute;
}

#contentFooter_DropDownBoxLedStatusColor {
  left: 214px;
  position: absolute;
}

#contentFooter_DropDownBoxLedStatusColor.DropDownBoxView {
  width: 120px;
}

#contentFooter_DropDownBoxLedStatusColor {
  z-index: 11;
}

#contentFooter_DropDownBoxLedStatusColor .TextView {
  justify-content: center;
  text-align: center;
}

#contentFooter_DropDownBoxLedStatusColor_listBoxWrapper .TextView {
  justify-content: center;
  text-align: center;
}

#contentFooter_DropDownBoxLedStatusColor .TextView {
  font-size: 18px;
}

#contentFooter_DropDownBoxLedStatusColor_listBoxWrapper .TextView {
  font-size: 18px;
}

#contentFooter_numOffsetROIX {
  height: 30px;
}

#contentFooter_numOffsetROIX {
  top: 473px;
  position: absolute;
}

#contentFooter_numOffsetROIX {
  left: 224px;
  position: absolute;
}

#contentFooter_numOffsetROIX {
  width: 110px;
}

#contentFooter_numOffsetROIX {
  z-index: 12;
}

#contentFooter_numOffsetROIX input {
  font-size: 16px;
}

#contentFooter_numOffsetROIX {
  padding: 0px 5px 0px 5px;
}

#contentFooter_numOffsetROIY {
  height: 30px;
}

#contentFooter_numOffsetROIY {
  top: 508px;
  position: absolute;
}

#contentFooter_numOffsetROIY {
  left: 224px;
  position: absolute;
}

#contentFooter_numOffsetROIY {
  width: 110px;
}

#contentFooter_numOffsetROIY {
  z-index: 13;
}

#contentFooter_numOffsetROIY input {
  font-size: 16px;
}

#contentFooter_numOffsetROIY {
  padding: 0px 5px 0px 5px;
}

#contentFooter_numOffsetROIOrientation {
  height: 30px;
}

#contentFooter_numOffsetROIOrientation {
  top: 543px;
  position: absolute;
}

#contentFooter_numOffsetROIOrientation {
  left: 224px;
  position: absolute;
}

#contentFooter_numOffsetROIOrientation {
  width: 110px;
}

#contentFooter_numOffsetROIOrientation {
  z-index: 14;
}

#contentFooter_numOffsetROIOrientation input {
  font-size: 16px;
}

#contentFooter_numOffsetROIOrientation {
  padding: 0px 5px 0px 5px;
}

#contentFooter_Label28 {
  height: 30px;
}

#contentFooter_Label28 {
  top: 473px;
  position: absolute;
}

#contentFooter_Label28 {
  left: 64px;
  position: absolute;
}

#contentFooter_Label28 {
  width: 150px;
}

#contentFooter_Label28 {
  z-index: 15;
}

#contentFooter_Label28 {
  justify-content: flex-end;
  text-align: right;
  -ms-flex-align: center;
  align-items: center;
}

#contentFooter_Label28 {
  font-size: 18px;
}

#contentFooter_Label29 {
  height: 30px;
}

#contentFooter_Label29 {
  top: 508px;
  position: absolute;
}

#contentFooter_Label29 {
  left: 64px;
  position: absolute;
}

#contentFooter_Label29 {
  width: 150px;
}

#contentFooter_Label29 {
  z-index: 16;
}

#contentFooter_Label29 {
  justify-content: flex-end;
  text-align: right;
  -ms-flex-align: center;
  align-items: center;
}

#contentFooter_Label29 {
  font-size: 18px;
}

#contentFooter_Label30 {
  height: 30px;
}

#contentFooter_Label30 {
  top: 543px;
  position: absolute;
}

#contentFooter_Label30 {
  left: 4px;
  position: absolute;
}

#contentFooter_Label30 {
  width: 210px;
}

#contentFooter_Label30 {
  z-index: 17;
}

#contentFooter_Label30 {
  justify-content: flex-end;
  text-align: right;
  -ms-flex-align: center;
  align-items: center;
}

#contentFooter_Label30 {
  font-size: 18px;
}

#contentFooter_Label13 {
  top: 398px;
  position: absolute;
}

#contentFooter_Label13 {
  left: 80px;
  position: absolute;
}

#contentFooter_Label13 {
  width: 130px;
}

#contentFooter_Label13 {
  height: 40px;
}

#contentFooter_Label13 {
  z-index: 18;
}

#contentFooter_Label13 {
  justify-content: flex-end;
  text-align: right;
  -ms-flex-align: center;
  align-items: center;
}

#contentFooter_Label13 {
  font-size: 18px;
}

#contentFooter_DropDownBoxFlashColor1.DropDownBoxView {
  height: 30px;
}

#contentFooter_DropDownBoxFlashColor1 {
  top: 403px;
  position: absolute;
}

#contentFooter_DropDownBoxFlashColor1 {
  left: 214px;
  position: absolute;
}

#contentFooter_DropDownBoxFlashColor1.DropDownBoxView {
  width: 120px;
}

#contentFooter_DropDownBoxFlashColor1 {
  z-index: 19;
}

#contentFooter_DropDownBoxFlashColor1 .TextView {
  justify-content: center;
  text-align: center;
}

#contentFooter_DropDownBoxFlashColor1_listBoxWrapper .TextView {
  justify-content: center;
  text-align: center;
}

#contentFooter_DropDownBoxFlashColor1 .TextView {
  font-size: 18px;
}

#contentFooter_DropDownBoxFlashColor1_listBoxWrapper .TextView {
  font-size: 18px;
}

#contentFooter_labFooter6 {
  height: 30px;
}

#contentFooter_labFooter6 {
  top: 578px;
  position: absolute;
}

#contentFooter_labFooter6 {
  left: 64px;
  position: absolute;
}

#contentFooter_labFooter6 {
  width: 150px;
}

#contentFooter_labFooter6 {
  z-index: 20;
}

#contentFooter_labFooter6 {
  justify-content: flex-end;
  text-align: right;
  -ms-flex-align: center;
  align-items: center;
}

#contentFooter_labFooter6 {
  font-size: 18px;
}

#contentFooter_numTimeout {
  height: 30px;
}

#contentFooter_numTimeout {
  top: 578px;
  position: absolute;
}

#contentFooter_numTimeout {
  left: 224px;
  position: absolute;
}

#contentFooter_numTimeout {
  width: 110px;
}

#contentFooter_numTimeout {
  z-index: 21;
}

#contentFooter_numTimeout input {
  font-size: 16px;
}

#contentFooter_numTimeout {
  padding: 0px 5px 0px 0px;
}

#contentFooter_imgCamLights {
  top: 169px;
  position: absolute;
}

#contentFooter_imgCamLights {
  left: 214px;
  position: absolute;
}

#contentFooter_imgCamLights {
  width: 95px;
}

#contentFooter_imgCamLights {
  height: 150px;
}

#contentFooter_imgCamLights {
  z-index: 22;
}

#contentFooter_chkCamLightsLeft {
  height: 30px;
}

#contentFooter_chkCamLightsLeft {
  top: 229px;
  position: absolute;
}

#contentFooter_chkCamLightsLeft {
  left: 189px;
  position: absolute;
}

#contentFooter_chkCamLightsLeft {
  width: 25px;
}

#contentFooter_chkCamLightsLeft {
  z-index: 23;
}

#contentFooter_chkCamLightsRight {
  height: 30px;
}

#contentFooter_chkCamLightsRight {
  top: 229px;
  position: absolute;
}

#contentFooter_chkCamLightsRight {
  left: 309px;
  position: absolute;
}

#contentFooter_chkCamLightsRight {
  width: 25px;
}

#contentFooter_chkCamLightsRight {
  z-index: 24;
}

#contentFooter_chkCamLightsTop {
  height: 30px;
}

#contentFooter_chkCamLightsTop {
  top: 139px;
  position: absolute;
}

#contentFooter_chkCamLightsTop {
  left: 249px;
  position: absolute;
}

#contentFooter_chkCamLightsTop {
  width: 25px;
}

#contentFooter_chkCamLightsTop {
  z-index: 25;
}

#contentFooter_chkCamLightsBottom {
  height: 30px;
}

#contentFooter_chkCamLightsBottom {
  top: 319px;
  position: absolute;
}

#contentFooter_chkCamLightsBottom {
  left: 249px;
  position: absolute;
}

#contentFooter_chkCamLightsBottom {
  width: 25px;
}

#contentFooter_chkCamLightsBottom {
  z-index: 26;
}

#contentFooter_labFooter7 {
  top: 10px;
  position: absolute;
}

#contentFooter_labFooter7 {
  left: 1045px;
  position: absolute;
}

#contentFooter_labFooter7 {
  width: 210px;
}

#contentFooter_labFooter7 {
  height: 25px;
}

#contentFooter_labFooter7 {
  z-index: 43;
}

#contentFooter_labFooter7 {
  justify-content: flex-end;
  text-align: right;
  -ms-flex-align: center;
  align-items: center;
}

#contentFooter_labFooter7 {
  font-size: 18px;
}

#contentFooter_numCameraProcessingTime {
  top: 10px;
  position: absolute;
}

#contentFooter_numCameraProcessingTime {
  left: 1255px;
  position: absolute;
}

#contentFooter_numCameraProcessingTime {
  width: 90px;
}

#contentFooter_numCameraProcessingTime {
  height: 25px;
}

#contentFooter_numCameraProcessingTime {
  z-index: 2;
}

#contentFooter_numCameraProcessingTime {
  border-width: 2px;
}

#contentFooter_numCameraProcessingTime {
  border-radius: 5px;
}

#contentFooter_numCameraProcessingTime input {
  font-size: 16px;
}

#contentFooter_numCameraProcessingTime {
  padding: 0px 5px 0px 0px;
}

#contentFooter_labFooter1 {
  top: 20px;
  position: absolute;
}

#contentFooter_labFooter1 {
  left: 65px;
  position: absolute;
}

#contentFooter_labFooter1 {
  width: 100px;
}

#contentFooter_labFooter1 {
  height: 20px;
}

#contentFooter_labFooter1 {
  z-index: 3;
}

#contentFooter_labFooter1 {
  justify-content: flex-end;
  text-align: right;
  -ms-flex-align: center;
  align-items: center;
}

#contentFooter_labFooter1 {
  font-size: 20px;
}

#contentFooter_labFooter1 {
  font-weight: bold;
}

#contentFooter_labFooter2 {
  top: 50px;
  position: absolute;
}

#contentFooter_labFooter2 {
  left: 65px;
  position: absolute;
}

#contentFooter_labFooter2 {
  width: 100px;
}

#contentFooter_labFooter2 {
  height: 40px;
}

#contentFooter_labFooter2 {
  z-index: 4;
}

#contentFooter_labFooter2 {
  justify-content: flex-end;
  text-align: right;
  -ms-flex-align: center;
  align-items: center;
}

#contentFooter_labFooter2 {
  font-size: 20px;
}

#contentFooter_labFooter2 {
  font-weight: bold;
}

#contentFooter_labFooter3 {
  top: 90px;
  position: absolute;
}

#contentFooter_labFooter3 {
  left: 65px;
  position: absolute;
}

#contentFooter_labFooter3 {
  width: 100px;
}

#contentFooter_labFooter3 {
  height: 40px;
}

#contentFooter_labFooter3 {
  z-index: 5;
}

#contentFooter_labFooter3 {
  justify-content: flex-end;
  text-align: right;
  -ms-flex-align: center;
  align-items: center;
}

#contentFooter_labFooter3 {
  font-size: 20px;
}

#contentFooter_labFooter3 {
  font-weight: bold;
}

#contentFooter_numGain {
  width: 100px;
}

#contentFooter_numGain {
  top: 10px;
  position: absolute;
}

#contentFooter_numGain {
  left: 175px;
  position: absolute;
}

#contentFooter_numGain {
  height: 40px;
}

#contentFooter_numGain {
  z-index: 6;
}

#contentFooter_numGain input {
  font-size: 20px;
}

#contentFooter_numGain {
  padding: 0px 5px 0px 5px;
}

#contentFooter_numFocus {
  width: 100px;
}

#contentFooter_numFocus {
  top: 50px;
  position: absolute;
}

#contentFooter_numFocus {
  left: 175px;
  position: absolute;
}

#contentFooter_numFocus {
  height: 40px;
}

#contentFooter_numFocus {
  z-index: 7;
}

#contentFooter_numFocus input {
  font-size: 20px;
}

#contentFooter_numFocus {
  padding: 0px 5px 0px 5px;
}

#contentFooter_numExposure {
  width: 100px;
}

#contentFooter_numExposure {
  top: 90px;
  position: absolute;
}

#contentFooter_numExposure {
  left: 175px;
  position: absolute;
}

#contentFooter_numExposure {
  height: 40px;
}

#contentFooter_numExposure {
  z-index: 8;
}

#contentFooter_numExposure input {
  font-size: 20px;
}

#contentFooter_numExposure {
  padding: 0px 5px 0px 5px;
}

#contentFooter_labFooter8 {
  top: 40px;
  position: absolute;
}

#contentFooter_labFooter8 {
  left: 1030px;
  position: absolute;
}

#contentFooter_labFooter8 {
  width: 225px;
}

#contentFooter_labFooter8 {
  height: 25px;
}

#contentFooter_labFooter8 {
  z-index: 9;
}

#contentFooter_labFooter8 {
  justify-content: flex-end;
  text-align: right;
  -ms-flex-align: center;
  align-items: center;
}

#contentFooter_labFooter8 {
  font-size: 18px;
}

#contentFooter_numFunctionProcessingTime {
  top: 40px;
  position: absolute;
}

#contentFooter_numFunctionProcessingTime {
  left: 1255px;
  position: absolute;
}

#contentFooter_numFunctionProcessingTime {
  width: 90px;
}

#contentFooter_numFunctionProcessingTime {
  height: 25px;
}

#contentFooter_numFunctionProcessingTime {
  z-index: 10;
}

#contentFooter_numFunctionProcessingTime {
  border-width: 2px;
}

#contentFooter_numFunctionProcessingTime {
  border-radius: 5px;
}

#contentFooter_numFunctionProcessingTime input {
  font-size: 16px;
}

#contentFooter_numFunctionProcessingTime {
  padding: 0px 5px 0px 0px;
}

#contentFooter_labFooter5 {
  top: 45px;
  position: absolute;
}

#contentFooter_labFooter5 {
  left: 725px;
  position: absolute;
}

#contentFooter_labFooter5 {
  width: 150px;
}

#contentFooter_labFooter5 {
  height: 25px;
}

#contentFooter_labFooter5 {
  z-index: 11;
}

#contentFooter_labFooter5 {
  justify-content: flex-end;
  text-align: right;
  -ms-flex-align: center;
  align-items: center;
}

#contentFooter_labFooter5 {
  font-size: 18px;
}

#contentFooter_numItemsFound {
  top: 45px;
  position: absolute;
}

#contentFooter_numItemsFound {
  left: 874px;
  position: absolute;
}

#contentFooter_numItemsFound {
  width: 90px;
}

#contentFooter_numItemsFound {
  height: 25px;
}

#contentFooter_numItemsFound {
  z-index: 12;
}

#contentFooter_numItemsFound {
  border-width: 2px;
}

#contentFooter_numItemsFound {
  border-radius: 5px;
}

#contentFooter_numItemsFound input {
  font-size: 16px;
}

#contentFooter_numItemsFound {
  padding: 0px 5px 0px 5px;
}

#contentFooter_btnVisionEnable {
  top: 80px;
  position: absolute;
}

#contentFooter_btnVisionEnable {
  left: 305px;
  position: absolute;
}

#contentFooter_btnVisionEnable {
  width: 200px;
}

#contentFooter_btnVisionEnable {
  height: 60px;
}

#contentFooter_btnVisionEnable {
  z-index: 13;
}

#contentFooter_btnVisionEnable span {
  font-size: 24px;
}

#contentFooter_btnVisionEnable span {
  font-weight: bold;
}

#contentFooter_btnVisionEnable.checked:not(.disabled):not(.active) {
  background-image: linear-gradient(to bottom, #FFAA4D 0%,#FF8500 100%);
}

#contentFooter_labFooter4 {
  height: 30px;
}

#contentFooter_labFooter4 {
  top: 10px;
  position: absolute;
}

#contentFooter_labFooter4 {
  left: 725px;
  position: absolute;
}

#contentFooter_labFooter4 {
  width: 150px;
}

#contentFooter_labFooter4 {
  z-index: 14;
}

#contentFooter_labFooter4 {
  justify-content: flex-end;
  text-align: right;
  -ms-flex-align: center;
  align-items: center;
}

#contentFooter_labFooter4 {
  font-size: 18px;
}

#contentFooter_numMaxItemsCount {
  height: 30px;
}

#contentFooter_numMaxItemsCount {
  top: 10px;
  position: absolute;
}

#contentFooter_numMaxItemsCount {
  left: 875px;
  position: absolute;
}

#contentFooter_numMaxItemsCount {
  width: 90px;
}

#contentFooter_numMaxItemsCount {
  z-index: 15;
}

#contentFooter_numMaxItemsCount input {
  font-size: 16px;
}

#contentFooter_numMaxItemsCount {
  padding: 0px 5px 0px 5px;
}

#contentFooter_btnImageTrigger {
  top: 10px;
  position: absolute;
}

#contentFooter_btnImageTrigger {
  left: 305px;
  position: absolute;
}

#contentFooter_btnImageTrigger {
  width: 200px;
}

#contentFooter_btnImageTrigger {
  height: 60px;
}

#contentFooter_btnImageTrigger {
  z-index: 16;
}

#contentFooter_btnImageTrigger span {
  font-size: 24px;
}

#contentFooter_btnImageTrigger span {
  font-weight: bold;
}

#contentFooter_faInfo.right {
  top: 0px;
  position: absolute;
}

#contentFooter_faInfo.left {
  top: 0px;
  position: absolute;
}

#contentFooter_faInfo.top {
  left: 1000px;
  position: absolute;
}

#contentFooter_faInfo.bottom {
  left: 1000px;
  position: absolute;
}

#contentFooter_faInfo_breaseFlyOutWrapper .breaseFlyOutWrapper > .container {
  width: 330px;
}

#contentFooter_faInfo_breaseFlyOutWrapper .breaseFlyOutWrapper > .container {
  height: 600px;
}

#contentFooter_faInfo {
  z-index: 18;
}

#contentFooter_faInfo_breaseFlyOutWrapper .breaseFlyOutWrapper > .flyoutButton {
  height: 40px;
}

#contentFooter_faInfo {
  height: 40px;
}

#contentFooter_faInfo_breaseFlyOutWrapper .breaseFlyOutWrapper > .flyoutButton {
  width: 150px;
}

#contentFooter_faInfo {
  width: 150px;
}

#contentFooter_faInfo_breaseFlyOutWrapper .breaseFlyOutWrapper > .flyoutButton {
  border-width: 1px;
}

#contentFooter_faInfo_breaseFlyOutWrapper .breaseFlyOutWrapper > .flyoutButton {
  border-radius: 5px;
}

#contentFooter_faInfo_breaseFlyOutWrapper .breaseFlyOutWrapper > .container {
  border-style: solid;
}

#contentFooter_faInfo_breaseFlyOutWrapper .breaseFlyOutWrapper > .container {
  border-width: 1px;
}

#contentFooter_faInfo_breaseFlyOutWrapper .breaseFlyOutWrapper > .container {
  background-color: #ffc080;
}

#contentFooter_faInfo_breaseFlyOutWrapper .breaseFlyOutWrapper > .flyoutButton span {
  font-size: 20px;
}

#contentFooter_labDiagnostics {
  height: 30px;
}

#contentFooter_labDiagnostics {
  top: 5px;
  position: absolute;
}

#contentFooter_labDiagnostics {
  left: 0px;
  position: absolute;
}

#contentFooter_labDiagnostics {
  width: 330px;
}

#contentFooter_labDiagnostics {
  z-index: 1;
}

#contentFooter_labDiagnostics {
  justify-content: center;
  text-align: center;
  -ms-flex-align: center;
  align-items: center;
}

#contentFooter_labDiagnostics {
  font-size: 22px;
}

#contentFooter_labDiagnostics {
  font-weight: bold;
}

#contentFooter_labDiagName {
  top: 40px;
  position: absolute;
}

#contentFooter_labDiagName {
  left: 14px;
  position: absolute;
}

#contentFooter_labDiagName {
  width: 115px;
}

#contentFooter_labDiagName {
  height: 25px;
}

#contentFooter_labDiagName {
  z-index: 2;
}

#contentFooter_labDiagName {
  justify-content: flex-end;
  text-align: right;
  -ms-flex-align: center;
  align-items: center;
}

#contentFooter_labDiagName {
  font-size: 18px;
}

#contentFooter_txtDiagName {
  height: 30px;
}

#contentFooter_txtDiagName {
  top: 40px;
  position: absolute;
}

#contentFooter_txtDiagName {
  left: 135px;
  position: absolute;
}

#contentFooter_txtDiagName {
  width: 175px;
}

#contentFooter_txtDiagName {
  z-index: 3;
}

#contentFooter_labDIAG_Status {
  top: 75px;
  position: absolute;
}

#contentFooter_labDIAG_Status {
  left: 14px;
  position: absolute;
}

#contentFooter_labDIAG_Status {
  width: 115px;
}

#contentFooter_labDIAG_Status {
  height: 25px;
}

#contentFooter_labDIAG_Status {
  z-index: 4;
}

#contentFooter_labDIAG_Status {
  justify-content: flex-end;
  text-align: right;
  -ms-flex-align: center;
  align-items: center;
}

#contentFooter_labDIAG_Status {
  font-size: 18px;
}

#contentFooter_numDIAG_Status {
  top: 75px;
  position: absolute;
}

#contentFooter_numDIAG_Status {
  left: 135px;
  position: absolute;
}

#contentFooter_numDIAG_Status {
  width: 175px;
}

#contentFooter_numDIAG_Status {
  height: 25px;
}

#contentFooter_numDIAG_Status {
  z-index: 5;
}

#contentFooter_numDIAG_Status {
  border-width: 2px;
}

#contentFooter_numDIAG_Status {
  border-radius: 5px;
}

#contentFooter_numDIAG_Status input {
  font-size: 18px;
}

#contentFooter_numDIAG_Status {
  padding: 0px 5px 0px 5px;
}

#contentFooter_btnDiagSave {
  top: 105px;
  position: absolute;
}

#contentFooter_btnDiagSave {
  left: 160px;
  position: absolute;
}

#contentFooter_btnDiagSave {
  width: 150px;
}

#contentFooter_btnDiagSave {
  height: 40px;
}

#contentFooter_btnDiagSave {
  z-index: 6;
}

#contentFooter_btnDiagSave {
  border-radius: 8px;
}

#contentFooter_Line1 {
  z-index: 10;
}

#contentFooter_labCamera {
  height: 30px;
}

#contentFooter_labCamera {
  top: 180px;
  position: absolute;
}

#contentFooter_labCamera {
  left: 0px;
  position: absolute;
}

#contentFooter_labCamera {
  width: 330px;
}

#contentFooter_labCamera {
  z-index: 11;
}

#contentFooter_labCamera {
  justify-content: center;
  text-align: center;
  -ms-flex-align: center;
  align-items: center;
}

#contentFooter_labCamera {
  font-size: 22px;
}

#contentFooter_labCamera {
  font-weight: bold;
}

#contentFooter_labHW_SerialNumber {
  top: 220px;
  position: absolute;
}

#contentFooter_labHW_SerialNumber {
  left: 15px;
  position: absolute;
}

#contentFooter_labHW_SerialNumber {
  width: 190px;
}

#contentFooter_labHW_SerialNumber {
  height: 25px;
}

#contentFooter_labHW_SerialNumber {
  z-index: 12;
}

#contentFooter_labHW_SerialNumber {
  justify-content: flex-end;
  text-align: right;
  -ms-flex-align: center;
  align-items: center;
}

#contentFooter_labHW_SerialNumber {
  font-size: 18px;
}

#contentFooter_numHW_SerialNumber {
  width: 100px;
}

#contentFooter_numHW_SerialNumber {
  top: 220px;
  position: absolute;
}

#contentFooter_numHW_SerialNumber {
  left: 210px;
  position: absolute;
}

#contentFooter_numHW_SerialNumber {
  height: 25px;
}

#contentFooter_numHW_SerialNumber {
  z-index: 13;
}

#contentFooter_numHW_SerialNumber {
  border-width: 2px;
}

#contentFooter_numHW_SerialNumber {
  border-radius: 5px;
}

#contentFooter_numHW_SerialNumber input {
  font-size: 18px;
}

#contentFooter_numHW_SerialNumber {
  padding: 0px 5px 0px 5px;
}

#contentFooter_labHW_ID {
  top: 250px;
  position: absolute;
}

#contentFooter_labHW_ID {
  left: 15px;
  position: absolute;
}

#contentFooter_labHW_ID {
  width: 190px;
}

#contentFooter_labHW_ID {
  height: 25px;
}

#contentFooter_labHW_ID {
  z-index: 14;
}

#contentFooter_labHW_ID {
  justify-content: flex-end;
  text-align: right;
  -ms-flex-align: center;
  align-items: center;
}

#contentFooter_labHW_ID {
  font-size: 18px;
}

#contentFooter_numHW_ID {
  width: 100px;
}

#contentFooter_numHW_ID {
  top: 250px;
  position: absolute;
}

#contentFooter_numHW_ID {
  left: 210px;
  position: absolute;
}

#contentFooter_numHW_ID {
  height: 25px;
}

#contentFooter_numHW_ID {
  z-index: 15;
}

#contentFooter_numHW_ID {
  border-width: 2px;
}

#contentFooter_numHW_ID {
  border-radius: 5px;
}

#contentFooter_numHW_ID input {
  font-size: 18px;
}

#contentFooter_numHW_ID {
  padding: 0px 5px 0px 5px;
}

#contentFooter_labHW_Variant {
  top: 280px;
  position: absolute;
}

#contentFooter_labHW_Variant {
  left: 15px;
  position: absolute;
}

#contentFooter_labHW_Variant {
  width: 190px;
}

#contentFooter_labHW_Variant {
  height: 25px;
}

#contentFooter_labHW_Variant {
  z-index: 16;
}

#contentFooter_labHW_Variant {
  justify-content: flex-end;
  text-align: right;
  -ms-flex-align: center;
  align-items: center;
}

#contentFooter_labHW_Variant {
  font-size: 18px;
}

#contentFooter_numHW_Variant {
  width: 100px;
}

#contentFooter_numHW_Variant {
  top: 280px;
  position: absolute;
}

#contentFooter_numHW_Variant {
  left: 210px;
  position: absolute;
}

#contentFooter_numHW_Variant {
  height: 25px;
}

#contentFooter_numHW_Variant {
  z-index: 17;
}

#contentFooter_numHW_Variant {
  border-width: 2px;
}

#contentFooter_numHW_Variant {
  border-radius: 5px;
}

#contentFooter_numHW_Variant input {
  font-size: 18px;
}

#contentFooter_numHW_Variant {
  padding: 0px 5px 0px 5px;
}

#contentFooter_labHW_Firmware {
  top: 310px;
  position: absolute;
}

#contentFooter_labHW_Firmware {
  left: 15px;
  position: absolute;
}

#contentFooter_labHW_Firmware {
  width: 190px;
}

#contentFooter_labHW_Firmware {
  height: 25px;
}

#contentFooter_labHW_Firmware {
  z-index: 18;
}

#contentFooter_labHW_Firmware {
  justify-content: flex-end;
  text-align: right;
  -ms-flex-align: center;
  align-items: center;
}

#contentFooter_labHW_Firmware {
  font-size: 18px;
}

#contentFooter_numHW_Firmware {
  width: 100px;
}

#contentFooter_numHW_Firmware {
  top: 310px;
  position: absolute;
}

#contentFooter_numHW_Firmware {
  left: 210px;
  position: absolute;
}

#contentFooter_numHW_Firmware {
  height: 25px;
}

#contentFooter_numHW_Firmware {
  z-index: 19;
}

#contentFooter_numHW_Firmware {
  border-width: 2px;
}

#contentFooter_numHW_Firmware {
  border-radius: 5px;
}

#contentFooter_numHW_Firmware input {
  font-size: 18px;
}

#contentFooter_numHW_Firmware {
  padding: 0px 5px 0px 5px;
}

#contentFooter_labHW_Undervoltage {
  top: 340px;
  position: absolute;
}

#contentFooter_labHW_Undervoltage {
  left: 15px;
  position: absolute;
}

#contentFooter_labHW_Undervoltage {
  width: 190px;
}

#contentFooter_labHW_Undervoltage {
  height: 25px;
}

#contentFooter_labHW_Undervoltage {
  z-index: 20;
}

#contentFooter_labHW_Undervoltage {
  justify-content: flex-end;
  text-align: right;
  -ms-flex-align: center;
  align-items: center;
}

#contentFooter_labHW_Undervoltage {
  font-size: 18px;
}

#contentFooter_numHW_Undervoltage {
  width: 100px;
}

#contentFooter_numHW_Undervoltage {
  top: 340px;
  position: absolute;
}

#contentFooter_numHW_Undervoltage {
  left: 210px;
  position: absolute;
}

#contentFooter_numHW_Undervoltage {
  height: 25px;
}

#contentFooter_numHW_Undervoltage {
  z-index: 21;
}

#contentFooter_numHW_Undervoltage {
  border-width: 2px;
}

#contentFooter_numHW_Undervoltage {
  border-radius: 5px;
}

#contentFooter_numHW_Undervoltage input {
  font-size: 18px;
}

#contentFooter_numHW_Undervoltage {
  padding: 0px 5px 0px 5px;
}

#contentFooter_labHW_Temperature {
  top: 370px;
  position: absolute;
}

#contentFooter_labHW_Temperature {
  left: 15px;
  position: absolute;
}

#contentFooter_labHW_Temperature {
  width: 190px;
}

#contentFooter_labHW_Temperature {
  height: 25px;
}

#contentFooter_labHW_Temperature {
  z-index: 22;
}

#contentFooter_labHW_Temperature {
  justify-content: flex-end;
  text-align: right;
  -ms-flex-align: center;
  align-items: center;
}

#contentFooter_labHW_Temperature {
  font-size: 18px;
}

#contentFooter_numHW_Temperature {
  width: 100px;
}

#contentFooter_numHW_Temperature {
  top: 370px;
  position: absolute;
}

#contentFooter_numHW_Temperature {
  left: 210px;
  position: absolute;
}

#contentFooter_numHW_Temperature {
  height: 25px;
}

#contentFooter_numHW_Temperature {
  z-index: 23;
}

#contentFooter_numHW_Temperature {
  border-width: 2px;
}

#contentFooter_numHW_Temperature {
  border-radius: 5px;
}

#contentFooter_numHW_Temperature input {
  font-size: 18px;
}

#contentFooter_numHW_Temperature {
  padding: 0px 5px 0px 5px;
}

#contentFooter_labAcquisitionAcceptedCnt {
  top: 400px;
  position: absolute;
}

#contentFooter_labAcquisitionAcceptedCnt {
  left: 15px;
  position: absolute;
}

#contentFooter_labAcquisitionAcceptedCnt {
  width: 190px;
}

#contentFooter_labAcquisitionAcceptedCnt {
  height: 25px;
}

#contentFooter_labAcquisitionAcceptedCnt {
  z-index: 24;
}

#contentFooter_labAcquisitionAcceptedCnt {
  justify-content: flex-end;
  text-align: right;
  -ms-flex-align: center;
  align-items: center;
}

#contentFooter_labAcquisitionAcceptedCnt {
  font-size: 18px;
}

#contentFooter_numAcquisitionAcceptedCnt {
  width: 100px;
}

#contentFooter_numAcquisitionAcceptedCnt {
  top: 400px;
  position: absolute;
}

#contentFooter_numAcquisitionAcceptedCnt {
  left: 210px;
  position: absolute;
}

#contentFooter_numAcquisitionAcceptedCnt {
  height: 25px;
}

#contentFooter_numAcquisitionAcceptedCnt {
  z-index: 25;
}

#contentFooter_numAcquisitionAcceptedCnt {
  border-width: 2px;
}

#contentFooter_numAcquisitionAcceptedCnt {
  border-radius: 5px;
}

#contentFooter_numAcquisitionAcceptedCnt input {
  font-size: 18px;
}

#contentFooter_numAcquisitionAcceptedCnt {
  padding: 0px 5px 0px 5px;
}

#contentFooter_labAcquisitionCompletedCnt {
  top: 430px;
  position: absolute;
}

#contentFooter_labAcquisitionCompletedCnt {
  left: 15px;
  position: absolute;
}

#contentFooter_labAcquisitionCompletedCnt {
  width: 190px;
}

#contentFooter_labAcquisitionCompletedCnt {
  height: 25px;
}

#contentFooter_labAcquisitionCompletedCnt {
  z-index: 26;
}

#contentFooter_labAcquisitionCompletedCnt {
  justify-content: flex-end;
  text-align: right;
  -ms-flex-align: center;
  align-items: center;
}

#contentFooter_labAcquisitionCompletedCnt {
  font-size: 18px;
}

#contentFooter_numAcquisitionCompletedCnt {
  width: 100px;
}

#contentFooter_numAcquisitionCompletedCnt {
  top: 430px;
  position: absolute;
}

#contentFooter_numAcquisitionCompletedCnt {
  left: 210px;
  position: absolute;
}

#contentFooter_numAcquisitionCompletedCnt {
  height: 25px;
}

#contentFooter_numAcquisitionCompletedCnt {
  z-index: 27;
}

#contentFooter_numAcquisitionCompletedCnt {
  border-width: 2px;
}

#contentFooter_numAcquisitionCompletedCnt {
  border-radius: 5px;
}

#contentFooter_numAcquisitionCompletedCnt input {
  font-size: 18px;
}

#contentFooter_numAcquisitionCompletedCnt {
  padding: 0px 5px 0px 5px;
}

#contentFooter_labAcquisitionFailedCnt {
  top: 460px;
  position: absolute;
}

#contentFooter_labAcquisitionFailedCnt {
  left: 15px;
  position: absolute;
}

#contentFooter_labAcquisitionFailedCnt {
  width: 190px;
}

#contentFooter_labAcquisitionFailedCnt {
  height: 25px;
}

#contentFooter_labAcquisitionFailedCnt {
  z-index: 28;
}

#contentFooter_labAcquisitionFailedCnt {
  justify-content: flex-end;
  text-align: right;
  -ms-flex-align: center;
  align-items: center;
}

#contentFooter_labAcquisitionFailedCnt {
  font-size: 18px;
}

#contentFooter_numAcquisitionFailedCnt {
  width: 100px;
}

#contentFooter_numAcquisitionFailedCnt {
  top: 460px;
  position: absolute;
}

#contentFooter_numAcquisitionFailedCnt {
  left: 210px;
  position: absolute;
}

#contentFooter_numAcquisitionFailedCnt {
  height: 25px;
}

#contentFooter_numAcquisitionFailedCnt {
  z-index: 29;
}

#contentFooter_numAcquisitionFailedCnt {
  border-width: 2px;
}

#contentFooter_numAcquisitionFailedCnt {
  border-radius: 5px;
}

#contentFooter_numAcquisitionFailedCnt input {
  font-size: 18px;
}

#contentFooter_numAcquisitionFailedCnt {
  padding: 0px 5px 0px 5px;
}

#contentFooter_labImageProcessingError {
  top: 490px;
  position: absolute;
}

#contentFooter_labImageProcessingError {
  left: 15px;
  position: absolute;
}

#contentFooter_labImageProcessingError {
  width: 190px;
}

#contentFooter_labImageProcessingError {
  height: 25px;
}

#contentFooter_labImageProcessingError {
  z-index: 30;
}

#contentFooter_labImageProcessingError {
  justify-content: flex-end;
  text-align: right;
  -ms-flex-align: center;
  align-items: center;
}

#contentFooter_labImageProcessingError {
  font-size: 18px;
}

#contentFooter_numImageProcessingError {
  width: 100px;
}

#contentFooter_numImageProcessingError {
  top: 490px;
  position: absolute;
}

#contentFooter_numImageProcessingError {
  left: 210px;
  position: absolute;
}

#contentFooter_numImageProcessingError {
  height: 25px;
}

#contentFooter_numImageProcessingError {
  z-index: 31;
}

#contentFooter_numImageProcessingError {
  border-width: 2px;
}

#contentFooter_numImageProcessingError {
  border-radius: 5px;
}

#contentFooter_numImageProcessingError input {
  font-size: 18px;
}

#contentFooter_numImageProcessingError {
  padding: 0px 5px 0px 5px;
}

#contentFooter_labImageNettime {
  top: 520px;
  position: absolute;
}

#contentFooter_labImageNettime {
  left: 15px;
  position: absolute;
}

#contentFooter_labImageNettime {
  width: 150px;
}

#contentFooter_labImageNettime {
  height: 25px;
}

#contentFooter_labImageNettime {
  z-index: 32;
}

#contentFooter_labImageNettime {
  justify-content: flex-end;
  text-align: right;
  -ms-flex-align: center;
  align-items: center;
}

#contentFooter_labImageNettime {
  font-size: 18px;
}

#contentFooter_numImageNettime {
  top: 520px;
  position: absolute;
}

#contentFooter_numImageNettime {
  left: 170px;
  position: absolute;
}

#contentFooter_numImageNettime {
  width: 140px;
}

#contentFooter_numImageNettime {
  height: 25px;
}

#contentFooter_numImageNettime {
  z-index: 33;
}

#contentFooter_numImageNettime {
  border-width: 2px;
}

#contentFooter_numImageNettime {
  border-radius: 5px;
}

#contentFooter_numImageNettime input {
  font-size: 18px;
}

#contentFooter_numImageNettime {
  padding: 0px 5px 0px 5px;
}

#contentFooter_faOptics.right {
  top: 0px;
  position: absolute;
}

#contentFooter_faOptics.left {
  top: 0px;
  position: absolute;
}

#contentFooter_faOptics.top {
  left: 820px;
  position: absolute;
}

#contentFooter_faOptics.bottom {
  left: 820px;
  position: absolute;
}

#contentFooter_faOptics_breaseFlyOutWrapper .breaseFlyOutWrapper > .container {
  width: 360px;
}

#contentFooter_faOptics_breaseFlyOutWrapper .breaseFlyOutWrapper > .container {
  height: 530px;
}

#contentFooter_faOptics {
  z-index: 44;
}

#contentFooter_faOptics_breaseFlyOutWrapper .breaseFlyOutWrapper > .flyoutButton {
  height: 40px;
}

#contentFooter_faOptics {
  height: 40px;
}

#contentFooter_faOptics_breaseFlyOutWrapper .breaseFlyOutWrapper > .flyoutButton {
  width: 150px;
}

#contentFooter_faOptics {
  width: 150px;
}

#contentFooter_faOptics_breaseFlyOutWrapper .breaseFlyOutWrapper > .flyoutButton {
  border-width: 1px;
}

#contentFooter_faOptics_breaseFlyOutWrapper .breaseFlyOutWrapper > .flyoutButton {
  border-radius: 5px;
}

#contentFooter_faOptics_breaseFlyOutWrapper .breaseFlyOutWrapper > .container {
  border-style: solid;
}

#contentFooter_faOptics_breaseFlyOutWrapper .breaseFlyOutWrapper > .container {
  border-width: 1px;
}

#contentFooter_faOptics_breaseFlyOutWrapper .breaseFlyOutWrapper > .container {
  background-color: #ffc080;
}

#contentFooter_faOptics_breaseFlyOutWrapper .breaseFlyOutWrapper > .flyoutButton span {
  font-size: 20px;
}

#contentFooter_labCameraOrderNr {
  top: 14px;
  position: absolute;
}

#contentFooter_labCameraOrderNr {
  left: 4px;
  position: absolute;
}

#contentFooter_labCameraOrderNr {
  width: 140px;
}

#contentFooter_labCameraOrderNr {
  height: 25px;
}

#contentFooter_labCameraOrderNr {
  z-index: 26;
}

#contentFooter_labCameraOrderNr {
  justify-content: flex-end;
  text-align: right;
  -ms-flex-align: center;
  align-items: center;
}

#contentFooter_labCameraOrderNr {
  font-size: 18px;
}

#contentFooter_txtCameraOrderNr {
  top: 14px;
  position: absolute;
}

#contentFooter_txtCameraOrderNr {
  left: 149px;
  position: absolute;
}

#contentFooter_txtCameraOrderNr {
  width: 190px;
}

#contentFooter_txtCameraOrderNr {
  height: 25px;
}

#contentFooter_txtCameraOrderNr {
  z-index: 25;
}

#contentFooter_txtCameraOrderNr {
  border-width: 2px;
}

#contentFooter_txtCameraOrderNr {
  border-radius: 5px;
}

#contentFooter_txtCameraOrderNr {
  border-color: #555555;
}

#contentFooter_txtCameraOrderNr:before {
  border-color: #555555;
}

#contentFooter_txtCameraOrderNr:after {
  border-color: #555555;
}

#contentFooter_txtCameraOrderNr {
  border-style: solid;
}

#contentFooter_txtCameraOrderNr:before {
  border-style: solid;
}

#contentFooter_txtCameraOrderNr:after {
  border-style: solid;
}

#contentFooter_txtCameraOrderNr {
  justify-content: flex-end;
  text-align: right;
  -ms-flex-align: center;
  align-items: center;
}

#contentFooter_txtCameraOrderNr span {
  padding: 0px 5px 0px 5px;
}

#contentFooter_labSensor {
  top: 44px;
  position: absolute;
}

#contentFooter_labSensor {
  left: 15px;
  position: absolute;
}

#contentFooter_labSensor {
  width: 190px;
}

#contentFooter_labSensor {
  height: 25px;
}

#contentFooter_labSensor {
  z-index: 1;
}

#contentFooter_labSensor {
  justify-content: flex-end;
  text-align: right;
  -ms-flex-align: center;
  align-items: center;
}

#contentFooter_labSensor {
  font-size: 18px;
}

#contentFooter_DropDownBoxSensor.DropDownBoxView {
  height: 30px;
}

#contentFooter_DropDownBoxSensor {
  top: 44px;
  position: absolute;
}

#contentFooter_DropDownBoxSensor {
  left: 210px;
  position: absolute;
}

#contentFooter_DropDownBoxSensor.DropDownBoxView {
  width: 130px;
}

#contentFooter_DropDownBoxSensor {
  z-index: 2;
}

#contentFooter_DropDownBoxSensor .TextView {
  justify-content: center;
  text-align: center;
}

#contentFooter_DropDownBoxSensor_listBoxWrapper .TextView {
  justify-content: center;
  text-align: center;
}

#contentFooter_DropDownBoxSensor .TextView {
  font-size: 18px;
}

#contentFooter_DropDownBoxSensor_listBoxWrapper .TextView {
  font-size: 18px;
}

#contentFooter_labLens {
  top: 79px;
  position: absolute;
}

#contentFooter_labLens {
  left: 15px;
  position: absolute;
}

#contentFooter_labLens {
  width: 190px;
}

#contentFooter_labLens {
  height: 25px;
}

#contentFooter_labLens {
  z-index: 3;
}

#contentFooter_labLens {
  justify-content: flex-end;
  text-align: right;
  -ms-flex-align: center;
  align-items: center;
}

#contentFooter_labLens {
  font-size: 18px;
}

#contentFooter_DropDownBoxLens.DropDownBoxView {
  height: 30px;
}

#contentFooter_DropDownBoxLens {
  top: 79px;
  position: absolute;
}

#contentFooter_DropDownBoxLens {
  left: 210px;
  position: absolute;
}

#contentFooter_DropDownBoxLens.DropDownBoxView {
  width: 130px;
}

#contentFooter_DropDownBoxLens {
  z-index: 4;
}

#contentFooter_DropDownBoxLens > .ItemView {
  padding: 0px 5px;
}

#contentFooter_DropDownBoxLens .TextView {
  justify-content: center;
  text-align: center;
}

#contentFooter_DropDownBoxLens_listBoxWrapper .TextView {
  justify-content: center;
  text-align: center;
}

#contentFooter_DropDownBoxLens .TextView {
  font-size: 18px;
}

#contentFooter_DropDownBoxLens_listBoxWrapper .TextView {
  font-size: 18px;
}

#contentFooter_labMinLensDistance {
  top: 119px;
  position: absolute;
}

#contentFooter_labMinLensDistance {
  left: 15px;
  position: absolute;
}

#contentFooter_labMinLensDistance {
  width: 190px;
}

#contentFooter_labMinLensDistance {
  height: 25px;
}

#contentFooter_labMinLensDistance {
  z-index: 21;
}

#contentFooter_labMinLensDistance {
  justify-content: flex-end;
  text-align: right;
  -ms-flex-align: center;
  align-items: center;
}

#contentFooter_labMinLensDistance {
  font-size: 18px;
}

#contentFooter_numMinLensDistance {
  top: 119px;
  position: absolute;
}

#contentFooter_numMinLensDistance {
  left: 210px;
  position: absolute;
}

#contentFooter_numMinLensDistance {
  width: 130px;
}

#contentFooter_numMinLensDistance {
  height: 25px;
}

#contentFooter_numMinLensDistance {
  z-index: 23;
}

#contentFooter_numMinLensDistance {
  border-width: 2px;
}

#contentFooter_numMinLensDistance {
  border-radius: 5px;
}

#contentFooter_numMinLensDistance input {
  font-size: 18px;
}

#contentFooter_numMinLensDistance {
  padding: 0px 5px 0px 5px;
}

#contentFooter_labMaxLensDistance {
  top: 149px;
  position: absolute;
}

#contentFooter_labMaxLensDistance {
  left: 15px;
  position: absolute;
}

#contentFooter_labMaxLensDistance {
  width: 190px;
}

#contentFooter_labMaxLensDistance {
  height: 25px;
}

#contentFooter_labMaxLensDistance {
  z-index: 22;
}

#contentFooter_labMaxLensDistance {
  justify-content: flex-end;
  text-align: right;
  -ms-flex-align: center;
  align-items: center;
}

#contentFooter_labMaxLensDistance {
  font-size: 18px;
}

#contentFooter_numMaxLensDistance {
  top: 149px;
  position: absolute;
}

#contentFooter_numMaxLensDistance {
  left: 210px;
  position: absolute;
}

#contentFooter_numMaxLensDistance {
  width: 130px;
}

#contentFooter_numMaxLensDistance {
  height: 25px;
}

#contentFooter_numMaxLensDistance {
  z-index: 24;
}

#contentFooter_numMaxLensDistance {
  border-width: 2px;
}

#contentFooter_numMaxLensDistance {
  border-radius: 5px;
}

#contentFooter_numMaxLensDistance input {
  font-size: 18px;
}

#contentFooter_numMaxLensDistance {
  padding: 0px 5px 0px 5px;
}

#contentFooter_labBinning {
  top: 189px;
  position: absolute;
}

#contentFooter_labBinning {
  left: 15px;
  position: absolute;
}

#contentFooter_labBinning {
  width: 190px;
}

#contentFooter_labBinning {
  height: 25px;
}

#contentFooter_labBinning {
  z-index: 5;
}

#contentFooter_labBinning {
  justify-content: flex-end;
  text-align: right;
  -ms-flex-align: center;
  align-items: center;
}

#contentFooter_labBinning {
  font-size: 18px;
}

#contentFooter_DropDownBoxBinning.DropDownBoxView {
  height: 30px;
}

#contentFooter_DropDownBoxBinning {
  top: 189px;
  position: absolute;
}

#contentFooter_DropDownBoxBinning {
  left: 210px;
  position: absolute;
}

#contentFooter_DropDownBoxBinning.DropDownBoxView {
  width: 130px;
}

#contentFooter_DropDownBoxBinning {
  z-index: 6;
}

#contentFooter_DropDownBoxBinning .TextView {
  justify-content: center;
  text-align: center;
}

#contentFooter_DropDownBoxBinning_listBoxWrapper .TextView {
  justify-content: center;
  text-align: center;
}

#contentFooter_DropDownBoxBinning .TextView {
  font-size: 18px;
}

#contentFooter_DropDownBoxBinning_listBoxWrapper .TextView {
  font-size: 18px;
}

#contentFooter_labDistance {
  top: 224px;
  position: absolute;
}

#contentFooter_labDistance {
  left: 15px;
  position: absolute;
}

#contentFooter_labDistance {
  width: 190px;
}

#contentFooter_labDistance {
  height: 25px;
}

#contentFooter_labDistance {
  z-index: 0;
}

#contentFooter_labDistance {
  justify-content: flex-end;
  text-align: right;
  -ms-flex-align: center;
  align-items: center;
}

#contentFooter_labDistance {
  font-size: 18px;
}

#contentFooter_numDistance {
  height: 30px;
}

#contentFooter_numDistance {
  top: 224px;
  position: absolute;
}

#contentFooter_numDistance {
  left: 210px;
  position: absolute;
}

#contentFooter_numDistance {
  width: 130px;
}

#contentFooter_numDistance {
  z-index: 27;
}

#contentFooter_numDistance {
  padding: 0px 5px 0px 5px;
}

#contentFooter_labValidDistance {
  top: 260px;
  position: absolute;
}

#contentFooter_labValidDistance {
  left: 15px;
  position: absolute;
}

#contentFooter_labValidDistance {
  width: 190px;
}

#contentFooter_labValidDistance {
  height: 24px;
}

#contentFooter_labValidDistance {
  z-index: 7;
}

#contentFooter_labValidDistance {
  justify-content: flex-end;
  text-align: right;
  -ms-flex-align: center;
  align-items: center;
}

#contentFooter_labValidDistance {
  font-size: 18px;
}

#contentFooter_btnValidDistance {
  height: 30px;
}

#contentFooter_btnValidDistance {
  top: 259px;
  position: absolute;
}

#contentFooter_btnValidDistance {
  left: 210px;
  position: absolute;
}

#contentFooter_btnValidDistance {
  width: 130px;
}

#contentFooter_btnValidDistance {
  z-index: 20;
}

#contentFooter_btnValidDistance {
  border-radius: 5px;
}

#contentFooter_btnValidDistance:not(.disabled):not(.active):not(.checked) {
  background-image: linear-gradient(to bottom,#F7F7F7 0%,#f60909 100%);
}

#contentFooter_btnValidDistance.disabled {
  background-image: linear-gradient(to bottom,#F7F7F7 0%,#f60909 100%);
}

#contentFooter_btnValidDistance.disabled.active {
  background-image: linear-gradient(to bottom,#F7F7F7 0%,#f60909 100%);
}

#contentFooter_btnValidDistance.disabled.checked {
  background-image: linear-gradient(to bottom,#F7F7F7 0%,#f60909 100%);
}

#contentFooter_btnValidDistance.disabled:not(.checked) span {
  color: white;
}

#contentFooter_btnValidDistance.disabled:not(.checked).active span {
  color: white;
}

#contentFooter_btnValidDistance span {
  font-size: 14px;
}

#contentFooter_btnValidDistance.checked:not(.disabled):not(.active) {
  background-image: linear-gradient(to bottom, #4A4A4A 0%,#29920c 100%);
}

#contentFooter_btnValidDistance.disabled.checked {
  background-image: linear-gradient(to bottom, #4A4A4A 0%,#29920c 100%);
}

#contentFooter_labDepthOfField {
  top: 309px;
  position: absolute;
}

#contentFooter_labDepthOfField {
  left: 14px;
  position: absolute;
}

#contentFooter_labDepthOfField {
  width: 190px;
}

#contentFooter_labDepthOfField {
  height: 25px;
}

#contentFooter_labDepthOfField {
  z-index: 12;
}

#contentFooter_labDepthOfField {
  justify-content: flex-end;
  text-align: right;
  -ms-flex-align: center;
  align-items: center;
}

#contentFooter_labDepthOfField {
  font-size: 18px;
}

#contentFooter_numDepthOfField {
  top: 309px;
  position: absolute;
}

#contentFooter_numDepthOfField {
  left: 210px;
  position: absolute;
}

#contentFooter_numDepthOfField {
  width: 130px;
}

#contentFooter_numDepthOfField {
  height: 25px;
}

#contentFooter_numDepthOfField {
  z-index: 13;
}

#contentFooter_numDepthOfField {
  border-width: 2px;
}

#contentFooter_numDepthOfField {
  border-radius: 5px;
}

#contentFooter_numDepthOfField input {
  font-size: 18px;
}

#contentFooter_numDepthOfField {
  padding: 0px 5px 0px 5px;
}

#contentFooter_labNearDistance {
  top: 339px;
  position: absolute;
}

#contentFooter_labNearDistance {
  left: 14px;
  position: absolute;
}

#contentFooter_labNearDistance {
  width: 190px;
}

#contentFooter_labNearDistance {
  height: 25px;
}

#contentFooter_labNearDistance {
  z-index: 8;
}

#contentFooter_labNearDistance {
  justify-content: flex-end;
  text-align: right;
  -ms-flex-align: center;
  align-items: center;
}

#contentFooter_labNearDistance {
  font-size: 18px;
}

#contentFooter_numNearDistance {
  top: 339px;
  position: absolute;
}

#contentFooter_numNearDistance {
  left: 210px;
  position: absolute;
}

#contentFooter_numNearDistance {
  width: 130px;
}

#contentFooter_numNearDistance {
  height: 25px;
}

#contentFooter_numNearDistance {
  z-index: 9;
}

#contentFooter_numNearDistance {
  border-width: 2px;
}

#contentFooter_numNearDistance {
  border-radius: 5px;
}

#contentFooter_numNearDistance input {
  font-size: 18px;
}

#contentFooter_numNearDistance {
  padding: 0px 5px 0px 5px;
}

#contentFooter_labFarDistance {
  top: 369px;
  position: absolute;
}

#contentFooter_labFarDistance {
  left: 14px;
  position: absolute;
}

#contentFooter_labFarDistance {
  width: 190px;
}

#contentFooter_labFarDistance {
  height: 25px;
}

#contentFooter_labFarDistance {
  z-index: 10;
}

#contentFooter_labFarDistance {
  justify-content: flex-end;
  text-align: right;
  -ms-flex-align: center;
  align-items: center;
}

#contentFooter_labFarDistance {
  font-size: 18px;
}

#contentFooter_numFarDistance {
  top: 369px;
  position: absolute;
}

#contentFooter_numFarDistance {
  left: 210px;
  position: absolute;
}

#contentFooter_numFarDistance {
  width: 130px;
}

#contentFooter_numFarDistance {
  height: 25px;
}

#contentFooter_numFarDistance {
  z-index: 11;
}

#contentFooter_numFarDistance {
  border-width: 2px;
}

#contentFooter_numFarDistance {
  border-radius: 5px;
}

#contentFooter_numFarDistance input {
  font-size: 18px;
}

#contentFooter_numFarDistance {
  padding: 0px 5px 0px 5px;
}

#contentFooter_labFoV_X {
  top: 409px;
  position: absolute;
}

#contentFooter_labFoV_X {
  left: 14px;
  position: absolute;
}

#contentFooter_labFoV_X {
  width: 190px;
}

#contentFooter_labFoV_X {
  height: 25px;
}

#contentFooter_labFoV_X {
  z-index: 14;
}

#contentFooter_labFoV_X {
  justify-content: flex-end;
  text-align: right;
  -ms-flex-align: center;
  align-items: center;
}

#contentFooter_labFoV_X {
  font-size: 18px;
}

#contentFooter_numFoV_X {
  top: 409px;
  position: absolute;
}

#contentFooter_numFoV_X {
  left: 210px;
  position: absolute;
}

#contentFooter_numFoV_X {
  width: 130px;
}

#contentFooter_numFoV_X {
  height: 25px;
}

#contentFooter_numFoV_X {
  z-index: 15;
}

#contentFooter_numFoV_X {
  border-width: 2px;
}

#contentFooter_numFoV_X {
  border-radius: 5px;
}

#contentFooter_numFoV_X input {
  font-size: 18px;
}

#contentFooter_numFoV_X {
  padding: 0px 5px 0px 5px;
}

#contentFooter_labFoV_Y {
  top: 439px;
  position: absolute;
}

#contentFooter_labFoV_Y {
  left: 14px;
  position: absolute;
}

#contentFooter_labFoV_Y {
  width: 190px;
}

#contentFooter_labFoV_Y {
  height: 25px;
}

#contentFooter_labFoV_Y {
  z-index: 16;
}

#contentFooter_labFoV_Y {
  justify-content: flex-end;
  text-align: right;
  -ms-flex-align: center;
  align-items: center;
}

#contentFooter_labFoV_Y {
  font-size: 18px;
}

#contentFooter_numFoV_Y {
  top: 439px;
  position: absolute;
}

#contentFooter_numFoV_Y {
  left: 210px;
  position: absolute;
}

#contentFooter_numFoV_Y {
  width: 130px;
}

#contentFooter_numFoV_Y {
  height: 25px;
}

#contentFooter_numFoV_Y {
  z-index: 17;
}

#contentFooter_numFoV_Y {
  border-width: 2px;
}

#contentFooter_numFoV_Y {
  border-radius: 5px;
}

#contentFooter_numFoV_Y input {
  font-size: 18px;
}

#contentFooter_numFoV_Y {
  padding: 0px 5px 0px 5px;
}

#contentFooter_labResolution {
  top: 489px;
  position: absolute;
}

#contentFooter_labResolution {
  left: 14px;
  position: absolute;
}

#contentFooter_labResolution {
  width: 190px;
}

#contentFooter_labResolution {
  height: 25px;
}

#contentFooter_labResolution {
  z-index: 18;
}

#contentFooter_labResolution {
  justify-content: flex-end;
  text-align: right;
  -ms-flex-align: center;
  align-items: center;
}

#contentFooter_labResolution {
  font-size: 18px;
}

#contentFooter_numResolution {
  top: 489px;
  position: absolute;
}

#contentFooter_numResolution {
  left: 210px;
  position: absolute;
}

#contentFooter_numResolution {
  width: 130px;
}

#contentFooter_numResolution {
  height: 25px;
}

#contentFooter_numResolution {
  z-index: 19;
}

#contentFooter_numResolution {
  border-width: 2px;
}

#contentFooter_numResolution {
  border-radius: 5px;
}

#contentFooter_numResolution input {
  font-size: 18px;
}

#contentFooter_numResolution {
  padding: 0px 5px 0px 5px;
}
