﻿@import "mixins.scss";
#contentFooter_faAutoSetup {
	&.right{
	@include elemTop(0);
	}
}
#contentFooter_faAutoSetup {
	&.left{
	@include elemTop(0);
	}
}
#contentFooter_faAutoSetup {
	&.top{
	@include elemLeft(1000);
	}
}
#contentFooter_faAutoSetup {
	&.bottom{
	@include elemLeft(1000);
	}
}
#contentFooter_faAutoSetup_breaseFlyOutWrapper {
	.breaseFlyOutWrapper > .container{
	@include elemWidth(360);
	}
}
#contentFooter_faAutoSetup_breaseFlyOutWrapper {
	.breaseFlyOutWrapper > .container{
	@include elemHeight(630);
	}
}
#contentFooter_faAutoSetup {
		z-index: 19;
}
#contentFooter_faAutoSetup_breaseFlyOutWrapper {
	.breaseFlyOutWrapper > .flyoutButton{
	@include elemHeight(40);
	}
}
#contentFooter_faAutoSetup {
	@include elemHeight(40);
}
#contentFooter_faAutoSetup_breaseFlyOutWrapper {
	.breaseFlyOutWrapper > .flyoutButton{
	@include elemWidth(150);
	}
}
#contentFooter_faAutoSetup {
	@include elemWidth(150);
}
#contentFooter_faAutoSetup_breaseFlyOutWrapper {
	.breaseFlyOutWrapper > .flyoutButton{
		border-width: 1px;
	}
}
#contentFooter_faAutoSetup_breaseFlyOutWrapper {
	.breaseFlyOutWrapper > .flyoutButton{
	@include border-radius(5px);
	}
}
#contentFooter_faAutoSetup_breaseFlyOutWrapper {
	.breaseFlyOutWrapper > .container{
		border-style: solid;
	}
}
#contentFooter_faAutoSetup_breaseFlyOutWrapper {
	.breaseFlyOutWrapper > .container{
		border-width: 1px;
	}
}
#contentFooter_faAutoSetup_breaseFlyOutWrapper {
	.breaseFlyOutWrapper > .container{
		background-color: rgba(255, 192, 128, 1);
	}
}
#contentFooter_faAutoSetup_breaseFlyOutWrapper {
	.breaseFlyOutWrapper > .flyoutButton span{
		font-size: 20px;
	}
}
#contentFooter_Label6 {
	@include elemAutoHeight(30);
}
#contentFooter_Label6 {
	@include elemTop(19);
}
#contentFooter_Label6 {
	@include elemLeft(94);
}
#contentFooter_Label6 {
	@include elemAutoWidth(130);
}
#contentFooter_Label6 {
		z-index: 0;
}
#contentFooter_Label6 {
	@include text-alignment-all('right');
}
#contentFooter_Label6 {
		font-size: 18px;
}
#contentFooter_Label7 {
	@include elemAutoHeight(30);
}
#contentFooter_Label7 {
	@include elemTop(54);
}
#contentFooter_Label7 {
	@include elemLeft(94);
}
#contentFooter_Label7 {
	@include elemAutoWidth(130);
}
#contentFooter_Label7 {
		z-index: 1;
}
#contentFooter_Label7 {
	@include text-alignment-all('right');
}
#contentFooter_Label7 {
		font-size: 18px;
}
#contentFooter_Label8 {
	@include elemAutoHeight(30);
}
#contentFooter_Label8 {
	@include elemTop(89);
}
#contentFooter_Label8 {
	@include elemLeft(94);
}
#contentFooter_Label8 {
	@include elemAutoWidth(130);
}
#contentFooter_Label8 {
		z-index: 2;
}
#contentFooter_Label8 {
	@include text-alignment-all('right');
}
#contentFooter_Label8 {
		font-size: 18px;
}
#contentFooter_btnAutoSetup {
	@include elemTop(9);
}
#contentFooter_btnAutoSetup {
	@include elemLeft(9);
}
#contentFooter_btnAutoSetup {
	@include elemAutoWidth(121);
}
#contentFooter_btnAutoSetup {
	@include elemAutoHeight(60);
}
#contentFooter_btnAutoSetup {
		z-index: 3;
}
#contentFooter_btnAutoSetup {
	span{
		font-size: 18px;
	}
}
#contentFooter_numAutoSetupGain {
	@include elemAutoWidth(100);
}
#contentFooter_numAutoSetupGain {
	@include elemAutoHeight(30);
}
#contentFooter_numAutoSetupGain {
	@include elemTop(19);
}
#contentFooter_numAutoSetupGain {
	@include elemLeft(229);
}
#contentFooter_numAutoSetupGain {
		z-index: 4;
}
#contentFooter_numAutoSetupGain {
		border-width: 2px;
}
#contentFooter_numAutoSetupGain {
	@include border-radius(5px);
}
#contentFooter_numAutoSetupGain {
	input{
		font-size: 18px;
	}
}
#contentFooter_numAutoSetupFocus {
	@include elemAutoWidth(100);
}
#contentFooter_numAutoSetupFocus {
	@include elemAutoHeight(30);
}
#contentFooter_numAutoSetupFocus {
	@include elemTop(54);
}
#contentFooter_numAutoSetupFocus {
	@include elemLeft(229);
}
#contentFooter_numAutoSetupFocus {
		z-index: 5;
}
#contentFooter_numAutoSetupFocus {
		border-width: 2px;
}
#contentFooter_numAutoSetupFocus {
	@include border-radius(5px);
}
#contentFooter_numAutoSetupFocus {
	input{
		font-size: 18px;
	}
}
#contentFooter_numAutoSetupExposure {
	@include elemAutoWidth(100);
}
#contentFooter_numAutoSetupExposure {
	@include elemAutoHeight(30);
}
#contentFooter_numAutoSetupExposure {
	@include elemTop(89);
}
#contentFooter_numAutoSetupExposure {
	@include elemLeft(229);
}
#contentFooter_numAutoSetupExposure {
		z-index: 6;
}
#contentFooter_numAutoSetupExposure {
		border-width: 2px;
}
#contentFooter_numAutoSetupExposure {
	@include border-radius(5px);
}
#contentFooter_numAutoSetupExposure {
	input{
		font-size: 18px;
	}
}
#contentFooter_numAutoSetupExposure {
		padding: 0px 5px 0px 15px;
}
#contentFooter_Label4 {
	@include elemTop(364);
}
#contentFooter_Label4 {
	@include elemLeft(80);
}
#contentFooter_Label4 {
	@include elemAutoWidth(130);
}
#contentFooter_Label4 {
	@include elemAutoHeight(40);
}
#contentFooter_Label4 {
		z-index: 7;
}
#contentFooter_Label4 {
	@include text-alignment-all('right');
}
#contentFooter_Label4 {
		font-size: 18px;
}
#contentFooter_DropDownBoxFlashColor {
	&.DropDownBoxView{
	@include elemHeight(30);
	}
}
#contentFooter_DropDownBoxFlashColor {
	@include elemTop(369);
}
#contentFooter_DropDownBoxFlashColor {
	@include elemLeft(214);
}
#contentFooter_DropDownBoxFlashColor {
	&.DropDownBoxView{
	@include elemWidth(120);
	}
}
#contentFooter_DropDownBoxFlashColor {
		z-index: 8;
}
#contentFooter_DropDownBoxFlashColor {
	& .TextView{
	@include text-alignment(center);
	}
}
#contentFooter_DropDownBoxFlashColor_listBoxWrapper {
	& .TextView{
	@include text-alignment(center);
	}
}
#contentFooter_DropDownBoxFlashColor {
	& .TextView{
		font-size: 18px;
	}
}
#contentFooter_DropDownBoxFlashColor_listBoxWrapper {
	& .TextView{
		font-size: 18px;
	}
}
#contentFooter_Label5 {
	@include elemTop(149);
}
#contentFooter_Label5 {
	@include elemLeft(74);
}
#contentFooter_Label5 {
	@include elemAutoWidth(130);
}
#contentFooter_Label5 {
	@include elemAutoHeight(40);
}
#contentFooter_Label5 {
		z-index: 9;
}
#contentFooter_Label5 {
	@include text-alignment-all('right');
}
#contentFooter_Label5 {
		font-size: 18px;
}
#contentFooter_Label12 {
	@include elemTop(433);
}
#contentFooter_Label12 {
	@include elemLeft(80);
}
#contentFooter_Label12 {
	@include elemAutoWidth(130);
}
#contentFooter_Label12 {
	@include elemAutoHeight(40);
}
#contentFooter_Label12 {
		z-index: 10;
}
#contentFooter_Label12 {
	@include text-alignment-all('right');
}
#contentFooter_Label12 {
		font-size: 18px;
}
#contentFooter_DropDownBoxLedStatusColor {
	&.DropDownBoxView{
	@include elemHeight(30);
	}
}
#contentFooter_DropDownBoxLedStatusColor {
	@include elemTop(438);
}
#contentFooter_DropDownBoxLedStatusColor {
	@include elemLeft(214);
}
#contentFooter_DropDownBoxLedStatusColor {
	&.DropDownBoxView{
	@include elemWidth(120);
	}
}
#contentFooter_DropDownBoxLedStatusColor {
		z-index: 11;
}
#contentFooter_DropDownBoxLedStatusColor {
	& .TextView{
	@include text-alignment(center);
	}
}
#contentFooter_DropDownBoxLedStatusColor_listBoxWrapper {
	& .TextView{
	@include text-alignment(center);
	}
}
#contentFooter_DropDownBoxLedStatusColor {
	& .TextView{
		font-size: 18px;
	}
}
#contentFooter_DropDownBoxLedStatusColor_listBoxWrapper {
	& .TextView{
		font-size: 18px;
	}
}
#contentFooter_numOffsetROIX {
	@include elemHeight(30);
}
#contentFooter_numOffsetROIX {
	@include elemTop(473);
}
#contentFooter_numOffsetROIX {
	@include elemLeft(224);
}
#contentFooter_numOffsetROIX {
	@include elemWidth(110);
}
#contentFooter_numOffsetROIX {
		z-index: 12;
}
#contentFooter_numOffsetROIX {
	input{
		font-size: 16px;
	}
}
#contentFooter_numOffsetROIX {
		padding: 0px 5px 0px 5px;
}
#contentFooter_numOffsetROIY {
	@include elemHeight(30);
}
#contentFooter_numOffsetROIY {
	@include elemTop(508);
}
#contentFooter_numOffsetROIY {
	@include elemLeft(224);
}
#contentFooter_numOffsetROIY {
	@include elemWidth(110);
}
#contentFooter_numOffsetROIY {
		z-index: 13;
}
#contentFooter_numOffsetROIY {
	input{
		font-size: 16px;
	}
}
#contentFooter_numOffsetROIY {
		padding: 0px 5px 0px 5px;
}
#contentFooter_numOffsetROIOrientation {
	@include elemHeight(30);
}
#contentFooter_numOffsetROIOrientation {
	@include elemTop(543);
}
#contentFooter_numOffsetROIOrientation {
	@include elemLeft(224);
}
#contentFooter_numOffsetROIOrientation {
	@include elemWidth(110);
}
#contentFooter_numOffsetROIOrientation {
		z-index: 14;
}
#contentFooter_numOffsetROIOrientation {
	input{
		font-size: 16px;
	}
}
#contentFooter_numOffsetROIOrientation {
		padding: 0px 5px 0px 5px;
}
#contentFooter_Label28 {
	@include elemAutoHeight(30);
}
#contentFooter_Label28 {
	@include elemTop(473);
}
#contentFooter_Label28 {
	@include elemLeft(64);
}
#contentFooter_Label28 {
	@include elemAutoWidth(150);
}
#contentFooter_Label28 {
		z-index: 15;
}
#contentFooter_Label28 {
	@include text-alignment-all('right');
}
#contentFooter_Label28 {
		font-size: 18px;
}
#contentFooter_Label29 {
	@include elemAutoHeight(30);
}
#contentFooter_Label29 {
	@include elemTop(508);
}
#contentFooter_Label29 {
	@include elemLeft(64);
}
#contentFooter_Label29 {
	@include elemAutoWidth(150);
}
#contentFooter_Label29 {
		z-index: 16;
}
#contentFooter_Label29 {
	@include text-alignment-all('right');
}
#contentFooter_Label29 {
		font-size: 18px;
}
#contentFooter_Label30 {
	@include elemAutoHeight(30);
}
#contentFooter_Label30 {
	@include elemTop(543);
}
#contentFooter_Label30 {
	@include elemLeft(4);
}
#contentFooter_Label30 {
	@include elemAutoWidth(210);
}
#contentFooter_Label30 {
		z-index: 17;
}
#contentFooter_Label30 {
	@include text-alignment-all('right');
}
#contentFooter_Label30 {
		font-size: 18px;
}
#contentFooter_Label13 {
	@include elemTop(398);
}
#contentFooter_Label13 {
	@include elemLeft(80);
}
#contentFooter_Label13 {
	@include elemAutoWidth(130);
}
#contentFooter_Label13 {
	@include elemAutoHeight(40);
}
#contentFooter_Label13 {
		z-index: 18;
}
#contentFooter_Label13 {
	@include text-alignment-all('right');
}
#contentFooter_Label13 {
		font-size: 18px;
}
#contentFooter_DropDownBoxFlashColor1 {
	&.DropDownBoxView{
	@include elemHeight(30);
	}
}
#contentFooter_DropDownBoxFlashColor1 {
	@include elemTop(403);
}
#contentFooter_DropDownBoxFlashColor1 {
	@include elemLeft(214);
}
#contentFooter_DropDownBoxFlashColor1 {
	&.DropDownBoxView{
	@include elemWidth(120);
	}
}
#contentFooter_DropDownBoxFlashColor1 {
		z-index: 19;
}
#contentFooter_DropDownBoxFlashColor1 {
	& .TextView{
	@include text-alignment(center);
	}
}
#contentFooter_DropDownBoxFlashColor1_listBoxWrapper {
	& .TextView{
	@include text-alignment(center);
	}
}
#contentFooter_DropDownBoxFlashColor1 {
	& .TextView{
		font-size: 18px;
	}
}
#contentFooter_DropDownBoxFlashColor1_listBoxWrapper {
	& .TextView{
		font-size: 18px;
	}
}
#contentFooter_labFooter6 {
	@include elemAutoHeight(30);
}
#contentFooter_labFooter6 {
	@include elemTop(578);
}
#contentFooter_labFooter6 {
	@include elemLeft(64);
}
#contentFooter_labFooter6 {
	@include elemAutoWidth(150);
}
#contentFooter_labFooter6 {
		z-index: 20;
}
#contentFooter_labFooter6 {
	@include text-alignment-all('right');
}
#contentFooter_labFooter6 {
		font-size: 18px;
}
#contentFooter_numTimeout {
	@include elemHeight(30);
}
#contentFooter_numTimeout {
	@include elemTop(578);
}
#contentFooter_numTimeout {
	@include elemLeft(224);
}
#contentFooter_numTimeout {
	@include elemWidth(110);
}
#contentFooter_numTimeout {
		z-index: 21;
}
#contentFooter_numTimeout {
	input{
		font-size: 16px;
	}
}
#contentFooter_numTimeout {
		padding: 0px 5px 0px 0px;
}
#contentFooter_imgCamLights {
	@include elemTop(169);
}
#contentFooter_imgCamLights {
	@include elemLeft(214);
}
#contentFooter_imgCamLights {
	@include elemAutoWidth(95);
}
#contentFooter_imgCamLights {
	@include elemAutoHeight(150);
}
#contentFooter_imgCamLights {
		z-index: 22;
}
#contentFooter_chkCamLightsLeft {
	@include elemAutoHeight(30);
}
#contentFooter_chkCamLightsLeft {
	@include elemTop(229);
}
#contentFooter_chkCamLightsLeft {
	@include elemLeft(189);
}
#contentFooter_chkCamLightsLeft {
	@include elemAutoWidth(25);
}
#contentFooter_chkCamLightsLeft {
		z-index: 23;
}
#contentFooter_chkCamLightsRight {
	@include elemAutoHeight(30);
}
#contentFooter_chkCamLightsRight {
	@include elemTop(229);
}
#contentFooter_chkCamLightsRight {
	@include elemLeft(309);
}
#contentFooter_chkCamLightsRight {
	@include elemAutoWidth(25);
}
#contentFooter_chkCamLightsRight {
		z-index: 24;
}
#contentFooter_chkCamLightsTop {
	@include elemAutoHeight(30);
}
#contentFooter_chkCamLightsTop {
	@include elemTop(139);
}
#contentFooter_chkCamLightsTop {
	@include elemLeft(249);
}
#contentFooter_chkCamLightsTop {
	@include elemAutoWidth(25);
}
#contentFooter_chkCamLightsTop {
		z-index: 25;
}
#contentFooter_chkCamLightsBottom {
	@include elemAutoHeight(30);
}
#contentFooter_chkCamLightsBottom {
	@include elemTop(319);
}
#contentFooter_chkCamLightsBottom {
	@include elemLeft(249);
}
#contentFooter_chkCamLightsBottom {
	@include elemAutoWidth(25);
}
#contentFooter_chkCamLightsBottom {
		z-index: 26;
}
#contentFooter_labFooter7 {
	@include elemTop(10);
}
#contentFooter_labFooter7 {
	@include elemLeft(1045);
}
#contentFooter_labFooter7 {
	@include elemAutoWidth(210);
}
#contentFooter_labFooter7 {
	@include elemAutoHeight(25);
}
#contentFooter_labFooter7 {
		z-index: 43;
}
#contentFooter_labFooter7 {
	@include text-alignment-all('right');
}
#contentFooter_labFooter7 {
		font-size: 18px;
}
#contentFooter_numCameraProcessingTime {
	@include elemTop(10);
}
#contentFooter_numCameraProcessingTime {
	@include elemLeft(1255);
}
#contentFooter_numCameraProcessingTime {
	@include elemAutoWidth(90);
}
#contentFooter_numCameraProcessingTime {
	@include elemAutoHeight(25);
}
#contentFooter_numCameraProcessingTime {
		z-index: 2;
}
#contentFooter_numCameraProcessingTime {
		border-width: 2px;
}
#contentFooter_numCameraProcessingTime {
	@include border-radius(5px);
}
#contentFooter_numCameraProcessingTime {
	input{
		font-size: 16px;
	}
}
#contentFooter_numCameraProcessingTime {
		padding: 0px 5px 0px 0px;
}
#contentFooter_labFooter1 {
	@include elemTop(20);
}
#contentFooter_labFooter1 {
	@include elemLeft(65);
}
#contentFooter_labFooter1 {
	@include elemAutoWidth(100);
}
#contentFooter_labFooter1 {
	@include elemAutoHeight(20);
}
#contentFooter_labFooter1 {
		z-index: 3;
}
#contentFooter_labFooter1 {
	@include text-alignment-all('right');
}
#contentFooter_labFooter1 {
		font-size: 20px;
}
#contentFooter_labFooter1 {
	@include font-weight-bold(true);
}
#contentFooter_labFooter2 {
	@include elemTop(50);
}
#contentFooter_labFooter2 {
	@include elemLeft(65);
}
#contentFooter_labFooter2 {
	@include elemAutoWidth(100);
}
#contentFooter_labFooter2 {
	@include elemAutoHeight(40);
}
#contentFooter_labFooter2 {
		z-index: 4;
}
#contentFooter_labFooter2 {
	@include text-alignment-all('right');
}
#contentFooter_labFooter2 {
		font-size: 20px;
}
#contentFooter_labFooter2 {
	@include font-weight-bold(true);
}
#contentFooter_labFooter3 {
	@include elemTop(90);
}
#contentFooter_labFooter3 {
	@include elemLeft(65);
}
#contentFooter_labFooter3 {
	@include elemAutoWidth(100);
}
#contentFooter_labFooter3 {
	@include elemAutoHeight(40);
}
#contentFooter_labFooter3 {
		z-index: 5;
}
#contentFooter_labFooter3 {
	@include text-alignment-all('right');
}
#contentFooter_labFooter3 {
		font-size: 20px;
}
#contentFooter_labFooter3 {
	@include font-weight-bold(true);
}
#contentFooter_numGain {
	@include elemWidth(100);
}
#contentFooter_numGain {
	@include elemTop(10);
}
#contentFooter_numGain {
	@include elemLeft(175);
}
#contentFooter_numGain {
	@include elemHeight(40);
}
#contentFooter_numGain {
		z-index: 6;
}
#contentFooter_numGain {
	input{
		font-size: 20px;
	}
}
#contentFooter_numGain {
		padding: 0px 5px 0px 5px;
}
#contentFooter_numFocus {
	@include elemWidth(100);
}
#contentFooter_numFocus {
	@include elemTop(50);
}
#contentFooter_numFocus {
	@include elemLeft(175);
}
#contentFooter_numFocus {
	@include elemHeight(40);
}
#contentFooter_numFocus {
		z-index: 7;
}
#contentFooter_numFocus {
	input{
		font-size: 20px;
	}
}
#contentFooter_numFocus {
		padding: 0px 5px 0px 5px;
}
#contentFooter_numExposure {
	@include elemWidth(100);
}
#contentFooter_numExposure {
	@include elemTop(90);
}
#contentFooter_numExposure {
	@include elemLeft(175);
}
#contentFooter_numExposure {
	@include elemHeight(40);
}
#contentFooter_numExposure {
		z-index: 8;
}
#contentFooter_numExposure {
	input{
		font-size: 20px;
	}
}
#contentFooter_numExposure {
		padding: 0px 5px 0px 5px;
}
#contentFooter_labFooter8 {
	@include elemTop(40);
}
#contentFooter_labFooter8 {
	@include elemLeft(1030);
}
#contentFooter_labFooter8 {
	@include elemAutoWidth(225);
}
#contentFooter_labFooter8 {
	@include elemAutoHeight(25);
}
#contentFooter_labFooter8 {
		z-index: 9;
}
#contentFooter_labFooter8 {
	@include text-alignment-all('right');
}
#contentFooter_labFooter8 {
		font-size: 18px;
}
#contentFooter_numFunctionProcessingTime {
	@include elemTop(40);
}
#contentFooter_numFunctionProcessingTime {
	@include elemLeft(1255);
}
#contentFooter_numFunctionProcessingTime {
	@include elemAutoWidth(90);
}
#contentFooter_numFunctionProcessingTime {
	@include elemAutoHeight(25);
}
#contentFooter_numFunctionProcessingTime {
		z-index: 10;
}
#contentFooter_numFunctionProcessingTime {
		border-width: 2px;
}
#contentFooter_numFunctionProcessingTime {
	@include border-radius(5px);
}
#contentFooter_numFunctionProcessingTime {
	input{
		font-size: 16px;
	}
}
#contentFooter_numFunctionProcessingTime {
		padding: 0px 5px 0px 0px;
}
#contentFooter_labFooter5 {
	@include elemTop(45);
}
#contentFooter_labFooter5 {
	@include elemLeft(725);
}
#contentFooter_labFooter5 {
	@include elemAutoWidth(150);
}
#contentFooter_labFooter5 {
	@include elemAutoHeight(25);
}
#contentFooter_labFooter5 {
		z-index: 11;
}
#contentFooter_labFooter5 {
	@include text-alignment-all('right');
}
#contentFooter_labFooter5 {
		font-size: 18px;
}
#contentFooter_numItemsFound {
	@include elemTop(45);
}
#contentFooter_numItemsFound {
	@include elemLeft(874);
}
#contentFooter_numItemsFound {
	@include elemAutoWidth(90);
}
#contentFooter_numItemsFound {
	@include elemAutoHeight(25);
}
#contentFooter_numItemsFound {
		z-index: 12;
}
#contentFooter_numItemsFound {
		border-width: 2px;
}
#contentFooter_numItemsFound {
	@include border-radius(5px);
}
#contentFooter_numItemsFound {
	input{
		font-size: 16px;
	}
}
#contentFooter_numItemsFound {
		padding: 0px 5px 0px 5px;
}
#contentFooter_btnVisionEnable {
	@include elemTop(80);
}
#contentFooter_btnVisionEnable {
	@include elemLeft(305);
}
#contentFooter_btnVisionEnable {
	@include elemAutoWidth(200);
}
#contentFooter_btnVisionEnable {
	@include elemAutoHeight(60);
}
#contentFooter_btnVisionEnable {
		z-index: 13;
}
#contentFooter_btnVisionEnable {
	span{
		font-size: 24px;
	}
}
#contentFooter_btnVisionEnable {
	span{
	@include font-weight-bold(true);
	}
}
#contentFooter_btnVisionEnable {
	&.checked:not(.disabled):not(.active){
	@include backGroundGradient('linear-gradient(to bottom, #FFAA4D 0%,#FF8500 100%)');
	}
}
#contentFooter_labFooter4 {
	@include elemAutoHeight(30);
}
#contentFooter_labFooter4 {
	@include elemTop(10);
}
#contentFooter_labFooter4 {
	@include elemLeft(725);
}
#contentFooter_labFooter4 {
	@include elemAutoWidth(150);
}
#contentFooter_labFooter4 {
		z-index: 14;
}
#contentFooter_labFooter4 {
	@include text-alignment-all('right');
}
#contentFooter_labFooter4 {
		font-size: 18px;
}
#contentFooter_numMaxItemsCount {
	@include elemHeight(30);
}
#contentFooter_numMaxItemsCount {
	@include elemTop(10);
}
#contentFooter_numMaxItemsCount {
	@include elemLeft(875);
}
#contentFooter_numMaxItemsCount {
	@include elemWidth(90);
}
#contentFooter_numMaxItemsCount {
		z-index: 15;
}
#contentFooter_numMaxItemsCount {
	input{
		font-size: 16px;
	}
}
#contentFooter_numMaxItemsCount {
		padding: 0px 5px 0px 5px;
}
#contentFooter_btnImageTrigger {
	@include elemTop(10);
}
#contentFooter_btnImageTrigger {
	@include elemLeft(305);
}
#contentFooter_btnImageTrigger {
	@include elemAutoWidth(200);
}
#contentFooter_btnImageTrigger {
	@include elemAutoHeight(60);
}
#contentFooter_btnImageTrigger {
		z-index: 16;
}
#contentFooter_btnImageTrigger {
	span{
		font-size: 24px;
	}
}
#contentFooter_btnImageTrigger {
	span{
	@include font-weight-bold(true);
	}
}
#contentFooter_faInfo {
	&.right{
	@include elemTop(0);
	}
}
#contentFooter_faInfo {
	&.left{
	@include elemTop(0);
	}
}
#contentFooter_faInfo {
	&.top{
	@include elemLeft(1000);
	}
}
#contentFooter_faInfo {
	&.bottom{
	@include elemLeft(1000);
	}
}
#contentFooter_faInfo_breaseFlyOutWrapper {
	.breaseFlyOutWrapper > .container{
	@include elemWidth(330);
	}
}
#contentFooter_faInfo_breaseFlyOutWrapper {
	.breaseFlyOutWrapper > .container{
	@include elemHeight(600);
	}
}
#contentFooter_faInfo {
		z-index: 18;
}
#contentFooter_faInfo_breaseFlyOutWrapper {
	.breaseFlyOutWrapper > .flyoutButton{
	@include elemHeight(40);
	}
}
#contentFooter_faInfo {
	@include elemHeight(40);
}
#contentFooter_faInfo_breaseFlyOutWrapper {
	.breaseFlyOutWrapper > .flyoutButton{
	@include elemWidth(150);
	}
}
#contentFooter_faInfo {
	@include elemWidth(150);
}
#contentFooter_faInfo_breaseFlyOutWrapper {
	.breaseFlyOutWrapper > .flyoutButton{
		border-width: 1px;
	}
}
#contentFooter_faInfo_breaseFlyOutWrapper {
	.breaseFlyOutWrapper > .flyoutButton{
	@include border-radius(5px);
	}
}
#contentFooter_faInfo_breaseFlyOutWrapper {
	.breaseFlyOutWrapper > .container{
		border-style: solid;
	}
}
#contentFooter_faInfo_breaseFlyOutWrapper {
	.breaseFlyOutWrapper > .container{
		border-width: 1px;
	}
}
#contentFooter_faInfo_breaseFlyOutWrapper {
	.breaseFlyOutWrapper > .container{
		background-color: rgba(255, 192, 128, 1);
	}
}
#contentFooter_faInfo_breaseFlyOutWrapper {
	.breaseFlyOutWrapper > .flyoutButton span{
		font-size: 20px;
	}
}
#contentFooter_labDiagnostics {
	@include elemAutoHeight(30);
}
#contentFooter_labDiagnostics {
	@include elemTop(5);
}
#contentFooter_labDiagnostics {
	@include elemLeft(0);
}
#contentFooter_labDiagnostics {
	@include elemAutoWidth(330);
}
#contentFooter_labDiagnostics {
		z-index: 1;
}
#contentFooter_labDiagnostics {
	@include text-alignment-all('center');
}
#contentFooter_labDiagnostics {
		font-size: 22px;
}
#contentFooter_labDiagnostics {
	@include font-weight-bold(true);
}
#contentFooter_labDiagName {
	@include elemTop(40);
}
#contentFooter_labDiagName {
	@include elemLeft(14);
}
#contentFooter_labDiagName {
	@include elemAutoWidth(115);
}
#contentFooter_labDiagName {
	@include elemAutoHeight(25);
}
#contentFooter_labDiagName {
		z-index: 2;
}
#contentFooter_labDiagName {
	@include text-alignment-all('right');
}
#contentFooter_labDiagName {
		font-size: 18px;
}
#contentFooter_txtDiagName {
	@include elemHeight(30);
}
#contentFooter_txtDiagName {
	@include elemTop(40);
}
#contentFooter_txtDiagName {
	@include elemLeft(135);
}
#contentFooter_txtDiagName {
	@include elemWidth(175);
}
#contentFooter_txtDiagName {
		z-index: 3;
}
#contentFooter_labDIAG_Status {
	@include elemTop(75);
}
#contentFooter_labDIAG_Status {
	@include elemLeft(14);
}
#contentFooter_labDIAG_Status {
	@include elemAutoWidth(115);
}
#contentFooter_labDIAG_Status {
	@include elemAutoHeight(25);
}
#contentFooter_labDIAG_Status {
		z-index: 4;
}
#contentFooter_labDIAG_Status {
	@include text-alignment-all('right');
}
#contentFooter_labDIAG_Status {
		font-size: 18px;
}
#contentFooter_numDIAG_Status {
	@include elemTop(75);
}
#contentFooter_numDIAG_Status {
	@include elemLeft(135);
}
#contentFooter_numDIAG_Status {
	@include elemAutoWidth(175);
}
#contentFooter_numDIAG_Status {
	@include elemAutoHeight(25);
}
#contentFooter_numDIAG_Status {
		z-index: 5;
}
#contentFooter_numDIAG_Status {
		border-width: 2px;
}
#contentFooter_numDIAG_Status {
	@include border-radius(5px);
}
#contentFooter_numDIAG_Status {
	input{
		font-size: 18px;
	}
}
#contentFooter_numDIAG_Status {
		padding: 0px 5px 0px 5px;
}
#contentFooter_btnDiagSave {
	@include elemTop(105);
}
#contentFooter_btnDiagSave {
	@include elemLeft(160);
}
#contentFooter_btnDiagSave {
	@include elemAutoWidth(150);
}
#contentFooter_btnDiagSave {
	@include elemAutoHeight(40);
}
#contentFooter_btnDiagSave {
		z-index: 6;
}
#contentFooter_btnDiagSave {
	@include border-radius(8px);
}
#contentFooter_Line1 {
		z-index: 10;
}
#contentFooter_labCamera {
	@include elemAutoHeight(30);
}
#contentFooter_labCamera {
	@include elemTop(180);
}
#contentFooter_labCamera {
	@include elemLeft(0);
}
#contentFooter_labCamera {
	@include elemAutoWidth(330);
}
#contentFooter_labCamera {
		z-index: 11;
}
#contentFooter_labCamera {
	@include text-alignment-all('center');
}
#contentFooter_labCamera {
		font-size: 22px;
}
#contentFooter_labCamera {
	@include font-weight-bold(true);
}
#contentFooter_labHW_SerialNumber {
	@include elemTop(220);
}
#contentFooter_labHW_SerialNumber {
	@include elemLeft(15);
}
#contentFooter_labHW_SerialNumber {
	@include elemAutoWidth(190);
}
#contentFooter_labHW_SerialNumber {
	@include elemAutoHeight(25);
}
#contentFooter_labHW_SerialNumber {
		z-index: 12;
}
#contentFooter_labHW_SerialNumber {
	@include text-alignment-all('right');
}
#contentFooter_labHW_SerialNumber {
		font-size: 18px;
}
#contentFooter_numHW_SerialNumber {
	@include elemAutoWidth(100);
}
#contentFooter_numHW_SerialNumber {
	@include elemTop(220);
}
#contentFooter_numHW_SerialNumber {
	@include elemLeft(210);
}
#contentFooter_numHW_SerialNumber {
	@include elemAutoHeight(25);
}
#contentFooter_numHW_SerialNumber {
		z-index: 13;
}
#contentFooter_numHW_SerialNumber {
		border-width: 2px;
}
#contentFooter_numHW_SerialNumber {
	@include border-radius(5px);
}
#contentFooter_numHW_SerialNumber {
	input{
		font-size: 18px;
	}
}
#contentFooter_numHW_SerialNumber {
		padding: 0px 5px 0px 5px;
}
#contentFooter_labHW_ID {
	@include elemTop(250);
}
#contentFooter_labHW_ID {
	@include elemLeft(15);
}
#contentFooter_labHW_ID {
	@include elemAutoWidth(190);
}
#contentFooter_labHW_ID {
	@include elemAutoHeight(25);
}
#contentFooter_labHW_ID {
		z-index: 14;
}
#contentFooter_labHW_ID {
	@include text-alignment-all('right');
}
#contentFooter_labHW_ID {
		font-size: 18px;
}
#contentFooter_numHW_ID {
	@include elemAutoWidth(100);
}
#contentFooter_numHW_ID {
	@include elemTop(250);
}
#contentFooter_numHW_ID {
	@include elemLeft(210);
}
#contentFooter_numHW_ID {
	@include elemAutoHeight(25);
}
#contentFooter_numHW_ID {
		z-index: 15;
}
#contentFooter_numHW_ID {
		border-width: 2px;
}
#contentFooter_numHW_ID {
	@include border-radius(5px);
}
#contentFooter_numHW_ID {
	input{
		font-size: 18px;
	}
}
#contentFooter_numHW_ID {
		padding: 0px 5px 0px 5px;
}
#contentFooter_labHW_Variant {
	@include elemTop(280);
}
#contentFooter_labHW_Variant {
	@include elemLeft(15);
}
#contentFooter_labHW_Variant {
	@include elemAutoWidth(190);
}
#contentFooter_labHW_Variant {
	@include elemAutoHeight(25);
}
#contentFooter_labHW_Variant {
		z-index: 16;
}
#contentFooter_labHW_Variant {
	@include text-alignment-all('right');
}
#contentFooter_labHW_Variant {
		font-size: 18px;
}
#contentFooter_numHW_Variant {
	@include elemAutoWidth(100);
}
#contentFooter_numHW_Variant {
	@include elemTop(280);
}
#contentFooter_numHW_Variant {
	@include elemLeft(210);
}
#contentFooter_numHW_Variant {
	@include elemAutoHeight(25);
}
#contentFooter_numHW_Variant {
		z-index: 17;
}
#contentFooter_numHW_Variant {
		border-width: 2px;
}
#contentFooter_numHW_Variant {
	@include border-radius(5px);
}
#contentFooter_numHW_Variant {
	input{
		font-size: 18px;
	}
}
#contentFooter_numHW_Variant {
		padding: 0px 5px 0px 5px;
}
#contentFooter_labHW_Firmware {
	@include elemTop(310);
}
#contentFooter_labHW_Firmware {
	@include elemLeft(15);
}
#contentFooter_labHW_Firmware {
	@include elemAutoWidth(190);
}
#contentFooter_labHW_Firmware {
	@include elemAutoHeight(25);
}
#contentFooter_labHW_Firmware {
		z-index: 18;
}
#contentFooter_labHW_Firmware {
	@include text-alignment-all('right');
}
#contentFooter_labHW_Firmware {
		font-size: 18px;
}
#contentFooter_numHW_Firmware {
	@include elemAutoWidth(100);
}
#contentFooter_numHW_Firmware {
	@include elemTop(310);
}
#contentFooter_numHW_Firmware {
	@include elemLeft(210);
}
#contentFooter_numHW_Firmware {
	@include elemAutoHeight(25);
}
#contentFooter_numHW_Firmware {
		z-index: 19;
}
#contentFooter_numHW_Firmware {
		border-width: 2px;
}
#contentFooter_numHW_Firmware {
	@include border-radius(5px);
}
#contentFooter_numHW_Firmware {
	input{
		font-size: 18px;
	}
}
#contentFooter_numHW_Firmware {
		padding: 0px 5px 0px 5px;
}
#contentFooter_labHW_Undervoltage {
	@include elemTop(340);
}
#contentFooter_labHW_Undervoltage {
	@include elemLeft(15);
}
#contentFooter_labHW_Undervoltage {
	@include elemAutoWidth(190);
}
#contentFooter_labHW_Undervoltage {
	@include elemAutoHeight(25);
}
#contentFooter_labHW_Undervoltage {
		z-index: 20;
}
#contentFooter_labHW_Undervoltage {
	@include text-alignment-all('right');
}
#contentFooter_labHW_Undervoltage {
		font-size: 18px;
}
#contentFooter_numHW_Undervoltage {
	@include elemAutoWidth(100);
}
#contentFooter_numHW_Undervoltage {
	@include elemTop(340);
}
#contentFooter_numHW_Undervoltage {
	@include elemLeft(210);
}
#contentFooter_numHW_Undervoltage {
	@include elemAutoHeight(25);
}
#contentFooter_numHW_Undervoltage {
		z-index: 21;
}
#contentFooter_numHW_Undervoltage {
		border-width: 2px;
}
#contentFooter_numHW_Undervoltage {
	@include border-radius(5px);
}
#contentFooter_numHW_Undervoltage {
	input{
		font-size: 18px;
	}
}
#contentFooter_numHW_Undervoltage {
		padding: 0px 5px 0px 5px;
}
#contentFooter_labHW_Temperature {
	@include elemTop(370);
}
#contentFooter_labHW_Temperature {
	@include elemLeft(15);
}
#contentFooter_labHW_Temperature {
	@include elemAutoWidth(190);
}
#contentFooter_labHW_Temperature {
	@include elemAutoHeight(25);
}
#contentFooter_labHW_Temperature {
		z-index: 22;
}
#contentFooter_labHW_Temperature {
	@include text-alignment-all('right');
}
#contentFooter_labHW_Temperature {
		font-size: 18px;
}
#contentFooter_numHW_Temperature {
	@include elemAutoWidth(100);
}
#contentFooter_numHW_Temperature {
	@include elemTop(370);
}
#contentFooter_numHW_Temperature {
	@include elemLeft(210);
}
#contentFooter_numHW_Temperature {
	@include elemAutoHeight(25);
}
#contentFooter_numHW_Temperature {
		z-index: 23;
}
#contentFooter_numHW_Temperature {
		border-width: 2px;
}
#contentFooter_numHW_Temperature {
	@include border-radius(5px);
}
#contentFooter_numHW_Temperature {
	input{
		font-size: 18px;
	}
}
#contentFooter_numHW_Temperature {
		padding: 0px 5px 0px 5px;
}
#contentFooter_labAcquisitionAcceptedCnt {
	@include elemTop(400);
}
#contentFooter_labAcquisitionAcceptedCnt {
	@include elemLeft(15);
}
#contentFooter_labAcquisitionAcceptedCnt {
	@include elemAutoWidth(190);
}
#contentFooter_labAcquisitionAcceptedCnt {
	@include elemAutoHeight(25);
}
#contentFooter_labAcquisitionAcceptedCnt {
		z-index: 24;
}
#contentFooter_labAcquisitionAcceptedCnt {
	@include text-alignment-all('right');
}
#contentFooter_labAcquisitionAcceptedCnt {
		font-size: 18px;
}
#contentFooter_numAcquisitionAcceptedCnt {
	@include elemAutoWidth(100);
}
#contentFooter_numAcquisitionAcceptedCnt {
	@include elemTop(400);
}
#contentFooter_numAcquisitionAcceptedCnt {
	@include elemLeft(210);
}
#contentFooter_numAcquisitionAcceptedCnt {
	@include elemAutoHeight(25);
}
#contentFooter_numAcquisitionAcceptedCnt {
		z-index: 25;
}
#contentFooter_numAcquisitionAcceptedCnt {
		border-width: 2px;
}
#contentFooter_numAcquisitionAcceptedCnt {
	@include border-radius(5px);
}
#contentFooter_numAcquisitionAcceptedCnt {
	input{
		font-size: 18px;
	}
}
#contentFooter_numAcquisitionAcceptedCnt {
		padding: 0px 5px 0px 5px;
}
#contentFooter_labAcquisitionCompletedCnt {
	@include elemTop(430);
}
#contentFooter_labAcquisitionCompletedCnt {
	@include elemLeft(15);
}
#contentFooter_labAcquisitionCompletedCnt {
	@include elemAutoWidth(190);
}
#contentFooter_labAcquisitionCompletedCnt {
	@include elemAutoHeight(25);
}
#contentFooter_labAcquisitionCompletedCnt {
		z-index: 26;
}
#contentFooter_labAcquisitionCompletedCnt {
	@include text-alignment-all('right');
}
#contentFooter_labAcquisitionCompletedCnt {
		font-size: 18px;
}
#contentFooter_numAcquisitionCompletedCnt {
	@include elemAutoWidth(100);
}
#contentFooter_numAcquisitionCompletedCnt {
	@include elemTop(430);
}
#contentFooter_numAcquisitionCompletedCnt {
	@include elemLeft(210);
}
#contentFooter_numAcquisitionCompletedCnt {
	@include elemAutoHeight(25);
}
#contentFooter_numAcquisitionCompletedCnt {
		z-index: 27;
}
#contentFooter_numAcquisitionCompletedCnt {
		border-width: 2px;
}
#contentFooter_numAcquisitionCompletedCnt {
	@include border-radius(5px);
}
#contentFooter_numAcquisitionCompletedCnt {
	input{
		font-size: 18px;
	}
}
#contentFooter_numAcquisitionCompletedCnt {
		padding: 0px 5px 0px 5px;
}
#contentFooter_labAcquisitionFailedCnt {
	@include elemTop(460);
}
#contentFooter_labAcquisitionFailedCnt {
	@include elemLeft(15);
}
#contentFooter_labAcquisitionFailedCnt {
	@include elemAutoWidth(190);
}
#contentFooter_labAcquisitionFailedCnt {
	@include elemAutoHeight(25);
}
#contentFooter_labAcquisitionFailedCnt {
		z-index: 28;
}
#contentFooter_labAcquisitionFailedCnt {
	@include text-alignment-all('right');
}
#contentFooter_labAcquisitionFailedCnt {
		font-size: 18px;
}
#contentFooter_numAcquisitionFailedCnt {
	@include elemAutoWidth(100);
}
#contentFooter_numAcquisitionFailedCnt {
	@include elemTop(460);
}
#contentFooter_numAcquisitionFailedCnt {
	@include elemLeft(210);
}
#contentFooter_numAcquisitionFailedCnt {
	@include elemAutoHeight(25);
}
#contentFooter_numAcquisitionFailedCnt {
		z-index: 29;
}
#contentFooter_numAcquisitionFailedCnt {
		border-width: 2px;
}
#contentFooter_numAcquisitionFailedCnt {
	@include border-radius(5px);
}
#contentFooter_numAcquisitionFailedCnt {
	input{
		font-size: 18px;
	}
}
#contentFooter_numAcquisitionFailedCnt {
		padding: 0px 5px 0px 5px;
}
#contentFooter_labImageProcessingError {
	@include elemTop(490);
}
#contentFooter_labImageProcessingError {
	@include elemLeft(15);
}
#contentFooter_labImageProcessingError {
	@include elemAutoWidth(190);
}
#contentFooter_labImageProcessingError {
	@include elemAutoHeight(25);
}
#contentFooter_labImageProcessingError {
		z-index: 30;
}
#contentFooter_labImageProcessingError {
	@include text-alignment-all('right');
}
#contentFooter_labImageProcessingError {
		font-size: 18px;
}
#contentFooter_numImageProcessingError {
	@include elemAutoWidth(100);
}
#contentFooter_numImageProcessingError {
	@include elemTop(490);
}
#contentFooter_numImageProcessingError {
	@include elemLeft(210);
}
#contentFooter_numImageProcessingError {
	@include elemAutoHeight(25);
}
#contentFooter_numImageProcessingError {
		z-index: 31;
}
#contentFooter_numImageProcessingError {
		border-width: 2px;
}
#contentFooter_numImageProcessingError {
	@include border-radius(5px);
}
#contentFooter_numImageProcessingError {
	input{
		font-size: 18px;
	}
}
#contentFooter_numImageProcessingError {
		padding: 0px 5px 0px 5px;
}
#contentFooter_labImageNettime {
	@include elemTop(520);
}
#contentFooter_labImageNettime {
	@include elemLeft(15);
}
#contentFooter_labImageNettime {
	@include elemAutoWidth(150);
}
#contentFooter_labImageNettime {
	@include elemAutoHeight(25);
}
#contentFooter_labImageNettime {
		z-index: 32;
}
#contentFooter_labImageNettime {
	@include text-alignment-all('right');
}
#contentFooter_labImageNettime {
		font-size: 18px;
}
#contentFooter_numImageNettime {
	@include elemTop(520);
}
#contentFooter_numImageNettime {
	@include elemLeft(170);
}
#contentFooter_numImageNettime {
	@include elemAutoWidth(140);
}
#contentFooter_numImageNettime {
	@include elemAutoHeight(25);
}
#contentFooter_numImageNettime {
		z-index: 33;
}
#contentFooter_numImageNettime {
		border-width: 2px;
}
#contentFooter_numImageNettime {
	@include border-radius(5px);
}
#contentFooter_numImageNettime {
	input{
		font-size: 18px;
	}
}
#contentFooter_numImageNettime {
		padding: 0px 5px 0px 5px;
}
#contentFooter_faOptics {
	&.right{
	@include elemTop(0);
	}
}
#contentFooter_faOptics {
	&.left{
	@include elemTop(0);
	}
}
#contentFooter_faOptics {
	&.top{
	@include elemLeft(820);
	}
}
#contentFooter_faOptics {
	&.bottom{
	@include elemLeft(820);
	}
}
#contentFooter_faOptics_breaseFlyOutWrapper {
	.breaseFlyOutWrapper > .container{
	@include elemWidth(360);
	}
}
#contentFooter_faOptics_breaseFlyOutWrapper {
	.breaseFlyOutWrapper > .container{
	@include elemHeight(530);
	}
}
#contentFooter_faOptics {
		z-index: 44;
}
#contentFooter_faOptics_breaseFlyOutWrapper {
	.breaseFlyOutWrapper > .flyoutButton{
	@include elemHeight(40);
	}
}
#contentFooter_faOptics {
	@include elemHeight(40);
}
#contentFooter_faOptics_breaseFlyOutWrapper {
	.breaseFlyOutWrapper > .flyoutButton{
	@include elemWidth(150);
	}
}
#contentFooter_faOptics {
	@include elemWidth(150);
}
#contentFooter_faOptics_breaseFlyOutWrapper {
	.breaseFlyOutWrapper > .flyoutButton{
		border-width: 1px;
	}
}
#contentFooter_faOptics_breaseFlyOutWrapper {
	.breaseFlyOutWrapper > .flyoutButton{
	@include border-radius(5px);
	}
}
#contentFooter_faOptics_breaseFlyOutWrapper {
	.breaseFlyOutWrapper > .container{
		border-style: solid;
	}
}
#contentFooter_faOptics_breaseFlyOutWrapper {
	.breaseFlyOutWrapper > .container{
		border-width: 1px;
	}
}
#contentFooter_faOptics_breaseFlyOutWrapper {
	.breaseFlyOutWrapper > .container{
		background-color: rgba(255, 192, 128, 1);
	}
}
#contentFooter_faOptics_breaseFlyOutWrapper {
	.breaseFlyOutWrapper > .flyoutButton span{
		font-size: 20px;
	}
}
#contentFooter_labCameraOrderNr {
	@include elemTop(14);
}
#contentFooter_labCameraOrderNr {
	@include elemLeft(4);
}
#contentFooter_labCameraOrderNr {
	@include elemAutoWidth(140);
}
#contentFooter_labCameraOrderNr {
	@include elemAutoHeight(25);
}
#contentFooter_labCameraOrderNr {
		z-index: 26;
}
#contentFooter_labCameraOrderNr {
	@include text-alignment-all('right');
}
#contentFooter_labCameraOrderNr {
		font-size: 18px;
}
#contentFooter_txtCameraOrderNr {
	@include elemTop(14);
}
#contentFooter_txtCameraOrderNr {
	@include elemLeft(149);
}
#contentFooter_txtCameraOrderNr {
	@include elemAutoWidth(190);
}
#contentFooter_txtCameraOrderNr {
	@include elemAutoHeight(25);
}
#contentFooter_txtCameraOrderNr {
		z-index: 25;
}
#contentFooter_txtCameraOrderNr {
		border-width: 2px;
}
#contentFooter_txtCameraOrderNr {
	@include border-radius(5px);
}
#contentFooter_txtCameraOrderNr {
		border-color: rgba(85, 85, 85, 1);
}
#contentFooter_txtCameraOrderNr {
	&:before{
		border-color: rgba(85, 85, 85, 1);
	}
}
#contentFooter_txtCameraOrderNr {
	&:after{
		border-color: rgba(85, 85, 85, 1);
	}
}
#contentFooter_txtCameraOrderNr {
		border-style: solid;
}
#contentFooter_txtCameraOrderNr {
	&:before{
		border-style: solid;
	}
}
#contentFooter_txtCameraOrderNr {
	&:after{
		border-style: solid;
	}
}
#contentFooter_txtCameraOrderNr {
	@include text-alignment-all('right');
}
#contentFooter_txtCameraOrderNr {
	span{
		padding: 0px 5px 0px 5px;
	}
}
#contentFooter_labSensor {
	@include elemTop(44);
}
#contentFooter_labSensor {
	@include elemLeft(15);
}
#contentFooter_labSensor {
	@include elemAutoWidth(190);
}
#contentFooter_labSensor {
	@include elemAutoHeight(25);
}
#contentFooter_labSensor {
		z-index: 1;
}
#contentFooter_labSensor {
	@include text-alignment-all('right');
}
#contentFooter_labSensor {
		font-size: 18px;
}
#contentFooter_DropDownBoxSensor {
	&.DropDownBoxView{
	@include elemHeight(30);
	}
}
#contentFooter_DropDownBoxSensor {
	@include elemTop(44);
}
#contentFooter_DropDownBoxSensor {
	@include elemLeft(210);
}
#contentFooter_DropDownBoxSensor {
	&.DropDownBoxView{
	@include elemWidth(130);
	}
}
#contentFooter_DropDownBoxSensor {
		z-index: 2;
}
#contentFooter_DropDownBoxSensor {
	& .TextView{
	@include text-alignment(center);
	}
}
#contentFooter_DropDownBoxSensor_listBoxWrapper {
	& .TextView{
	@include text-alignment(center);
	}
}
#contentFooter_DropDownBoxSensor {
	& .TextView{
		font-size: 18px;
	}
}
#contentFooter_DropDownBoxSensor_listBoxWrapper {
	& .TextView{
		font-size: 18px;
	}
}
#contentFooter_labLens {
	@include elemTop(79);
}
#contentFooter_labLens {
	@include elemLeft(15);
}
#contentFooter_labLens {
	@include elemAutoWidth(190);
}
#contentFooter_labLens {
	@include elemAutoHeight(25);
}
#contentFooter_labLens {
		z-index: 3;
}
#contentFooter_labLens {
	@include text-alignment-all('right');
}
#contentFooter_labLens {
		font-size: 18px;
}
#contentFooter_DropDownBoxLens {
	&.DropDownBoxView{
	@include elemHeight(30);
	}
}
#contentFooter_DropDownBoxLens {
	@include elemTop(79);
}
#contentFooter_DropDownBoxLens {
	@include elemLeft(210);
}
#contentFooter_DropDownBoxLens {
	&.DropDownBoxView{
	@include elemWidth(130);
	}
}
#contentFooter_DropDownBoxLens {
		z-index: 4;
}
#contentFooter_DropDownBoxLens {
	& > .ItemView{
		padding: 0px 5px;
	}
}
#contentFooter_DropDownBoxLens {
	& .TextView{
	@include text-alignment(center);
	}
}
#contentFooter_DropDownBoxLens_listBoxWrapper {
	& .TextView{
	@include text-alignment(center);
	}
}
#contentFooter_DropDownBoxLens {
	& .TextView{
		font-size: 18px;
	}
}
#contentFooter_DropDownBoxLens_listBoxWrapper {
	& .TextView{
		font-size: 18px;
	}
}
#contentFooter_labMinLensDistance {
	@include elemTop(119);
}
#contentFooter_labMinLensDistance {
	@include elemLeft(15);
}
#contentFooter_labMinLensDistance {
	@include elemAutoWidth(190);
}
#contentFooter_labMinLensDistance {
	@include elemAutoHeight(25);
}
#contentFooter_labMinLensDistance {
		z-index: 21;
}
#contentFooter_labMinLensDistance {
	@include text-alignment-all('right');
}
#contentFooter_labMinLensDistance {
		font-size: 18px;
}
#contentFooter_numMinLensDistance {
	@include elemTop(119);
}
#contentFooter_numMinLensDistance {
	@include elemLeft(210);
}
#contentFooter_numMinLensDistance {
	@include elemAutoWidth(130);
}
#contentFooter_numMinLensDistance {
	@include elemAutoHeight(25);
}
#contentFooter_numMinLensDistance {
		z-index: 23;
}
#contentFooter_numMinLensDistance {
		border-width: 2px;
}
#contentFooter_numMinLensDistance {
	@include border-radius(5px);
}
#contentFooter_numMinLensDistance {
	input{
		font-size: 18px;
	}
}
#contentFooter_numMinLensDistance {
		padding: 0px 5px 0px 5px;
}
#contentFooter_labMaxLensDistance {
	@include elemTop(149);
}
#contentFooter_labMaxLensDistance {
	@include elemLeft(15);
}
#contentFooter_labMaxLensDistance {
	@include elemAutoWidth(190);
}
#contentFooter_labMaxLensDistance {
	@include elemAutoHeight(25);
}
#contentFooter_labMaxLensDistance {
		z-index: 22;
}
#contentFooter_labMaxLensDistance {
	@include text-alignment-all('right');
}
#contentFooter_labMaxLensDistance {
		font-size: 18px;
}
#contentFooter_numMaxLensDistance {
	@include elemTop(149);
}
#contentFooter_numMaxLensDistance {
	@include elemLeft(210);
}
#contentFooter_numMaxLensDistance {
	@include elemAutoWidth(130);
}
#contentFooter_numMaxLensDistance {
	@include elemAutoHeight(25);
}
#contentFooter_numMaxLensDistance {
		z-index: 24;
}
#contentFooter_numMaxLensDistance {
		border-width: 2px;
}
#contentFooter_numMaxLensDistance {
	@include border-radius(5px);
}
#contentFooter_numMaxLensDistance {
	input{
		font-size: 18px;
	}
}
#contentFooter_numMaxLensDistance {
		padding: 0px 5px 0px 5px;
}
#contentFooter_labBinning {
	@include elemTop(189);
}
#contentFooter_labBinning {
	@include elemLeft(15);
}
#contentFooter_labBinning {
	@include elemAutoWidth(190);
}
#contentFooter_labBinning {
	@include elemAutoHeight(25);
}
#contentFooter_labBinning {
		z-index: 5;
}
#contentFooter_labBinning {
	@include text-alignment-all('right');
}
#contentFooter_labBinning {
		font-size: 18px;
}
#contentFooter_DropDownBoxBinning {
	&.DropDownBoxView{
	@include elemHeight(30);
	}
}
#contentFooter_DropDownBoxBinning {
	@include elemTop(189);
}
#contentFooter_DropDownBoxBinning {
	@include elemLeft(210);
}
#contentFooter_DropDownBoxBinning {
	&.DropDownBoxView{
	@include elemWidth(130);
	}
}
#contentFooter_DropDownBoxBinning {
		z-index: 6;
}
#contentFooter_DropDownBoxBinning {
	& .TextView{
	@include text-alignment(center);
	}
}
#contentFooter_DropDownBoxBinning_listBoxWrapper {
	& .TextView{
	@include text-alignment(center);
	}
}
#contentFooter_DropDownBoxBinning {
	& .TextView{
		font-size: 18px;
	}
}
#contentFooter_DropDownBoxBinning_listBoxWrapper {
	& .TextView{
		font-size: 18px;
	}
}
#contentFooter_labDistance {
	@include elemTop(224);
}
#contentFooter_labDistance {
	@include elemLeft(15);
}
#contentFooter_labDistance {
	@include elemAutoWidth(190);
}
#contentFooter_labDistance {
	@include elemAutoHeight(25);
}
#contentFooter_labDistance {
		z-index: 0;
}
#contentFooter_labDistance {
	@include text-alignment-all('right');
}
#contentFooter_labDistance {
		font-size: 18px;
}
#contentFooter_numDistance {
	@include elemHeight(30);
}
#contentFooter_numDistance {
	@include elemTop(224);
}
#contentFooter_numDistance {
	@include elemLeft(210);
}
#contentFooter_numDistance {
	@include elemWidth(130);
}
#contentFooter_numDistance {
		z-index: 27;
}
#contentFooter_numDistance {
		padding: 0px 5px 0px 5px;
}
#contentFooter_labValidDistance {
	@include elemTop(260);
}
#contentFooter_labValidDistance {
	@include elemLeft(15);
}
#contentFooter_labValidDistance {
	@include elemAutoWidth(190);
}
#contentFooter_labValidDistance {
	@include elemAutoHeight(24);
}
#contentFooter_labValidDistance {
		z-index: 7;
}
#contentFooter_labValidDistance {
	@include text-alignment-all('right');
}
#contentFooter_labValidDistance {
		font-size: 18px;
}
#contentFooter_btnValidDistance {
	@include elemAutoHeight(30);
}
#contentFooter_btnValidDistance {
	@include elemTop(259);
}
#contentFooter_btnValidDistance {
	@include elemLeft(210);
}
#contentFooter_btnValidDistance {
	@include elemAutoWidth(130);
}
#contentFooter_btnValidDistance {
		z-index: 20;
}
#contentFooter_btnValidDistance {
	@include border-radius(5px);
}
#contentFooter_btnValidDistance {
	&:not(.disabled):not(.active):not(.checked){
	@include backGroundGradient('linear-gradient(to bottom,#F7F7F7 0%,#f60909 100%)');
	}
}
#contentFooter_btnValidDistance {
	&.disabled{
	@include backGroundGradient('linear-gradient(to bottom,#F7F7F7 0%,#f60909 100%)');
	}
}
#contentFooter_btnValidDistance {
	&.disabled.active{
	@include backGroundGradient('linear-gradient(to bottom,#F7F7F7 0%,#f60909 100%)');
	}
}
#contentFooter_btnValidDistance {
	&.disabled.checked{
	@include backGroundGradient('linear-gradient(to bottom,#F7F7F7 0%,#f60909 100%)');
	}
}
#contentFooter_btnValidDistance {
	&.disabled:not(.checked) span{
		color: rgba(255, 255, 255, 1);
	}
}
#contentFooter_btnValidDistance {
	&.disabled:not(.checked).active span{
		color: rgba(255, 255, 255, 1);
	}
}
#contentFooter_btnValidDistance {
	span{
		font-size: 14px;
	}
}
#contentFooter_btnValidDistance {
	&.checked:not(.disabled):not(.active){
	@include backGroundGradient('linear-gradient(to bottom, #4A4A4A 0%,#29920c 100%)');
	}
}
#contentFooter_btnValidDistance {
	&.disabled.checked{
	@include backGroundGradient('linear-gradient(to bottom, #4A4A4A 0%,#29920c 100%)');
	}
}
#contentFooter_labDepthOfField {
	@include elemTop(309);
}
#contentFooter_labDepthOfField {
	@include elemLeft(14);
}
#contentFooter_labDepthOfField {
	@include elemAutoWidth(190);
}
#contentFooter_labDepthOfField {
	@include elemAutoHeight(25);
}
#contentFooter_labDepthOfField {
		z-index: 12;
}
#contentFooter_labDepthOfField {
	@include text-alignment-all('right');
}
#contentFooter_labDepthOfField {
		font-size: 18px;
}
#contentFooter_numDepthOfField {
	@include elemTop(309);
}
#contentFooter_numDepthOfField {
	@include elemLeft(210);
}
#contentFooter_numDepthOfField {
	@include elemAutoWidth(130);
}
#contentFooter_numDepthOfField {
	@include elemAutoHeight(25);
}
#contentFooter_numDepthOfField {
		z-index: 13;
}
#contentFooter_numDepthOfField {
		border-width: 2px;
}
#contentFooter_numDepthOfField {
	@include border-radius(5px);
}
#contentFooter_numDepthOfField {
	input{
		font-size: 18px;
	}
}
#contentFooter_numDepthOfField {
		padding: 0px 5px 0px 5px;
}
#contentFooter_labNearDistance {
	@include elemTop(339);
}
#contentFooter_labNearDistance {
	@include elemLeft(14);
}
#contentFooter_labNearDistance {
	@include elemAutoWidth(190);
}
#contentFooter_labNearDistance {
	@include elemAutoHeight(25);
}
#contentFooter_labNearDistance {
		z-index: 8;
}
#contentFooter_labNearDistance {
	@include text-alignment-all('right');
}
#contentFooter_labNearDistance {
		font-size: 18px;
}
#contentFooter_numNearDistance {
	@include elemTop(339);
}
#contentFooter_numNearDistance {
	@include elemLeft(210);
}
#contentFooter_numNearDistance {
	@include elemAutoWidth(130);
}
#contentFooter_numNearDistance {
	@include elemAutoHeight(25);
}
#contentFooter_numNearDistance {
		z-index: 9;
}
#contentFooter_numNearDistance {
		border-width: 2px;
}
#contentFooter_numNearDistance {
	@include border-radius(5px);
}
#contentFooter_numNearDistance {
	input{
		font-size: 18px;
	}
}
#contentFooter_numNearDistance {
		padding: 0px 5px 0px 5px;
}
#contentFooter_labFarDistance {
	@include elemTop(369);
}
#contentFooter_labFarDistance {
	@include elemLeft(14);
}
#contentFooter_labFarDistance {
	@include elemAutoWidth(190);
}
#contentFooter_labFarDistance {
	@include elemAutoHeight(25);
}
#contentFooter_labFarDistance {
		z-index: 10;
}
#contentFooter_labFarDistance {
	@include text-alignment-all('right');
}
#contentFooter_labFarDistance {
		font-size: 18px;
}
#contentFooter_numFarDistance {
	@include elemTop(369);
}
#contentFooter_numFarDistance {
	@include elemLeft(210);
}
#contentFooter_numFarDistance {
	@include elemAutoWidth(130);
}
#contentFooter_numFarDistance {
	@include elemAutoHeight(25);
}
#contentFooter_numFarDistance {
		z-index: 11;
}
#contentFooter_numFarDistance {
		border-width: 2px;
}
#contentFooter_numFarDistance {
	@include border-radius(5px);
}
#contentFooter_numFarDistance {
	input{
		font-size: 18px;
	}
}
#contentFooter_numFarDistance {
		padding: 0px 5px 0px 5px;
}
#contentFooter_labFoV_X {
	@include elemTop(409);
}
#contentFooter_labFoV_X {
	@include elemLeft(14);
}
#contentFooter_labFoV_X {
	@include elemAutoWidth(190);
}
#contentFooter_labFoV_X {
	@include elemAutoHeight(25);
}
#contentFooter_labFoV_X {
		z-index: 14;
}
#contentFooter_labFoV_X {
	@include text-alignment-all('right');
}
#contentFooter_labFoV_X {
		font-size: 18px;
}
#contentFooter_numFoV_X {
	@include elemTop(409);
}
#contentFooter_numFoV_X {
	@include elemLeft(210);
}
#contentFooter_numFoV_X {
	@include elemAutoWidth(130);
}
#contentFooter_numFoV_X {
	@include elemAutoHeight(25);
}
#contentFooter_numFoV_X {
		z-index: 15;
}
#contentFooter_numFoV_X {
		border-width: 2px;
}
#contentFooter_numFoV_X {
	@include border-radius(5px);
}
#contentFooter_numFoV_X {
	input{
		font-size: 18px;
	}
}
#contentFooter_numFoV_X {
		padding: 0px 5px 0px 5px;
}
#contentFooter_labFoV_Y {
	@include elemTop(439);
}
#contentFooter_labFoV_Y {
	@include elemLeft(14);
}
#contentFooter_labFoV_Y {
	@include elemAutoWidth(190);
}
#contentFooter_labFoV_Y {
	@include elemAutoHeight(25);
}
#contentFooter_labFoV_Y {
		z-index: 16;
}
#contentFooter_labFoV_Y {
	@include text-alignment-all('right');
}
#contentFooter_labFoV_Y {
		font-size: 18px;
}
#contentFooter_numFoV_Y {
	@include elemTop(439);
}
#contentFooter_numFoV_Y {
	@include elemLeft(210);
}
#contentFooter_numFoV_Y {
	@include elemAutoWidth(130);
}
#contentFooter_numFoV_Y {
	@include elemAutoHeight(25);
}
#contentFooter_numFoV_Y {
		z-index: 17;
}
#contentFooter_numFoV_Y {
		border-width: 2px;
}
#contentFooter_numFoV_Y {
	@include border-radius(5px);
}
#contentFooter_numFoV_Y {
	input{
		font-size: 18px;
	}
}
#contentFooter_numFoV_Y {
		padding: 0px 5px 0px 5px;
}
#contentFooter_labResolution {
	@include elemTop(489);
}
#contentFooter_labResolution {
	@include elemLeft(14);
}
#contentFooter_labResolution {
	@include elemAutoWidth(190);
}
#contentFooter_labResolution {
	@include elemAutoHeight(25);
}
#contentFooter_labResolution {
		z-index: 18;
}
#contentFooter_labResolution {
	@include text-alignment-all('right');
}
#contentFooter_labResolution {
		font-size: 18px;
}
#contentFooter_numResolution {
	@include elemTop(489);
}
#contentFooter_numResolution {
	@include elemLeft(210);
}
#contentFooter_numResolution {
	@include elemAutoWidth(130);
}
#contentFooter_numResolution {
	@include elemAutoHeight(25);
}
#contentFooter_numResolution {
		z-index: 19;
}
#contentFooter_numResolution {
		border-width: 2px;
}
#contentFooter_numResolution {
	@include border-radius(5px);
}
#contentFooter_numResolution {
	input{
		font-size: 18px;
	}
}
#contentFooter_numResolution {
		padding: 0px 5px 0px 5px;
}
