﻿@import "mixins.scss";
#contentHeader_labTitle {
	@include elemTop(20);
}
#contentHeader_labTitle {
	@include elemLeft(155);
}
#contentHeader_labTitle {
	@include elemAutoWidth(635);
}
#contentHeader_labTitle {
	@include elemAutoHeight(25);
}
#contentHeader_labTitle {
		z-index: 0;
}
#contentHeader_labTitle {
	@include text-alignment-all('center');
}
#contentHeader_labTitle {
		font-size: 28px;
}
#contentHeader_labTitle {
	@include font-weight-bold(true);
}
#contentHeader_StatusConnected {
	@include elemAutoHeight(30);
}
#contentHeader_StatusConnected {
	@include elemTop(65);
}
#contentHeader_StatusConnected {
	@include elemLeft(180);
}
#contentHeader_StatusConnected {
	@include elemAutoWidth(140);
}
#contentHeader_StatusConnected {
		z-index: 1;
}
#contentHeader_StatusConnected {
	@include border-radius(5px);
}
#contentHeader_StatusConnected {
	&:not(.disabled):not(.active):not(.checked){
	@include backGroundGradient('linear-gradient(to bottom,#F7F7F7 0%,#f60909 100%)');
	}
}
#contentHeader_StatusConnected {
	&.disabled{
	@include backGroundGradient('linear-gradient(to bottom,#F7F7F7 0%,#f60909 100%)');
	}
}
#contentHeader_StatusConnected {
	&.disabled.active{
	@include backGroundGradient('linear-gradient(to bottom,#F7F7F7 0%,#f60909 100%)');
	}
}
#contentHeader_StatusConnected {
	&.disabled.checked{
	@include backGroundGradient('linear-gradient(to bottom,#F7F7F7 0%,#f60909 100%)');
	}
}
#contentHeader_StatusConnected {
	&:not(.disabled):not(.active):not(.checked) span{
		color: rgba(255, 255, 255, 1);
	}
}
#contentHeader_StatusConnected {
	&.disabled:not(.checked) span{
		color: rgba(255, 255, 255, 1);
	}
}
#contentHeader_StatusConnected {
	&.disabled:not(.checked).active span{
		color: rgba(255, 255, 255, 1);
	}
}
#contentHeader_StatusConnected {
	span{
		font-size: 14px;
	}
}
#contentHeader_StatusConnected {
	&.checked:not(.disabled):not(.active) span{
		color: rgba(255, 255, 255, 1);
	}
}
#contentHeader_StatusConnected {
	&.disabled.checked:not(.active) span{
		color: rgba(255, 255, 255, 1);
	}
}
#contentHeader_StatusConnected {
	&.checked:not(.disabled):not(.active){
	@include backGroundGradient('linear-gradient(to bottom,#4A4A4A 0%,#29920c 100%)');
	}
}
#contentHeader_StatusConnected {
	&.disabled.checked{
	@include backGroundGradient('linear-gradient(to bottom,#4A4A4A 0%,#29920c 100%)');
	}
}
#contentHeader_StatusReady {
	@include elemAutoHeight(30);
}
#contentHeader_StatusReady {
	@include elemTop(65);
}
#contentHeader_StatusReady {
	@include elemLeft(335);
}
#contentHeader_StatusReady {
	@include elemAutoWidth(140);
}
#contentHeader_StatusReady {
		z-index: 2;
}
#contentHeader_StatusReady {
	@include border-radius(5px);
}
#contentHeader_StatusReady {
	&:not(.disabled):not(.active):not(.checked){
	@include backGroundGradient('linear-gradient(to bottom,#F7F7F7 0%,#f60909 100%)');
	}
}
#contentHeader_StatusReady {
	&.disabled{
	@include backGroundGradient('linear-gradient(to bottom,#F7F7F7 0%,#f60909 100%)');
	}
}
#contentHeader_StatusReady {
	&.disabled.active{
	@include backGroundGradient('linear-gradient(to bottom,#F7F7F7 0%,#f60909 100%)');
	}
}
#contentHeader_StatusReady {
	&.disabled.checked{
	@include backGroundGradient('linear-gradient(to bottom,#F7F7F7 0%,#f60909 100%)');
	}
}
#contentHeader_StatusReady {
	&:not(.disabled):not(.active):not(.checked) span{
		color: rgba(255, 255, 255, 1);
	}
}
#contentHeader_StatusReady {
	&.disabled:not(.checked) span{
		color: rgba(255, 255, 255, 1);
	}
}
#contentHeader_StatusReady {
	&.disabled:not(.checked).active span{
		color: rgba(255, 255, 255, 1);
	}
}
#contentHeader_StatusReady {
	span{
		font-size: 14px;
	}
}
#contentHeader_StatusReady {
	&.checked:not(.disabled):not(.active) span{
		color: rgba(255, 255, 255, 1);
	}
}
#contentHeader_StatusReady {
	&.disabled.checked:not(.active) span{
		color: rgba(255, 255, 255, 1);
	}
}
#contentHeader_StatusReady {
	&.checked:not(.disabled):not(.active){
	@include backGroundGradient('linear-gradient(to bottom,#4A4A4A 0%,#29920c 100%)');
	}
}
#contentHeader_StatusReady {
	&.disabled.checked{
	@include backGroundGradient('linear-gradient(to bottom,#4A4A4A 0%,#29920c 100%)');
	}
}
#contentHeader_StatusProcessing {
	@include elemAutoHeight(30);
}
#contentHeader_StatusProcessing {
	@include elemTop(65);
}
#contentHeader_StatusProcessing {
	@include elemLeft(490);
}
#contentHeader_StatusProcessing {
	@include elemAutoWidth(140);
}
#contentHeader_StatusProcessing {
		z-index: 3;
}
#contentHeader_StatusProcessing {
	@include border-radius(5px);
}
#contentHeader_StatusProcessing {
	&:not(.disabled):not(.active):not(.checked){
	@include backGroundGradient('linear-gradient(to bottom,#4A4A4A 0%,#29920c 100%)');
	}
}
#contentHeader_StatusProcessing {
	&.disabled{
	@include backGroundGradient('linear-gradient(to bottom,#4A4A4A 0%,#29920c 100%)');
	}
}
#contentHeader_StatusProcessing {
	&.disabled.active{
	@include backGroundGradient('linear-gradient(to bottom,#4A4A4A 0%,#29920c 100%)');
	}
}
#contentHeader_StatusProcessing {
	&.disabled.checked{
	@include backGroundGradient('linear-gradient(to bottom,#4A4A4A 0%,#29920c 100%)');
	}
}
#contentHeader_StatusProcessing {
	&:not(.disabled):not(.active):not(.checked) span{
		color: rgba(255, 255, 255, 1);
	}
}
#contentHeader_StatusProcessing {
	&.disabled:not(.checked) span{
		color: rgba(255, 255, 255, 1);
	}
}
#contentHeader_StatusProcessing {
	&.disabled:not(.checked).active span{
		color: rgba(255, 255, 255, 1);
	}
}
#contentHeader_StatusProcessing {
	span{
		font-size: 14px;
	}
}
#contentHeader_StatusProcessing {
	&.checked:not(.disabled):not(.active) span{
		color: rgba(255, 255, 255, 1);
	}
}
#contentHeader_StatusProcessing {
	&.disabled.checked:not(.active) span{
		color: rgba(255, 255, 255, 1);
	}
}
#contentHeader_StatusProcessing {
	&.checked:not(.disabled):not(.active){
	@include backGroundGradient('linear-gradient(to bottom,#F7F7F7 0%,#f60909 100%)');
	}
}
#contentHeader_StatusProcessing {
	&.disabled.checked{
	@include backGroundGradient('linear-gradient(to bottom,#F7F7F7 0%,#f60909 100%)');
	}
}
#contentHeader_CockpitStatus {
	@include elemAutoHeight(30);
}
#contentHeader_CockpitStatus {
	@include elemTop(65);
}
#contentHeader_CockpitStatus {
	@include elemLeft(640);
}
#contentHeader_CockpitStatus {
	@include elemAutoWidth(140);
}
#contentHeader_CockpitStatus {
		z-index: 10;
}
#contentHeader_CockpitStatus {
	@include border-radius(5px);
}
#contentHeader_CockpitStatus {
	&:not(.disabled):not(.active):not(.checked){
	@include backGroundGradient('linear-gradient(to bottom,#4A4A4A 0%,#29920c 100%)');
	}
}
#contentHeader_CockpitStatus {
	&.disabled{
	@include backGroundGradient('linear-gradient(to bottom,#4A4A4A 0%,#29920c 100%)');
	}
}
#contentHeader_CockpitStatus {
	&.disabled.active{
	@include backGroundGradient('linear-gradient(to bottom,#4A4A4A 0%,#29920c 100%)');
	}
}
#contentHeader_CockpitStatus {
	&.disabled.checked{
	@include backGroundGradient('linear-gradient(to bottom,#4A4A4A 0%,#29920c 100%)');
	}
}
#contentHeader_CockpitStatus {
	&:not(.disabled):not(.active):not(.checked) span{
		color: rgba(255, 255, 255, 1);
	}
}
#contentHeader_CockpitStatus {
	&.disabled:not(.checked) span{
		color: rgba(255, 255, 255, 1);
	}
}
#contentHeader_CockpitStatus {
	&.disabled:not(.checked).active span{
		color: rgba(255, 255, 255, 1);
	}
}
#contentHeader_CockpitStatus {
	span{
		font-size: 14px;
	}
}
#contentHeader_CockpitStatus {
	&.checked:not(.disabled):not(.active) span{
		color: rgba(255, 255, 255, 1);
	}
}
#contentHeader_CockpitStatus {
	&.disabled.checked:not(.active) span{
		color: rgba(255, 255, 255, 1);
	}
}
#contentHeader_CockpitStatus {
	&.checked:not(.disabled):not(.active){
	@include backGroundGradient('linear-gradient(to bottom,#F7F7F7 0%,#f60909 100%)');
	}
}
#contentHeader_CockpitStatus {
	&.disabled.checked{
	@include backGroundGradient('linear-gradient(to bottom,#F7F7F7 0%,#f60909 100%)');
	}
}
#contentHeader_labCameraNo {
	@include elemTop(40);
}
#contentHeader_labCameraNo {
	@include elemLeft(950);
}
#contentHeader_labCameraNo {
	@include elemAutoWidth(135);
}
#contentHeader_labCameraNo {
	@include elemAutoHeight(20);
}
#contentHeader_labCameraNo {
		z-index: 4;
}
#contentHeader_labCameraNo {
	@include text-alignment-all('center');
}
#contentHeader_labCameraNo {
		font-size: 16px;
}
#contentHeader_labCameraNo {
	@include font-weight-bold(true);
}
#contentHeader_numCameraNo {
	@include elemHeight(30);
}
#contentHeader_numCameraNo {
	@include elemTop(65);
}
#contentHeader_numCameraNo {
	@include elemLeft(995);
}
#contentHeader_numCameraNo {
	@include elemWidth(40);
}
#contentHeader_numCameraNo {
		z-index: 5;
}
#contentHeader_numCameraNo {
	input{
	@include text-alignment(center);
	}
}
#contentHeader_numCameraNo {
	input{
		font-size: 22px;
	}
}
#contentHeader_numCameraNo {
		padding: 0px 0px 0px 0px;
}
#contentHeader_numCameraNoDown {
	@include elemTop(65);
}
#contentHeader_numCameraNoDown {
	@include elemLeft(960);
}
#contentHeader_numCameraNoDown {
	@include elemAutoWidth(30);
}
#contentHeader_numCameraNoDown {
	@include elemAutoHeight(30);
}
#contentHeader_numCameraNoDown {
		z-index: 6;
}
#contentHeader_numCameraNoDown {
		border-width: 0px;
}
#contentHeader_numCameraNoUp {
	@include elemTop(65);
}
#contentHeader_numCameraNoUp {
	@include elemLeft(1045);
}
#contentHeader_numCameraNoUp {
	@include elemAutoWidth(30);
}
#contentHeader_numCameraNoUp {
	@include elemAutoHeight(30);
}
#contentHeader_numCameraNoUp {
		z-index: 7;
}
#contentHeader_numCameraNoUp {
		border-width: 0px;
}
#contentHeader_labCameraStatus {
	@include elemTop(10);
}
#contentHeader_labCameraStatus {
	@include elemLeft(1125);
}
#contentHeader_labCameraStatus {
	@include elemAutoWidth(60);
}
#contentHeader_labCameraStatus {
	@include elemAutoHeight(20);
}
#contentHeader_labCameraStatus {
		z-index: 8;
}
#contentHeader_labCameraStatus {
	@include text-alignment-all('left');
}
#contentHeader_labCameraStatus {
		font-size: 16px;
}
#contentHeader_labCameraStatus {
	@include font-weight-bold(true);
}
#contentHeader_txtCameraStatus {
	@include elemTop(5);
}
#contentHeader_txtCameraStatus {
	@include elemLeft(1190);
}
#contentHeader_txtCameraStatus {
	@include elemAutoWidth(170);
}
#contentHeader_txtCameraStatus {
	@include elemAutoHeight(25);
}
#contentHeader_txtCameraStatus {
		z-index: 9;
}
#contentHeader_txtCameraStatus {
		border-width: 2px;
}
#contentHeader_txtCameraStatus {
	@include border-radius(5px);
}
#contentHeader_txtCameraStatus {
		border-color: rgba(85, 85, 85, 1);
}
#contentHeader_txtCameraStatus {
	&:before{
		border-color: rgba(85, 85, 85, 1);
	}
}
#contentHeader_txtCameraStatus {
	&:after{
		border-color: rgba(85, 85, 85, 1);
	}
}
#contentHeader_txtCameraStatus {
		border-style: solid;
}
#contentHeader_txtCameraStatus {
	&:before{
		border-style: solid;
	}
}
#contentHeader_txtCameraStatus {
	&:after{
		border-style: solid;
	}
}
#contentHeader_txtCameraStatus {
	@include text-alignment-all('right');
}
#contentHeader_txtCameraStatus {
	span{
		padding: 0px 5px 0px 5px;
	}
}
#contentHeader_labCamerPlkNode {
	@include elemTop(40);
}
#contentHeader_labCamerPlkNode {
	@include elemLeft(1125);
}
#contentHeader_labCamerPlkNode {
	@include elemAutoWidth(155);
}
#contentHeader_labCamerPlkNode {
	@include elemAutoHeight(20);
}
#contentHeader_labCamerPlkNode {
		z-index: 11;
}
#contentHeader_labCamerPlkNode {
	@include text-alignment-all('left');
}
#contentHeader_labCamerPlkNode {
		font-size: 16px;
}
#contentHeader_labCamerPlkNode {
	@include font-weight-bold(true);
}
#contentHeader_txtCameraPlkNode {
	@include elemTop(35);
}
#contentHeader_txtCameraPlkNode {
	@include elemLeft(1290);
}
#contentHeader_txtCameraPlkNode {
	@include elemAutoWidth(70);
}
#contentHeader_txtCameraPlkNode {
	@include elemAutoHeight(25);
}
#contentHeader_txtCameraPlkNode {
		z-index: 12;
}
#contentHeader_txtCameraPlkNode {
		border-width: 2px;
}
#contentHeader_txtCameraPlkNode {
	@include border-radius(5px);
}
#contentHeader_txtCameraPlkNode {
	input{
		font-size: 16px;
	}
}
#contentHeader_txtCameraPlkNode {
		padding: 0px 5px 0px 5px;
}
#contentHeader_labCameraFunction {
	@include elemTop(70);
}
#contentHeader_labCameraFunction {
	@include elemLeft(1125);
}
#contentHeader_labCameraFunction {
	@include elemAutoWidth(95);
}
#contentHeader_labCameraFunction {
	@include elemAutoHeight(20);
}
#contentHeader_labCameraFunction {
		z-index: 13;
}
#contentHeader_labCameraFunction {
	@include text-alignment-all('left');
}
#contentHeader_labCameraFunction {
		font-size: 16px;
}
#contentHeader_labCameraFunction {
	@include font-weight-bold(true);
}
#contentHeader_DropDownBoxFunction {
	@include elemTop(65);
}
#contentHeader_DropDownBoxFunction {
	@include elemLeft(1220);
}
#contentHeader_DropDownBoxFunction {
	&.DropDownBoxView{
	@include elemWidth(140);
	}
}
#contentHeader_DropDownBoxFunction {
	&.DropDownBoxView{
	@include elemHeight(25);
	}
}
#contentHeader_DropDownBoxFunction {
		z-index: 14;
}
#contentHeader_DropDownBoxFunction {
	& > .ItemView.itemDisabled > .TextView{
		color: rgba(0, 0, 0, 1);
	}
}
#contentHeader_DropDownBoxFunction {
	& .TextView{
	@include text-alignment(center);
	}
}
#contentHeader_DropDownBoxFunction_listBoxWrapper {
	& .TextView{
	@include text-alignment(center);
	}
}
