#contentHeader_labTitle {
  top: 20px;
  position: absolute;
}

#contentHeader_labTitle {
  left: 155px;
  position: absolute;
}

#contentHeader_labTitle {
  width: 635px;
}

#contentHeader_labTitle {
  height: 25px;
}

#contentHeader_labTitle {
  z-index: 0;
}

#contentHeader_labTitle {
  justify-content: center;
  text-align: center;
  -ms-flex-align: center;
  align-items: center;
}

#contentHeader_labTitle {
  font-size: 28px;
}

#contentHeader_labTitle {
  font-weight: bold;
}

#contentHeader_StatusConnected {
  height: 30px;
}

#contentHeader_StatusConnected {
  top: 65px;
  position: absolute;
}

#contentHeader_StatusConnected {
  left: 180px;
  position: absolute;
}

#contentHeader_StatusConnected {
  width: 140px;
}

#contentHeader_StatusConnected {
  z-index: 1;
}

#contentHeader_StatusConnected {
  border-radius: 5px;
}

#contentHeader_StatusConnected:not(.disabled):not(.active):not(.checked) {
  background-image: linear-gradient(to bottom,#F7F7F7 0%,#f60909 100%);
}

#contentHeader_StatusConnected.disabled {
  background-image: linear-gradient(to bottom,#F7F7F7 0%,#f60909 100%);
}

#contentHeader_StatusConnected.disabled.active {
  background-image: linear-gradient(to bottom,#F7F7F7 0%,#f60909 100%);
}

#contentHeader_StatusConnected.disabled.checked {
  background-image: linear-gradient(to bottom,#F7F7F7 0%,#f60909 100%);
}

#contentHeader_StatusConnected:not(.disabled):not(.active):not(.checked) span {
  color: white;
}

#contentHeader_StatusConnected.disabled:not(.checked) span {
  color: white;
}

#contentHeader_StatusConnected.disabled:not(.checked).active span {
  color: white;
}

#contentHeader_StatusConnected span {
  font-size: 14px;
}

#contentHeader_StatusConnected.checked:not(.disabled):not(.active) span {
  color: white;
}

#contentHeader_StatusConnected.disabled.checked:not(.active) span {
  color: white;
}

#contentHeader_StatusConnected.checked:not(.disabled):not(.active) {
  background-image: linear-gradient(to bottom,#4A4A4A 0%,#29920c 100%);
}

#contentHeader_StatusConnected.disabled.checked {
  background-image: linear-gradient(to bottom,#4A4A4A 0%,#29920c 100%);
}

#contentHeader_StatusReady {
  height: 30px;
}

#contentHeader_StatusReady {
  top: 65px;
  position: absolute;
}

#contentHeader_StatusReady {
  left: 335px;
  position: absolute;
}

#contentHeader_StatusReady {
  width: 140px;
}

#contentHeader_StatusReady {
  z-index: 2;
}

#contentHeader_StatusReady {
  border-radius: 5px;
}

#contentHeader_StatusReady:not(.disabled):not(.active):not(.checked) {
  background-image: linear-gradient(to bottom,#F7F7F7 0%,#f60909 100%);
}

#contentHeader_StatusReady.disabled {
  background-image: linear-gradient(to bottom,#F7F7F7 0%,#f60909 100%);
}

#contentHeader_StatusReady.disabled.active {
  background-image: linear-gradient(to bottom,#F7F7F7 0%,#f60909 100%);
}

#contentHeader_StatusReady.disabled.checked {
  background-image: linear-gradient(to bottom,#F7F7F7 0%,#f60909 100%);
}

#contentHeader_StatusReady:not(.disabled):not(.active):not(.checked) span {
  color: white;
}

#contentHeader_StatusReady.disabled:not(.checked) span {
  color: white;
}

#contentHeader_StatusReady.disabled:not(.checked).active span {
  color: white;
}

#contentHeader_StatusReady span {
  font-size: 14px;
}

#contentHeader_StatusReady.checked:not(.disabled):not(.active) span {
  color: white;
}

#contentHeader_StatusReady.disabled.checked:not(.active) span {
  color: white;
}

#contentHeader_StatusReady.checked:not(.disabled):not(.active) {
  background-image: linear-gradient(to bottom,#4A4A4A 0%,#29920c 100%);
}

#contentHeader_StatusReady.disabled.checked {
  background-image: linear-gradient(to bottom,#4A4A4A 0%,#29920c 100%);
}

#contentHeader_StatusProcessing {
  height: 30px;
}

#contentHeader_StatusProcessing {
  top: 65px;
  position: absolute;
}

#contentHeader_StatusProcessing {
  left: 490px;
  position: absolute;
}

#contentHeader_StatusProcessing {
  width: 140px;
}

#contentHeader_StatusProcessing {
  z-index: 3;
}

#contentHeader_StatusProcessing {
  border-radius: 5px;
}

#contentHeader_StatusProcessing:not(.disabled):not(.active):not(.checked) {
  background-image: linear-gradient(to bottom,#4A4A4A 0%,#29920c 100%);
}

#contentHeader_StatusProcessing.disabled {
  background-image: linear-gradient(to bottom,#4A4A4A 0%,#29920c 100%);
}

#contentHeader_StatusProcessing.disabled.active {
  background-image: linear-gradient(to bottom,#4A4A4A 0%,#29920c 100%);
}

#contentHeader_StatusProcessing.disabled.checked {
  background-image: linear-gradient(to bottom,#4A4A4A 0%,#29920c 100%);
}

#contentHeader_StatusProcessing:not(.disabled):not(.active):not(.checked) span {
  color: white;
}

#contentHeader_StatusProcessing.disabled:not(.checked) span {
  color: white;
}

#contentHeader_StatusProcessing.disabled:not(.checked).active span {
  color: white;
}

#contentHeader_StatusProcessing span {
  font-size: 14px;
}

#contentHeader_StatusProcessing.checked:not(.disabled):not(.active) span {
  color: white;
}

#contentHeader_StatusProcessing.disabled.checked:not(.active) span {
  color: white;
}

#contentHeader_StatusProcessing.checked:not(.disabled):not(.active) {
  background-image: linear-gradient(to bottom,#F7F7F7 0%,#f60909 100%);
}

#contentHeader_StatusProcessing.disabled.checked {
  background-image: linear-gradient(to bottom,#F7F7F7 0%,#f60909 100%);
}

#contentHeader_CockpitStatus {
  height: 30px;
}

#contentHeader_CockpitStatus {
  top: 65px;
  position: absolute;
}

#contentHeader_CockpitStatus {
  left: 640px;
  position: absolute;
}

#contentHeader_CockpitStatus {
  width: 140px;
}

#contentHeader_CockpitStatus {
  z-index: 10;
}

#contentHeader_CockpitStatus {
  border-radius: 5px;
}

#contentHeader_CockpitStatus:not(.disabled):not(.active):not(.checked) {
  background-image: linear-gradient(to bottom,#4A4A4A 0%,#29920c 100%);
}

#contentHeader_CockpitStatus.disabled {
  background-image: linear-gradient(to bottom,#4A4A4A 0%,#29920c 100%);
}

#contentHeader_CockpitStatus.disabled.active {
  background-image: linear-gradient(to bottom,#4A4A4A 0%,#29920c 100%);
}

#contentHeader_CockpitStatus.disabled.checked {
  background-image: linear-gradient(to bottom,#4A4A4A 0%,#29920c 100%);
}

#contentHeader_CockpitStatus:not(.disabled):not(.active):not(.checked) span {
  color: white;
}

#contentHeader_CockpitStatus.disabled:not(.checked) span {
  color: white;
}

#contentHeader_CockpitStatus.disabled:not(.checked).active span {
  color: white;
}

#contentHeader_CockpitStatus span {
  font-size: 14px;
}

#contentHeader_CockpitStatus.checked:not(.disabled):not(.active) span {
  color: white;
}

#contentHeader_CockpitStatus.disabled.checked:not(.active) span {
  color: white;
}

#contentHeader_CockpitStatus.checked:not(.disabled):not(.active) {
  background-image: linear-gradient(to bottom,#F7F7F7 0%,#f60909 100%);
}

#contentHeader_CockpitStatus.disabled.checked {
  background-image: linear-gradient(to bottom,#F7F7F7 0%,#f60909 100%);
}

#contentHeader_labCameraNo {
  top: 40px;
  position: absolute;
}

#contentHeader_labCameraNo {
  left: 950px;
  position: absolute;
}

#contentHeader_labCameraNo {
  width: 135px;
}

#contentHeader_labCameraNo {
  height: 20px;
}

#contentHeader_labCameraNo {
  z-index: 4;
}

#contentHeader_labCameraNo {
  justify-content: center;
  text-align: center;
  -ms-flex-align: center;
  align-items: center;
}

#contentHeader_labCameraNo {
  font-size: 16px;
}

#contentHeader_labCameraNo {
  font-weight: bold;
}

#contentHeader_numCameraNo {
  height: 30px;
}

#contentHeader_numCameraNo {
  top: 65px;
  position: absolute;
}

#contentHeader_numCameraNo {
  left: 995px;
  position: absolute;
}

#contentHeader_numCameraNo {
  width: 40px;
}

#contentHeader_numCameraNo {
  z-index: 5;
}

#contentHeader_numCameraNo input {
  justify-content: center;
  text-align: center;
}

#contentHeader_numCameraNo input {
  font-size: 22px;
}

#contentHeader_numCameraNo {
  padding: 0px 0px 0px 0px;
}

#contentHeader_numCameraNoDown {
  top: 65px;
  position: absolute;
}

#contentHeader_numCameraNoDown {
  left: 960px;
  position: absolute;
}

#contentHeader_numCameraNoDown {
  width: 30px;
}

#contentHeader_numCameraNoDown {
  height: 30px;
}

#contentHeader_numCameraNoDown {
  z-index: 6;
}

#contentHeader_numCameraNoDown {
  border-width: 0px;
}

#contentHeader_numCameraNoUp {
  top: 65px;
  position: absolute;
}

#contentHeader_numCameraNoUp {
  left: 1045px;
  position: absolute;
}

#contentHeader_numCameraNoUp {
  width: 30px;
}

#contentHeader_numCameraNoUp {
  height: 30px;
}

#contentHeader_numCameraNoUp {
  z-index: 7;
}

#contentHeader_numCameraNoUp {
  border-width: 0px;
}

#contentHeader_labCameraStatus {
  top: 10px;
  position: absolute;
}

#contentHeader_labCameraStatus {
  left: 1125px;
  position: absolute;
}

#contentHeader_labCameraStatus {
  width: 60px;
}

#contentHeader_labCameraStatus {
  height: 20px;
}

#contentHeader_labCameraStatus {
  z-index: 8;
}

#contentHeader_labCameraStatus {
  justify-content: flex-start;
  text-align: left;
  -ms-flex-align: center;
  align-items: center;
}

#contentHeader_labCameraStatus {
  font-size: 16px;
}

#contentHeader_labCameraStatus {
  font-weight: bold;
}

#contentHeader_txtCameraStatus {
  top: 5px;
  position: absolute;
}

#contentHeader_txtCameraStatus {
  left: 1190px;
  position: absolute;
}

#contentHeader_txtCameraStatus {
  width: 170px;
}

#contentHeader_txtCameraStatus {
  height: 25px;
}

#contentHeader_txtCameraStatus {
  z-index: 9;
}

#contentHeader_txtCameraStatus {
  border-width: 2px;
}

#contentHeader_txtCameraStatus {
  border-radius: 5px;
}

#contentHeader_txtCameraStatus {
  border-color: #555555;
}

#contentHeader_txtCameraStatus:before {
  border-color: #555555;
}

#contentHeader_txtCameraStatus:after {
  border-color: #555555;
}

#contentHeader_txtCameraStatus {
  border-style: solid;
}

#contentHeader_txtCameraStatus:before {
  border-style: solid;
}

#contentHeader_txtCameraStatus:after {
  border-style: solid;
}

#contentHeader_txtCameraStatus {
  justify-content: flex-end;
  text-align: right;
  -ms-flex-align: center;
  align-items: center;
}

#contentHeader_txtCameraStatus span {
  padding: 0px 5px 0px 5px;
}

#contentHeader_labCamerPlkNode {
  top: 40px;
  position: absolute;
}

#contentHeader_labCamerPlkNode {
  left: 1125px;
  position: absolute;
}

#contentHeader_labCamerPlkNode {
  width: 155px;
}

#contentHeader_labCamerPlkNode {
  height: 20px;
}

#contentHeader_labCamerPlkNode {
  z-index: 11;
}

#contentHeader_labCamerPlkNode {
  justify-content: flex-start;
  text-align: left;
  -ms-flex-align: center;
  align-items: center;
}

#contentHeader_labCamerPlkNode {
  font-size: 16px;
}

#contentHeader_labCamerPlkNode {
  font-weight: bold;
}

#contentHeader_txtCameraPlkNode {
  top: 35px;
  position: absolute;
}

#contentHeader_txtCameraPlkNode {
  left: 1290px;
  position: absolute;
}

#contentHeader_txtCameraPlkNode {
  width: 70px;
}

#contentHeader_txtCameraPlkNode {
  height: 25px;
}

#contentHeader_txtCameraPlkNode {
  z-index: 12;
}

#contentHeader_txtCameraPlkNode {
  border-width: 2px;
}

#contentHeader_txtCameraPlkNode {
  border-radius: 5px;
}

#contentHeader_txtCameraPlkNode input {
  font-size: 16px;
}

#contentHeader_txtCameraPlkNode {
  padding: 0px 5px 0px 5px;
}

#contentHeader_labCameraFunction {
  top: 70px;
  position: absolute;
}

#contentHeader_labCameraFunction {
  left: 1125px;
  position: absolute;
}

#contentHeader_labCameraFunction {
  width: 95px;
}

#contentHeader_labCameraFunction {
  height: 20px;
}

#contentHeader_labCameraFunction {
  z-index: 13;
}

#contentHeader_labCameraFunction {
  justify-content: flex-start;
  text-align: left;
  -ms-flex-align: center;
  align-items: center;
}

#contentHeader_labCameraFunction {
  font-size: 16px;
}

#contentHeader_labCameraFunction {
  font-weight: bold;
}

#contentHeader_DropDownBoxFunction {
  top: 65px;
  position: absolute;
}

#contentHeader_DropDownBoxFunction {
  left: 1220px;
  position: absolute;
}

#contentHeader_DropDownBoxFunction.DropDownBoxView {
  width: 140px;
}

#contentHeader_DropDownBoxFunction.DropDownBoxView {
  height: 25px;
}

#contentHeader_DropDownBoxFunction {
  z-index: 14;
}

#contentHeader_DropDownBoxFunction > .ItemView.itemDisabled > .TextView {
  color: black;
}

#contentHeader_DropDownBoxFunction .TextView {
  justify-content: center;
  text-align: center;
}

#contentHeader_DropDownBoxFunction_listBoxWrapper .TextView {
  justify-content: center;
  text-align: center;
}
