﻿@import "mixins.scss";
#contentNav_navMain {
	@include elemTop(20);
}
#contentNav_navMain {
	@include elemLeft(5);
}
#contentNav_navMain {
	@include elemAutoWidth(150);
}
#contentNav_navMain {
	@include elemAutoHeight(45);
}
#contentNav_navMain {
		z-index: 0;
}
#contentNav_navMain {
	@include border-radius(8px);
}
#contentNav_navMain {
	span{
		font-size: 20px;
	}
}
#contentNav_navImageArchiv {
	@include elemTop(460);
}
#contentNav_navImageArchiv {
	@include elemLeft(5);
}
#contentNav_navImageArchiv {
	@include elemAutoWidth(150);
}
#contentNav_navImageArchiv {
	@include elemAutoHeight(45);
}
#contentNav_navImageArchiv {
		z-index: 1;
}
#contentNav_navImageArchiv {
	@include border-radius(8px);
}
#contentNav_navImageArchiv {
	span{
		font-size: 20px;
	}
}
#contentNav_navRecipes {
	@include elemTop(405);
}
#contentNav_navRecipes {
	@include elemLeft(5);
}
#contentNav_navRecipes {
	@include elemAutoWidth(150);
}
#contentNav_navRecipes {
	@include elemAutoHeight(45);
}
#contentNav_navRecipes {
		z-index: 2;
}
#contentNav_navRecipes {
	@include border-radius(8px);
}
#contentNav_navRecipes {
	span{
		font-size: 20px;
	}
}
#contentNav_navLights {
	@include elemTop(130);
}
#contentNav_navLights {
	@include elemLeft(5);
}
#contentNav_navLights {
	@include elemAutoWidth(150);
}
#contentNav_navLights {
	@include elemAutoHeight(45);
}
#contentNav_navLights {
		z-index: 3;
}
#contentNav_navLights {
	@include border-radius(8px);
}
#contentNav_navLights {
	span{
		font-size: 20px;
	}
}
#contentNav_navLights1 {
	@include elemTop(185);
}
#contentNav_navLights1 {
	@include elemLeft(5);
}
#contentNav_navLights1 {
	@include elemAutoWidth(150);
}
#contentNav_navLights1 {
	@include elemAutoHeight(45);
}
#contentNav_navLights1 {
		z-index: 4;
}
#contentNav_navLights1 {
	@include border-radius(8px);
}
#contentNav_navLights1 {
	span{
		font-size: 20px;
	}
}
#contentNav_navResult {
	@include elemTop(75);
}
#contentNav_navResult {
	@include elemLeft(5);
}
#contentNav_navResult {
	@include elemAutoWidth(150);
}
#contentNav_navResult {
	@include elemAutoHeight(45);
}
#contentNav_navResult {
		z-index: 5;
}
#contentNav_navResult {
	@include border-radius(8px);
}
#contentNav_navResult {
	span{
		font-size: 20px;
	}
}
#contentNav_navColor {
	@include elemTop(237);
}
#contentNav_navColor {
	@include elemLeft(5);
}
#contentNav_navColor {
	@include elemAutoWidth(150);
}
#contentNav_navColor {
	@include elemAutoHeight(45);
}
#contentNav_navColor {
		z-index: 6;
}
#contentNav_navColor {
	@include border-radius(8px);
}
#contentNav_navColor {
	span{
		font-size: 20px;
	}
}
