#contentNav_navMain {
  top: 20px;
  position: absolute;
}

#contentNav_navMain {
  left: 5px;
  position: absolute;
}

#contentNav_navMain {
  width: 150px;
}

#contentNav_navMain {
  height: 45px;
}

#contentNav_navMain {
  z-index: 0;
}

#contentNav_navMain {
  border-radius: 8px;
}

#contentNav_navMain span {
  font-size: 20px;
}

#contentNav_navImageArchiv {
  top: 460px;
  position: absolute;
}

#contentNav_navImageArchiv {
  left: 5px;
  position: absolute;
}

#contentNav_navImageArchiv {
  width: 150px;
}

#contentNav_navImageArchiv {
  height: 45px;
}

#contentNav_navImageArchiv {
  z-index: 1;
}

#contentNav_navImageArchiv {
  border-radius: 8px;
}

#contentNav_navImageArchiv span {
  font-size: 20px;
}

#contentNav_navRecipes {
  top: 405px;
  position: absolute;
}

#contentNav_navRecipes {
  left: 5px;
  position: absolute;
}

#contentNav_navRecipes {
  width: 150px;
}

#contentNav_navRecipes {
  height: 45px;
}

#contentNav_navRecipes {
  z-index: 2;
}

#contentNav_navRecipes {
  border-radius: 8px;
}

#contentNav_navRecipes span {
  font-size: 20px;
}

#contentNav_navLights {
  top: 130px;
  position: absolute;
}

#contentNav_navLights {
  left: 5px;
  position: absolute;
}

#contentNav_navLights {
  width: 150px;
}

#contentNav_navLights {
  height: 45px;
}

#contentNav_navLights {
  z-index: 3;
}

#contentNav_navLights {
  border-radius: 8px;
}

#contentNav_navLights span {
  font-size: 20px;
}

#contentNav_navLights1 {
  top: 185px;
  position: absolute;
}

#contentNav_navLights1 {
  left: 5px;
  position: absolute;
}

#contentNav_navLights1 {
  width: 150px;
}

#contentNav_navLights1 {
  height: 45px;
}

#contentNav_navLights1 {
  z-index: 4;
}

#contentNav_navLights1 {
  border-radius: 8px;
}

#contentNav_navLights1 span {
  font-size: 20px;
}

#contentNav_navResult {
  top: 75px;
  position: absolute;
}

#contentNav_navResult {
  left: 5px;
  position: absolute;
}

#contentNav_navResult {
  width: 150px;
}

#contentNav_navResult {
  height: 45px;
}

#contentNav_navResult {
  z-index: 5;
}

#contentNav_navResult {
  border-radius: 8px;
}

#contentNav_navResult span {
  font-size: 20px;
}

#contentNav_navColor {
  top: 237px;
  position: absolute;
}

#contentNav_navColor {
  left: 5px;
  position: absolute;
}

#contentNav_navColor {
  width: 150px;
}

#contentNav_navColor {
  height: 45px;
}

#contentNav_navColor {
  z-index: 6;
}

#contentNav_navColor {
  border-radius: 8px;
}

#contentNav_navColor span {
  font-size: 20px;
}
