﻿@import "mixins.scss";
#contentLights_grpHardware {
	@include elemTop(10);
}
#contentLights_grpHardware {
	@include elemLeft(305);
}
#contentLights_grpHardware {
	@include elemWidth(635);
}
#contentLights_grpHardware {
	@include elemHeight(380);
}
#contentLights_grpHardware {
		z-index: 0;
}
#contentLights_labLightSerialNo {
	@include elemTop(153);
}
#contentLights_labLightSerialNo {
	@include elemLeft(44);
}
#contentLights_labLightSerialNo {
	@include elemAutoWidth(128);
}
#contentLights_labLightSerialNo {
	@include elemAutoHeight(20);
}
#contentLights_labLightSerialNo {
		z-index: 0;
}
#contentLights_labLightSerialNo {
	@include text-alignment-all('right');
}
#contentLights_labLightSerialNo {
		font-size: 18px;
}
#contentLights_numHW_SerialNumber {
	@include elemAutoWidth(100);
}
#contentLights_numHW_SerialNumber {
	@include elemTop(153);
}
#contentLights_numHW_SerialNumber {
	@include elemLeft(184);
}
#contentLights_numHW_SerialNumber {
	@include elemAutoHeight(25);
}
#contentLights_numHW_SerialNumber {
		z-index: 1;
}
#contentLights_numHW_SerialNumber {
		border-width: 2px;
}
#contentLights_numHW_SerialNumber {
	@include border-radius(5px);
}
#contentLights_numHW_SerialNumber {
	input{
		font-size: 18px;
	}
}
#contentLights_numHW_SerialNumber {
		padding: 0px 5px 0px 5px;
}
#contentLights_labLightID {
	@include elemTop(183);
}
#contentLights_labLightID {
	@include elemLeft(44);
}
#contentLights_labLightID {
	@include elemAutoWidth(128);
}
#contentLights_labLightID {
	@include elemAutoHeight(20);
}
#contentLights_labLightID {
		z-index: 2;
}
#contentLights_labLightID {
	@include text-alignment-all('right');
}
#contentLights_labLightID {
		font-size: 18px;
}
#contentLights_numHW_ID {
	@include elemAutoWidth(100);
}
#contentLights_numHW_ID {
	@include elemTop(183);
}
#contentLights_numHW_ID {
	@include elemLeft(184);
}
#contentLights_numHW_ID {
	@include elemAutoHeight(25);
}
#contentLights_numHW_ID {
		z-index: 3;
}
#contentLights_numHW_ID {
		border-width: 2px;
}
#contentLights_numHW_ID {
	@include border-radius(5px);
}
#contentLights_numHW_ID {
	input{
		font-size: 18px;
	}
}
#contentLights_numHW_ID {
		padding: 0px 5px 0px 5px;
}
#contentLights_labLightVariant {
	@include elemTop(213);
}
#contentLights_labLightVariant {
	@include elemLeft(44);
}
#contentLights_labLightVariant {
	@include elemAutoWidth(128);
}
#contentLights_labLightVariant {
	@include elemAutoHeight(20);
}
#contentLights_labLightVariant {
		z-index: 4;
}
#contentLights_labLightVariant {
	@include text-alignment-all('right');
}
#contentLights_labLightVariant {
		font-size: 18px;
}
#contentLights_numHW_Variant {
	@include elemAutoWidth(100);
}
#contentLights_numHW_Variant {
	@include elemTop(213);
}
#contentLights_numHW_Variant {
	@include elemLeft(184);
}
#contentLights_numHW_Variant {
	@include elemAutoHeight(25);
}
#contentLights_numHW_Variant {
		z-index: 5;
}
#contentLights_numHW_Variant {
		border-width: 2px;
}
#contentLights_numHW_Variant {
	@include border-radius(5px);
}
#contentLights_numHW_Variant {
	input{
		font-size: 18px;
	}
}
#contentLights_numHW_Variant {
		padding: 0px 5px 0px 5px;
}
#contentLights_labLightFirmware {
	@include elemTop(243);
}
#contentLights_labLightFirmware {
	@include elemLeft(14);
}
#contentLights_labLightFirmware {
	@include elemAutoWidth(164);
}
#contentLights_labLightFirmware {
	@include elemAutoHeight(20);
}
#contentLights_labLightFirmware {
		z-index: 6;
}
#contentLights_labLightFirmware {
	@include text-alignment-all('right');
}
#contentLights_labLightFirmware {
		font-size: 18px;
}
#contentLights_numHW_Firmware {
	@include elemAutoWidth(100);
}
#contentLights_numHW_Firmware {
	@include elemTop(243);
}
#contentLights_numHW_Firmware {
	@include elemLeft(184);
}
#contentLights_numHW_Firmware {
	@include elemAutoHeight(25);
}
#contentLights_numHW_Firmware {
		z-index: 9;
}
#contentLights_numHW_Firmware {
		border-width: 2px;
}
#contentLights_numHW_Firmware {
	@include border-radius(5px);
}
#contentLights_numHW_Firmware {
	input{
		font-size: 18px;
	}
}
#contentLights_numHW_Firmware {
		padding: 0px 5px 0px 5px;
}
#contentLights_StatusConnected {
	@include elemTop(13);
}
#contentLights_StatusConnected {
	@include elemLeft(14);
}
#contentLights_StatusConnected {
	@include elemAutoWidth(140);
}
#contentLights_StatusConnected {
	@include elemAutoHeight(50);
}
#contentLights_StatusConnected {
		z-index: 7;
}
#contentLights_StatusConnected {
	@include border-radius(5px);
}
#contentLights_StatusConnected {
	&:not(.disabled):not(.active):not(.checked){
	@include backGroundGradient('linear-gradient(to bottom,#F7F7F7 0%,#f60909 100%)');
	}
}
#contentLights_StatusConnected {
	&.disabled{
	@include backGroundGradient('linear-gradient(to bottom,#F7F7F7 0%,#f60909 100%)');
	}
}
#contentLights_StatusConnected {
	&.disabled.active{
	@include backGroundGradient('linear-gradient(to bottom,#F7F7F7 0%,#f60909 100%)');
	}
}
#contentLights_StatusConnected {
	&.disabled.checked{
	@include backGroundGradient('linear-gradient(to bottom,#F7F7F7 0%,#f60909 100%)');
	}
}
#contentLights_StatusConnected {
	&.disabled:not(.checked) span{
		color: rgba(255, 255, 255, 1);
	}
}
#contentLights_StatusConnected {
	&.disabled:not(.checked).active span{
		color: rgba(255, 255, 255, 1);
	}
}
#contentLights_StatusConnected {
	span{
		font-size: 14px;
	}
}
#contentLights_StatusConnected {
	&.checked:not(.disabled):not(.active){
	@include backGroundGradient('linear-gradient(to bottom, #4A4A4A 0%,#29920c 100%)');
	}
}
#contentLights_StatusConnected {
	&.disabled.checked{
	@include backGroundGradient('linear-gradient(to bottom, #4A4A4A 0%,#29920c 100%)');
	}
}
#contentLights_StatusReady {
	@include elemTop(13);
}
#contentLights_StatusReady {
	@include elemLeft(169);
}
#contentLights_StatusReady {
	@include elemAutoWidth(140);
}
#contentLights_StatusReady {
	@include elemAutoHeight(50);
}
#contentLights_StatusReady {
		z-index: 8;
}
#contentLights_StatusReady {
	@include border-radius(5px);
}
#contentLights_StatusReady {
	&:not(.disabled):not(.active):not(.checked){
	@include backGroundGradient('linear-gradient(to bottom,#F7F7F7 0%,#f60909 100%)');
	}
}
#contentLights_StatusReady {
	&.disabled{
	@include backGroundGradient('linear-gradient(to bottom,#F7F7F7 0%,#f60909 100%)');
	}
}
#contentLights_StatusReady {
	&.disabled.active{
	@include backGroundGradient('linear-gradient(to bottom,#F7F7F7 0%,#f60909 100%)');
	}
}
#contentLights_StatusReady {
	&.disabled.checked{
	@include backGroundGradient('linear-gradient(to bottom,#F7F7F7 0%,#f60909 100%)');
	}
}
#contentLights_StatusReady {
	&.disabled:not(.checked) span{
		color: rgba(255, 255, 255, 1);
	}
}
#contentLights_StatusReady {
	&.disabled:not(.checked).active span{
		color: rgba(255, 255, 255, 1);
	}
}
#contentLights_StatusReady {
	span{
		font-size: 14px;
	}
}
#contentLights_StatusReady {
	&.checked:not(.disabled):not(.active){
	@include backGroundGradient('linear-gradient(to bottom, #4A4A4A 0%,#29920c 100%)');
	}
}
#contentLights_StatusReady {
	&.disabled.checked{
	@include backGroundGradient('linear-gradient(to bottom, #4A4A4A 0%,#29920c 100%)');
	}
}
#contentLights_labLightTemperature {
	@include elemTop(273);
}
#contentLights_labLightTemperature {
	@include elemLeft(14);
}
#contentLights_labLightTemperature {
	@include elemAutoWidth(164);
}
#contentLights_labLightTemperature {
	@include elemAutoHeight(20);
}
#contentLights_labLightTemperature {
		z-index: 10;
}
#contentLights_labLightTemperature {
	@include text-alignment-all('right');
}
#contentLights_labLightTemperature {
		font-size: 18px;
}
#contentLights_numHW_Temperature {
	@include elemAutoWidth(100);
}
#contentLights_numHW_Temperature {
	@include elemTop(273);
}
#contentLights_numHW_Temperature {
	@include elemLeft(184);
}
#contentLights_numHW_Temperature {
	@include elemAutoHeight(25);
}
#contentLights_numHW_Temperature {
		z-index: 12;
}
#contentLights_numHW_Temperature {
		border-width: 2px;
}
#contentLights_numHW_Temperature {
	@include border-radius(5px);
}
#contentLights_numHW_Temperature {
	input{
		font-size: 18px;
	}
}
#contentLights_numHW_Temperature {
		padding: 0px 5px 0px 5px;
}
#contentLights_labLightStatus {
	@include elemTop(123);
}
#contentLights_labLightStatus {
	@include elemLeft(114);
}
#contentLights_labLightStatus {
	@include elemAutoWidth(60);
}
#contentLights_labLightStatus {
	@include elemAutoHeight(20);
}
#contentLights_labLightStatus {
		z-index: 11;
}
#contentLights_labLightStatus {
	@include text-alignment-all('right');
}
#contentLights_labLightStatus {
		font-size: 16px;
}
#contentLights_labLightStatus {
	@include font-weight-bold(false);
}
#contentLights_txtLightsStatus {
	@include elemTop(123);
}
#contentLights_txtLightsStatus {
	@include elemLeft(184);
}
#contentLights_txtLightsStatus {
	@include elemAutoWidth(99);
}
#contentLights_txtLightsStatus {
	@include elemAutoHeight(25);
}
#contentLights_txtLightsStatus {
		z-index: 13;
}
#contentLights_txtLightsStatus {
		border-width: 2px;
}
#contentLights_txtLightsStatus {
	@include border-radius(5px);
}
#contentLights_txtLightsStatus {
	input{
		font-size: 16px;
	}
}
#contentLights_txtLightsStatus {
		padding: 0px 5px 0px 5px;
}
#contentLights_labLightsPowerlinkNode {
	@include elemTop(123);
}
#contentLights_labLightsPowerlinkNode {
	@include elemLeft(304);
}
#contentLights_labLightsPowerlinkNode {
	@include elemAutoWidth(165);
}
#contentLights_labLightsPowerlinkNode {
	@include elemAutoHeight(20);
}
#contentLights_labLightsPowerlinkNode {
		z-index: 14;
}
#contentLights_labLightsPowerlinkNode {
	@include text-alignment-all('right');
}
#contentLights_labLightsPowerlinkNode {
		font-size: 18px;
}
#contentLights_labLightsPowerlinkNode {
	@include font-weight-bold(false);
}
#contentLights_txtLightsPlkNode {
	@include elemTop(123);
}
#contentLights_txtLightsPlkNode {
	@include elemLeft(474);
}
#contentLights_txtLightsPlkNode {
	@include elemAutoWidth(147);
}
#contentLights_txtLightsPlkNode {
	@include elemAutoHeight(25);
}
#contentLights_txtLightsPlkNode {
		z-index: 15;
}
#contentLights_txtLightsPlkNode {
		border-width: 2px;
}
#contentLights_txtLightsPlkNode {
	@include border-radius(5px);
}
#contentLights_txtLightsPlkNode {
	input{
		font-size: 18px;
	}
}
#contentLights_txtLightsPlkNode {
		padding: 0px 5px 0px 0px;
}
#contentLights_labLightsNettime {
	@include elemTop(153);
}
#contentLights_labLightsNettime {
	@include elemLeft(304);
}
#contentLights_labLightsNettime {
	@include elemAutoWidth(165);
}
#contentLights_labLightsNettime {
	@include elemAutoHeight(20);
}
#contentLights_labLightsNettime {
		z-index: 16;
}
#contentLights_labLightsNettime {
	@include text-alignment-all('right');
}
#contentLights_labLightsNettime {
		font-size: 18px;
}
#contentLights_labLightsNettime {
	@include font-weight-bold(false);
}
#contentLights_txtLightsNettime {
	@include elemTop(153);
}
#contentLights_txtLightsNettime {
	@include elemLeft(474);
}
#contentLights_txtLightsNettime {
	@include elemAutoWidth(146);
}
#contentLights_txtLightsNettime {
	@include elemAutoHeight(25);
}
#contentLights_txtLightsNettime {
		z-index: 17;
}
#contentLights_txtLightsNettime {
		border-width: 2px;
}
#contentLights_txtLightsNettime {
	@include border-radius(5px);
}
#contentLights_txtLightsNettime {
	input{
		font-size: 18px;
	}
}
#contentLights_txtLightsNettime {
		padding: 0px 5px 0px 0px;
}
#contentLights_labLightsStatus {
	@include elemAutoWidth(80);
}
#contentLights_labLightsStatus {
	@include elemTop(93);
}
#contentLights_labLightsStatus {
	@include elemLeft(54);
}
#contentLights_labLightsStatus {
	@include elemAutoHeight(20);
}
#contentLights_labLightsStatus {
		z-index: 18;
}
#contentLights_labLightsStatus {
	@include text-alignment-all('right');
}
#contentLights_labLightsStatus {
		font-size: 18px;
}
#contentLights_labLightsStatus {
	@include font-weight-bold(false);
}
#contentLights_ddbLights {
	@include elemTop(93);
}
#contentLights_ddbLights {
	@include elemLeft(134);
}
#contentLights_ddbLights {
	&.DropDownBoxView{
	@include elemWidth(145);
	}
}
#contentLights_ddbLights {
	&.DropDownBoxView{
	@include elemHeight(25);
	}
}
#contentLights_ddbLights {
		z-index: 19;
}
#contentLights_ddbLights {
	& > .ItemView.itemDisabled > .TextView{
		color: rgba(0, 0, 0, 1);
	}
}
#contentLights_ddbLights {
	& .TextView{
	@include text-alignment(right);
	}
}
#contentLights_ddbLights_listBoxWrapper {
	& .TextView{
	@include text-alignment(right);
	}
}
#contentLights_ddbLights {
	& .TextView{
		font-size: 18px;
	}
}
#contentLights_ddbLights_listBoxWrapper {
	& .TextView{
		font-size: 18px;
	}
}
#contentLights_ddbLights {
	& .TextView{
	@include font-weight-bold(false);
	}
}
#contentLights_ddbLights_listBoxWrapper {
	& .TextView{
	@include font-weight-bold(false);
	}
}
#contentLights_btnLightsReset {
	@include elemTop(13);
}
#contentLights_btnLightsReset {
	@include elemLeft(324);
}
#contentLights_btnLightsReset {
	@include elemAutoWidth(137);
}
#contentLights_btnLightsReset {
	@include elemAutoHeight(50);
}
#contentLights_btnLightsReset {
		z-index: 20;
}
#contentLights_btnLightsReset {
	span{
		font-size: 24px;
	}
}
#contentLights_btnLightsReset {
	span{
	@include font-weight-bold(true);
	}
}
#contentLights_labLightTemperature1 {
	@include elemTop(303);
}
#contentLights_labLightTemperature1 {
	@include elemLeft(14);
}
#contentLights_labLightTemperature1 {
	@include elemAutoWidth(164);
}
#contentLights_labLightTemperature1 {
	@include elemAutoHeight(20);
}
#contentLights_labLightTemperature1 {
		z-index: 21;
}
#contentLights_labLightTemperature1 {
	@include text-alignment-all('right');
}
#contentLights_labLightTemperature1 {
		font-size: 18px;
}
#contentLights_numHW_Temperature1 {
	@include elemAutoWidth(100);
}
#contentLights_numHW_Temperature1 {
	@include elemTop(303);
}
#contentLights_numHW_Temperature1 {
	@include elemLeft(184);
}
#contentLights_numHW_Temperature1 {
	@include elemAutoHeight(25);
}
#contentLights_numHW_Temperature1 {
		z-index: 22;
}
#contentLights_numHW_Temperature1 {
		border-width: 2px;
}
#contentLights_numHW_Temperature1 {
	@include border-radius(5px);
}
#contentLights_numHW_Temperature1 {
	input{
		font-size: 18px;
	}
}
#contentLights_numHW_Temperature1 {
		padding: 0px 5px 0px 5px;
}
#contentLights_labLightCompleted {
	@include elemTop(213);
}
#contentLights_labLightCompleted {
	@include elemLeft(344);
}
#contentLights_labLightCompleted {
	@include elemAutoWidth(171);
}
#contentLights_labLightCompleted {
	@include elemAutoHeight(20);
}
#contentLights_labLightCompleted {
		z-index: 23;
}
#contentLights_labLightCompleted {
	@include text-alignment-all('right');
}
#contentLights_labLightCompleted {
		font-size: 18px;
}
#contentLights_numFlashCompleted {
	@include elemTop(213);
}
#contentLights_numFlashCompleted {
	@include elemLeft(524);
}
#contentLights_numFlashCompleted {
	@include elemAutoWidth(97);
}
#contentLights_numFlashCompleted {
	@include elemAutoHeight(25);
}
#contentLights_numFlashCompleted {
		z-index: 24;
}
#contentLights_numFlashCompleted {
		border-width: 2px;
}
#contentLights_numFlashCompleted {
	@include border-radius(5px);
}
#contentLights_numFlashCompleted {
	input{
		font-size: 18px;
	}
}
#contentLights_numFlashCompleted {
		padding: 0px 5px 0px 5px;
}
#contentLights_labLightFailed {
	@include elemTop(243);
}
#contentLights_labLightFailed {
	@include elemLeft(384);
}
#contentLights_labLightFailed {
	@include elemAutoWidth(128);
}
#contentLights_labLightFailed {
	@include elemAutoHeight(20);
}
#contentLights_labLightFailed {
		z-index: 25;
}
#contentLights_labLightFailed {
	@include text-alignment-all('right');
}
#contentLights_labLightFailed {
		font-size: 18px;
}
#contentLights_numFlashFailed {
	@include elemTop(243);
}
#contentLights_numFlashFailed {
	@include elemLeft(524);
}
#contentLights_numFlashFailed {
	@include elemAutoWidth(97);
}
#contentLights_numFlashFailed {
	@include elemAutoHeight(25);
}
#contentLights_numFlashFailed {
		z-index: 26;
}
#contentLights_numFlashFailed {
		border-width: 2px;
}
#contentLights_numFlashFailed {
	@include border-radius(5px);
}
#contentLights_numFlashFailed {
	input{
		font-size: 18px;
	}
}
#contentLights_numFlashFailed {
		padding: 0px 5px 0px 5px;
}
#contentLights_labLightAccepted {
	@include elemTop(183);
}
#contentLights_labLightAccepted {
	@include elemLeft(354);
}
#contentLights_labLightAccepted {
	@include elemAutoWidth(161);
}
#contentLights_labLightAccepted {
	@include elemAutoHeight(20);
}
#contentLights_labLightAccepted {
		z-index: 27;
}
#contentLights_labLightAccepted {
	@include text-alignment-all('right');
}
#contentLights_labLightAccepted {
		font-size: 18px;
}
#contentLights_labLightAccepted {
	@include font-weight-bold(false);
}
#contentLights_numFlashAccepted {
	@include elemTop(183);
}
#contentLights_numFlashAccepted {
	@include elemLeft(524);
}
#contentLights_numFlashAccepted {
	@include elemAutoWidth(96);
}
#contentLights_numFlashAccepted {
	@include elemAutoHeight(25);
}
#contentLights_numFlashAccepted {
		z-index: 28;
}
#contentLights_numFlashAccepted {
		border-width: 2px;
}
#contentLights_numFlashAccepted {
	@include border-radius(5px);
}
#contentLights_numFlashAccepted {
	input{
		font-size: 16px;
	}
}
#contentLights_numFlashAccepted {
		padding: 0px 5px 0px 5px;
}
#contentLights_btnLightsTrigger {
	@include elemTop(275);
}
#contentLights_btnLightsTrigger {
	@include elemLeft(10);
}
#contentLights_btnLightsTrigger {
	@include elemAutoWidth(280);
}
#contentLights_btnLightsTrigger {
	@include elemAutoHeight(50);
}
#contentLights_btnLightsTrigger {
		z-index: 1;
}
#contentLights_btnLightsTrigger {
	span{
		font-size: 24px;
	}
}
#contentLights_btnLightsTrigger {
	span{
	@include font-weight-bold(true);
	}
}
#contentLights_grpSelection {
	@include elemTop(10);
}
#contentLights_grpSelection {
	@include elemLeft(10);
}
#contentLights_grpSelection {
	@include elemWidth(280);
}
#contentLights_grpSelection {
	@include elemHeight(255);
}
#contentLights_grpSelection {
		z-index: 2;
}
#contentLights_labLightsNo {
	@include elemTop(13);
}
#contentLights_labLightsNo {
	@include elemLeft(19);
}
#contentLights_labLightsNo {
	@include elemAutoWidth(105);
}
#contentLights_labLightsNo {
	@include elemAutoHeight(20);
}
#contentLights_labLightsNo {
		z-index: 0;
}
#contentLights_labLightsNo {
	@include text-alignment-all('right');
}
#contentLights_labLightsNo {
		font-size: 18px;
}
#contentLights_labLightsNo {
	@include font-weight-bold(false);
}
#contentLights_numLightsNo {
	@include elemHeight(30);
}
#contentLights_numLightsNo {
	@include elemTop(8);
}
#contentLights_numLightsNo {
	@include elemLeft(169);
}
#contentLights_numLightsNo {
	@include elemWidth(51);
}
#contentLights_numLightsNo {
		z-index: 1;
}
#contentLights_numLightsNo {
	input{
	@include text-alignment(center);
	}
}
#contentLights_numLightsNo {
	input{
		font-size: 20px;
	}
}
#contentLights_numLightsNo {
	input{
	@include font-weight-bold(true);
	}
}
#contentLights_numLightsNo {
		padding: 0px 0px 0px 0px;
}
#contentLights_numLightNoDown {
	@include elemTop(8);
}
#contentLights_numLightNoDown {
	@include elemLeft(134);
}
#contentLights_numLightNoDown {
	@include elemAutoWidth(30);
}
#contentLights_numLightNoDown {
	@include elemAutoHeight(30);
}
#contentLights_numLightNoDown {
		z-index: 2;
}
#contentLights_numLightNoDown {
		border-width: 0px;
}
#contentLights_numLightNoUp {
	@include elemTop(8);
}
#contentLights_numLightNoUp {
	@include elemLeft(229);
}
#contentLights_numLightNoUp {
	@include elemAutoWidth(30);
}
#contentLights_numLightNoUp {
	@include elemAutoHeight(30);
}
#contentLights_numLightNoUp {
		z-index: 3;
}
#contentLights_numLightNoUp {
		border-width: 0px;
}
#contentLights_labLightsColor {
	@include elemTop(48);
}
#contentLights_labLightsColor {
	@include elemLeft(19);
}
#contentLights_labLightsColor {
	@include elemAutoWidth(105);
}
#contentLights_labLightsColor {
	@include elemAutoHeight(40);
}
#contentLights_labLightsColor {
		z-index: 4;
}
#contentLights_labLightsColor {
	@include text-alignment-all('right');
}
#contentLights_labLightsColor {
		font-size: 18px;
}
#contentLights_DropDownBoxFlashColor {
	&.DropDownBoxView{
	@include elemHeight(30);
	}
}
#contentLights_DropDownBoxFlashColor {
	@include elemTop(53);
}
#contentLights_DropDownBoxFlashColor {
	@include elemLeft(134);
}
#contentLights_DropDownBoxFlashColor {
	&.DropDownBoxView{
	@include elemWidth(124);
	}
}
#contentLights_DropDownBoxFlashColor {
		z-index: 5;
}
#contentLights_DropDownBoxFlashColor {
	& .TextView{
	@include text-alignment(center);
	}
}
#contentLights_DropDownBoxFlashColor_listBoxWrapper {
	& .TextView{
	@include text-alignment(center);
	}
}
#contentLights_DropDownBoxFlashColor {
	& .TextView{
		font-size: 18px;
	}
}
#contentLights_DropDownBoxFlashColor_listBoxWrapper {
	& .TextView{
		font-size: 18px;
	}
}
#contentLights_labLightsExposure {
	@include elemTop(88);
}
#contentLights_labLightsExposure {
	@include elemLeft(19);
}
#contentLights_labLightsExposure {
	@include elemAutoWidth(105);
}
#contentLights_labLightsExposure {
	@include elemAutoHeight(40);
}
#contentLights_labLightsExposure {
		z-index: 6;
}
#contentLights_labLightsExposure {
	@include text-alignment-all('right');
}
#contentLights_labLightsExposure {
		font-size: 18px;
}
#contentLights_numLightsExposure {
	@include elemHeight(30);
}
#contentLights_numLightsExposure {
	@include elemTop(93);
}
#contentLights_numLightsExposure {
	@include elemLeft(134);
}
#contentLights_numLightsExposure {
	@include elemWidth(121);
}
#contentLights_numLightsExposure {
		z-index: 7;
}
#contentLights_numLightsExposure {
	input{
	@include text-alignment(right);
	}
}
#contentLights_numLightsExposure {
	input{
		font-size: 20px;
	}
}
#contentLights_numLightsExposure {
	input{
	@include font-weight-bold(true);
	}
}
#contentLights_numLightsExposure {
		padding: 0px 5px 0px 5px;
}
#contentLights_labLightsSetAngle {
	@include elemTop(168);
}
#contentLights_labLightsSetAngle {
	@include elemLeft(19);
}
#contentLights_labLightsSetAngle {
	@include elemAutoWidth(105);
}
#contentLights_labLightsSetAngle {
	@include elemAutoHeight(40);
}
#contentLights_labLightsSetAngle {
		z-index: 8;
}
#contentLights_labLightsSetAngle {
	@include text-alignment-all('right');
}
#contentLights_labLightsSetAngle {
		font-size: 18px;
}
#contentLights_numLightsSetAngle {
	@include elemHeight(30);
}
#contentLights_numLightsSetAngle {
	@include elemTop(173);
}
#contentLights_numLightsSetAngle {
	@include elemLeft(134);
}
#contentLights_numLightsSetAngle {
	@include elemWidth(121);
}
#contentLights_numLightsSetAngle {
		z-index: 9;
}
#contentLights_numLightsSetAngle {
	input{
	@include text-alignment(right);
	}
}
#contentLights_numLightsSetAngle {
	input{
		font-size: 20px;
	}
}
#contentLights_numLightsSetAngle {
	input{
	@include font-weight-bold(true);
	}
}
#contentLights_numLightsSetAngle {
		padding: 0px 5px 0px 5px;
}
#contentLights_labLightsFlashSegments {
	@include elemTop(128);
}
#contentLights_labLightsFlashSegments {
	@include elemLeft(19);
}
#contentLights_labLightsFlashSegments {
	@include elemAutoWidth(105);
}
#contentLights_labLightsFlashSegments {
	@include elemAutoHeight(40);
}
#contentLights_labLightsFlashSegments {
		z-index: 10;
}
#contentLights_labLightsFlashSegments {
	@include text-alignment-all('right');
}
#contentLights_labLightsFlashSegments {
		font-size: 18px;
}
#contentLights_numLightsFlashSegments {
	@include elemHeight(30);
}
#contentLights_numLightsFlashSegments {
	@include elemTop(133);
}
#contentLights_numLightsFlashSegments {
	@include elemLeft(134);
}
#contentLights_numLightsFlashSegments {
	@include elemWidth(121);
}
#contentLights_numLightsFlashSegments {
		z-index: 11;
}
#contentLights_numLightsFlashSegments {
	input{
	@include text-alignment(right);
	}
}
#contentLights_numLightsFlashSegments {
	input{
		font-size: 20px;
	}
}
#contentLights_numLightsFlashSegments {
	input{
	@include font-weight-bold(true);
	}
}
#contentLights_numLightsFlashSegments {
		padding: 0px 5px 0px 5px;
}
#contentLights_labNotification {
	@include elemTop(440);
}
#contentLights_labNotification {
	@include elemLeft(10);
}
#contentLights_labNotification {
	@include elemAutoWidth(1180);
}
#contentLights_labNotification {
	@include elemAutoHeight(61);
}
#contentLights_labNotification {
		z-index: 3;
}
#contentLights_labNotification {
		border-width: 1px;
}
#contentLights_labNotification {
	@include border-radius(5px);
}
#contentLights_labNotification {
		border-style: solid;
}
#contentLights_labNotification {
	&:before{
		border-style: solid;
	}
}
#contentLights_labNotification {
	&:after{
		border-style: solid;
	}
}
#contentLights_labNotification {
	& span{
		color: rgba(192, 0, 0, 1);
	}
}
#contentLights_labNotification {
	@include font-weight-bold(true);
}
