#mVi2FunctionParameterContent_gCameraBlob_btnLoadImage {
  top: 940px;
  position: absolute;
}

#mVi2FunctionParameterContent_gCameraBlob_btnLoadImage {
  left: 42px;
  position: absolute;
}

#mVi2FunctionParameterContent_gCameraBlob_btnLoadImage {
  width: 102px;
}

#mVi2FunctionParameterContent_gCameraBlob_btnLoadImage {
  height: 55px;
}

#mVi2FunctionParameterContent_gCameraBlob_btnLoadImage {
  z-index: 1;
}

#mVi2FunctionParameterContent_gCameraBlob_btnLoadImage img {
  height: 30px;
}

#mVi2FunctionParameterContent_gCameraBlob_btnLoadImage svg {
  height: 30px;
}

#mVi2FunctionParameterContent_gCameraBlob_btnLoadImage img {
  width: 40px;
}

#mVi2FunctionParameterContent_gCameraBlob_btnLoadImage svg {
  width: 40px;
}

#mVi2FunctionParameterContent_gCameraBlob_btnLoadImage {
  padding: 0px 10px;
}

#mVi2FunctionParameterContent_gCameraBlob_btnPlay {
  top: 940px;
  position: absolute;
}

#mVi2FunctionParameterContent_gCameraBlob_btnPlay {
  left: 150px;
  position: absolute;
}

#mVi2FunctionParameterContent_gCameraBlob_btnPlay {
  width: 102px;
}

#mVi2FunctionParameterContent_gCameraBlob_btnPlay {
  height: 55px;
}

#mVi2FunctionParameterContent_gCameraBlob_btnPlay {
  z-index: 2;
}

#mVi2FunctionParameterContent_gCameraBlob_btnPlay img {
  height: 30px;
}

#mVi2FunctionParameterContent_gCameraBlob_btnPlay svg {
  height: 30px;
}

#mVi2FunctionParameterContent_gCameraBlob_btnPlay img {
  width: 30px;
}

#mVi2FunctionParameterContent_gCameraBlob_btnPlay svg {
  width: 30px;
}

#mVi2FunctionParameterContent_gCameraBlob_btnZoomReset {
  top: 940px;
  position: absolute;
}

#mVi2FunctionParameterContent_gCameraBlob_btnZoomReset {
  left: 385px;
  position: absolute;
}

#mVi2FunctionParameterContent_gCameraBlob_btnZoomReset {
  width: 102px;
}

#mVi2FunctionParameterContent_gCameraBlob_btnZoomReset {
  height: 55px;
}

#mVi2FunctionParameterContent_gCameraBlob_btnZoomReset {
  z-index: 3;
}

#mVi2FunctionParameterContent_gCameraBlob_btnZoomReset img {
  height: 30px;
}

#mVi2FunctionParameterContent_gCameraBlob_btnZoomReset svg {
  height: 30px;
}

#mVi2FunctionParameterContent_gCameraBlob_btnZoomReset img {
  width: 40px;
}

#mVi2FunctionParameterContent_gCameraBlob_btnZoomReset svg {
  width: 40px;
}

#mVi2FunctionParameterContent_gCameraBlob_btnZoomIn {
  top: 940px;
  position: absolute;
}

#mVi2FunctionParameterContent_gCameraBlob_btnZoomIn {
  left: 493px;
  position: absolute;
}

#mVi2FunctionParameterContent_gCameraBlob_btnZoomIn {
  width: 102px;
}

#mVi2FunctionParameterContent_gCameraBlob_btnZoomIn {
  height: 55px;
}

#mVi2FunctionParameterContent_gCameraBlob_btnZoomIn {
  z-index: 4;
}

#mVi2FunctionParameterContent_gCameraBlob_btnZoomIn img {
  height: 30px;
}

#mVi2FunctionParameterContent_gCameraBlob_btnZoomIn svg {
  height: 30px;
}

#mVi2FunctionParameterContent_gCameraBlob_btnZoomIn img {
  width: 40px;
}

#mVi2FunctionParameterContent_gCameraBlob_btnZoomIn svg {
  width: 40px;
}

#mVi2FunctionParameterContent_gCameraBlob_btnZoomOut {
  top: 940px;
  position: absolute;
}

#mVi2FunctionParameterContent_gCameraBlob_btnZoomOut {
  left: 601px;
  position: absolute;
}

#mVi2FunctionParameterContent_gCameraBlob_btnZoomOut {
  width: 102px;
}

#mVi2FunctionParameterContent_gCameraBlob_btnZoomOut {
  height: 55px;
}

#mVi2FunctionParameterContent_gCameraBlob_btnZoomOut {
  z-index: 5;
}

#mVi2FunctionParameterContent_gCameraBlob_btnZoomOut img {
  height: 30px;
}

#mVi2FunctionParameterContent_gCameraBlob_btnZoomOut svg {
  height: 30px;
}

#mVi2FunctionParameterContent_gCameraBlob_btnZoomOut img {
  width: 40px;
}

#mVi2FunctionParameterContent_gCameraBlob_btnZoomOut svg {
  width: 40px;
}

#mVi2FunctionParameterContent_gCameraBlob_btnZoomOut {
  padding: 0px 10px;
}

#mVi2FunctionParameterContent_gCameraBlob_Rectangle1 {
  top: 183px;
  position: absolute;
}

#mVi2FunctionParameterContent_gCameraBlob_Rectangle1 {
  left: 32px;
  position: absolute;
}

#mVi2FunctionParameterContent_gCameraBlob_Rectangle1 {
  width: 922px;
}

#mVi2FunctionParameterContent_gCameraBlob_Rectangle1 {
  height: 825px;
}

#mVi2FunctionParameterContent_gCameraBlob_Rectangle1 {
  z-index: 0;
}

#mVi2FunctionParameterContent_gCameraBlob_Rectangle1 {
  border-width: 0px;
}

#mVi2FunctionParameterContent_gCameraBlob_Rectangle1 {
  background-color: silver;
}

#mVi2FunctionParameterContent_gCameraBlob_SmartPanel1 {
  top: 193px;
  position: absolute;
}

#mVi2FunctionParameterContent_gCameraBlob_SmartPanel1 {
  left: 42px;
  position: absolute;
}

#mVi2FunctionParameterContent_gCameraBlob_SmartPanel1 {
  width: 900px;
}

#mVi2FunctionParameterContent_gCameraBlob_SmartPanel1 {
  height: 720px;
}

#mVi2FunctionParameterContent_gCameraBlob_SmartPanel1 {
  z-index: 13;
}

#mVi2FunctionParameterContent_gCameraBlob_LabelColor {
  top: 913px;
  position: absolute;
}

#mVi2FunctionParameterContent_gCameraBlob_LabelColor {
  left: 668px;
  position: absolute;
}

#mVi2FunctionParameterContent_gCameraBlob_LabelColor {
  width: 39px;
}

#mVi2FunctionParameterContent_gCameraBlob_LabelColor {
  height: 25px;
}

#mVi2FunctionParameterContent_gCameraBlob_LabelColor {
  z-index: 285;
}

#mVi2FunctionParameterContent_gCameraBlob_LabelColor {
  font-weight: bold;
}

#mVi2FunctionParameterContent_gCameraBlob_ImagePipette {
  top: 916px;
  position: absolute;
}

#mVi2FunctionParameterContent_gCameraBlob_ImagePipette {
  left: 652px;
  position: absolute;
}

#mVi2FunctionParameterContent_gCameraBlob_ImagePipette {
  width: 15px;
}

#mVi2FunctionParameterContent_gCameraBlob_ImagePipette {
  height: 15px;
}

#mVi2FunctionParameterContent_gCameraBlob_ImagePipette {
  z-index: 287;
}

#mVi2FunctionParameterContent_gCameraBlob_ImagePipette > .ImageView > svg {
  fill: gray;
}

#mVi2FunctionParameterContent_gCameraBlob_LabelPX {
  top: 913px;
  position: absolute;
}

#mVi2FunctionParameterContent_gCameraBlob_LabelPX {
  left: 927px;
  position: absolute;
}

#mVi2FunctionParameterContent_gCameraBlob_LabelPX {
  width: 20px;
}

#mVi2FunctionParameterContent_gCameraBlob_LabelPX {
  height: 25px;
}

#mVi2FunctionParameterContent_gCameraBlob_LabelPX {
  z-index: 289;
}

#mVi2FunctionParameterContent_gCameraBlob_LabelPX {
  font-weight: bold;
}

#mVi2FunctionParameterContent_gCameraBlob_LabelPX span {
  padding: 0px;
}

#mVi2FunctionParameterContent_gCameraBlob_LabelComa {
  top: 913px;
  position: absolute;
}

#mVi2FunctionParameterContent_gCameraBlob_LabelComa {
  left: 866px;
  position: absolute;
}

#mVi2FunctionParameterContent_gCameraBlob_LabelComa {
  width: 25px;
}

#mVi2FunctionParameterContent_gCameraBlob_LabelComa {
  height: 25px;
}

#mVi2FunctionParameterContent_gCameraBlob_LabelComa {
  z-index: 286;
}

#mVi2FunctionParameterContent_gCameraBlob_LabelFilterInformation {
  top: 913px;
  position: absolute;
}

#mVi2FunctionParameterContent_gCameraBlob_LabelFilterInformation {
  left: 58px;
  position: absolute;
}

#mVi2FunctionParameterContent_gCameraBlob_LabelFilterInformation {
  width: 354px;
}

#mVi2FunctionParameterContent_gCameraBlob_LabelFilterInformation {
  height: 25px;
}

#mVi2FunctionParameterContent_gCameraBlob_LabelFilterInformation {
  z-index: 361;
}

#mVi2FunctionParameterContent_gCameraBlob_LabelFilterInformation {
  font-weight: bold;
}

#mVi2FunctionParameterContent_gCameraBlob_ImageLuppe {
  top: 918px;
  position: absolute;
}

#mVi2FunctionParameterContent_gCameraBlob_ImageLuppe {
  left: 42px;
  position: absolute;
}

#mVi2FunctionParameterContent_gCameraBlob_ImageLuppe {
  width: 15px;
}

#mVi2FunctionParameterContent_gCameraBlob_ImageLuppe {
  height: 15px;
}

#mVi2FunctionParameterContent_gCameraBlob_ImageLuppe {
  z-index: 362;
}

#mVi2FunctionParameterContent_gCameraBlob_ImageLuppe > .ImageView > svg {
  fill: gray;
}

#mVi2FunctionParameterContent_gCameraBlob_LabelCoordinates2 {
  top: 913px;
  position: absolute;
}

#mVi2FunctionParameterContent_gCameraBlob_LabelCoordinates2 {
  left: 920px;
  position: absolute;
}

#mVi2FunctionParameterContent_gCameraBlob_LabelCoordinates2 {
  width: 20px;
}

#mVi2FunctionParameterContent_gCameraBlob_LabelCoordinates2 {
  height: 25px;
}

#mVi2FunctionParameterContent_gCameraBlob_LabelCoordinates2 {
  z-index: 363;
}

#mVi2FunctionParameterContent_gCameraBlob_LabelCoordinates2 {
  font-weight: bold;
}

#mVi2FunctionParameterContent_gCameraBlob_LabelCoordinates2 span {
  padding: 0px;
}

#mVi2FunctionParameterContent_gCameraBlob_LabelCoordinates {
  top: 913px;
  position: absolute;
}

#mVi2FunctionParameterContent_gCameraBlob_LabelCoordinates {
  left: 826px;
  position: absolute;
}

#mVi2FunctionParameterContent_gCameraBlob_LabelCoordinates {
  width: 19px;
}

#mVi2FunctionParameterContent_gCameraBlob_LabelCoordinates {
  height: 25px;
}

#mVi2FunctionParameterContent_gCameraBlob_LabelCoordinates {
  z-index: 364;
}

#mVi2FunctionParameterContent_gCameraBlob_LabelCoordinates {
  font-weight: bold;
}

#mVi2FunctionParameterContent_gCameraBlob_LabelCoordinates span {
  padding: 0px;
}

#mVi2FunctionParameterContent_gCameraBlob_LabelCoodinates {
  top: 913px;
  position: absolute;
}

#mVi2FunctionParameterContent_gCameraBlob_LabelCoodinates {
  left: 737px;
  position: absolute;
}

#mVi2FunctionParameterContent_gCameraBlob_LabelCoodinates {
  width: 86px;
}

#mVi2FunctionParameterContent_gCameraBlob_LabelCoodinates {
  height: 25px;
}

#mVi2FunctionParameterContent_gCameraBlob_LabelCoodinates {
  z-index: 365;
}

#mVi2FunctionParameterContent_gCameraBlob_LabelCoodinates {
  font-weight: bold;
}

#mVi2FunctionParameterContent_gCameraBlob_RoiTools {
  top: 23px;
  position: absolute;
}

#mVi2FunctionParameterContent_gCameraBlob_RoiTools {
  left: 32px;
  position: absolute;
}

#mVi2FunctionParameterContent_gCameraBlob_RoiTools {
  width: 922px;
}

#mVi2FunctionParameterContent_gCameraBlob_RoiTools {
  height: 162px;
}

#mVi2FunctionParameterContent_gCameraBlob_RoiTools {
  z-index: 366;
}

#mVi2FunctionParameterContent_gCameraBlob_RoiTools > .tabItemContainer {
  border-color: magenta;
}

#mVi2FunctionParameterContent_gCameraBlob_TabItem1_breaseTabItemTab.tabItem {
  width: 307px;
}

#mVi2FunctionParameterContent_gCameraBlob_TabItem1_breaseTabItemTab.tabItem {
  height: 39px;
}

#mVi2FunctionParameterContent_gCameraBlob_TabItem1 {
  z-index: 0;
}

#mVi2FunctionParameterContent_gCameraBlob_TabItem1_breaseTabItemTab.tabItem:not(.active) {
  border-radius: 10px 10px 0px 0px;
}

#mVi2FunctionParameterContent_gCameraBlob_TabItem1_breaseTabItemTab.tabItem.active {
  border-width: 0px 0px 0px 0px;
}

#mVi2FunctionParameterContent_gCameraBlob_TextOutputComands {
  top: 12px;
  position: absolute;
}

#mVi2FunctionParameterContent_gCameraBlob_TextOutputComands {
  left: 340px;
  position: absolute;
}

#mVi2FunctionParameterContent_gCameraBlob_TextOutputComands {
  width: 140px;
}

#mVi2FunctionParameterContent_gCameraBlob_TextOutputComands {
  height: 55px;
}

#mVi2FunctionParameterContent_gCameraBlob_TextOutputComands {
  z-index: 0;
}

#mVi2FunctionParameterContent_gCameraBlob_Image7 {
  top: 30px;
  position: absolute;
}

#mVi2FunctionParameterContent_gCameraBlob_Image7 {
  left: 448px;
  position: absolute;
}

#mVi2FunctionParameterContent_gCameraBlob_Image7 {
  width: 24px;
}

#mVi2FunctionParameterContent_gCameraBlob_Image7 {
  height: 22px;
}

#mVi2FunctionParameterContent_gCameraBlob_Image7 {
  z-index: 1;
}

#mVi2FunctionParameterContent_gCameraBlob_Image7 > .ImageView > svg {
  fill: #646464;
}

#mVi2FunctionParameterContent_gCameraBlob_dropDownBoxForTheRoiCommands {
  top: 12px;
  position: absolute;
}

#mVi2FunctionParameterContent_gCameraBlob_dropDownBoxForTheRoiCommands {
  left: 340px;
  position: absolute;
}

#mVi2FunctionParameterContent_gCameraBlob_dropDownBoxForTheRoiCommands.DropDownBoxView {
  width: 140px;
}

#mVi2FunctionParameterContent_gCameraBlob_dropDownBoxForTheRoiCommands.DropDownBoxView {
  height: 55px;
}

#mVi2FunctionParameterContent_gCameraBlob_dropDownBoxForTheRoiCommands {
  z-index: 2;
}

#mVi2FunctionParameterContent_gCameraBlob_dropDownBoxForTheRoiCommands .TextView {
  font-weight: bold;
}

#mVi2FunctionParameterContent_gCameraBlob_dropDownBoxForTheRoiCommands_listBoxWrapper .TextView {
  font-weight: bold;
}

#mVi2FunctionParameterContent_gCameraBlob_TextOutputVisionFunction1 {
  top: 12px;
  position: absolute;
}

#mVi2FunctionParameterContent_gCameraBlob_TextOutputVisionFunction1 {
  left: 10px;
  position: absolute;
}

#mVi2FunctionParameterContent_gCameraBlob_TextOutputVisionFunction1 {
  width: 140px;
}

#mVi2FunctionParameterContent_gCameraBlob_TextOutputVisionFunction1 {
  height: 55px;
}

#mVi2FunctionParameterContent_gCameraBlob_TextOutputVisionFunction1 {
  z-index: 3;
}

#mVi2FunctionParameterContent_gCameraBlob_Image8 {
  top: 30px;
  position: absolute;
}

#mVi2FunctionParameterContent_gCameraBlob_Image8 {
  left: 112px;
  position: absolute;
}

#mVi2FunctionParameterContent_gCameraBlob_Image8 {
  width: 24px;
}

#mVi2FunctionParameterContent_gCameraBlob_Image8 {
  height: 22px;
}

#mVi2FunctionParameterContent_gCameraBlob_Image8 {
  z-index: 4;
}

#mVi2FunctionParameterContent_gCameraBlob_Image8 > .ImageView > svg {
  fill: #646464;
}

#mVi2FunctionParameterContent_gCameraBlob_dropDownBoxForTheRoiTools {
  top: 12px;
  position: absolute;
}

#mVi2FunctionParameterContent_gCameraBlob_dropDownBoxForTheRoiTools {
  left: 10px;
  position: absolute;
}

#mVi2FunctionParameterContent_gCameraBlob_dropDownBoxForTheRoiTools.DropDownBoxView {
  width: 140px;
}

#mVi2FunctionParameterContent_gCameraBlob_dropDownBoxForTheRoiTools.DropDownBoxView {
  height: 55px;
}

#mVi2FunctionParameterContent_gCameraBlob_dropDownBoxForTheRoiTools {
  z-index: 5;
}

#mVi2FunctionParameterContent_gCameraBlob_dropDownBoxForTheRoiTools .TextView {
  font-weight: bold;
}

#mVi2FunctionParameterContent_gCameraBlob_dropDownBoxForTheRoiTools_listBoxWrapper .TextView {
  font-weight: bold;
}

#mVi2FunctionParameterContent_gCameraBlob_dropDownBoxForTheRoiManipulation {
  top: 12px;
  position: absolute;
}

#mVi2FunctionParameterContent_gCameraBlob_dropDownBoxForTheRoiManipulation {
  left: 176px;
  position: absolute;
}

#mVi2FunctionParameterContent_gCameraBlob_dropDownBoxForTheRoiManipulation.DropDownBoxView {
  width: 140px;
}

#mVi2FunctionParameterContent_gCameraBlob_dropDownBoxForTheRoiManipulation.DropDownBoxView {
  height: 55px;
}

#mVi2FunctionParameterContent_gCameraBlob_dropDownBoxForTheRoiManipulation {
  z-index: 8;
}

#mVi2FunctionParameterContent_gCameraBlob_dropDownBoxForTheRoiManipulation .TextView {
  font-weight: bold;
}

#mVi2FunctionParameterContent_gCameraBlob_dropDownBoxForTheRoiManipulation_listBoxWrapper .TextView {
  font-weight: bold;
}

#mVi2FunctionParameterContent_gCameraBlob_TextOutput4 {
  top: 12px;
  position: absolute;
}

#mVi2FunctionParameterContent_gCameraBlob_TextOutput4 {
  left: 176px;
  position: absolute;
}

#mVi2FunctionParameterContent_gCameraBlob_TextOutput4 {
  width: 140px;
}

#mVi2FunctionParameterContent_gCameraBlob_TextOutput4 {
  height: 55px;
}

#mVi2FunctionParameterContent_gCameraBlob_TextOutput4 {
  z-index: 6;
}

#mVi2FunctionParameterContent_gCameraBlob_Image4 {
  top: 30px;
  position: absolute;
}

#mVi2FunctionParameterContent_gCameraBlob_Image4 {
  left: 292px;
  position: absolute;
}

#mVi2FunctionParameterContent_gCameraBlob_Image4 {
  width: 24px;
}

#mVi2FunctionParameterContent_gCameraBlob_Image4 {
  height: 22px;
}

#mVi2FunctionParameterContent_gCameraBlob_Image4 {
  z-index: 7;
}

#mVi2FunctionParameterContent_gCameraBlob_Image4 > .ImageView > svg {
  fill: #646464;
}

#mVi2FunctionParameterContent_gCameraBlob_Results_breaseTabItemTab.tabItem {
  width: 307px;
}

#mVi2FunctionParameterContent_gCameraBlob_Results_breaseTabItemTab.tabItem {
  height: 39px;
}

#mVi2FunctionParameterContent_gCameraBlob_Results {
  z-index: 1;
}

#mVi2FunctionParameterContent_gCameraBlob_Results_breaseTabItemTab > img {
  height: 30px;
}

#mVi2FunctionParameterContent_gCameraBlob_Results_breaseTabItemTab > svg {
  height: 30px;
}

#mVi2FunctionParameterContent_gCameraBlob_Results_breaseTabItemTab > img {
  width: 40px;
}

#mVi2FunctionParameterContent_gCameraBlob_Results_breaseTabItemTab > svg {
  width: 40px;
}

#mVi2FunctionParameterContent_gCameraBlob_Results_breaseTabItemTab.tabItem:not(.active) {
  border-width: 0px 3px 0px 0px;
}

#mVi2FunctionParameterContent_gCameraBlob_Results_breaseTabItemTab.tabItem {
  justify-content: center;
  text-align: center;
}

#mVi2FunctionParameterContent_gCameraBlob_GroupBox2 {
  top: 12px;
  position: absolute;
}

#mVi2FunctionParameterContent_gCameraBlob_GroupBox2 {
  left: 656px;
  position: absolute;
}

#mVi2FunctionParameterContent_gCameraBlob_GroupBox2 {
  width: 254px;
}

#mVi2FunctionParameterContent_gCameraBlob_GroupBox2 {
  height: 55px;
}

#mVi2FunctionParameterContent_gCameraBlob_GroupBox2 {
  z-index: 0;
}

#mVi2FunctionParameterContent_gCameraBlob_GroupBox2 {
  border-radius: 6px 6px 6px 6px;
}

#mVi2FunctionParameterContent_gCameraBlob_FilterIndex {
  top: 5px;
  position: absolute;
}

#mVi2FunctionParameterContent_gCameraBlob_FilterIndex {
  left: 120px;
  position: absolute;
}

#mVi2FunctionParameterContent_gCameraBlob_FilterIndex {
  width: 81px;
}

#mVi2FunctionParameterContent_gCameraBlob_FilterIndex {
  height: 44px;
}

#mVi2FunctionParameterContent_gCameraBlob_FilterIndex {
  z-index: 3;
}

#mVi2FunctionParameterContent_gCameraBlob_FilterIndex.disabled {
  border-width: 0px 0px 0px 0px;
}

#mVi2FunctionParameterContent_gCameraBlob_FilterIndex input {
  justify-content: center;
  text-align: center;
}

#mVi2FunctionParameterContent_gCameraBlob_FilterIndex input {
  font-weight: bold;
}

#mVi2FunctionParameterContent_gCameraBlob_FilterIndex {
  box-shadow: 0px 2px 2px rgba(100, 100, 100, 0.5);
}

#mVi2FunctionParameterContent_gCameraBlob_FilterIndex {
  padding: 0px 10px 0px 0px;
}

#mVi2FunctionParameterContent_gCameraBlob_TextOutput2 {
  top: 3px;
  position: absolute;
}

#mVi2FunctionParameterContent_gCameraBlob_TextOutput2 {
  left: 1px;
  position: absolute;
}

#mVi2FunctionParameterContent_gCameraBlob_TextOutput2 {
  width: 82px;
}

#mVi2FunctionParameterContent_gCameraBlob_TextOutput2 {
  height: 50px;
}

#mVi2FunctionParameterContent_gCameraBlob_TextOutput2 {
  z-index: 0;
}

#mVi2FunctionParameterContent_gCameraBlob_TextOutput2 {
  font-size: 14px;
}

#mVi2FunctionParameterContent_gCameraBlob_TextOutput2 {
  font-weight: bold;
}

#mVi2FunctionParameterContent_gCameraBlob_btnNext {
  top: 5px;
  position: absolute;
}

#mVi2FunctionParameterContent_gCameraBlob_btnNext {
  left: 200px;
  position: absolute;
}

#mVi2FunctionParameterContent_gCameraBlob_btnNext {
  width: 49px;
}

#mVi2FunctionParameterContent_gCameraBlob_btnNext {
  height: 44px;
}

#mVi2FunctionParameterContent_gCameraBlob_btnNext {
  z-index: 2;
}

#mVi2FunctionParameterContent_gCameraBlob_btnNext img {
  height: 30px;
}

#mVi2FunctionParameterContent_gCameraBlob_btnNext svg {
  height: 30px;
}

#mVi2FunctionParameterContent_gCameraBlob_btnNext {
  border-radius: 0px 6px 6px 0px;
}

#mVi2FunctionParameterContent_gCameraBlob_btnNext {
  justify-content: flex-start;
  text-align: left;
}

#mVi2FunctionParameterContent_gCameraBlob_btnNext {
  padding: 0px 0px;
}

#mVi2FunctionParameterContent_gCameraBlob_btnNext:not(.active):not(.checked) {
  box-shadow: 0px 2px 2px rgba(100, 100, 100, 0.5);
}

#mVi2FunctionParameterContent_gCameraBlob_btnNext.disabled.active {
  box-shadow: 0px 2px 2px rgba(100, 100, 100, 0.5);
}

#mVi2FunctionParameterContent_gCameraBlob_btnNext.disabled.checked {
  box-shadow: 0px 2px 2px rgba(100, 100, 100, 0.5);
}

#mVi2FunctionParameterContent_gCameraBlob_btnPrevious {
  top: 5px;
  position: absolute;
}

#mVi2FunctionParameterContent_gCameraBlob_btnPrevious {
  left: 70px;
  position: absolute;
}

#mVi2FunctionParameterContent_gCameraBlob_btnPrevious {
  width: 51px;
}

#mVi2FunctionParameterContent_gCameraBlob_btnPrevious {
  height: 44px;
}

#mVi2FunctionParameterContent_gCameraBlob_btnPrevious {
  z-index: 1;
}

#mVi2FunctionParameterContent_gCameraBlob_btnPrevious img {
  height: 30px;
}

#mVi2FunctionParameterContent_gCameraBlob_btnPrevious svg {
  height: 30px;
}

#mVi2FunctionParameterContent_gCameraBlob_btnPrevious {
  border-radius: 6px 0px 0px 6px;
}

#mVi2FunctionParameterContent_gCameraBlob_btnPrevious {
  justify-content: flex-start;
  text-align: left;
}

#mVi2FunctionParameterContent_gCameraBlob_btnPrevious {
  padding: 0px 0px;
}

#mVi2FunctionParameterContent_gCameraBlob_btnPrevious:not(.active):not(.checked) {
  box-shadow: 0px 2px 2px rgba(100, 100, 100, 0.5);
}

#mVi2FunctionParameterContent_gCameraBlob_btnPrevious.disabled.active {
  box-shadow: 0px 2px 2px rgba(100, 100, 100, 0.5);
}

#mVi2FunctionParameterContent_gCameraBlob_btnPrevious.disabled.checked {
  box-shadow: 0px 2px 2px rgba(100, 100, 100, 0.5);
}

#mVi2FunctionParameterContent_gCameraBlob_tglBtnShowAllResults {
  top: 12px;
  position: absolute;
}

#mVi2FunctionParameterContent_gCameraBlob_tglBtnShowAllResults {
  left: 10px;
  position: absolute;
}

#mVi2FunctionParameterContent_gCameraBlob_tglBtnShowAllResults {
  width: 140px;
}

#mVi2FunctionParameterContent_gCameraBlob_tglBtnShowAllResults {
  height: 55px;
}

#mVi2FunctionParameterContent_gCameraBlob_tglBtnShowAllResults {
  z-index: 1;
}

#mVi2FunctionParameterContent_gCameraBlob_tglBtnShowAllResults img {
  height: 30px;
}

#mVi2FunctionParameterContent_gCameraBlob_tglBtnShowAllResults svg {
  height: 30px;
}

#mVi2FunctionParameterContent_gCameraBlob_tglBtnShowAllResults img {
  width: 40px;
}

#mVi2FunctionParameterContent_gCameraBlob_tglBtnShowAllResults svg {
  width: 40px;
}

#mVi2FunctionParameterContent_gCameraBlob_tglBtnShowAllResults {
  padding: 10px;
}

#mVi2FunctionParameterContent_gCameraBlob_tglBtnHideAllResults {
  top: 12px;
  position: absolute;
}

#mVi2FunctionParameterContent_gCameraBlob_tglBtnHideAllResults {
  left: 162px;
  position: absolute;
}

#mVi2FunctionParameterContent_gCameraBlob_tglBtnHideAllResults {
  width: 140px;
}

#mVi2FunctionParameterContent_gCameraBlob_tglBtnHideAllResults {
  height: 55px;
}

#mVi2FunctionParameterContent_gCameraBlob_tglBtnHideAllResults {
  z-index: 2;
}

#mVi2FunctionParameterContent_gCameraBlob_tglBtnHideAllResults img {
  height: 30px;
}

#mVi2FunctionParameterContent_gCameraBlob_tglBtnHideAllResults svg {
  height: 30px;
}

#mVi2FunctionParameterContent_gCameraBlob_tglBtnHideAllResults img {
  width: 40px;
}

#mVi2FunctionParameterContent_gCameraBlob_tglBtnHideAllResults svg {
  width: 40px;
}

#mVi2FunctionParameterContent_gCameraBlob_tglBtnHideAllResults {
  padding: 10px;
}

#mVi2FunctionParameterContent_gCameraBlob_TabItem2_breaseTabItemTab.tabItem {
  width: 310px;
}

#mVi2FunctionParameterContent_gCameraBlob_TabItem2_breaseTabItemTab.tabItem {
  height: 39px;
}

#mVi2FunctionParameterContent_gCameraBlob_TabItem2 {
  z-index: 2;
}

#mVi2FunctionParameterContent_gCameraBlob_TabItem2_breaseTabItemTab.tabItem:not(.active) {
  border-width: 0px 0px 0px 0px;
}

#mVi2FunctionParameterContent_gCameraBlob_TabItem2_breaseTabItemTab.tabItem:not(.active) {
  border-radius: 10px 10px 0px 0px;
}

#mVi2FunctionParameterContent_gCameraBlob_btnLoadVisionFunction {
  top: 12px;
  position: absolute;
}

#mVi2FunctionParameterContent_gCameraBlob_btnLoadVisionFunction {
  left: 10px;
  position: absolute;
}

#mVi2FunctionParameterContent_gCameraBlob_btnLoadVisionFunction {
  width: 140px;
}

#mVi2FunctionParameterContent_gCameraBlob_btnLoadVisionFunction {
  height: 55px;
}

#mVi2FunctionParameterContent_gCameraBlob_btnLoadVisionFunction {
  z-index: 0;
}

#mVi2FunctionParameterContent_gCameraBlob_btnLoadVisionFunction img {
  height: 30px;
}

#mVi2FunctionParameterContent_gCameraBlob_btnLoadVisionFunction svg {
  height: 30px;
}

#mVi2FunctionParameterContent_gCameraBlob_btnLoadVisionFunction img {
  width: 40px;
}

#mVi2FunctionParameterContent_gCameraBlob_btnLoadVisionFunction svg {
  width: 40px;
}

#mVi2FunctionParameterContent_gCameraBlob_btnLoadVisionFunction {
  justify-content: flex-start;
  text-align: left;
}

#mVi2FunctionParameterContent_gCameraBlob_btnSaveVisionFuntion {
  top: 12px;
  position: absolute;
}

#mVi2FunctionParameterContent_gCameraBlob_btnSaveVisionFuntion {
  left: 162px;
  position: absolute;
}

#mVi2FunctionParameterContent_gCameraBlob_btnSaveVisionFuntion {
  width: 140px;
}

#mVi2FunctionParameterContent_gCameraBlob_btnSaveVisionFuntion {
  height: 55px;
}

#mVi2FunctionParameterContent_gCameraBlob_btnSaveVisionFuntion {
  z-index: 1;
}

#mVi2FunctionParameterContent_gCameraBlob_btnSaveVisionFuntion img {
  height: 30px;
}

#mVi2FunctionParameterContent_gCameraBlob_btnSaveVisionFuntion svg {
  height: 30px;
}

#mVi2FunctionParameterContent_gCameraBlob_btnSaveVisionFuntion img {
  width: 40px;
}

#mVi2FunctionParameterContent_gCameraBlob_btnSaveVisionFuntion svg {
  width: 40px;
}

#mVi2FunctionParameterContent_gCameraBlob_btnSaveVisionFuntion {
  justify-content: flex-start;
  text-align: left;
}

#mVi2FunctionParameterContent_gCameraBlob_GenericVisionFuntion {
  top: 23px;
  position: absolute;
}

#mVi2FunctionParameterContent_gCameraBlob_GenericVisionFuntion {
  left: 988px;
  position: absolute;
}

#mVi2FunctionParameterContent_gCameraBlob_GenericVisionFuntion {
  width: 900px;
}

#mVi2FunctionParameterContent_gCameraBlob_GenericVisionFuntion {
  height: 985px;
}

#mVi2FunctionParameterContent_gCameraBlob_GenericVisionFuntion {
  z-index: 367;
}

#mVi2FunctionParameterContent_gCameraBlob_GenericVisionFuntion {
  background-color: rgba(255, 255, 255, 0);
}

#mVi2FunctionParameterContent_gCameraBlob_TabControlModels {
  top: 0px;
  position: absolute;
}

#mVi2FunctionParameterContent_gCameraBlob_TabControlModels {
  left: 0px;
  position: absolute;
}

#mVi2FunctionParameterContent_gCameraBlob_TabControlModels {
  width: 895px;
}

#mVi2FunctionParameterContent_gCameraBlob_TabControlModels {
  height: 985px;
}

#mVi2FunctionParameterContent_gCameraBlob_TabControlModels {
  z-index: 0;
}

#mVi2FunctionParameterContent_gCameraBlob_TabItemVisionParameterProcessVaribales_breaseTabItemTab.tabItem {
  width: 450px;
}

#mVi2FunctionParameterContent_gCameraBlob_TabItemVisionParameterProcessVaribales_breaseTabItemTab.tabItem {
  height: 39px;
}

#mVi2FunctionParameterContent_gCameraBlob_TabItemVisionParameterProcessVaribales {
  z-index: 0;
}

#mVi2FunctionParameterContent_gCameraBlob_ProcessVariables {
  top: 5px;
  position: absolute;
}

#mVi2FunctionParameterContent_gCameraBlob_ProcessVariables {
  left: 445px;
  position: absolute;
}

#mVi2FunctionParameterContent_gCameraBlob_ProcessVariables {
  width: 448px;
}

#mVi2FunctionParameterContent_gCameraBlob_ProcessVariables {
  height: 931px;
}

#mVi2FunctionParameterContent_gCameraBlob_ProcessVariables {
  z-index: 0;
}

#mVi2FunctionParameterContent_gCameraBlob_ProcessVariables {
  border-color: silver;
}

#mVi2FunctionParameterContent_gCameraBlob_ProcessVariables > .header {
  border-color: silver;
}

#mVi2FunctionParameterContent_gCameraBlob_ProcessVariables > .header > svg {
  fill: #646464;
}

#mVi2FunctionParameterContent_gCameraBlob_InputParameterForm {
  top: 67px;
  position: absolute;
}

#mVi2FunctionParameterContent_gCameraBlob_InputParameterForm {
  left: 0px;
  position: absolute;
}

#mVi2FunctionParameterContent_gCameraBlob_InputParameterForm {
  width: 428px;
}

#mVi2FunctionParameterContent_gCameraBlob_InputParameterForm {
  height: 816px;
}

#mVi2FunctionParameterContent_gCameraBlob_InputParameterForm {
  z-index: 0;
}

#mVi2FunctionParameterContent_gCameraBlob_InputParameterForm .ParamRowContainer > .smartPanelParameterLabel {
  width: 226px;
}

#mVi2FunctionParameterContent_gCameraBlob_InputParameterForm .ParamRowContainer > .smartPanelParameterNumericInput {
  width: 225px;
}

#mVi2FunctionParameterContent_gCameraBlob_InputParameterForm .ParamRowContainer > .smartPanelParameterTextInput {
  width: 225px;
}

#mVi2FunctionParameterContent_gCameraBlob_InputParameterForm .ParamRowContainer > .smartPanelParameterFormTextOutput {
  width: 225px;
}

#mVi2FunctionParameterContent_gCameraBlob_InputParameterForm .ParamRowContainer > .smartPanelParameterDropDownBox {
  width: 225px;
}

#mVi2FunctionParameterContent_gCameraBlob_InputParameterForm .ParamRowContainer > .smartPanelParameterNumericInput {
  height: 35px;
}

#mVi2FunctionParameterContent_gCameraBlob_InputParameterForm .ParamRowContainer > .smartPanelParameterTextInput {
  height: 35px;
}

#mVi2FunctionParameterContent_gCameraBlob_InputParameterForm .ParamRowContainer > .smartPanelParameterDropDownBox {
  height: 35px;
}

#mVi2FunctionParameterContent_gCameraBlob_InputParameterForm .ParamRowContainer > .smartPanelParameterFormTextOutput {
  height: 35px;
}

#mVi2FunctionParameterContent_gCameraBlob_InputParameterForm .ParamRowContainer > .smartPanelParameterLabel {
  height: 35px;
}

#mVi2FunctionParameterContent_gCameraBlob_InputParameterForm {
  border-width: 0px;
}

#mVi2FunctionParameterContent_gCameraBlob_TextOutput5 {
  top: 9px;
  position: absolute;
}

#mVi2FunctionParameterContent_gCameraBlob_TextOutput5 {
  left: 36px;
  position: absolute;
}

#mVi2FunctionParameterContent_gCameraBlob_TextOutput5 {
  width: 115px;
}

#mVi2FunctionParameterContent_gCameraBlob_TextOutput5 {
  height: 46px;
}

#mVi2FunctionParameterContent_gCameraBlob_TextOutput5 {
  z-index: 2;
}

#mVi2FunctionParameterContent_gCameraBlob_TextOutput5 {
  font-size: 14px;
}

#mVi2FunctionParameterContent_gCameraBlob_TextOutput5 {
  font-weight: bold;
}

#mVi2FunctionParameterContent_gCameraBlob_DropDownBox11 {
  top: 11px;
  position: absolute;
}

#mVi2FunctionParameterContent_gCameraBlob_DropDownBox11 {
  left: 111px;
  position: absolute;
}

#mVi2FunctionParameterContent_gCameraBlob_DropDownBox11.DropDownBoxView {
  width: 105px;
}

#mVi2FunctionParameterContent_gCameraBlob_DropDownBox11.DropDownBoxView {
  height: 36px;
}

#mVi2FunctionParameterContent_gCameraBlob_DropDownBox11 {
  z-index: 7;
}

#mVi2FunctionParameterContent_gCameraBlob_DropDownBox11.DropDownBoxView {
  box-shadow: 0px 0px rgba(100, 100, 100, 0.5);
}

#mVi2FunctionParameterContent_gCameraBlob_DropDownBox11 > .ItemView:not(.itemSelected):not(.itemDisabled) {
  background-color: rgba(255, 255, 255, 0);
}

#mVi2FunctionParameterContent_gCameraBlob_DropDownBox11 > .ItemView:not(.itemSelected) {
  border-width: 0px 0px 0px 0px;
}

#mVi2FunctionParameterContent_gCameraBlob_DropDownBox11 > .ItemView.itemSelected {
  border-width: 0px 0px 0px 0px;
}

#mVi2FunctionParameterContent_gCameraBlob_DropDownBox11 > .ItemView {
  padding: 0px 25px 0px 8px;
}

#mVi2FunctionParameterContent_gCameraBlob_Image3 {
  top: 16px;
  position: absolute;
}

#mVi2FunctionParameterContent_gCameraBlob_Image3 {
  left: 16px;
  position: absolute;
}

#mVi2FunctionParameterContent_gCameraBlob_Image3 {
  width: 36px;
}

#mVi2FunctionParameterContent_gCameraBlob_Image3 {
  height: 30px;
}

#mVi2FunctionParameterContent_gCameraBlob_Image3 {
  z-index: 3;
}

#mVi2FunctionParameterContent_gCameraBlob_Image3 > .ImageView > svg {
  fill: #505050;
}

#mVi2FunctionParameterContent_gCameraBlob_Rectangle7 {
  top: 3px;
  position: absolute;
}

#mVi2FunctionParameterContent_gCameraBlob_Rectangle7 {
  left: 5px;
  position: absolute;
}

#mVi2FunctionParameterContent_gCameraBlob_Rectangle7 {
  width: 418px;
}

#mVi2FunctionParameterContent_gCameraBlob_Rectangle7 {
  height: 53px;
}

#mVi2FunctionParameterContent_gCameraBlob_Rectangle7 {
  z-index: 1;
}

#mVi2FunctionParameterContent_gCameraBlob_Rectangle7 {
  border-width: 3px;
}

#mVi2FunctionParameterContent_gCameraBlob_Rectangle7 {
  border-radius: 9px;
}

#mVi2FunctionParameterContent_gCameraBlob_Rectangle7 {
  border-color: rgba(192, 192, 192, 0.5);
}

#mVi2FunctionParameterContent_gCameraBlob_Rectangle7 {
  background-color: #f0f0f0;
}

#mVi2FunctionParameterContent_gCameraBlob_Rectangle7 {
  opacity: 0.8;
}

#mVi2FunctionParameterContent_gCameraBlob_Line2 {
  z-index: 4;
}

#mVi2FunctionParameterContent_gCameraBlob_Line2 line {
  stroke: rgba(192, 192, 192, 0.5);
}

#mVi2FunctionParameterContent_gCameraBlob_Line2 line {
  stroke-width: 6px;
}

#mVi2FunctionParameterContent_gCameraBlob_Image6 {
  top: 20px;
  position: absolute;
}

#mVi2FunctionParameterContent_gCameraBlob_Image6 {
  left: 184px;
  position: absolute;
}

#mVi2FunctionParameterContent_gCameraBlob_Image6 {
  width: 24px;
}

#mVi2FunctionParameterContent_gCameraBlob_Image6 {
  height: 22px;
}

#mVi2FunctionParameterContent_gCameraBlob_Image6 {
  z-index: 6;
}

#mVi2FunctionParameterContent_gCameraBlob_Image6 > .ImageView > svg {
  fill: #646464;
}

#mVi2FunctionParameterContent_gCameraBlob_TextOutput3 {
  top: 11px;
  position: absolute;
}

#mVi2FunctionParameterContent_gCameraBlob_TextOutput3 {
  left: 110px;
  position: absolute;
}

#mVi2FunctionParameterContent_gCameraBlob_TextOutput3 {
  width: 105px;
}

#mVi2FunctionParameterContent_gCameraBlob_TextOutput3 {
  height: 36px;
}

#mVi2FunctionParameterContent_gCameraBlob_TextOutput3 {
  z-index: 5;
}

#mVi2FunctionParameterContent_gCameraBlob_TextOutput6 {
  top: 9px;
  position: absolute;
}

#mVi2FunctionParameterContent_gCameraBlob_TextOutput6 {
  left: 285px;
  position: absolute;
}

#mVi2FunctionParameterContent_gCameraBlob_TextOutput6 {
  width: 145px;
}

#mVi2FunctionParameterContent_gCameraBlob_TextOutput6 {
  height: 46px;
}

#mVi2FunctionParameterContent_gCameraBlob_TextOutput6 {
  z-index: 8;
}

#mVi2FunctionParameterContent_gCameraBlob_TextOutput6 {
  font-size: 14px;
}

#mVi2FunctionParameterContent_gCameraBlob_TextOutput6 {
  font-weight: bold;
}

#mVi2FunctionParameterContent_gCameraBlob_btnFilter {
  top: 11px;
  position: absolute;
}

#mVi2FunctionParameterContent_gCameraBlob_btnFilter {
  left: 241px;
  position: absolute;
}

#mVi2FunctionParameterContent_gCameraBlob_btnFilter {
  width: 44px;
}

#mVi2FunctionParameterContent_gCameraBlob_btnFilter {
  height: 36px;
}

#mVi2FunctionParameterContent_gCameraBlob_btnFilter {
  z-index: 9;
}

#mVi2FunctionParameterContent_gCameraBlob_btnFilter img {
  height: 20px;
}

#mVi2FunctionParameterContent_gCameraBlob_btnFilter svg {
  height: 20px;
}

#mVi2FunctionParameterContent_gCameraBlob_btnFilter img {
  width: 50px;
}

#mVi2FunctionParameterContent_gCameraBlob_btnFilter svg {
  width: 50px;
}

#mVi2FunctionParameterContent_gCameraBlob_btnFilter {
  padding: 0px 0px;
}

#mVi2FunctionParameterContent_gCameraBlob_btnFilter:not(.active):not(.checked) {
  box-shadow: 0px 0px rgba(100, 100, 100, 0.5);
}

#mVi2FunctionParameterContent_gCameraBlob_btnFilter.disabled.active {
  box-shadow: 0px 0px rgba(100, 100, 100, 0.5);
}

#mVi2FunctionParameterContent_gCameraBlob_btnFilter.disabled.checked {
  box-shadow: 0px 0px rgba(100, 100, 100, 0.5);
}

#mVi2FunctionParameterContent_gCameraBlob_NumericOutput1 {
  top: 9px;
  position: absolute;
}

#mVi2FunctionParameterContent_gCameraBlob_NumericOutput1 {
  left: 344px;
  position: absolute;
}

#mVi2FunctionParameterContent_gCameraBlob_NumericOutput1 {
  width: 77px;
}

#mVi2FunctionParameterContent_gCameraBlob_NumericOutput1 {
  height: 45px;
}

#mVi2FunctionParameterContent_gCameraBlob_NumericOutput1 {
  z-index: 10;
}

#mVi2FunctionParameterContent_gCameraBlob_NumericOutput1 input {
  font-weight: bold;
}

#mVi2FunctionParameterContent_gCameraBlob_VisionParameters {
  top: 5px;
  position: absolute;
}

#mVi2FunctionParameterContent_gCameraBlob_VisionParameters {
  left: 5px;
  position: absolute;
}

#mVi2FunctionParameterContent_gCameraBlob_VisionParameters {
  width: 448px;
}

#mVi2FunctionParameterContent_gCameraBlob_VisionParameters {
  height: 931px;
}

#mVi2FunctionParameterContent_gCameraBlob_VisionParameters {
  z-index: 1;
}

#mVi2FunctionParameterContent_gCameraBlob_VisionParameters {
  background-color: silver;
}

#mVi2FunctionParameterContent_gCameraBlob_VisionParameters {
  border-color: silver;
}

#mVi2FunctionParameterContent_gCameraBlob_VisionParameters > .header {
  border-color: silver;
}

#mVi2FunctionParameterContent_gCameraBlob_GenericParameterForm {
  top: -1px;
  position: absolute;
}

#mVi2FunctionParameterContent_gCameraBlob_GenericParameterForm {
  left: 0px;
  position: absolute;
}

#mVi2FunctionParameterContent_gCameraBlob_GenericParameterForm {
  width: 428px;
}

#mVi2FunctionParameterContent_gCameraBlob_GenericParameterForm {
  height: 719px;
}

#mVi2FunctionParameterContent_gCameraBlob_GenericParameterForm {
  z-index: 0;
}

#mVi2FunctionParameterContent_gCameraBlob_GenericParameterForm .ParamRowContainer > .smartPanelParameterLabel {
  width: 219px;
}

#mVi2FunctionParameterContent_gCameraBlob_GenericParameterForm .ParamRowContainer > .smartPanelParameterNumericInput {
  width: 219px;
}

#mVi2FunctionParameterContent_gCameraBlob_GenericParameterForm .ParamRowContainer > .smartPanelParameterTextInput {
  width: 219px;
}

#mVi2FunctionParameterContent_gCameraBlob_GenericParameterForm .ParamRowContainer > .smartPanelParameterFormTextOutput {
  width: 219px;
}

#mVi2FunctionParameterContent_gCameraBlob_GenericParameterForm .ParamRowContainer > .smartPanelParameterDropDownBox {
  width: 219px;
}

#mVi2FunctionParameterContent_gCameraBlob_GenericParameterForm .ParamRowContainer > .smartPanelParameterNumericInput {
  height: 35px;
}

#mVi2FunctionParameterContent_gCameraBlob_GenericParameterForm .ParamRowContainer > .smartPanelParameterTextInput {
  height: 35px;
}

#mVi2FunctionParameterContent_gCameraBlob_GenericParameterForm .ParamRowContainer > .smartPanelParameterDropDownBox {
  height: 35px;
}

#mVi2FunctionParameterContent_gCameraBlob_GenericParameterForm .ParamRowContainer > .smartPanelParameterFormTextOutput {
  height: 35px;
}

#mVi2FunctionParameterContent_gCameraBlob_GenericParameterForm .ParamRowContainer > .smartPanelParameterLabel {
  height: 35px;
}

#mVi2FunctionParameterContent_gCameraBlob_GenericParameterForm {
  border-width: 0px;
}

#mVi2FunctionParameterContent_gCameraBlob_VisionParameters1 {
  top: 735px;
  position: absolute;
}

#mVi2FunctionParameterContent_gCameraBlob_VisionParameters1 {
  left: -11px;
  position: absolute;
}

#mVi2FunctionParameterContent_gCameraBlob_VisionParameters1 {
  width: 449px;
}

#mVi2FunctionParameterContent_gCameraBlob_VisionParameters1 {
  height: 153px;
}

#mVi2FunctionParameterContent_gCameraBlob_VisionParameters1 {
  z-index: 1;
}

#mVi2FunctionParameterContent_gCameraBlob_VisionParameters1 {
  background-color: silver;
}

#mVi2FunctionParameterContent_gCameraBlob_VisionParameters1 {
  border-color: silver;
}

#mVi2FunctionParameterContent_gCameraBlob_VisionParameters1 > .header {
  border-color: silver;
}

#mVi2FunctionParameterContent_gCameraBlob_ConstantsParameterForm {
  top: 0px;
  position: absolute;
}

#mVi2FunctionParameterContent_gCameraBlob_ConstantsParameterForm {
  left: 0px;
  position: absolute;
}

#mVi2FunctionParameterContent_gCameraBlob_ConstantsParameterForm {
  width: 434px;
}

#mVi2FunctionParameterContent_gCameraBlob_ConstantsParameterForm {
  height: 111px;
}

#mVi2FunctionParameterContent_gCameraBlob_ConstantsParameterForm {
  z-index: 0;
}

#mVi2FunctionParameterContent_gCameraBlob_ConstantsParameterForm .ParamRowContainer > .smartPanelParameterLabel {
  width: 219px;
}

#mVi2FunctionParameterContent_gCameraBlob_ConstantsParameterForm .ParamRowContainer > .smartPanelParameterNumericInput {
  width: 219px;
}

#mVi2FunctionParameterContent_gCameraBlob_ConstantsParameterForm .ParamRowContainer > .smartPanelParameterTextInput {
  width: 219px;
}

#mVi2FunctionParameterContent_gCameraBlob_ConstantsParameterForm .ParamRowContainer > .smartPanelParameterFormTextOutput {
  width: 219px;
}

#mVi2FunctionParameterContent_gCameraBlob_ConstantsParameterForm .ParamRowContainer > .smartPanelParameterDropDownBox {
  width: 219px;
}

#mVi2FunctionParameterContent_gCameraBlob_ConstantsParameterForm .ParamRowContainer > .smartPanelParameterNumericInput {
  height: 32px;
}

#mVi2FunctionParameterContent_gCameraBlob_ConstantsParameterForm .ParamRowContainer > .smartPanelParameterTextInput {
  height: 32px;
}

#mVi2FunctionParameterContent_gCameraBlob_ConstantsParameterForm .ParamRowContainer > .smartPanelParameterDropDownBox {
  height: 32px;
}

#mVi2FunctionParameterContent_gCameraBlob_ConstantsParameterForm .ParamRowContainer > .smartPanelParameterFormTextOutput {
  height: 32px;
}

#mVi2FunctionParameterContent_gCameraBlob_ConstantsParameterForm .ParamRowContainer > .smartPanelParameterLabel {
  height: 32px;
}

#mVi2FunctionParameterContent_gCameraBlob_ConstantsParameterForm {
  border-width: 0px;
}

#mVi2FunctionParameterContent_gCameraBlob_btnExport1 {
  top: 594px;
  position: absolute;
}

#mVi2FunctionParameterContent_gCameraBlob_btnExport1 {
  left: 250px;
  position: absolute;
}

#mVi2FunctionParameterContent_gCameraBlob_btnExport1 {
  width: 90px;
}

#mVi2FunctionParameterContent_gCameraBlob_btnExport1 {
  height: 70px;
}

#mVi2FunctionParameterContent_gCameraBlob_btnExport1 {
  z-index: 1;
}

#mVi2FunctionParameterContent_gCameraBlob_btnSaveVisionFuntion1 {
  top: 594px;
  position: absolute;
}

#mVi2FunctionParameterContent_gCameraBlob_btnSaveVisionFuntion1 {
  left: 150px;
  position: absolute;
}

#mVi2FunctionParameterContent_gCameraBlob_btnSaveVisionFuntion1 {
  width: 91px;
}

#mVi2FunctionParameterContent_gCameraBlob_btnSaveVisionFuntion1 {
  height: 70px;
}

#mVi2FunctionParameterContent_gCameraBlob_btnSaveVisionFuntion1 {
  z-index: 2;
}

#mVi2FunctionParameterContent_gCameraBlob_btnLoadVisionFunction1 {
  top: 594px;
  position: absolute;
}

#mVi2FunctionParameterContent_gCameraBlob_btnLoadVisionFunction1 {
  left: 50px;
  position: absolute;
}

#mVi2FunctionParameterContent_gCameraBlob_btnLoadVisionFunction1 {
  width: 92px;
}

#mVi2FunctionParameterContent_gCameraBlob_btnLoadVisionFunction1 {
  height: 70px;
}

#mVi2FunctionParameterContent_gCameraBlob_btnLoadVisionFunction1 {
  z-index: 3;
}

#mVi2FunctionParameterContent_gCameraBlob_ConstantsParameterForm1 {
  top: 394px;
  position: absolute;
}

#mVi2FunctionParameterContent_gCameraBlob_ConstantsParameterForm1 {
  left: 1px;
  position: absolute;
}

#mVi2FunctionParameterContent_gCameraBlob_ConstantsParameterForm1 {
  width: 380px;
}

#mVi2FunctionParameterContent_gCameraBlob_ConstantsParameterForm1 {
  height: 175px;
}

#mVi2FunctionParameterContent_gCameraBlob_ConstantsParameterForm1 {
  z-index: 4;
}

#mVi2FunctionParameterContent_gCameraBlob_ConstantsParameterForm1 .ParamRowContainer > .smartPanelParameterLabel {
  width: 198px;
}

#mVi2FunctionParameterContent_gCameraBlob_ConstantsParameterForm1 .ParamRowContainer > .smartPanelParameterNumericInput {
  width: 182px;
}

#mVi2FunctionParameterContent_gCameraBlob_ConstantsParameterForm1 .ParamRowContainer > .smartPanelParameterTextInput {
  width: 182px;
}

#mVi2FunctionParameterContent_gCameraBlob_ConstantsParameterForm1 .ParamRowContainer > .smartPanelParameterFormTextOutput {
  width: 182px;
}

#mVi2FunctionParameterContent_gCameraBlob_ConstantsParameterForm1 .ParamRowContainer > .smartPanelParameterDropDownBox {
  width: 182px;
}

#mVi2FunctionParameterContent_gCameraBlob_ConstantsParameterForm1 {
  border-width: 0px;
}

#mVi2FunctionParameterContent_gCameraBlob_TabItemModels_breaseTabItemTab.tabItem {
  width: 450px;
}

#mVi2FunctionParameterContent_gCameraBlob_TabItemModels_breaseTabItemTab.tabItem {
  height: 39px;
}

#mVi2FunctionParameterContent_gCameraBlob_TabItemModels {
  z-index: 1;
}

#mVi2FunctionParameterContent_gCameraBlob_TabItemModels_breaseTabItemTab.tabItem:not(.active) {
  border-width: 0px 0px 0px 0px;
}

#mVi2FunctionParameterContent_gCameraBlob_Models {
  top: 70px;
  position: absolute;
}

#mVi2FunctionParameterContent_gCameraBlob_Models {
  left: 444px;
  position: absolute;
}

#mVi2FunctionParameterContent_gCameraBlob_Models {
  width: 448px;
}

#mVi2FunctionParameterContent_gCameraBlob_Models {
  height: 865px;
}

#mVi2FunctionParameterContent_gCameraBlob_Models {
  z-index: 0;
}

#mVi2FunctionParameterContent_gCameraBlob_Models {
  border-radius: 0px;
}

#mVi2FunctionParameterContent_gCameraBlob_Models {
  background-color: #dbdbdb;
}

#mVi2FunctionParameterContent_gCameraBlob_Models {
  border-color: silver;
}

#mVi2FunctionParameterContent_gCameraBlob_Models > .header {
  border-color: silver;
}

#mVi2FunctionParameterContent_gCameraBlob_Models {
  border-style: solid;
}

#mVi2FunctionParameterContent_gCameraBlob_Models > .header {
  border-bottom-style: solid;
}

#mVi2FunctionParameterContent_gCameraBlob_SmartPanelModelList1 {
  top: 0px;
  position: absolute;
}

#mVi2FunctionParameterContent_gCameraBlob_SmartPanelModelList1 {
  left: 0px;
  position: absolute;
}

#mVi2FunctionParameterContent_gCameraBlob_SmartPanelModelList1 {
  width: 427px;
}

#mVi2FunctionParameterContent_gCameraBlob_SmartPanelModelList1 {
  height: 428px;
}

#mVi2FunctionParameterContent_gCameraBlob_SmartPanelModelList1 {
  z-index: 0;
}

#mVi2FunctionParameterContent_gCameraBlob_SmartPanelModelList1 {
  justify-content: flex-start;
  text-align: left;
  -ms-flex-align: start;
  align-items: flex-start;
}

#mVi2FunctionParameterContent_gCameraBlob_ProcessVariables1 {
  top: 70px;
  position: absolute;
}

#mVi2FunctionParameterContent_gCameraBlob_ProcessVariables1 {
  left: 5px;
  position: absolute;
}

#mVi2FunctionParameterContent_gCameraBlob_ProcessVariables1 {
  width: 447px;
}

#mVi2FunctionParameterContent_gCameraBlob_ProcessVariables1 {
  height: 865px;
}

#mVi2FunctionParameterContent_gCameraBlob_ProcessVariables1 {
  z-index: 10;
}

#mVi2FunctionParameterContent_gCameraBlob_ProcessVariables1 {
  border-radius: 0px;
}

#mVi2FunctionParameterContent_gCameraBlob_ProcessVariables1 {
  border-color: silver;
}

#mVi2FunctionParameterContent_gCameraBlob_ProcessVariables1 > .header {
  border-color: silver;
}

#mVi2FunctionParameterContent_gCameraBlob_modelParameters {
  top: 0px;
  position: absolute;
}

#mVi2FunctionParameterContent_gCameraBlob_modelParameters {
  left: 0px;
  position: absolute;
}

#mVi2FunctionParameterContent_gCameraBlob_modelParameters {
  width: 428px;
}

#mVi2FunctionParameterContent_gCameraBlob_modelParameters {
  height: 815px;
}

#mVi2FunctionParameterContent_gCameraBlob_modelParameters {
  z-index: 0;
}

#mVi2FunctionParameterContent_gCameraBlob_modelParameters .ParamRowContainer > .smartPanelParameterLabel {
  width: 214px;
}

#mVi2FunctionParameterContent_gCameraBlob_modelParameters .ParamRowContainer > .smartPanelParameterNumericInput {
  width: 225px;
}

#mVi2FunctionParameterContent_gCameraBlob_modelParameters .ParamRowContainer > .smartPanelParameterTextInput {
  width: 225px;
}

#mVi2FunctionParameterContent_gCameraBlob_modelParameters .ParamRowContainer > .smartPanelParameterFormTextOutput {
  width: 225px;
}

#mVi2FunctionParameterContent_gCameraBlob_modelParameters .ParamRowContainer > .smartPanelParameterDropDownBox {
  width: 225px;
}

#mVi2FunctionParameterContent_gCameraBlob_modelParameters {
  border-width: 0px;
}

#mVi2FunctionParameterContent_gCameraBlob_btnTeach {
  top: 12px;
  position: absolute;
}

#mVi2FunctionParameterContent_gCameraBlob_btnTeach {
  left: 339px;
  position: absolute;
}

#mVi2FunctionParameterContent_gCameraBlob_btnTeach {
  width: 102px;
}

#mVi2FunctionParameterContent_gCameraBlob_btnTeach {
  height: 55px;
}

#mVi2FunctionParameterContent_gCameraBlob_btnTeach {
  z-index: 3;
}

#mVi2FunctionParameterContent_gCameraBlob_btnTeach img {
  height: 30px;
}

#mVi2FunctionParameterContent_gCameraBlob_btnTeach svg {
  height: 30px;
}

#mVi2FunctionParameterContent_gCameraBlob_btnTeach img {
  width: 40px;
}

#mVi2FunctionParameterContent_gCameraBlob_btnTeach svg {
  width: 40px;
}

#mVi2FunctionParameterContent_gCameraBlob_btnTeach span {
  font-size: 12px;
}

#mVi2FunctionParameterContent_gCameraBlob_btnTeach span {
  font-weight: bold;
}

#mVi2FunctionParameterContent_gCameraBlob_btnRemoveModel {
  top: 12px;
  position: absolute;
}

#mVi2FunctionParameterContent_gCameraBlob_btnRemoveModel {
  left: 780px;
  position: absolute;
}

#mVi2FunctionParameterContent_gCameraBlob_btnRemoveModel {
  width: 102px;
}

#mVi2FunctionParameterContent_gCameraBlob_btnRemoveModel {
  height: 55px;
}

#mVi2FunctionParameterContent_gCameraBlob_btnRemoveModel {
  z-index: 4;
}

#mVi2FunctionParameterContent_gCameraBlob_btnRemoveModel img {
  height: 30px;
}

#mVi2FunctionParameterContent_gCameraBlob_btnRemoveModel svg {
  height: 30px;
}

#mVi2FunctionParameterContent_gCameraBlob_btnRemoveModel img {
  width: 40px;
}

#mVi2FunctionParameterContent_gCameraBlob_btnRemoveModel svg {
  width: 40px;
}

#mVi2FunctionParameterContent_gCameraBlob_btnRemoveModel span {
  font-size: 12px;
}

#mVi2FunctionParameterContent_gCameraBlob_btnRemoveModel span {
  font-weight: bold;
}

#mVi2FunctionParameterContent_gCameraBlob_dropDownBoxForModelType {
  top: 12px;
  position: absolute;
}

#mVi2FunctionParameterContent_gCameraBlob_dropDownBoxForModelType {
  left: 128px;
  position: absolute;
}

#mVi2FunctionParameterContent_gCameraBlob_dropDownBoxForModelType.DropDownBoxView {
  width: 189px;
}

#mVi2FunctionParameterContent_gCameraBlob_dropDownBoxForModelType.DropDownBoxView {
  height: 55px;
}

#mVi2FunctionParameterContent_gCameraBlob_dropDownBoxForModelType {
  z-index: 8;
}

#mVi2FunctionParameterContent_gCameraBlob_dropDownBoxForModelType .TextView {
  font-weight: bold;
}

#mVi2FunctionParameterContent_gCameraBlob_dropDownBoxForModelType_listBoxWrapper .TextView {
  font-weight: bold;
}

#mVi2FunctionParameterContent_gCameraBlob_TextOutputModelType {
  width: 100px;
}

#mVi2FunctionParameterContent_gCameraBlob_TextOutputModelType {
  top: 12px;
  position: absolute;
}

#mVi2FunctionParameterContent_gCameraBlob_TextOutputModelType {
  left: 18px;
  position: absolute;
}

#mVi2FunctionParameterContent_gCameraBlob_TextOutputModelType {
  height: 55px;
}

#mVi2FunctionParameterContent_gCameraBlob_TextOutputModelType {
  z-index: 5;
}

#mVi2FunctionParameterContent_gCameraBlob_TextOutputModelType {
  font-weight: bold;
}

#mVi2FunctionParameterContent_gCameraBlob_TextOutputModelType span {
  padding: 0px 0px 0px 0px;
}

#mVi2FunctionParameterContent_gCameraBlob_ImageArrow {
  top: 24px;
  position: absolute;
}

#mVi2FunctionParameterContent_gCameraBlob_ImageArrow {
  left: 272px;
  position: absolute;
}

#mVi2FunctionParameterContent_gCameraBlob_ImageArrow {
  width: 30px;
}

#mVi2FunctionParameterContent_gCameraBlob_ImageArrow {
  height: 30px;
}

#mVi2FunctionParameterContent_gCameraBlob_ImageArrow {
  z-index: 7;
}

#mVi2FunctionParameterContent_gCameraBlob_ImageArrow > .ImageView > svg {
  fill: #646464;
}

#mVi2FunctionParameterContent_gCameraBlob_TextOutputModel {
  top: 12px;
  position: absolute;
}

#mVi2FunctionParameterContent_gCameraBlob_TextOutputModel {
  left: 128px;
  position: absolute;
}

#mVi2FunctionParameterContent_gCameraBlob_TextOutputModel {
  width: 189px;
}

#mVi2FunctionParameterContent_gCameraBlob_TextOutputModel {
  height: 55px;
}

#mVi2FunctionParameterContent_gCameraBlob_TextOutputModel {
  z-index: 6;
}

#mVi2FunctionParameterContent_gCameraBlob_Rectangle2 {
  top: 540px;
  position: absolute;
}

#mVi2FunctionParameterContent_gCameraBlob_Rectangle2 {
  left: 15px;
  position: absolute;
}

#mVi2FunctionParameterContent_gCameraBlob_Rectangle2 {
  width: 427px;
}

#mVi2FunctionParameterContent_gCameraBlob_Rectangle2 {
  height: 393px;
}

#mVi2FunctionParameterContent_gCameraBlob_Rectangle2 {
  z-index: 9;
}

#mVi2FunctionParameterContent_gCameraBlob_Rectangle2 {
  border-width: 0px;
}

#mVi2FunctionParameterContent_gCameraBlob_Rectangle2 {
  background-color: #dbdbdb;
}

#mVi2FunctionParameterContent_gCameraBlob_GroupBoxGlobaleModel {
  top: 550px;
  position: absolute;
}

#mVi2FunctionParameterContent_gCameraBlob_GroupBoxGlobaleModel {
  left: 0px;
  position: absolute;
}

#mVi2FunctionParameterContent_gCameraBlob_GroupBoxGlobaleModel {
  width: 893px;
}

#mVi2FunctionParameterContent_gCameraBlob_GroupBoxGlobaleModel {
  height: 402px;
}

#mVi2FunctionParameterContent_gCameraBlob_GroupBoxGlobaleModel {
  z-index: 11;
}

#mVi2FunctionParameterContent_gCameraBlob_GroupBoxGlobaleModel {
  border-width: 0px;
}

#mVi2FunctionParameterContent_gCameraBlob_GroupBoxGlobaleModel > .header {
  border-width: 0px;
}

#mVi2FunctionParameterContent_gCameraBlob_GroupBoxGlobaleModel {
  background-color: silver;
}

#mVi2FunctionParameterContent_gCameraBlob_GroupBoxGlobaleModel {
  border-color: silver;
}

#mVi2FunctionParameterContent_gCameraBlob_GroupBoxGlobaleModel > .header {
  border-color: silver;
}

#mVi2FunctionParameterContent_gCameraBlob_Logger1 {
  top: 70px;
  position: absolute;
}

#mVi2FunctionParameterContent_gCameraBlob_Logger1 {
  left: 444px;
  position: absolute;
}

#mVi2FunctionParameterContent_gCameraBlob_Logger1 {
  width: 447px;
}

#mVi2FunctionParameterContent_gCameraBlob_Logger1 {
  height: 315px;
}

#mVi2FunctionParameterContent_gCameraBlob_Logger1 {
  z-index: 0;
}

#mVi2FunctionParameterContent_gCameraBlob_Logger1 {
  border-width: 10px 10px 2px 10px;
}

#mVi2FunctionParameterContent_gCameraBlob_Logger1 > .header {
  border-width: 10px 10px 2px 10px;
}

#mVi2FunctionParameterContent_gCameraBlob_Logger1 {
  border-radius: 0px;
}

#mVi2FunctionParameterContent_gCameraBlob_Logger1 {
  background-color: #dbdbdb;
}

#mVi2FunctionParameterContent_gCameraBlob_Logger1 {
  border-color: silver;
}

#mVi2FunctionParameterContent_gCameraBlob_Logger1 > .header {
  border-color: silver;
}

#mVi2FunctionParameterContent_gCameraBlob_Logger1 {
  border-style: solid;
}

#mVi2FunctionParameterContent_gCameraBlob_Logger1 > .header {
  border-bottom-style: solid;
}

#mVi2FunctionParameterContent_gCameraBlob_SmartPanelGlobalModelList1 {
  top: 0px;
  position: absolute;
}

#mVi2FunctionParameterContent_gCameraBlob_SmartPanelGlobalModelList1 {
  left: 0px;
  position: absolute;
}

#mVi2FunctionParameterContent_gCameraBlob_SmartPanelGlobalModelList1 {
  width: 422px;
}

#mVi2FunctionParameterContent_gCameraBlob_SmartPanelGlobalModelList1 {
  height: 270px;
}

#mVi2FunctionParameterContent_gCameraBlob_SmartPanelGlobalModelList1 {
  z-index: 0;
}

#mVi2FunctionParameterContent_gCameraBlob_SmartPanelGlobalModelList1 {
  justify-content: flex-start;
  text-align: left;
  -ms-flex-align: start;
  align-items: flex-start;
}

#mVi2FunctionParameterContent_gCameraBlob_GroupBox3 {
  top: 70px;
  position: absolute;
}

#mVi2FunctionParameterContent_gCameraBlob_GroupBox3 {
  left: 5px;
  position: absolute;
}

#mVi2FunctionParameterContent_gCameraBlob_GroupBox3 {
  width: 447px;
}

#mVi2FunctionParameterContent_gCameraBlob_GroupBox3 {
  height: 315px;
}

#mVi2FunctionParameterContent_gCameraBlob_GroupBox3 {
  z-index: 1;
}

#mVi2FunctionParameterContent_gCameraBlob_GroupBox3 {
  background-color: #dbdbdb;
}

#mVi2FunctionParameterContent_gCameraBlob_GroupBox3 {
  border-color: silver;
}

#mVi2FunctionParameterContent_gCameraBlob_GroupBox3 > .header {
  border-color: silver;
}

#mVi2FunctionParameterContent_gCameraBlob_visionFunctionGlobalModel {
  top: 0px;
  position: absolute;
}

#mVi2FunctionParameterContent_gCameraBlob_visionFunctionGlobalModel {
  left: 0px;
  position: absolute;
}

#mVi2FunctionParameterContent_gCameraBlob_visionFunctionGlobalModel {
  width: 428px;
}

#mVi2FunctionParameterContent_gCameraBlob_visionFunctionGlobalModel {
  height: 267px;
}

#mVi2FunctionParameterContent_gCameraBlob_visionFunctionGlobalModel {
  z-index: 0;
}

#mVi2FunctionParameterContent_gCameraBlob_visionFunctionGlobalModel .ParamRowContainer > .smartPanelParameterLabel {
  width: 214px;
}

#mVi2FunctionParameterContent_gCameraBlob_visionFunctionGlobalModel .ParamRowContainer > .smartPanelParameterNumericInput {
  width: 225px;
}

#mVi2FunctionParameterContent_gCameraBlob_visionFunctionGlobalModel .ParamRowContainer > .smartPanelParameterTextInput {
  width: 225px;
}

#mVi2FunctionParameterContent_gCameraBlob_visionFunctionGlobalModel .ParamRowContainer > .smartPanelParameterFormTextOutput {
  width: 225px;
}

#mVi2FunctionParameterContent_gCameraBlob_visionFunctionGlobalModel .ParamRowContainer > .smartPanelParameterDropDownBox {
  width: 225px;
}

#mVi2FunctionParameterContent_gCameraBlob_visionFunctionGlobalModel {
  border-width: 0px;
}

#mVi2FunctionParameterContent_gCameraBlob_dropDownBoxAddMeasurement {
  top: 12px;
  position: absolute;
}

#mVi2FunctionParameterContent_gCameraBlob_dropDownBoxAddMeasurement {
  left: 128px;
  position: absolute;
}

#mVi2FunctionParameterContent_gCameraBlob_dropDownBoxAddMeasurement.DropDownBoxView {
  width: 191px;
}

#mVi2FunctionParameterContent_gCameraBlob_dropDownBoxAddMeasurement.DropDownBoxView {
  height: 55px;
}

#mVi2FunctionParameterContent_gCameraBlob_dropDownBoxAddMeasurement {
  z-index: 7;
}

#mVi2FunctionParameterContent_gCameraBlob_dropDownBoxAddMeasurement .TextView {
  font-weight: bold;
}

#mVi2FunctionParameterContent_gCameraBlob_dropDownBoxAddMeasurement_listBoxWrapper .TextView {
  font-weight: bold;
}

#mVi2FunctionParameterContent_gCameraBlob_btnSaveGlobalModel {
  top: 12px;
  position: absolute;
}

#mVi2FunctionParameterContent_gCameraBlob_btnSaveGlobalModel {
  left: 339px;
  position: absolute;
}

#mVi2FunctionParameterContent_gCameraBlob_btnSaveGlobalModel {
  width: 102px;
}

#mVi2FunctionParameterContent_gCameraBlob_btnSaveGlobalModel {
  height: 55px;
}

#mVi2FunctionParameterContent_gCameraBlob_btnSaveGlobalModel {
  z-index: 2;
}

#mVi2FunctionParameterContent_gCameraBlob_btnSaveGlobalModel img {
  height: 30px;
}

#mVi2FunctionParameterContent_gCameraBlob_btnSaveGlobalModel svg {
  height: 30px;
}

#mVi2FunctionParameterContent_gCameraBlob_btnSaveGlobalModel span {
  font-size: 12px;
}

#mVi2FunctionParameterContent_gCameraBlob_btnSaveGlobalModel span {
  font-weight: bold;
}

#mVi2FunctionParameterContent_gCameraBlob_btnDeleteGlobalModel {
  top: 12px;
  position: absolute;
}

#mVi2FunctionParameterContent_gCameraBlob_btnDeleteGlobalModel {
  left: 780px;
  position: absolute;
}

#mVi2FunctionParameterContent_gCameraBlob_btnDeleteGlobalModel {
  width: 102px;
}

#mVi2FunctionParameterContent_gCameraBlob_btnDeleteGlobalModel {
  height: 55px;
}

#mVi2FunctionParameterContent_gCameraBlob_btnDeleteGlobalModel {
  z-index: 3;
}

#mVi2FunctionParameterContent_gCameraBlob_btnDeleteGlobalModel img {
  height: 30px;
}

#mVi2FunctionParameterContent_gCameraBlob_btnDeleteGlobalModel svg {
  height: 30px;
}

#mVi2FunctionParameterContent_gCameraBlob_btnDeleteGlobalModel img {
  width: 30px;
}

#mVi2FunctionParameterContent_gCameraBlob_btnDeleteGlobalModel svg {
  width: 30px;
}

#mVi2FunctionParameterContent_gCameraBlob_btnDeleteGlobalModel span {
  font-size: 12px;
}

#mVi2FunctionParameterContent_gCameraBlob_btnDeleteGlobalModel span {
  font-weight: bold;
}

#mVi2FunctionParameterContent_gCameraBlob_TextOutput7 {
  width: 100px;
}

#mVi2FunctionParameterContent_gCameraBlob_TextOutput7 {
  top: 12px;
  position: absolute;
}

#mVi2FunctionParameterContent_gCameraBlob_TextOutput7 {
  left: 18px;
  position: absolute;
}

#mVi2FunctionParameterContent_gCameraBlob_TextOutput7 {
  height: 55px;
}

#mVi2FunctionParameterContent_gCameraBlob_TextOutput7 {
  z-index: 4;
}

#mVi2FunctionParameterContent_gCameraBlob_TextOutput7 {
  font-weight: bold;
}

#mVi2FunctionParameterContent_gCameraBlob_TextOutput7 span {
  padding: 0px;
}

#mVi2FunctionParameterContent_gCameraBlob_TextOutput8 {
  top: 12px;
  position: absolute;
}

#mVi2FunctionParameterContent_gCameraBlob_TextOutput8 {
  left: 128px;
  position: absolute;
}

#mVi2FunctionParameterContent_gCameraBlob_TextOutput8 {
  width: 191px;
}

#mVi2FunctionParameterContent_gCameraBlob_TextOutput8 {
  height: 55px;
}

#mVi2FunctionParameterContent_gCameraBlob_TextOutput8 {
  z-index: 5;
}

#mVi2FunctionParameterContent_gCameraBlob_Image9 {
  top: 24px;
  position: absolute;
}

#mVi2FunctionParameterContent_gCameraBlob_Image9 {
  left: 277px;
  position: absolute;
}

#mVi2FunctionParameterContent_gCameraBlob_Image9 {
  width: 30px;
}

#mVi2FunctionParameterContent_gCameraBlob_Image9 {
  height: 30px;
}

#mVi2FunctionParameterContent_gCameraBlob_Image9 {
  z-index: 6;
}

#mVi2FunctionParameterContent_gCameraBlob_Image9 > .ImageView > svg {
  fill: #646464;
}

#mVi2FunctionParameterContent_gCameraBlob_btnEditMarker {
  top: 12px;
  position: absolute;
}

#mVi2FunctionParameterContent_gCameraBlob_btnEditMarker {
  left: 463px;
  position: absolute;
}

#mVi2FunctionParameterContent_gCameraBlob_btnEditMarker {
  width: 102px;
}

#mVi2FunctionParameterContent_gCameraBlob_btnEditMarker {
  height: 55px;
}

#mVi2FunctionParameterContent_gCameraBlob_btnEditMarker {
  z-index: 12;
}

#mVi2FunctionParameterContent_gCameraBlob_btnEditMarker img {
  height: 30px;
}

#mVi2FunctionParameterContent_gCameraBlob_btnEditMarker svg {
  height: 30px;
}

#mVi2FunctionParameterContent_gCameraBlob_btnEditMarker img {
  width: 30px;
}

#mVi2FunctionParameterContent_gCameraBlob_btnEditMarker svg {
  width: 30px;
}

#mVi2FunctionParameterContent_gCameraBlob_btnEditMarker {
  padding: 10px 10px;
}

#mVi2FunctionParameterContent_gCameraBlob_tglBtnRepetitiv {
  top: 940px;
  position: absolute;
}

#mVi2FunctionParameterContent_gCameraBlob_tglBtnRepetitiv {
  left: 150px;
  position: absolute;
}

#mVi2FunctionParameterContent_gCameraBlob_tglBtnRepetitiv {
  width: 102px;
}

#mVi2FunctionParameterContent_gCameraBlob_tglBtnRepetitiv {
  height: 55px;
}

#mVi2FunctionParameterContent_gCameraBlob_tglBtnRepetitiv {
  z-index: 380;
}

#mVi2FunctionParameterContent_gCameraBlob_tglBtnRepetitiv img {
  height: 30px;
}

#mVi2FunctionParameterContent_gCameraBlob_tglBtnRepetitiv svg {
  height: 30px;
}

#mVi2FunctionParameterContent_gCameraBlob_tglBtnRepetitiv img {
  width: 40px;
}

#mVi2FunctionParameterContent_gCameraBlob_tglBtnRepetitiv svg {
  width: 40px;
}

#mVi2FunctionParameterContent_gCameraBlob_tglBtnRepetitiv {
  padding: 0px 10px;
}

#mVi2FunctionParameterContent_gCameraBlob_tglBtnRepetitiv:not(.active):not(.checked) {
  box-shadow: none;
}

#mVi2FunctionParameterContent_gCameraBlob_tglBtnRepetitiv.disabled.active {
  box-shadow: none;
}

#mVi2FunctionParameterContent_gCameraBlob_tglBtnRepetitiv.disabled.checked {
  box-shadow: none;
}

#mVi2FunctionParameterContent_gCameraBlob_Rectangle5 {
  top: 917px;
  position: absolute;
}

#mVi2FunctionParameterContent_gCameraBlob_Rectangle5 {
  left: 37px;
  position: absolute;
}

#mVi2FunctionParameterContent_gCameraBlob_Rectangle5 {
  width: 515px;
}

#mVi2FunctionParameterContent_gCameraBlob_Rectangle5 {
  height: 17px;
}

#mVi2FunctionParameterContent_gCameraBlob_Rectangle5 {
  z-index: 368;
}

#mVi2FunctionParameterContent_gCameraBlob_Rectangle5 {
  border-width: 0px;
}

#mVi2FunctionParameterContent_gCameraBlob_Rectangle5 {
  background-color: silver;
}

#mVi2FunctionParameterContent_gCameraBlob_FlyOutLogger.right {
  top: 0px;
  position: absolute;
}

#mVi2FunctionParameterContent_gCameraBlob_FlyOutLogger.left {
  top: 0px;
  position: absolute;
}

#mVi2FunctionParameterContent_gCameraBlob_FlyOutLogger.top {
  left: 0px;
  position: absolute;
}

#mVi2FunctionParameterContent_gCameraBlob_FlyOutLogger.bottom {
  left: 0px;
  position: absolute;
}

#mVi2FunctionParameterContent_gCameraBlob_FlyOutLogger_breaseFlyOutWrapper .breaseFlyOutWrapper > .container {
  width: 1920px;
}

#mVi2FunctionParameterContent_gCameraBlob_FlyOutLogger_breaseFlyOutWrapper .breaseFlyOutWrapper > .container {
  height: 250px;
}

#mVi2FunctionParameterContent_gCameraBlob_FlyOutLogger {
  z-index: 369;
}

#mVi2FunctionParameterContent_gCameraBlob_FlyOutLogger_breaseFlyOutWrapper .breaseFlyOutWrapper > .flyoutButton {
  height: 0px;
}

#mVi2FunctionParameterContent_gCameraBlob_FlyOutLogger {
  height: 0px;
}

#mVi2FunctionParameterContent_gCameraBlob_FlyOutLogger_breaseFlyOutWrapper .breaseFlyOutWrapper > .flyoutButton {
  width: 0px;
}

#mVi2FunctionParameterContent_gCameraBlob_FlyOutLogger {
  width: 0px;
}

#mVi2FunctionParameterContent_gCameraBlob_FlyOutLogger_breaseFlyOutWrapper .breaseFlyOutWrapper > .flyoutButton {
  border-width: 0px 0px 0px 0px;
}

#mVi2FunctionParameterContent_gCameraBlob_FlyOutLogger_breaseFlyOutWrapper :not(.disabled):not(.active):not(.checked).breaseFlyOutWrapper > .flyoutButton {
  background-color: rgba(255, 255, 255, 0);
}

#mVi2FunctionParameterContent_gCameraBlob_FlyOutLogger_breaseFlyOutWrapper .breaseFlyOutWrapper > .container {
  border-color: rgba(219, 219, 219, 0.8);
}

#mVi2FunctionParameterContent_gCameraBlob_FlyOutLogger_breaseFlyOutWrapper .breaseFlyOutWrapper > .container {
  border-width: 2px;
}

#mVi2FunctionParameterContent_gCameraBlob_FlyOutLogger_breaseFlyOutWrapper .breaseFlyOutWrapper > .container {
  background-color: rgba(219, 219, 219, 0.6);
}

#mVi2FunctionParameterContent_gCameraBlob_Table1 {
  top: 30px;
  position: absolute;
}

#mVi2FunctionParameterContent_gCameraBlob_Table1 {
  left: 30px;
  position: absolute;
}

#mVi2FunctionParameterContent_gCameraBlob_Table1 {
  width: 1854px;
}

#mVi2FunctionParameterContent_gCameraBlob_Table1 {
  height: 191px;
}

#mVi2FunctionParameterContent_gCameraBlob_Table1 {
  z-index: 0;
}

#mVi2FunctionParameterContent_gCameraBlob_Table1:not(.disabled) .verticalOrientation .tableCells tbody tr.selected td.selected.override:not(.disabled):not(.activeInput) {
  background-color: rgba(215, 213, 210, 0.6);
}

#mVi2FunctionParameterContent_gCameraBlob_Table1:not(.disabled) .verticalOrientation .tableCells tbody tr.selected td.selected:not(.override):not(.disabled):not(.activeInput) {
  background-color: rgba(215, 213, 210, 0.6);
}

#mVi2FunctionParameterContent_gCameraBlob_Table1:not(.disabled) .horizontalOrientation .tableCells tbody tr td:nth-child(odd).selected.override:not(.disabled):not(.activeInput) {
  background-color: rgba(215, 213, 210, 0.6);
}

#mVi2FunctionParameterContent_gCameraBlob_Table1:not(.disabled) .horizontalOrientation .tableCells tbody tr td:nth-child(even).selected.override:not(.disabled):not(.activeInput) {
  background-color: rgba(215, 213, 210, 0.6);
}

#mVi2FunctionParameterContent_gCameraBlob_Table1:not(.disabled) .horizontalOrientation .tableCells tbody tr.even td.selected:not(.override):not(.disabled):not(.activeInput) {
  background-color: rgba(215, 213, 210, 0.6);
}

#mVi2FunctionParameterContent_gCameraBlob_Table1:not(.disabled) .horizontalOrientation .tableCells tbody tr.odd td.selected:not(.override):not(.disabled):not(.activeInput) {
  background-color: rgba(215, 213, 210, 0.6);
}

#mVi2FunctionParameterContent_gCameraBlob_Table1 .tableCells tbody tr td:not(.override) {
  vertical-align: middle;
  text-align: left;
}

#mVi2FunctionParameterContent_gCameraBlob_Table1 .tableCells tbody tr td:not(.override) > img {
  margin-left: 0;
}

#mVi2FunctionParameterContent_gCameraBlob_Table1 .tableHeader > .headerElement:not(.override) {
  -webkit-justify-content: flex-start;
  -ms-flex-pack: flex-start;
  justify-content: flex-start;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
}

#mVi2FunctionParameterContent_gCameraBlob_Table1 .tableHeader > .headerElement:not(.override) > span {
  vertical-align: middle;
  text-align: left;
}

#mVi2FunctionParameterContent_gCameraBlob_Table1.breaseTable .horizontalOrientation .dataTables_scrollBody .tableCells tbody tr td:not(.override) {
  padding: 7px;
}

#mVi2FunctionParameterContent_gCameraBlob_Table1.breaseTable .verticalOrientation .dataTables_scrollBody .tableCells tbody tr td:not(.override) {
  padding: 7px;
}

#mVi2FunctionParameterContent_gCameraBlob_Table1.breaseTable .dataTables_scrollHead.verticalOrientation .tableHeader div:not(.override) {
  padding: 5px;
}

#mVi2FunctionParameterContent_gCameraBlob_Table1.breaseTable .dataTables_scrollHead.horizontalOrientation .tableHeader div:not(.override) {
  padding: 5px;
}

#mVi2FunctionParameterContent_gCameraBlob_Table1:not(.disabled) .tableHeader > .headerElement:not(.override):not(.disabled) {
  background-image: linear-gradient(to bottom,#F7F7F7 0%,#C6C6C6 100%);
}

#mVi2FunctionParameterContent_gCameraBlob_Table1:not(.disabled) > .container > .dataTables_wrapper > .dataTables_scrollHead > .tableHeader > .headerElement:not(.override):not(.disabled) > span {
  color: #646464;
}

#mVi2FunctionParameterContent_gCameraBlob_Table1:not(.disabled) .tableCells td:not(.selected):not(.override):not(.disabled):not([input=true]) {
  color: #646464;
}

#mVi2FunctionParameterContent_gCameraBlob_Table1 .tableHeader div:not(.override) {
  font-weight: bold;
}

#mVi2FunctionParameterContent_gCameraBlob_Table1 .tableCells tbody tr td:not(.override) {
  font-weight: bold;
}

#mVi2FunctionParameterContent_gCameraBlob_TableItemImageList1 {
  z-index: 0;
}

#mVi2FunctionParameterContent_gCameraBlob_TableItem1 {
  z-index: 1;
}

#mVi2FunctionParameterContent_gCameraBlob_TableItem2 {
  z-index: 2;
}

#mVi2FunctionParameterContent_gCameraBlob_TableItem2:not(.headerElement).override {
  vertical-align: middle;
  text-align: left;
}

#mVi2FunctionParameterContent_gCameraBlob_TableItem2:not(.headerElement) > img .override {
  margin-left: 0;
}

#mVi2FunctionParameterContent_gCameraBlob_TableItem2.headerElement.override {
  -webkit-justify-content: flex-start;
  -ms-flex-pack: flex-start;
  justify-content: flex-start;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
}

#mVi2FunctionParameterContent_gCameraBlob_TableItem2.headerElement.override > span {
  vertical-align: middle;
  text-align: left;
}

#mVi2FunctionParameterContent_gCameraBlob_TableItem3 {
  z-index: 3;
}

#mVi2FunctionParameterContent_gCameraBlob_TableItem3:not(.headerElement).override {
  vertical-align: middle;
  text-align: left;
}

#mVi2FunctionParameterContent_gCameraBlob_TableItem3:not(.headerElement) > img .override {
  margin-left: 0;
}

#mVi2FunctionParameterContent_gCameraBlob_TableItem3.headerElement.override {
  -webkit-justify-content: flex-start;
  -ms-flex-pack: flex-start;
  justify-content: flex-start;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
}

#mVi2FunctionParameterContent_gCameraBlob_TableItem3.headerElement.override > span {
  vertical-align: middle;
  text-align: left;
}

#mVi2FunctionParameterContent_gCameraBlob_ToggleSwitch1 {
  width: 100px;
}

#mVi2FunctionParameterContent_gCameraBlob_ToggleSwitch1 {
  height: 30px;
}

#mVi2FunctionParameterContent_gCameraBlob_ToggleSwitch1 {
  top: 31px;
  position: absolute;
}

#mVi2FunctionParameterContent_gCameraBlob_ToggleSwitch1 {
  left: 491px;
  position: absolute;
}

#mVi2FunctionParameterContent_gCameraBlob_ToggleSwitch1 {
  z-index: 371;
}

#mVi2FunctionParameterContent_gCameraBlob_tglBtnROItoSimulateAbutton {
  top: 940px;
  position: absolute;
}

#mVi2FunctionParameterContent_gCameraBlob_tglBtnROItoSimulateAbutton {
  left: 840px;
  position: absolute;
}

#mVi2FunctionParameterContent_gCameraBlob_tglBtnROItoSimulateAbutton {
  width: 102px;
}

#mVi2FunctionParameterContent_gCameraBlob_tglBtnROItoSimulateAbutton {
  height: 55px;
}

#mVi2FunctionParameterContent_gCameraBlob_tglBtnROItoSimulateAbutton {
  z-index: 378;
}

#mVi2FunctionParameterContent_gCameraBlob_tglBtnROItoSimulateAbutton img {
  height: 30px;
}

#mVi2FunctionParameterContent_gCameraBlob_tglBtnROItoSimulateAbutton svg {
  height: 30px;
}

#mVi2FunctionParameterContent_gCameraBlob_tglBtnROItoSimulateAbutton img {
  width: 40px;
}

#mVi2FunctionParameterContent_gCameraBlob_tglBtnROItoSimulateAbutton svg {
  width: 40px;
}

#mVi2FunctionParameterContent_gCameraBlob_tglBtnROItoSimulateAbutton {
  padding: 10px 10px 10px 10px;
}

#mVi2FunctionParameterContent_gCameraBlob_tglBtnROItoSimulateAbutton:not(.active):not(.checked) {
  box-shadow: none;
}

#mVi2FunctionParameterContent_gCameraBlob_tglBtnROItoSimulateAbutton.disabled.active {
  box-shadow: none;
}

#mVi2FunctionParameterContent_gCameraBlob_tglBtnROItoSimulateAbutton.disabled.checked {
  box-shadow: none;
}

#mVi2FunctionParameterContent_gCameraBlob_GroupBoxImageAcquisition {
  top: 23px;
  position: absolute;
}

#mVi2FunctionParameterContent_gCameraBlob_GroupBoxImageAcquisition {
  left: 988px;
  position: absolute;
}

#mVi2FunctionParameterContent_gCameraBlob_GroupBoxImageAcquisition {
  width: 900px;
}

#mVi2FunctionParameterContent_gCameraBlob_GroupBoxImageAcquisition {
  height: 985px;
}

#mVi2FunctionParameterContent_gCameraBlob_GroupBoxImageAcquisition {
  z-index: 373;
}

#mVi2FunctionParameterContent_gCameraBlob_GroupBoxImageAcquisition {
  border-width: 0px;
}

#mVi2FunctionParameterContent_gCameraBlob_GroupBoxImageAcquisition > .header {
  border-width: 0px;
}

#mVi2FunctionParameterContent_gCameraBlob_GroupBoxImageAcquisition {
  background-color: rgba(255, 255, 255, 0);
}

#mVi2FunctionParameterContent_gCameraBlob_TabControl1 {
  top: 0px;
  position: absolute;
}

#mVi2FunctionParameterContent_gCameraBlob_TabControl1 {
  left: 0px;
  position: absolute;
}

#mVi2FunctionParameterContent_gCameraBlob_TabControl1 {
  width: 895px;
}

#mVi2FunctionParameterContent_gCameraBlob_TabControl1 {
  height: 985px;
}

#mVi2FunctionParameterContent_gCameraBlob_TabControl1 {
  z-index: 0;
}

#mVi2FunctionParameterContent_gCameraBlob_TabItem3_breaseTabItemTab.tabItem {
  width: 450px;
}

#mVi2FunctionParameterContent_gCameraBlob_TabItem3_breaseTabItemTab.tabItem {
  height: 39px;
}

#mVi2FunctionParameterContent_gCameraBlob_TabItem3 {
  z-index: 0;
}

#mVi2FunctionParameterContent_gCameraBlob_TabItem3_breaseTabItemTab.tabItem:not(.active) {
  border-width: 0px 3px 0px 0px;
}

#mVi2FunctionParameterContent_gCameraBlob_GroupBoxImageAcquisitionSettings {
  top: 5px;
  position: absolute;
}

#mVi2FunctionParameterContent_gCameraBlob_GroupBoxImageAcquisitionSettings {
  left: 445px;
  position: absolute;
}

#mVi2FunctionParameterContent_gCameraBlob_GroupBoxImageAcquisitionSettings {
  width: 449px;
}

#mVi2FunctionParameterContent_gCameraBlob_GroupBoxImageAcquisitionSettings {
  height: 931px;
}

#mVi2FunctionParameterContent_gCameraBlob_GroupBoxImageAcquisitionSettings {
  z-index: 0;
}

#mVi2FunctionParameterContent_gCameraBlob_GroupBoxImageAcquisitionSettings {
  background-color: silver;
}

#mVi2FunctionParameterContent_gCameraBlob_GroupBoxImageAcquisitionSettings {
  border-color: silver;
}

#mVi2FunctionParameterContent_gCameraBlob_GroupBoxImageAcquisitionSettings > .header {
  border-color: silver;
}

#mVi2FunctionParameterContent_gCameraBlob_ImageAcquisitionSettings {
  top: -1px;
  position: absolute;
}

#mVi2FunctionParameterContent_gCameraBlob_ImageAcquisitionSettings {
  left: 0px;
  position: absolute;
}

#mVi2FunctionParameterContent_gCameraBlob_ImageAcquisitionSettings {
  width: 429px;
}

#mVi2FunctionParameterContent_gCameraBlob_ImageAcquisitionSettings {
  height: 887px;
}

#mVi2FunctionParameterContent_gCameraBlob_ImageAcquisitionSettings {
  z-index: 0;
}

#mVi2FunctionParameterContent_gCameraBlob_ImageAcquisitionSettings .ParamRowContainer > .smartPanelParameterLabel {
  width: 240px;
}

#mVi2FunctionParameterContent_gCameraBlob_ImageAcquisitionSettings .ParamRowContainer > .smartPanelParameterNumericInput {
  width: 187px;
}

#mVi2FunctionParameterContent_gCameraBlob_ImageAcquisitionSettings .ParamRowContainer > .smartPanelParameterTextInput {
  width: 187px;
}

#mVi2FunctionParameterContent_gCameraBlob_ImageAcquisitionSettings .ParamRowContainer > .smartPanelParameterFormTextOutput {
  width: 187px;
}

#mVi2FunctionParameterContent_gCameraBlob_ImageAcquisitionSettings .ParamRowContainer > .smartPanelParameterDropDownBox {
  width: 187px;
}

#mVi2FunctionParameterContent_gCameraBlob_ImageAcquisitionSettings .ParamRowContainer > .smartPanelParameterNumericInput {
  height: 35px;
}

#mVi2FunctionParameterContent_gCameraBlob_ImageAcquisitionSettings .ParamRowContainer > .smartPanelParameterTextInput {
  height: 35px;
}

#mVi2FunctionParameterContent_gCameraBlob_ImageAcquisitionSettings .ParamRowContainer > .smartPanelParameterDropDownBox {
  height: 35px;
}

#mVi2FunctionParameterContent_gCameraBlob_ImageAcquisitionSettings .ParamRowContainer > .smartPanelParameterFormTextOutput {
  height: 35px;
}

#mVi2FunctionParameterContent_gCameraBlob_ImageAcquisitionSettings .ParamRowContainer > .smartPanelParameterLabel {
  height: 35px;
}

#mVi2FunctionParameterContent_gCameraBlob_ImageAcquisitionSettings {
  border-width: 0px;
}

#mVi2FunctionParameterContent_gCameraBlob_GroupBoxLightAndFocusRefId {
  top: 5px;
  position: absolute;
}

#mVi2FunctionParameterContent_gCameraBlob_GroupBoxLightAndFocusRefId {
  left: 5px;
  position: absolute;
}

#mVi2FunctionParameterContent_gCameraBlob_GroupBoxLightAndFocusRefId {
  width: 448px;
}

#mVi2FunctionParameterContent_gCameraBlob_GroupBoxLightAndFocusRefId {
  height: 259px;
}

#mVi2FunctionParameterContent_gCameraBlob_GroupBoxLightAndFocusRefId {
  z-index: 1;
}

#mVi2FunctionParameterContent_gCameraBlob_GroupBoxLightAndFocusRefId {
  background-color: silver;
}

#mVi2FunctionParameterContent_gCameraBlob_GroupBoxLightAndFocusRefId {
  border-color: silver;
}

#mVi2FunctionParameterContent_gCameraBlob_GroupBoxLightAndFocusRefId > .header {
  border-color: silver;
}

#mVi2FunctionParameterContent_gCameraBlob_lightAndFocus {
  top: -1px;
  position: absolute;
}

#mVi2FunctionParameterContent_gCameraBlob_lightAndFocus {
  left: 0px;
  position: absolute;
}

#mVi2FunctionParameterContent_gCameraBlob_lightAndFocus {
  width: 429px;
}

#mVi2FunctionParameterContent_gCameraBlob_lightAndFocus {
  height: 210px;
}

#mVi2FunctionParameterContent_gCameraBlob_lightAndFocus {
  z-index: 0;
}

#mVi2FunctionParameterContent_gCameraBlob_lightAndFocus .ParamRowContainer > .smartPanelParameterLabel {
  width: 219px;
}

#mVi2FunctionParameterContent_gCameraBlob_lightAndFocus .ParamRowContainer > .smartPanelParameterNumericInput {
  width: 219px;
}

#mVi2FunctionParameterContent_gCameraBlob_lightAndFocus .ParamRowContainer > .smartPanelParameterTextInput {
  width: 219px;
}

#mVi2FunctionParameterContent_gCameraBlob_lightAndFocus .ParamRowContainer > .smartPanelParameterFormTextOutput {
  width: 219px;
}

#mVi2FunctionParameterContent_gCameraBlob_lightAndFocus .ParamRowContainer > .smartPanelParameterDropDownBox {
  width: 219px;
}

#mVi2FunctionParameterContent_gCameraBlob_lightAndFocus .ParamRowContainer > .smartPanelParameterNumericInput {
  height: 35px;
}

#mVi2FunctionParameterContent_gCameraBlob_lightAndFocus .ParamRowContainer > .smartPanelParameterTextInput {
  height: 35px;
}

#mVi2FunctionParameterContent_gCameraBlob_lightAndFocus .ParamRowContainer > .smartPanelParameterDropDownBox {
  height: 35px;
}

#mVi2FunctionParameterContent_gCameraBlob_lightAndFocus .ParamRowContainer > .smartPanelParameterFormTextOutput {
  height: 35px;
}

#mVi2FunctionParameterContent_gCameraBlob_lightAndFocus .ParamRowContainer > .smartPanelParameterLabel {
  height: 35px;
}

#mVi2FunctionParameterContent_gCameraBlob_lightAndFocus {
  border-width: 0px;
}

#mVi2FunctionParameterContent_gCameraBlob_lightAndFocus:not(.disabled) {
  border-color: rgba(255, 136, 0, 0.5);
}

#mVi2FunctionParameterContent_gCameraBlob_GroupBoxLineExtendedParameter {
  top: 263px;
  position: absolute;
}

#mVi2FunctionParameterContent_gCameraBlob_GroupBoxLineExtendedParameter {
  left: 5px;
  position: absolute;
}

#mVi2FunctionParameterContent_gCameraBlob_GroupBoxLineExtendedParameter {
  width: 448px;
}

#mVi2FunctionParameterContent_gCameraBlob_GroupBoxLineExtendedParameter {
  height: 677px;
}

#mVi2FunctionParameterContent_gCameraBlob_GroupBoxLineExtendedParameter {
  z-index: 2;
}

#mVi2FunctionParameterContent_gCameraBlob_GroupBoxLineExtendedParameter {
  background-color: silver;
}

#mVi2FunctionParameterContent_gCameraBlob_GroupBoxLineExtendedParameter {
  border-color: silver;
}

#mVi2FunctionParameterContent_gCameraBlob_GroupBoxLineExtendedParameter > .header {
  border-color: silver;
}

#mVi2FunctionParameterContent_gCameraBlob_extendedParameter {
  top: -1px;
  position: absolute;
}

#mVi2FunctionParameterContent_gCameraBlob_extendedParameter {
  left: 0px;
  position: absolute;
}

#mVi2FunctionParameterContent_gCameraBlob_extendedParameter {
  width: 429px;
}

#mVi2FunctionParameterContent_gCameraBlob_extendedParameter {
  height: 626px;
}

#mVi2FunctionParameterContent_gCameraBlob_extendedParameter {
  z-index: 0;
}

#mVi2FunctionParameterContent_gCameraBlob_extendedParameter .ParamRowContainer > .smartPanelParameterLabel {
  width: 219px;
}

#mVi2FunctionParameterContent_gCameraBlob_extendedParameter .ParamRowContainer > .smartPanelParameterNumericInput {
  width: 219px;
}

#mVi2FunctionParameterContent_gCameraBlob_extendedParameter .ParamRowContainer > .smartPanelParameterTextInput {
  width: 219px;
}

#mVi2FunctionParameterContent_gCameraBlob_extendedParameter .ParamRowContainer > .smartPanelParameterFormTextOutput {
  width: 219px;
}

#mVi2FunctionParameterContent_gCameraBlob_extendedParameter .ParamRowContainer > .smartPanelParameterDropDownBox {
  width: 219px;
}

#mVi2FunctionParameterContent_gCameraBlob_extendedParameter .ParamRowContainer > .smartPanelParameterNumericInput {
  height: 35px;
}

#mVi2FunctionParameterContent_gCameraBlob_extendedParameter .ParamRowContainer > .smartPanelParameterTextInput {
  height: 35px;
}

#mVi2FunctionParameterContent_gCameraBlob_extendedParameter .ParamRowContainer > .smartPanelParameterDropDownBox {
  height: 35px;
}

#mVi2FunctionParameterContent_gCameraBlob_extendedParameter .ParamRowContainer > .smartPanelParameterFormTextOutput {
  height: 35px;
}

#mVi2FunctionParameterContent_gCameraBlob_extendedParameter .ParamRowContainer > .smartPanelParameterLabel {
  height: 35px;
}

#mVi2FunctionParameterContent_gCameraBlob_extendedParameter {
  border-width: 0px;
}

#mVi2FunctionParameterContent_gCameraBlob_TabItem5_breaseTabItemTab.tabItem {
  width: 450px;
}

#mVi2FunctionParameterContent_gCameraBlob_TabItem5_breaseTabItemTab.tabItem {
  height: 39px;
}

#mVi2FunctionParameterContent_gCameraBlob_TabItem5 {
  z-index: 1;
}

#mVi2FunctionParameterContent_gCameraBlob_TabItem5_breaseTabItemTab.tabItem:not(.active) {
  border-width: 0px 0px 0px 0px;
}

#mVi2FunctionParameterContent_gCameraBlob_TextOutput1 {
  top: 384px;
  position: absolute;
}

#mVi2FunctionParameterContent_gCameraBlob_TextOutput1 {
  left: 226px;
  position: absolute;
}

#mVi2FunctionParameterContent_gCameraBlob_TextOutput1 {
  width: 454px;
}

#mVi2FunctionParameterContent_gCameraBlob_TextOutput1 {
  height: 114px;
}

#mVi2FunctionParameterContent_gCameraBlob_TextOutput1 {
  z-index: 1;
}

#mVi2FunctionParameterContent_gCameraBlob_TextOutput1 {
  font-weight: normal;
}

#mVi2FunctionParameterContent_gCameraBlob_Rectangle4 {
  top: 294px;
  position: absolute;
}

#mVi2FunctionParameterContent_gCameraBlob_Rectangle4 {
  left: 214px;
  position: absolute;
}

#mVi2FunctionParameterContent_gCameraBlob_Rectangle4 {
  width: 468px;
}

#mVi2FunctionParameterContent_gCameraBlob_Rectangle4 {
  height: 205px;
}

#mVi2FunctionParameterContent_gCameraBlob_Rectangle4 {
  z-index: 0;
}

#mVi2FunctionParameterContent_gCameraBlob_Rectangle4 {
  border-width: 3px;
}

#mVi2FunctionParameterContent_gCameraBlob_Rectangle4 {
  border-radius: 15px;
}

#mVi2FunctionParameterContent_gCameraBlob_Rectangle4 {
  border-color: rgba(192, 192, 192, 0.5);
}

#mVi2FunctionParameterContent_gCameraBlob_Rectangle4 {
  background-color: #f0f0f0;
}

#mVi2FunctionParameterContent_gCameraBlob_Rectangle4 {
  opacity: 0.8;
}

#mVi2FunctionParameterContent_gCameraBlob_Line1 {
  z-index: 2;
}

#mVi2FunctionParameterContent_gCameraBlob_Line1 line {
  stroke: rgba(192, 192, 192, 0.5);
}

#mVi2FunctionParameterContent_gCameraBlob_Line1 line {
  stroke-width: 3px;
}

#mVi2FunctionParameterContent_gCameraBlob_Label5 {
  top: 296px;
  position: absolute;
}

#mVi2FunctionParameterContent_gCameraBlob_Label5 {
  left: 301px;
  position: absolute;
}

#mVi2FunctionParameterContent_gCameraBlob_Label5 {
  width: 356px;
}

#mVi2FunctionParameterContent_gCameraBlob_Label5 {
  height: 84px;
}

#mVi2FunctionParameterContent_gCameraBlob_Label5 {
  z-index: 3;
}

#mVi2FunctionParameterContent_gCameraBlob_Label5 {
  font-size: 35px;
}

#mVi2FunctionParameterContent_gCameraBlob_Label5 {
  font-weight: bold;
}

#mVi2FunctionParameterContent_gCameraBlob_Image2 {
  top: 317px;
  position: absolute;
}

#mVi2FunctionParameterContent_gCameraBlob_Image2 {
  left: 237px;
  position: absolute;
}

#mVi2FunctionParameterContent_gCameraBlob_Image2 {
  width: 93px;
}

#mVi2FunctionParameterContent_gCameraBlob_Image2 {
  height: 46px;
}

#mVi2FunctionParameterContent_gCameraBlob_Image2 {
  z-index: 4;
}

#mVi2FunctionParameterContent_gCameraBlob_Image2 > .ImageView > svg {
  fill: gray;
}

#mVi2FunctionParameterContent_gCameraBlob_GroupBox1 {
  top: 0px;
  position: absolute;
}

#mVi2FunctionParameterContent_gCameraBlob_GroupBox1 {
  left: 0px;
  position: absolute;
}

#mVi2FunctionParameterContent_gCameraBlob_GroupBox1 {
  width: 893px;
}

#mVi2FunctionParameterContent_gCameraBlob_GroupBox1 {
  height: 948px;
}

#mVi2FunctionParameterContent_gCameraBlob_GroupBox1 {
  z-index: 5;
}

#mVi2FunctionParameterContent_gCameraBlob_GroupBox1 {
  background-color: silver;
}

#mVi2FunctionParameterContent_gCameraBlob_GroupBox1 > .header {
  background-color: rgba(255, 255, 255, 0);
}

#mVi2FunctionParameterContent_gCameraBlob_GroupBoxLineSensor {
  top: 5px;
  position: absolute;
}

#mVi2FunctionParameterContent_gCameraBlob_GroupBoxLineSensor {
  left: 5px;
  position: absolute;
}

#mVi2FunctionParameterContent_gCameraBlob_GroupBoxLineSensor {
  width: 448px;
}

#mVi2FunctionParameterContent_gCameraBlob_GroupBoxLineSensor {
  height: 259px;
}

#mVi2FunctionParameterContent_gCameraBlob_GroupBoxLineSensor {
  z-index: 0;
}

#mVi2FunctionParameterContent_gCameraBlob_GroupBoxLineSensor {
  background-color: silver;
}

#mVi2FunctionParameterContent_gCameraBlob_GroupBoxLineSensor {
  border-color: silver;
}

#mVi2FunctionParameterContent_gCameraBlob_GroupBoxLineSensor > .header {
  border-color: silver;
}

#mVi2FunctionParameterContent_gCameraBlob_LineSensorParameterForm {
  top: -1px;
  position: absolute;
}

#mVi2FunctionParameterContent_gCameraBlob_LineSensorParameterForm {
  left: 0px;
  position: absolute;
}

#mVi2FunctionParameterContent_gCameraBlob_LineSensorParameterForm {
  width: 429px;
}

#mVi2FunctionParameterContent_gCameraBlob_LineSensorParameterForm {
  height: 210px;
}

#mVi2FunctionParameterContent_gCameraBlob_LineSensorParameterForm {
  z-index: 0;
}

#mVi2FunctionParameterContent_gCameraBlob_LineSensorParameterForm .ParamRowContainer > .smartPanelParameterLabel {
  width: 219px;
}

#mVi2FunctionParameterContent_gCameraBlob_LineSensorParameterForm .ParamRowContainer > .smartPanelParameterNumericInput {
  width: 219px;
}

#mVi2FunctionParameterContent_gCameraBlob_LineSensorParameterForm .ParamRowContainer > .smartPanelParameterTextInput {
  width: 219px;
}

#mVi2FunctionParameterContent_gCameraBlob_LineSensorParameterForm .ParamRowContainer > .smartPanelParameterFormTextOutput {
  width: 219px;
}

#mVi2FunctionParameterContent_gCameraBlob_LineSensorParameterForm .ParamRowContainer > .smartPanelParameterDropDownBox {
  width: 219px;
}

#mVi2FunctionParameterContent_gCameraBlob_LineSensorParameterForm .ParamRowContainer > .smartPanelParameterNumericInput {
  height: 35px;
}

#mVi2FunctionParameterContent_gCameraBlob_LineSensorParameterForm .ParamRowContainer > .smartPanelParameterTextInput {
  height: 35px;
}

#mVi2FunctionParameterContent_gCameraBlob_LineSensorParameterForm .ParamRowContainer > .smartPanelParameterDropDownBox {
  height: 35px;
}

#mVi2FunctionParameterContent_gCameraBlob_LineSensorParameterForm .ParamRowContainer > .smartPanelParameterFormTextOutput {
  height: 35px;
}

#mVi2FunctionParameterContent_gCameraBlob_LineSensorParameterForm .ParamRowContainer > .smartPanelParameterLabel {
  height: 35px;
}

#mVi2FunctionParameterContent_gCameraBlob_LineSensorParameterForm {
  border-width: 0px;
}

#mVi2FunctionParameterContent_gCameraBlob_GroupBoxLineSensor1 {
  top: 5px;
  position: absolute;
}

#mVi2FunctionParameterContent_gCameraBlob_GroupBoxLineSensor1 {
  left: 445px;
  position: absolute;
}

#mVi2FunctionParameterContent_gCameraBlob_GroupBoxLineSensor1 {
  width: 448px;
}

#mVi2FunctionParameterContent_gCameraBlob_GroupBoxLineSensor1 {
  height: 258px;
}

#mVi2FunctionParameterContent_gCameraBlob_GroupBoxLineSensor1 {
  z-index: 1;
}

#mVi2FunctionParameterContent_gCameraBlob_GroupBoxLineSensor1 {
  background-color: silver;
}

#mVi2FunctionParameterContent_gCameraBlob_GroupBoxLineSensor1 {
  border-color: silver;
}

#mVi2FunctionParameterContent_gCameraBlob_GroupBoxLineSensor1 > .header {
  border-color: silver;
}

#mVi2FunctionParameterContent_gCameraBlob_visionNormaleImageParameters {
  top: -1px;
  position: absolute;
}

#mVi2FunctionParameterContent_gCameraBlob_visionNormaleImageParameters {
  left: 0px;
  position: absolute;
}

#mVi2FunctionParameterContent_gCameraBlob_visionNormaleImageParameters {
  width: 433px;
}

#mVi2FunctionParameterContent_gCameraBlob_visionNormaleImageParameters {
  height: 210px;
}

#mVi2FunctionParameterContent_gCameraBlob_visionNormaleImageParameters {
  z-index: 0;
}

#mVi2FunctionParameterContent_gCameraBlob_visionNormaleImageParameters .ParamRowContainer > .smartPanelParameterLabel {
  width: 219px;
}

#mVi2FunctionParameterContent_gCameraBlob_visionNormaleImageParameters .ParamRowContainer > .smartPanelParameterNumericInput {
  width: 219px;
}

#mVi2FunctionParameterContent_gCameraBlob_visionNormaleImageParameters .ParamRowContainer > .smartPanelParameterTextInput {
  width: 219px;
}

#mVi2FunctionParameterContent_gCameraBlob_visionNormaleImageParameters .ParamRowContainer > .smartPanelParameterFormTextOutput {
  width: 219px;
}

#mVi2FunctionParameterContent_gCameraBlob_visionNormaleImageParameters .ParamRowContainer > .smartPanelParameterDropDownBox {
  width: 219px;
}

#mVi2FunctionParameterContent_gCameraBlob_visionNormaleImageParameters .ParamRowContainer > .smartPanelParameterNumericInput {
  height: 35px;
}

#mVi2FunctionParameterContent_gCameraBlob_visionNormaleImageParameters .ParamRowContainer > .smartPanelParameterTextInput {
  height: 35px;
}

#mVi2FunctionParameterContent_gCameraBlob_visionNormaleImageParameters .ParamRowContainer > .smartPanelParameterDropDownBox {
  height: 35px;
}

#mVi2FunctionParameterContent_gCameraBlob_visionNormaleImageParameters .ParamRowContainer > .smartPanelParameterFormTextOutput {
  height: 35px;
}

#mVi2FunctionParameterContent_gCameraBlob_visionNormaleImageParameters .ParamRowContainer > .smartPanelParameterLabel {
  height: 35px;
}

#mVi2FunctionParameterContent_gCameraBlob_visionNormaleImageParameters {
  border-width: 0px;
}

#mVi2FunctionParameterContent_gCameraBlob_GroupBoxLineSensor2 {
  top: 263px;
  position: absolute;
}

#mVi2FunctionParameterContent_gCameraBlob_GroupBoxLineSensor2 {
  left: 5px;
  position: absolute;
}

#mVi2FunctionParameterContent_gCameraBlob_GroupBoxLineSensor2 {
  width: 889px;
}

#mVi2FunctionParameterContent_gCameraBlob_GroupBoxLineSensor2 {
  height: 672px;
}

#mVi2FunctionParameterContent_gCameraBlob_GroupBoxLineSensor2 {
  z-index: 2;
}

#mVi2FunctionParameterContent_gCameraBlob_GroupBoxLineSensor2 {
  background-color: #f1f1f1;
}

#mVi2FunctionParameterContent_gCameraBlob_GroupBoxLineSensor2 {
  border-color: silver;
}

#mVi2FunctionParameterContent_gCameraBlob_GroupBoxLineSensor2 > .header {
  border-color: silver;
}

#mVi2FunctionParameterContent_gCameraBlob_Image1 {
  top: 30px;
  position: absolute;
}

#mVi2FunctionParameterContent_gCameraBlob_Image1 {
  left: 10px;
  position: absolute;
}

#mVi2FunctionParameterContent_gCameraBlob_Image1 {
  width: 900px;
}

#mVi2FunctionParameterContent_gCameraBlob_Image1 {
  height: 530px;
}

#mVi2FunctionParameterContent_gCameraBlob_Image1 {
  z-index: 0;
}

#mVi2FunctionParameterContent_gCameraBlob_Image1 {
  border-width: 0px;
}

#mVi2FunctionParameterContent_gCameraBlob_TabControl2 {
  top: 23px;
  position: absolute;
}

#mVi2FunctionParameterContent_gCameraBlob_TabControl2 {
  left: 988px;
  position: absolute;
}

#mVi2FunctionParameterContent_gCameraBlob_TabControl2 {
  width: 894px;
}

#mVi2FunctionParameterContent_gCameraBlob_TabControl2 {
  height: 40px;
}

#mVi2FunctionParameterContent_gCameraBlob_TabControl2 {
  z-index: 372;
}

#mVi2FunctionParameterContent_gCameraBlob_TabControl2 > .tabItemContainer {
  border-width: 0px 0px 0px 0px;
}

#mVi2FunctionParameterContent_gCameraBlob_TabItem4_breaseTabItemTab.tabItem {
  width: 895px;
}

#mVi2FunctionParameterContent_gCameraBlob_TabItem4_breaseTabItemTab.tabItem {
  height: 39px;
}

#mVi2FunctionParameterContent_gCameraBlob_TabItem4 {
  z-index: 0;
}

#mVi2FunctionParameterContent_gCameraBlob_NumericFilter {
  width: 100px;
}

#mVi2FunctionParameterContent_gCameraBlob_NumericFilter {
  height: 30px;
}

#mVi2FunctionParameterContent_gCameraBlob_NumericFilter {
  top: 20px;
  position: absolute;
}

#mVi2FunctionParameterContent_gCameraBlob_NumericFilter {
  left: 800px;
  position: absolute;
}

#mVi2FunctionParameterContent_gCameraBlob_NumericFilter {
  z-index: 374;
}

#mVi2FunctionParameterContent_gCameraBlob_textOuputColor {
  top: 913px;
  position: absolute;
}

#mVi2FunctionParameterContent_gCameraBlob_textOuputColor {
  left: 700px;
  position: absolute;
}

#mVi2FunctionParameterContent_gCameraBlob_textOuputColor {
  width: 41px;
}

#mVi2FunctionParameterContent_gCameraBlob_textOuputColor {
  height: 25px;
}

#mVi2FunctionParameterContent_gCameraBlob_textOuputColor {
  z-index: 375;
}

#mVi2FunctionParameterContent_gCameraBlob_textOuputColor {
  justify-content: flex-end;
  text-align: right;
  -ms-flex-align: center;
  align-items: center;
}

#mVi2FunctionParameterContent_gCameraBlob_textOuputColor span {
  padding: 0px 0px 0px 0px;
}

#mVi2FunctionParameterContent_gCameraBlob_textOuputX {
  top: 913px;
  position: absolute;
}

#mVi2FunctionParameterContent_gCameraBlob_textOuputX {
  left: 818px;
  position: absolute;
}

#mVi2FunctionParameterContent_gCameraBlob_textOuputX {
  width: 49px;
}

#mVi2FunctionParameterContent_gCameraBlob_textOuputX {
  height: 25px;
}

#mVi2FunctionParameterContent_gCameraBlob_textOuputX {
  z-index: 376;
}

#mVi2FunctionParameterContent_gCameraBlob_textOuputX {
  justify-content: flex-end;
  text-align: right;
  -ms-flex-align: center;
  align-items: center;
}

#mVi2FunctionParameterContent_gCameraBlob_textOuputX span {
  padding: 0px 0px 0px 0px;
}

#mVi2FunctionParameterContent_gCameraBlob_textOuputY {
  top: 913px;
  position: absolute;
}

#mVi2FunctionParameterContent_gCameraBlob_textOuputY {
  left: 861px;
  position: absolute;
}

#mVi2FunctionParameterContent_gCameraBlob_textOuputY {
  width: 49px;
}

#mVi2FunctionParameterContent_gCameraBlob_textOuputY {
  height: 25px;
}

#mVi2FunctionParameterContent_gCameraBlob_textOuputY {
  z-index: 377;
}

#mVi2FunctionParameterContent_gCameraBlob_textOuputY {
  justify-content: flex-end;
  text-align: right;
  -ms-flex-align: center;
  align-items: center;
}

#mVi2FunctionParameterContent_gCameraBlob_textOuputY span {
  padding: 0px 0px 0px 0px;
}

#mVi2FunctionParameterContent_gCameraBlob_ImageAcquisition {
  top: 23px;
  position: absolute;
}

#mVi2FunctionParameterContent_gCameraBlob_ImageAcquisition {
  left: 32px;
  position: absolute;
}

#mVi2FunctionParameterContent_gCameraBlob_ImageAcquisition {
  width: 922px;
}

#mVi2FunctionParameterContent_gCameraBlob_ImageAcquisition {
  height: 162px;
}

#mVi2FunctionParameterContent_gCameraBlob_ImageAcquisition {
  z-index: 370;
}

#mVi2FunctionParameterContent_gCameraBlob_TabItem6_breaseTabItemTab.tabItem {
  width: 922px;
}

#mVi2FunctionParameterContent_gCameraBlob_TabItem6_breaseTabItemTab.tabItem {
  height: 39px;
}

#mVi2FunctionParameterContent_gCameraBlob_TabItem6 {
  z-index: 0;
}

#mVi2FunctionParameterContent_gCameraBlob_TabItem6_breaseTabItemTab > img {
  height: 35px;
}

#mVi2FunctionParameterContent_gCameraBlob_TabItem6_breaseTabItemTab > svg {
  height: 35px;
}

#mVi2FunctionParameterContent_gCameraBlob_TabItem6_breaseTabItemTab > img {
  width: 35px;
}

#mVi2FunctionParameterContent_gCameraBlob_TabItem6_breaseTabItemTab > svg {
  width: 35px;
}

#mVi2FunctionParameterContent_gCameraBlob_TabItem6_breaseTabItemTab.tabItem:not(.active) {
  border-width: 0px 0px 0px 0px;
}

#mVi2FunctionParameterContent_gCameraBlob_TabItem6_breaseTabItemTab.tabItem.active {
  border-radius: 10px 10px 0px 0px;
}

#mVi2FunctionParameterContent_gCameraBlob_tglBtnLineSensorNormalImage {
  top: 12px;
  position: absolute;
}

#mVi2FunctionParameterContent_gCameraBlob_tglBtnLineSensorNormalImage {
  left: 10px;
  position: absolute;
}

#mVi2FunctionParameterContent_gCameraBlob_tglBtnLineSensorNormalImage {
  width: 102px;
}

#mVi2FunctionParameterContent_gCameraBlob_tglBtnLineSensorNormalImage {
  height: 55px;
}

#mVi2FunctionParameterContent_gCameraBlob_tglBtnLineSensorNormalImage {
  z-index: 0;
}

#mVi2FunctionParameterContent_gCameraBlob_tglBtnLineSensorNormalImage img {
  height: 30px;
}

#mVi2FunctionParameterContent_gCameraBlob_tglBtnLineSensorNormalImage svg {
  height: 30px;
}

#mVi2FunctionParameterContent_gCameraBlob_tglBtnLineSensorNormalImage img {
  width: 40px;
}

#mVi2FunctionParameterContent_gCameraBlob_tglBtnLineSensorNormalImage svg {
  width: 40px;
}

#mVi2FunctionParameterContent_gCameraBlob_tglBtnLineSensorNormalImage {
  padding: 5px;
}

#mVi2FunctionParameterContent_gCameraBlob_TextOutputInfoText {
  top: 0px;
  position: absolute;
}

#mVi2FunctionParameterContent_gCameraBlob_TextOutputInfoText {
  left: 0px;
  position: absolute;
}

#mVi2FunctionParameterContent_gCameraBlob_TextOutputInfoText {
  width: 1920px;
}

#mVi2FunctionParameterContent_gCameraBlob_TextOutputInfoText {
  height: 1030px;
}

#mVi2FunctionParameterContent_gCameraBlob_TextOutputInfoText {
  z-index: 382;
}

#mVi2FunctionParameterContent_gCameraBlob_TextOutputInfoText {
  background-color: rgba(169, 169, 169, 0.6);
}

#mVi2FunctionParameterContent_gCameraBlob_TextOutputInfoText span {
  color: white;
}

#mVi2FunctionParameterContent_gCameraBlob_TextOutputInfoText {
  justify-content: center;
  text-align: center;
  -ms-flex-align: center;
  align-items: center;
}

#mVi2FunctionParameterContent_gCameraBlob_TextOutputInfoText {
  font-size: 36px;
}

#mVi2FunctionParameterContent_gCameraBlob_TextOutputInfoText {
  font-weight: bold;
}

#mVi2FunctionParameterContent_gCameraBlob_tglBtnROI {
  top: 940px;
  position: absolute;
}

#mVi2FunctionParameterContent_gCameraBlob_tglBtnROI {
  left: 840px;
  position: absolute;
}

#mVi2FunctionParameterContent_gCameraBlob_tglBtnROI {
  width: 102px;
}

#mVi2FunctionParameterContent_gCameraBlob_tglBtnROI {
  height: 55px;
}

#mVi2FunctionParameterContent_gCameraBlob_tglBtnROI {
  z-index: 379;
}

#mVi2FunctionParameterContent_gCameraBlob_tglBtnROI img {
  height: 30px;
}

#mVi2FunctionParameterContent_gCameraBlob_tglBtnROI svg {
  height: 30px;
}

#mVi2FunctionParameterContent_gCameraBlob_tglBtnROI img {
  width: 40px;
}

#mVi2FunctionParameterContent_gCameraBlob_tglBtnROI svg {
  width: 40px;
}

#mVi2FunctionParameterContent_gCameraBlob_tglBtnROI {
  padding: 10px 10px 10px 10px;
}

#mVi2FunctionParameterContent_gCameraBlob_Rectangle3 {
  top: 937px;
  position: absolute;
}

#mVi2FunctionParameterContent_gCameraBlob_Rectangle3 {
  left: 836px;
  position: absolute;
}

#mVi2FunctionParameterContent_gCameraBlob_Rectangle3 {
  width: 115px;
}

#mVi2FunctionParameterContent_gCameraBlob_Rectangle3 {
  height: 65px;
}

#mVi2FunctionParameterContent_gCameraBlob_Rectangle3 {
  z-index: 381;
}

#mVi2FunctionParameterContent_gCameraBlob_Rectangle3 {
  border-width: 0px;
}

#mVi2FunctionParameterContent_gCameraBlob_Rectangle3 {
  background-color: silver;
}
