#contentMain_imgDisconnected {
  top: 350px;
  position: absolute;
}

#contentMain_imgDisconnected {
  left: 450px;
  position: absolute;
}

#contentMain_imgDisconnected {
  width: 440px;
}

#contentMain_imgDisconnected {
  height: 300px;
}

#contentMain_imgDisconnected {
  z-index: 0;
}

#contentMain_imgDisconnected {
  background-color: rgba(255, 255, 255, 0);
}

#contentMain_WebViewerVisionMain {
  top: 0px;
  position: absolute;
}

#contentMain_WebViewerVisionMain {
  left: 0px;
  position: absolute;
}

#contentMain_WebViewerVisionMain {
  width: 1280px;
}

#contentMain_WebViewerVisionMain {
  height: 1024px;
}

#contentMain_WebViewerVisionMain {
  z-index: 3;
}

#contentMain_WebViewerVisionMain iframe {
  background-color: rgba(255, 255, 255, 0);
}

#contentMain_WebViewerVisionMain div.editorImage {
  background-color: rgba(255, 255, 255, 0);
}

#contentMain_WebViewerVisionMain iframe {
  border-style: none;
}

#contentMain_WebViewerVisionMain div.editorImage {
  border-style: none;
}

#contentMain_WebViewerVisionMain iframe {
  border-width: 0px 0px 0px 0px;
}

#contentMain_WebViewerVisionMain div.editorImage {
  border-width: 0px 0px 0px 0px;
}

#contentMain_paperMain1 {
  top: -30px;
  position: absolute;
}

#contentMain_paperMain1 {
  left: 0px;
  position: absolute;
}

#contentMain_paperMain1 {
  width: 1300px;
}

#contentMain_paperMain1 {
  height: 1024px;
}

#contentMain_paperMain1 {
  z-index: 11;
}

#contentMain_paperMain1 {
  border-style: none;
}

#contentMain_paperMain2 {
  top: -30px;
  position: absolute;
}

#contentMain_paperMain2 {
  left: 0px;
  position: absolute;
}

#contentMain_paperMain2 {
  width: 1300px;
}

#contentMain_paperMain2 {
  height: 1024px;
}

#contentMain_paperMain2 {
  z-index: 12;
}

#contentMain_paperMain2 {
  border-style: none;
}

#contentMain_paperMain3 {
  top: -30px;
  position: absolute;
}

#contentMain_paperMain3 {
  left: 0px;
  position: absolute;
}

#contentMain_paperMain3 {
  width: 1300px;
}

#contentMain_paperMain3 {
  height: 1024px;
}

#contentMain_paperMain3 {
  z-index: 13;
}

#contentMain_paperMain3 {
  border-style: none;
}

#contentMain_paperMain4 {
  top: -30px;
  position: absolute;
}

#contentMain_paperMain4 {
  left: 0px;
  position: absolute;
}

#contentMain_paperMain4 {
  width: 1300px;
}

#contentMain_paperMain4 {
  height: 1024px;
}

#contentMain_paperMain4 {
  z-index: 14;
}

#contentMain_paperMain4 {
  border-style: none;
}

#contentMain_paperMain5 {
  top: -30px;
  position: absolute;
}

#contentMain_paperMain5 {
  left: 0px;
  position: absolute;
}

#contentMain_paperMain5 {
  width: 1300px;
}

#contentMain_paperMain5 {
  height: 1024px;
}

#contentMain_paperMain5 {
  z-index: 15;
}

#contentMain_paperMain5 {
  border-style: none;
}

#contentMain_paperMain6 {
  top: -30px;
  position: absolute;
}

#contentMain_paperMain6 {
  left: 0px;
  position: absolute;
}

#contentMain_paperMain6 {
  width: 1300px;
}

#contentMain_paperMain6 {
  height: 1024px;
}

#contentMain_paperMain6 {
  z-index: 16;
}

#contentMain_paperMain6 {
  border-style: none;
}

#contentMain_paperMain7 {
  top: -30px;
  position: absolute;
}

#contentMain_paperMain7 {
  left: 0px;
  position: absolute;
}

#contentMain_paperMain7 {
  width: 1300px;
}

#contentMain_paperMain7 {
  height: 1024px;
}

#contentMain_paperMain7 {
  z-index: 17;
}

#contentMain_paperMain7 {
  border-style: none;
}

#contentMain_paperMain8 {
  top: -30px;
  position: absolute;
}

#contentMain_paperMain8 {
  left: 0px;
  position: absolute;
}

#contentMain_paperMain8 {
  width: 1300px;
}

#contentMain_paperMain8 {
  height: 1024px;
}

#contentMain_paperMain8 {
  z-index: 18;
}

#contentMain_paperMain8 {
  border-style: none;
}

#contentMain_paperMain9 {
  top: -30px;
  position: absolute;
}

#contentMain_paperMain9 {
  left: 0px;
  position: absolute;
}

#contentMain_paperMain9 {
  width: 1300px;
}

#contentMain_paperMain9 {
  height: 1024px;
}

#contentMain_paperMain9 {
  z-index: 19;
}

#contentMain_paperMain9 {
  border-style: none;
}

#contentMain_paperMain10 {
  top: -30px;
  position: absolute;
}

#contentMain_paperMain10 {
  left: 0px;
  position: absolute;
}

#contentMain_paperMain10 {
  width: 1300px;
}

#contentMain_paperMain10 {
  height: 1024px;
}

#contentMain_paperMain10 {
  z-index: 20;
}

#contentMain_paperMain10 {
  border-style: none;
}

#contentMain_btnChrosshairEnable {
  top: 127px;
  position: absolute;
}

#contentMain_btnChrosshairEnable {
  left: 2136px;
  position: absolute;
}

#contentMain_btnChrosshairEnable {
  width: 280px;
}

#contentMain_btnChrosshairEnable {
  height: 100px;
}

#contentMain_btnChrosshairEnable {
  z-index: 30;
}

#contentMain_btnChrosshairEnable span {
  font-size: 32px;
}

#contentMain_btnChrosshairEnable span {
  font-weight: bold;
}

#contentMain_btnRepetitiveMode {
  top: 12px;
  position: absolute;
}

#contentMain_btnRepetitiveMode {
  left: 2136px;
  position: absolute;
}

#contentMain_btnRepetitiveMode {
  width: 280px;
}

#contentMain_btnRepetitiveMode {
  height: 100px;
}

#contentMain_btnRepetitiveMode {
  z-index: 31;
}

#contentMain_btnRepetitiveMode span {
  font-size: 32px;
}

#contentMain_btnRepetitiveMode span {
  font-weight: bold;
}

#contentMain_labCameraNo {
  height: 30px;
}

#contentMain_labCameraNo {
  top: 337px;
  position: absolute;
}

#contentMain_labCameraNo {
  left: 2142px;
  position: absolute;
}

#contentMain_labCameraNo {
  width: 270px;
}

#contentMain_labCameraNo {
  z-index: 32;
}

#contentMain_labCameraNo {
  justify-content: center;
  text-align: center;
  -ms-flex-align: center;
  align-items: center;
}

#contentMain_labCameraNo {
  font-size: 32px;
}

#contentMain_labCameraNo {
  font-weight: normal;
}

#contentMain_numDetailsNo {
  top: 247px;
  position: absolute;
}

#contentMain_numDetailsNo {
  left: 2232px;
  position: absolute;
}

#contentMain_numDetailsNo {
  width: 80px;
}

#contentMain_numDetailsNo {
  height: 80px;
}

#contentMain_numDetailsNo {
  z-index: 33;
}

#contentMain_numDetailsNo input {
  justify-content: center;
  text-align: center;
}

#contentMain_numDetailsNo input {
  font-size: 50px;
}

#contentMain_numDetailsNo {
  padding: 0px 0px 0px 0px;
}

#contentMain_numDetailsNoDown {
  top: 247px;
  position: absolute;
}

#contentMain_numDetailsNoDown {
  left: 2142px;
  position: absolute;
}

#contentMain_numDetailsNoDown {
  width: 80px;
}

#contentMain_numDetailsNoDown {
  height: 80px;
}

#contentMain_numDetailsNoDown {
  z-index: 34;
}

#contentMain_numDetailsNoDown {
  border-width: 0px;
}

#contentMain_numDetailsNoUp {
  top: 247px;
  position: absolute;
}

#contentMain_numDetailsNoUp {
  left: 2328px;
  position: absolute;
}

#contentMain_numDetailsNoUp {
  width: 80px;
}

#contentMain_numDetailsNoUp {
  height: 80px;
}

#contentMain_numDetailsNoUp {
  z-index: 35;
}

#contentMain_numDetailsNoUp {
  border-width: 0px;
}

#contentMain_DropDownBoxImgRotation {
  top: 402px;
  position: absolute;
}

#contentMain_DropDownBoxImgRotation {
  left: 2142px;
  position: absolute;
}

#contentMain_DropDownBoxImgRotation.DropDownBoxView {
  width: 280px;
}

#contentMain_DropDownBoxImgRotation.DropDownBoxView {
  height: 100px;
}

#contentMain_DropDownBoxImgRotation {
  z-index: 36;
}

#contentMain_DropDownBoxImgRotation > .ItemView {
  padding: 0px 10px;
}

#contentMain_DropDownBoxImgRotation .TextView {
  justify-content: center;
  text-align: center;
}

#contentMain_DropDownBoxImgRotation_listBoxWrapper .TextView {
  justify-content: center;
  text-align: center;
}

#contentMain_DropDownBoxImgRotation .TextView {
  font-size: 32px;
}

#contentMain_DropDownBoxImgRotation_listBoxWrapper .TextView {
  font-size: 32px;
}

#contentMain_RectangleFront {
  top: -30px;
  position: absolute;
}

#contentMain_RectangleFront {
  left: 0px;
  position: absolute;
}

#contentMain_RectangleFront {
  width: 1300px;
}

#contentMain_RectangleFront {
  height: 1024px;
}

#contentMain_RectangleFront {
  z-index: 37;
}

#contentMain_RectangleFront {
  border-style: none;
}

#contentMain_labFoV_Y {
  top: 240px;
  position: absolute;
}

#contentMain_labFoV_Y {
  left: 1326px;
  position: absolute;
}

#contentMain_labFoV_Y {
  width: 280px;
}

#contentMain_labFoV_Y {
  height: 100px;
}

#contentMain_labFoV_Y {
  z-index: 38;
}

#contentMain_labFoV_Y {
  border-width: 3px;
}

#contentMain_labFoV_Y {
  border-radius: 10px;
}

#contentMain_labFoV_Y {
  border-color: #555555;
}

#contentMain_labFoV_Y:before {
  border-color: #555555;
}

#contentMain_labFoV_Y:after {
  border-color: #555555;
}

#contentMain_labFoV_Y {
  border-style: solid;
}

#contentMain_labFoV_Y:before {
  border-style: solid;
}

#contentMain_labFoV_Y:after {
  border-style: solid;
}

#contentMain_labFoV_Y span {
  color: blue;
}

#contentMain_labFoV_Y {
  justify-content: center;
  text-align: center;
  -ms-flex-align: center;
  align-items: center;
}

#contentMain_labFoV_Y {
  font-size: 40px;
}

#contentMain_labFoV_Y {
  font-weight: bold;
}

#contentMain_MeasurePuck {
  top: 342px;
  position: absolute;
}

#contentMain_MeasurePuck {
  left: 1326px;
  position: absolute;
}

#contentMain_MeasurePuck {
  width: 280px;
}

#contentMain_MeasurePuck {
  height: 100px;
}

#contentMain_MeasurePuck {
  z-index: 39;
}

#contentMain_MeasurePuck {
  border-width: 3px;
}

#contentMain_MeasurePuck {
  border-radius: 10px;
}

#contentMain_MeasurePuck input {
  font-size: 50px;
}

#contentMain_MeasurePuck .breaseNumericOutput_unit {
  font-size: 30px;
}

#contentMain_MeasurePuck {
  padding: 0px 5px 0px 5px;
}

#contentMain_labFoV_Y1 {
  top: 570px;
  position: absolute;
}

#contentMain_labFoV_Y1 {
  left: 1326px;
  position: absolute;
}

#contentMain_labFoV_Y1 {
  width: 280px;
}

#contentMain_labFoV_Y1 {
  height: 100px;
}

#contentMain_labFoV_Y1 {
  z-index: 40;
}

#contentMain_labFoV_Y1 {
  border-width: 3px;
}

#contentMain_labFoV_Y1 {
  border-radius: 10px;
}

#contentMain_labFoV_Y1 {
  border-color: #555555;
}

#contentMain_labFoV_Y1:before {
  border-color: #555555;
}

#contentMain_labFoV_Y1:after {
  border-color: #555555;
}

#contentMain_labFoV_Y1 {
  border-style: solid;
}

#contentMain_labFoV_Y1:before {
  border-style: solid;
}

#contentMain_labFoV_Y1:after {
  border-style: solid;
}

#contentMain_labFoV_Y1 span {
  color: blue;
}

#contentMain_labFoV_Y1 {
  justify-content: center;
  text-align: center;
  -ms-flex-align: center;
  align-items: center;
}

#contentMain_labFoV_Y1 {
  font-size: 40px;
}

#contentMain_labFoV_Y1 {
  font-weight: bold;
}

#contentMain_MeasureLabel {
  top: 672px;
  position: absolute;
}

#contentMain_MeasureLabel {
  left: 1326px;
  position: absolute;
}

#contentMain_MeasureLabel {
  width: 280px;
}

#contentMain_MeasureLabel {
  height: 100px;
}

#contentMain_MeasureLabel {
  z-index: 41;
}

#contentMain_MeasureLabel {
  border-width: 3px;
}

#contentMain_MeasureLabel {
  border-radius: 10px;
}

#contentMain_MeasureLabel input {
  font-size: 50px;
}

#contentMain_MeasureLabel .breaseNumericOutput_unit {
  font-size: 30px;
}

#contentMain_MeasureLabel {
  padding: 0px 5px 0px 5px;
}

#contentMain_btnPPMTriggerMode {
  top: 12px;
  position: absolute;
}

#contentMain_btnPPMTriggerMode {
  left: 1326px;
  position: absolute;
}

#contentMain_btnPPMTriggerMode {
  width: 280px;
}

#contentMain_btnPPMTriggerMode {
  height: 100px;
}

#contentMain_btnPPMTriggerMode {
  z-index: 42;
}

#contentMain_btnPPMTriggerMode span {
  font-size: 32px;
}

#contentMain_btnPPMTriggerMode span {
  font-weight: bold;
}

#contentMain_PPM {
  top: 150px;
  position: absolute;
}

#contentMain_PPM {
  left: 1626px;
  position: absolute;
}

#contentMain_PPM {
  width: 100px;
}

#contentMain_PPM {
  height: 48px;
}

#contentMain_PPM {
  z-index: 43;
}

#contentMain_PPM {
  justify-content: flex-end;
  text-align: right;
  -ms-flex-align: center;
  align-items: center;
}

#contentMain_PPM {
  font-size: 40px;
}

#contentMain_PPM {
  font-weight: bold;
}

#contentMain_numPPM {
  top: 126px;
  position: absolute;
}

#contentMain_numPPM {
  left: 1326px;
  position: absolute;
}

#contentMain_numPPM {
  width: 280px;
}

#contentMain_numPPM {
  height: 100px;
}

#contentMain_numPPM {
  z-index: 44;
}

#contentMain_numPPM input {
  justify-content: center;
  text-align: center;
}

#contentMain_numPPM input {
  font-size: 50px;
}

#contentMain_numPPM {
  padding: 0px 5px 0px 5px;
}

#contentMain_TotalCount1 {
  top: 240px;
  position: absolute;
}

#contentMain_TotalCount1 {
  left: 1626px;
  position: absolute;
}

#contentMain_TotalCount1 {
  width: 280px;
}

#contentMain_TotalCount1 {
  height: 100px;
}

#contentMain_TotalCount1 {
  z-index: 45;
}

#contentMain_TotalCount1 {
  border-width: 3px;
}

#contentMain_TotalCount1 {
  border-radius: 10px;
}

#contentMain_TotalCount1 {
  border-color: #555555;
}

#contentMain_TotalCount1:before {
  border-color: #555555;
}

#contentMain_TotalCount1:after {
  border-color: #555555;
}

#contentMain_TotalCount1 {
  border-style: solid;
}

#contentMain_TotalCount1:before {
  border-style: solid;
}

#contentMain_TotalCount1:after {
  border-style: solid;
}

#contentMain_TotalCount1 span {
  color: #404040;
}

#contentMain_TotalCount1 {
  justify-content: center;
  text-align: center;
  -ms-flex-align: center;
  align-items: center;
}

#contentMain_TotalCount1 {
  font-size: 40px;
}

#contentMain_TotalCount1 {
  font-weight: bold;
}

#contentMain_TotalCount1Puck {
  top: 342px;
  position: absolute;
}

#contentMain_TotalCount1Puck {
  left: 1626px;
  position: absolute;
}

#contentMain_TotalCount1Puck {
  width: 280px;
}

#contentMain_TotalCount1Puck {
  height: 100px;
}

#contentMain_TotalCount1Puck {
  z-index: 46;
}

#contentMain_TotalCount1Puck {
  border-width: 3px;
}

#contentMain_TotalCount1Puck {
  border-radius: 10px;
}

#contentMain_TotalCount1Puck input {
  font-size: 50px;
}

#contentMain_TotalCount1Puck .breaseNumericOutput_unit {
  font-size: 30px;
}

#contentMain_TotalCount1Puck {
  padding: 0px 5px 0px 5px;
}

#contentMain_labFoV_Y3 {
  top: 570px;
  position: absolute;
}

#contentMain_labFoV_Y3 {
  left: 1626px;
  position: absolute;
}

#contentMain_labFoV_Y3 {
  width: 280px;
}

#contentMain_labFoV_Y3 {
  height: 100px;
}

#contentMain_labFoV_Y3 {
  z-index: 47;
}

#contentMain_labFoV_Y3 {
  border-width: 3px;
}

#contentMain_labFoV_Y3 {
  border-radius: 10px;
}

#contentMain_labFoV_Y3 {
  border-color: #555555;
}

#contentMain_labFoV_Y3:before {
  border-color: #555555;
}

#contentMain_labFoV_Y3:after {
  border-color: #555555;
}

#contentMain_labFoV_Y3 {
  border-style: solid;
}

#contentMain_labFoV_Y3:before {
  border-style: solid;
}

#contentMain_labFoV_Y3:after {
  border-style: solid;
}

#contentMain_labFoV_Y3 span {
  color: #404040;
}

#contentMain_labFoV_Y3 {
  justify-content: center;
  text-align: center;
  -ms-flex-align: center;
  align-items: center;
}

#contentMain_labFoV_Y3 {
  font-size: 40px;
}

#contentMain_labFoV_Y3 {
  font-weight: bold;
}

#contentMain_TotalCountLabel {
  top: 672px;
  position: absolute;
}

#contentMain_TotalCountLabel {
  left: 1626px;
  position: absolute;
}

#contentMain_TotalCountLabel {
  width: 280px;
}

#contentMain_TotalCountLabel {
  height: 100px;
}

#contentMain_TotalCountLabel {
  z-index: 48;
}

#contentMain_TotalCountLabel {
  border-width: 3px;
}

#contentMain_TotalCountLabel {
  border-radius: 10px;
}

#contentMain_TotalCountLabel input {
  font-size: 50px;
}

#contentMain_TotalCountLabel .breaseNumericOutput_unit {
  font-size: 30px;
}

#contentMain_TotalCountLabel {
  padding: 0px 5px 0px 5px;
}

#contentMain_btnReferenceValSet {
  top: 456px;
  position: absolute;
}

#contentMain_btnReferenceValSet {
  left: 1326px;
  position: absolute;
}

#contentMain_btnReferenceValSet {
  width: 280px;
}

#contentMain_btnReferenceValSet {
  height: 100px;
}

#contentMain_btnReferenceValSet {
  z-index: 49;
}

#contentMain_btnReferenceValSet {
  border-radius: 8px;
}

#contentMain_btnReferenceValSet span {
  font-size: 32px;
}

#contentMain_btnReferenceValSet2 {
  top: 786px;
  position: absolute;
}

#contentMain_btnReferenceValSet2 {
  left: 1326px;
  position: absolute;
}

#contentMain_btnReferenceValSet2 {
  width: 280px;
}

#contentMain_btnReferenceValSet2 {
  height: 100px;
}

#contentMain_btnReferenceValSet2 {
  z-index: 50;
}

#contentMain_btnReferenceValSet2 {
  border-radius: 8px;
}

#contentMain_btnReferenceValSet2 span {
  font-size: 32px;
}

#contentMain_MeasurePuck1 {
  top: 456px;
  position: absolute;
}

#contentMain_MeasurePuck1 {
  left: 1626px;
  position: absolute;
}

#contentMain_MeasurePuck1 {
  width: 280px;
}

#contentMain_MeasurePuck1 {
  height: 100px;
}

#contentMain_MeasurePuck1 {
  z-index: 51;
}

#contentMain_MeasurePuck1 {
  border-width: 3px;
}

#contentMain_MeasurePuck1 {
  border-radius: 10px;
}

#contentMain_MeasurePuck1 input {
  color: green;
}

#contentMain_MeasurePuck1 span.breaseNumericOutput_unit {
  color: green;
}

#contentMain_MeasurePuck1 input {
  font-size: 50px;
}

#contentMain_MeasurePuck1 .breaseNumericOutput_unit {
  font-size: 30px;
}

#contentMain_MeasurePuck1 {
  padding: 0px 5px 0px 5px;
}

#contentMain_MeasurePuck2 {
  top: 786px;
  position: absolute;
}

#contentMain_MeasurePuck2 {
  left: 1626px;
  position: absolute;
}

#contentMain_MeasurePuck2 {
  width: 280px;
}

#contentMain_MeasurePuck2 {
  height: 100px;
}

#contentMain_MeasurePuck2 {
  z-index: 52;
}

#contentMain_MeasurePuck2 {
  border-width: 3px;
}

#contentMain_MeasurePuck2 {
  border-radius: 10px;
}

#contentMain_MeasurePuck2 input {
  color: green;
}

#contentMain_MeasurePuck2 span.breaseNumericOutput_unit {
  color: green;
}

#contentMain_MeasurePuck2 input {
  font-size: 50px;
}

#contentMain_MeasurePuck2 .breaseNumericOutput_unit {
  font-size: 30px;
}

#contentMain_MeasurePuck2 {
  padding: 0px 5px 0px 5px;
}

#contentMain_PPM1 {
  top: 924px;
  position: absolute;
}

#contentMain_PPM1 {
  left: 1326px;
  position: absolute;
}

#contentMain_PPM1 {
  width: 280px;
}

#contentMain_PPM1 {
  height: 100px;
}

#contentMain_PPM1 {
  z-index: 53;
}

#contentMain_PPM1 span {
  color: red;
}

#contentMain_PPM1 {
  justify-content: center;
  text-align: center;
  -ms-flex-align: center;
  align-items: center;
}

#contentMain_PPM1 {
  font-size: 30px;
}

#contentMain_PPM1 {
  font-weight: bold;
}

#contentMain_MeasurePuck3 {
  top: 924px;
  position: absolute;
}

#contentMain_MeasurePuck3 {
  left: 1626px;
  position: absolute;
}

#contentMain_MeasurePuck3 {
  width: 280px;
}

#contentMain_MeasurePuck3 {
  height: 100px;
}

#contentMain_MeasurePuck3 {
  z-index: 54;
}

#contentMain_MeasurePuck3 {
  border-width: 3px;
}

#contentMain_MeasurePuck3 {
  border-radius: 10px;
}

#contentMain_MeasurePuck3 input {
  color: red;
}

#contentMain_MeasurePuck3 span.breaseNumericOutput_unit {
  color: red;
}

#contentMain_MeasurePuck3 input {
  font-size: 50px;
}

#contentMain_MeasurePuck3 .breaseNumericOutput_unit {
  font-size: 30px;
}

#contentMain_MeasurePuck3 {
  padding: 0px 5px 0px 5px;
}

#contentMain_btnReferenceValSet3 {
  top: 924px;
  position: absolute;
}

#contentMain_btnReferenceValSet3 {
  left: 2130px;
  position: absolute;
}

#contentMain_btnReferenceValSet3 {
  width: 280px;
}

#contentMain_btnReferenceValSet3 {
  height: 100px;
}

#contentMain_btnReferenceValSet3 {
  z-index: 55;
}

#contentMain_btnReferenceValSet3 {
  border-radius: 8px;
}

#contentMain_btnReferenceValSet3 span {
  font-size: 32px;
}
