﻿@import "mixins.scss";
#contentMain_imgDisconnected {
	@include elemTop(350);
}
#contentMain_imgDisconnected {
	@include elemLeft(450);
}
#contentMain_imgDisconnected {
	@include elemAutoWidth(440);
}
#contentMain_imgDisconnected {
	@include elemAutoHeight(300);
}
#contentMain_imgDisconnected {
		z-index: 0;
}
#contentMain_imgDisconnected {
		background-color: rgba(255, 255, 255, 0);
}
#contentMain_WebViewerVisionMain {
	@include elemTop(0);
}
#contentMain_WebViewerVisionMain {
	@include elemLeft(0);
}
#contentMain_WebViewerVisionMain {
	@include elemWidth(1280);
}
#contentMain_WebViewerVisionMain {
	@include elemHeight(1024);
}
#contentMain_WebViewerVisionMain {
		z-index: 3;
}
#contentMain_WebViewerVisionMain {
	& iframe{
		background-color: rgba(255, 255, 255, 0);
	}
}
#contentMain_WebViewerVisionMain {
	& div.editorImage{
		background-color: rgba(255, 255, 255, 0);
	}
}
#contentMain_WebViewerVisionMain {
	& iframe{
		border-style: none;
	}
}
#contentMain_WebViewerVisionMain {
	& div.editorImage{
		border-style: none;
	}
}
#contentMain_WebViewerVisionMain {
	& iframe{
		border-width: 0px 0px 0px 0px;
	}
}
#contentMain_WebViewerVisionMain {
	& div.editorImage{
		border-width: 0px 0px 0px 0px;
	}
}
#contentMain_paperMain1 {
	@include elemTop(-30);
}
#contentMain_paperMain1 {
	@include elemLeft(0);
}
#contentMain_paperMain1 {
	@include elemWidth(1300);
}
#contentMain_paperMain1 {
	@include elemHeight(1024);
}
#contentMain_paperMain1 {
		z-index: 11;
}
#contentMain_paperMain1 {
		border-style: none;
}
#contentMain_paperMain2 {
	@include elemTop(-30);
}
#contentMain_paperMain2 {
	@include elemLeft(0);
}
#contentMain_paperMain2 {
	@include elemWidth(1300);
}
#contentMain_paperMain2 {
	@include elemHeight(1024);
}
#contentMain_paperMain2 {
		z-index: 12;
}
#contentMain_paperMain2 {
		border-style: none;
}
#contentMain_paperMain3 {
	@include elemTop(-30);
}
#contentMain_paperMain3 {
	@include elemLeft(0);
}
#contentMain_paperMain3 {
	@include elemWidth(1300);
}
#contentMain_paperMain3 {
	@include elemHeight(1024);
}
#contentMain_paperMain3 {
		z-index: 13;
}
#contentMain_paperMain3 {
		border-style: none;
}
#contentMain_paperMain4 {
	@include elemTop(-30);
}
#contentMain_paperMain4 {
	@include elemLeft(0);
}
#contentMain_paperMain4 {
	@include elemWidth(1300);
}
#contentMain_paperMain4 {
	@include elemHeight(1024);
}
#contentMain_paperMain4 {
		z-index: 14;
}
#contentMain_paperMain4 {
		border-style: none;
}
#contentMain_paperMain5 {
	@include elemTop(-30);
}
#contentMain_paperMain5 {
	@include elemLeft(0);
}
#contentMain_paperMain5 {
	@include elemWidth(1300);
}
#contentMain_paperMain5 {
	@include elemHeight(1024);
}
#contentMain_paperMain5 {
		z-index: 15;
}
#contentMain_paperMain5 {
		border-style: none;
}
#contentMain_paperMain6 {
	@include elemTop(-30);
}
#contentMain_paperMain6 {
	@include elemLeft(0);
}
#contentMain_paperMain6 {
	@include elemWidth(1300);
}
#contentMain_paperMain6 {
	@include elemHeight(1024);
}
#contentMain_paperMain6 {
		z-index: 16;
}
#contentMain_paperMain6 {
		border-style: none;
}
#contentMain_paperMain7 {
	@include elemTop(-30);
}
#contentMain_paperMain7 {
	@include elemLeft(0);
}
#contentMain_paperMain7 {
	@include elemWidth(1300);
}
#contentMain_paperMain7 {
	@include elemHeight(1024);
}
#contentMain_paperMain7 {
		z-index: 17;
}
#contentMain_paperMain7 {
		border-style: none;
}
#contentMain_paperMain8 {
	@include elemTop(-30);
}
#contentMain_paperMain8 {
	@include elemLeft(0);
}
#contentMain_paperMain8 {
	@include elemWidth(1300);
}
#contentMain_paperMain8 {
	@include elemHeight(1024);
}
#contentMain_paperMain8 {
		z-index: 18;
}
#contentMain_paperMain8 {
		border-style: none;
}
#contentMain_paperMain9 {
	@include elemTop(-30);
}
#contentMain_paperMain9 {
	@include elemLeft(0);
}
#contentMain_paperMain9 {
	@include elemWidth(1300);
}
#contentMain_paperMain9 {
	@include elemHeight(1024);
}
#contentMain_paperMain9 {
		z-index: 19;
}
#contentMain_paperMain9 {
		border-style: none;
}
#contentMain_paperMain10 {
	@include elemTop(-30);
}
#contentMain_paperMain10 {
	@include elemLeft(0);
}
#contentMain_paperMain10 {
	@include elemWidth(1300);
}
#contentMain_paperMain10 {
	@include elemHeight(1024);
}
#contentMain_paperMain10 {
		z-index: 20;
}
#contentMain_paperMain10 {
		border-style: none;
}
#contentMain_btnChrosshairEnable {
	@include elemTop(127);
}
#contentMain_btnChrosshairEnable {
	@include elemLeft(2136);
}
#contentMain_btnChrosshairEnable {
	@include elemAutoWidth(280);
}
#contentMain_btnChrosshairEnable {
	@include elemAutoHeight(100);
}
#contentMain_btnChrosshairEnable {
		z-index: 30;
}
#contentMain_btnChrosshairEnable {
	span{
		font-size: 32px;
	}
}
#contentMain_btnChrosshairEnable {
	span{
	@include font-weight-bold(true);
	}
}
#contentMain_btnRepetitiveMode {
	@include elemTop(12);
}
#contentMain_btnRepetitiveMode {
	@include elemLeft(2136);
}
#contentMain_btnRepetitiveMode {
	@include elemAutoWidth(280);
}
#contentMain_btnRepetitiveMode {
	@include elemAutoHeight(100);
}
#contentMain_btnRepetitiveMode {
		z-index: 31;
}
#contentMain_btnRepetitiveMode {
	span{
		font-size: 32px;
	}
}
#contentMain_btnRepetitiveMode {
	span{
	@include font-weight-bold(true);
	}
}
#contentMain_labCameraNo {
	@include elemAutoHeight(30);
}
#contentMain_labCameraNo {
	@include elemTop(337);
}
#contentMain_labCameraNo {
	@include elemLeft(2142);
}
#contentMain_labCameraNo {
	@include elemAutoWidth(270);
}
#contentMain_labCameraNo {
		z-index: 32;
}
#contentMain_labCameraNo {
	@include text-alignment-all('center');
}
#contentMain_labCameraNo {
		font-size: 32px;
}
#contentMain_labCameraNo {
	@include font-weight-bold(false);
}
#contentMain_numDetailsNo {
	@include elemTop(247);
}
#contentMain_numDetailsNo {
	@include elemLeft(2232);
}
#contentMain_numDetailsNo {
	@include elemWidth(80);
}
#contentMain_numDetailsNo {
	@include elemHeight(80);
}
#contentMain_numDetailsNo {
		z-index: 33;
}
#contentMain_numDetailsNo {
	input{
	@include text-alignment(center);
	}
}
#contentMain_numDetailsNo {
	input{
		font-size: 50px;
	}
}
#contentMain_numDetailsNo {
		padding: 0px 0px 0px 0px;
}
#contentMain_numDetailsNoDown {
	@include elemTop(247);
}
#contentMain_numDetailsNoDown {
	@include elemLeft(2142);
}
#contentMain_numDetailsNoDown {
	@include elemAutoWidth(80);
}
#contentMain_numDetailsNoDown {
	@include elemAutoHeight(80);
}
#contentMain_numDetailsNoDown {
		z-index: 34;
}
#contentMain_numDetailsNoDown {
		border-width: 0px;
}
#contentMain_numDetailsNoUp {
	@include elemTop(247);
}
#contentMain_numDetailsNoUp {
	@include elemLeft(2328);
}
#contentMain_numDetailsNoUp {
	@include elemAutoWidth(80);
}
#contentMain_numDetailsNoUp {
	@include elemAutoHeight(80);
}
#contentMain_numDetailsNoUp {
		z-index: 35;
}
#contentMain_numDetailsNoUp {
		border-width: 0px;
}
#contentMain_DropDownBoxImgRotation {
	@include elemTop(402);
}
#contentMain_DropDownBoxImgRotation {
	@include elemLeft(2142);
}
#contentMain_DropDownBoxImgRotation {
	&.DropDownBoxView{
	@include elemWidth(280);
	}
}
#contentMain_DropDownBoxImgRotation {
	&.DropDownBoxView{
	@include elemHeight(100);
	}
}
#contentMain_DropDownBoxImgRotation {
		z-index: 36;
}
#contentMain_DropDownBoxImgRotation {
	& > .ItemView{
		padding: 0px 10px;
	}
}
#contentMain_DropDownBoxImgRotation {
	& .TextView{
	@include text-alignment(center);
	}
}
#contentMain_DropDownBoxImgRotation_listBoxWrapper {
	& .TextView{
	@include text-alignment(center);
	}
}
#contentMain_DropDownBoxImgRotation {
	& .TextView{
		font-size: 32px;
	}
}
#contentMain_DropDownBoxImgRotation_listBoxWrapper {
	& .TextView{
		font-size: 32px;
	}
}
#contentMain_RectangleFront {
	@include elemTop(-30);
}
#contentMain_RectangleFront {
	@include elemLeft(0);
}
#contentMain_RectangleFront {
	@include elemWidth(1300);
}
#contentMain_RectangleFront {
	@include elemHeight(1024);
}
#contentMain_RectangleFront {
		z-index: 37;
}
#contentMain_RectangleFront {
		border-style: none;
}
#contentMain_labFoV_Y {
	@include elemTop(240);
}
#contentMain_labFoV_Y {
	@include elemLeft(1326);
}
#contentMain_labFoV_Y {
	@include elemAutoWidth(280);
}
#contentMain_labFoV_Y {
	@include elemAutoHeight(100);
}
#contentMain_labFoV_Y {
		z-index: 38;
}
#contentMain_labFoV_Y {
		border-width: 3px;
}
#contentMain_labFoV_Y {
	@include border-radius(10px);
}
#contentMain_labFoV_Y {
		border-color: rgba(85, 85, 85, 1);
}
#contentMain_labFoV_Y {
	&:before{
		border-color: rgba(85, 85, 85, 1);
	}
}
#contentMain_labFoV_Y {
	&:after{
		border-color: rgba(85, 85, 85, 1);
	}
}
#contentMain_labFoV_Y {
		border-style: solid;
}
#contentMain_labFoV_Y {
	&:before{
		border-style: solid;
	}
}
#contentMain_labFoV_Y {
	&:after{
		border-style: solid;
	}
}
#contentMain_labFoV_Y {
	& span{
		color: rgba(0, 0, 255, 1);
	}
}
#contentMain_labFoV_Y {
	@include text-alignment-all('center');
}
#contentMain_labFoV_Y {
		font-size: 40px;
}
#contentMain_labFoV_Y {
	@include font-weight-bold(true);
}
#contentMain_MeasurePuck {
	@include elemTop(342);
}
#contentMain_MeasurePuck {
	@include elemLeft(1326);
}
#contentMain_MeasurePuck {
	@include elemAutoWidth(280);
}
#contentMain_MeasurePuck {
	@include elemAutoHeight(100);
}
#contentMain_MeasurePuck {
		z-index: 39;
}
#contentMain_MeasurePuck {
		border-width: 3px;
}
#contentMain_MeasurePuck {
	@include border-radius(10px);
}
#contentMain_MeasurePuck {
	input{
		font-size: 50px;
	}
}
#contentMain_MeasurePuck {
	.breaseNumericOutput_unit{
		font-size: 30px;
	}
}
#contentMain_MeasurePuck {
		padding: 0px 5px 0px 5px;
}
#contentMain_labFoV_Y1 {
	@include elemTop(570);
}
#contentMain_labFoV_Y1 {
	@include elemLeft(1326);
}
#contentMain_labFoV_Y1 {
	@include elemAutoWidth(280);
}
#contentMain_labFoV_Y1 {
	@include elemAutoHeight(100);
}
#contentMain_labFoV_Y1 {
		z-index: 40;
}
#contentMain_labFoV_Y1 {
		border-width: 3px;
}
#contentMain_labFoV_Y1 {
	@include border-radius(10px);
}
#contentMain_labFoV_Y1 {
		border-color: rgba(85, 85, 85, 1);
}
#contentMain_labFoV_Y1 {
	&:before{
		border-color: rgba(85, 85, 85, 1);
	}
}
#contentMain_labFoV_Y1 {
	&:after{
		border-color: rgba(85, 85, 85, 1);
	}
}
#contentMain_labFoV_Y1 {
		border-style: solid;
}
#contentMain_labFoV_Y1 {
	&:before{
		border-style: solid;
	}
}
#contentMain_labFoV_Y1 {
	&:after{
		border-style: solid;
	}
}
#contentMain_labFoV_Y1 {
	& span{
		color: rgba(0, 0, 255, 1);
	}
}
#contentMain_labFoV_Y1 {
	@include text-alignment-all('center');
}
#contentMain_labFoV_Y1 {
		font-size: 40px;
}
#contentMain_labFoV_Y1 {
	@include font-weight-bold(true);
}
#contentMain_MeasureLabel {
	@include elemTop(672);
}
#contentMain_MeasureLabel {
	@include elemLeft(1326);
}
#contentMain_MeasureLabel {
	@include elemAutoWidth(280);
}
#contentMain_MeasureLabel {
	@include elemAutoHeight(100);
}
#contentMain_MeasureLabel {
		z-index: 41;
}
#contentMain_MeasureLabel {
		border-width: 3px;
}
#contentMain_MeasureLabel {
	@include border-radius(10px);
}
#contentMain_MeasureLabel {
	input{
		font-size: 50px;
	}
}
#contentMain_MeasureLabel {
	.breaseNumericOutput_unit{
		font-size: 30px;
	}
}
#contentMain_MeasureLabel {
		padding: 0px 5px 0px 5px;
}
#contentMain_btnPPMTriggerMode {
	@include elemTop(12);
}
#contentMain_btnPPMTriggerMode {
	@include elemLeft(1326);
}
#contentMain_btnPPMTriggerMode {
	@include elemAutoWidth(280);
}
#contentMain_btnPPMTriggerMode {
	@include elemAutoHeight(100);
}
#contentMain_btnPPMTriggerMode {
		z-index: 42;
}
#contentMain_btnPPMTriggerMode {
	span{
		font-size: 32px;
	}
}
#contentMain_btnPPMTriggerMode {
	span{
	@include font-weight-bold(true);
	}
}
#contentMain_PPM {
	@include elemTop(150);
}
#contentMain_PPM {
	@include elemLeft(1626);
}
#contentMain_PPM {
	@include elemAutoWidth(100);
}
#contentMain_PPM {
	@include elemAutoHeight(48);
}
#contentMain_PPM {
		z-index: 43;
}
#contentMain_PPM {
	@include text-alignment-all('right');
}
#contentMain_PPM {
		font-size: 40px;
}
#contentMain_PPM {
	@include font-weight-bold(true);
}
#contentMain_numPPM {
	@include elemTop(126);
}
#contentMain_numPPM {
	@include elemLeft(1326);
}
#contentMain_numPPM {
	@include elemWidth(280);
}
#contentMain_numPPM {
	@include elemHeight(100);
}
#contentMain_numPPM {
		z-index: 44;
}
#contentMain_numPPM {
	input{
	@include text-alignment(center);
	}
}
#contentMain_numPPM {
	input{
		font-size: 50px;
	}
}
#contentMain_numPPM {
		padding: 0px 5px 0px 5px;
}
#contentMain_TotalCount1 {
	@include elemTop(240);
}
#contentMain_TotalCount1 {
	@include elemLeft(1626);
}
#contentMain_TotalCount1 {
	@include elemAutoWidth(280);
}
#contentMain_TotalCount1 {
	@include elemAutoHeight(100);
}
#contentMain_TotalCount1 {
		z-index: 45;
}
#contentMain_TotalCount1 {
		border-width: 3px;
}
#contentMain_TotalCount1 {
	@include border-radius(10px);
}
#contentMain_TotalCount1 {
		border-color: rgba(85, 85, 85, 1);
}
#contentMain_TotalCount1 {
	&:before{
		border-color: rgba(85, 85, 85, 1);
	}
}
#contentMain_TotalCount1 {
	&:after{
		border-color: rgba(85, 85, 85, 1);
	}
}
#contentMain_TotalCount1 {
		border-style: solid;
}
#contentMain_TotalCount1 {
	&:before{
		border-style: solid;
	}
}
#contentMain_TotalCount1 {
	&:after{
		border-style: solid;
	}
}
#contentMain_TotalCount1 {
	& span{
		color: rgba(64, 64, 64, 1);
	}
}
#contentMain_TotalCount1 {
	@include text-alignment-all('center');
}
#contentMain_TotalCount1 {
		font-size: 40px;
}
#contentMain_TotalCount1 {
	@include font-weight-bold(true);
}
#contentMain_TotalCount1Puck {
	@include elemTop(342);
}
#contentMain_TotalCount1Puck {
	@include elemLeft(1626);
}
#contentMain_TotalCount1Puck {
	@include elemAutoWidth(280);
}
#contentMain_TotalCount1Puck {
	@include elemAutoHeight(100);
}
#contentMain_TotalCount1Puck {
		z-index: 46;
}
#contentMain_TotalCount1Puck {
		border-width: 3px;
}
#contentMain_TotalCount1Puck {
	@include border-radius(10px);
}
#contentMain_TotalCount1Puck {
	input{
		font-size: 50px;
	}
}
#contentMain_TotalCount1Puck {
	.breaseNumericOutput_unit{
		font-size: 30px;
	}
}
#contentMain_TotalCount1Puck {
		padding: 0px 5px 0px 5px;
}
#contentMain_labFoV_Y3 {
	@include elemTop(570);
}
#contentMain_labFoV_Y3 {
	@include elemLeft(1626);
}
#contentMain_labFoV_Y3 {
	@include elemAutoWidth(280);
}
#contentMain_labFoV_Y3 {
	@include elemAutoHeight(100);
}
#contentMain_labFoV_Y3 {
		z-index: 47;
}
#contentMain_labFoV_Y3 {
		border-width: 3px;
}
#contentMain_labFoV_Y3 {
	@include border-radius(10px);
}
#contentMain_labFoV_Y3 {
		border-color: rgba(85, 85, 85, 1);
}
#contentMain_labFoV_Y3 {
	&:before{
		border-color: rgba(85, 85, 85, 1);
	}
}
#contentMain_labFoV_Y3 {
	&:after{
		border-color: rgba(85, 85, 85, 1);
	}
}
#contentMain_labFoV_Y3 {
		border-style: solid;
}
#contentMain_labFoV_Y3 {
	&:before{
		border-style: solid;
	}
}
#contentMain_labFoV_Y3 {
	&:after{
		border-style: solid;
	}
}
#contentMain_labFoV_Y3 {
	& span{
		color: rgba(64, 64, 64, 1);
	}
}
#contentMain_labFoV_Y3 {
	@include text-alignment-all('center');
}
#contentMain_labFoV_Y3 {
		font-size: 40px;
}
#contentMain_labFoV_Y3 {
	@include font-weight-bold(true);
}
#contentMain_TotalCountLabel {
	@include elemTop(672);
}
#contentMain_TotalCountLabel {
	@include elemLeft(1626);
}
#contentMain_TotalCountLabel {
	@include elemAutoWidth(280);
}
#contentMain_TotalCountLabel {
	@include elemAutoHeight(100);
}
#contentMain_TotalCountLabel {
		z-index: 48;
}
#contentMain_TotalCountLabel {
		border-width: 3px;
}
#contentMain_TotalCountLabel {
	@include border-radius(10px);
}
#contentMain_TotalCountLabel {
	input{
		font-size: 50px;
	}
}
#contentMain_TotalCountLabel {
	.breaseNumericOutput_unit{
		font-size: 30px;
	}
}
#contentMain_TotalCountLabel {
		padding: 0px 5px 0px 5px;
}
#contentMain_btnReferenceValSet {
	@include elemTop(456);
}
#contentMain_btnReferenceValSet {
	@include elemLeft(1326);
}
#contentMain_btnReferenceValSet {
	@include elemAutoWidth(280);
}
#contentMain_btnReferenceValSet {
	@include elemAutoHeight(100);
}
#contentMain_btnReferenceValSet {
		z-index: 49;
}
#contentMain_btnReferenceValSet {
	@include border-radius(8px);
}
#contentMain_btnReferenceValSet {
	span{
		font-size: 32px;
	}
}
#contentMain_btnReferenceValSet2 {
	@include elemTop(786);
}
#contentMain_btnReferenceValSet2 {
	@include elemLeft(1326);
}
#contentMain_btnReferenceValSet2 {
	@include elemAutoWidth(280);
}
#contentMain_btnReferenceValSet2 {
	@include elemAutoHeight(100);
}
#contentMain_btnReferenceValSet2 {
		z-index: 50;
}
#contentMain_btnReferenceValSet2 {
	@include border-radius(8px);
}
#contentMain_btnReferenceValSet2 {
	span{
		font-size: 32px;
	}
}
#contentMain_MeasurePuck1 {
	@include elemTop(456);
}
#contentMain_MeasurePuck1 {
	@include elemLeft(1626);
}
#contentMain_MeasurePuck1 {
	@include elemAutoWidth(280);
}
#contentMain_MeasurePuck1 {
	@include elemAutoHeight(100);
}
#contentMain_MeasurePuck1 {
		z-index: 51;
}
#contentMain_MeasurePuck1 {
		border-width: 3px;
}
#contentMain_MeasurePuck1 {
	@include border-radius(10px);
}
#contentMain_MeasurePuck1 {
	input{
		color: rgba(0, 128, 0, 1);
	}
}
#contentMain_MeasurePuck1 {
	span.breaseNumericOutput_unit{
		color: rgba(0, 128, 0, 1);
	}
}
#contentMain_MeasurePuck1 {
	input{
		font-size: 50px;
	}
}
#contentMain_MeasurePuck1 {
	.breaseNumericOutput_unit{
		font-size: 30px;
	}
}
#contentMain_MeasurePuck1 {
		padding: 0px 5px 0px 5px;
}
#contentMain_MeasurePuck2 {
	@include elemTop(786);
}
#contentMain_MeasurePuck2 {
	@include elemLeft(1626);
}
#contentMain_MeasurePuck2 {
	@include elemAutoWidth(280);
}
#contentMain_MeasurePuck2 {
	@include elemAutoHeight(100);
}
#contentMain_MeasurePuck2 {
		z-index: 52;
}
#contentMain_MeasurePuck2 {
		border-width: 3px;
}
#contentMain_MeasurePuck2 {
	@include border-radius(10px);
}
#contentMain_MeasurePuck2 {
	input{
		color: rgba(0, 128, 0, 1);
	}
}
#contentMain_MeasurePuck2 {
	span.breaseNumericOutput_unit{
		color: rgba(0, 128, 0, 1);
	}
}
#contentMain_MeasurePuck2 {
	input{
		font-size: 50px;
	}
}
#contentMain_MeasurePuck2 {
	.breaseNumericOutput_unit{
		font-size: 30px;
	}
}
#contentMain_MeasurePuck2 {
		padding: 0px 5px 0px 5px;
}
#contentMain_PPM1 {
	@include elemTop(924);
}
#contentMain_PPM1 {
	@include elemLeft(1326);
}
#contentMain_PPM1 {
	@include elemAutoWidth(280);
}
#contentMain_PPM1 {
	@include elemAutoHeight(100);
}
#contentMain_PPM1 {
		z-index: 53;
}
#contentMain_PPM1 {
	& span{
		color: rgba(255, 0, 0, 1);
	}
}
#contentMain_PPM1 {
	@include text-alignment-all('center');
}
#contentMain_PPM1 {
		font-size: 30px;
}
#contentMain_PPM1 {
	@include font-weight-bold(true);
}
#contentMain_MeasurePuck3 {
	@include elemTop(924);
}
#contentMain_MeasurePuck3 {
	@include elemLeft(1626);
}
#contentMain_MeasurePuck3 {
	@include elemAutoWidth(280);
}
#contentMain_MeasurePuck3 {
	@include elemAutoHeight(100);
}
#contentMain_MeasurePuck3 {
		z-index: 54;
}
#contentMain_MeasurePuck3 {
		border-width: 3px;
}
#contentMain_MeasurePuck3 {
	@include border-radius(10px);
}
#contentMain_MeasurePuck3 {
	input{
		color: rgba(255, 0, 0, 1);
	}
}
#contentMain_MeasurePuck3 {
	span.breaseNumericOutput_unit{
		color: rgba(255, 0, 0, 1);
	}
}
#contentMain_MeasurePuck3 {
	input{
		font-size: 50px;
	}
}
#contentMain_MeasurePuck3 {
	.breaseNumericOutput_unit{
		font-size: 30px;
	}
}
#contentMain_MeasurePuck3 {
		padding: 0px 5px 0px 5px;
}
#contentMain_btnReferenceValSet3 {
	@include elemTop(924);
}
#contentMain_btnReferenceValSet3 {
	@include elemLeft(2130);
}
#contentMain_btnReferenceValSet3 {
	@include elemAutoWidth(280);
}
#contentMain_btnReferenceValSet3 {
	@include elemAutoHeight(100);
}
#contentMain_btnReferenceValSet3 {
		z-index: 55;
}
#contentMain_btnReferenceValSet3 {
	@include border-radius(8px);
}
#contentMain_btnReferenceValSet3 {
	span{
		font-size: 32px;
	}
}
