#mVi2MainContent_Label1 {
  top: 40px;
  position: absolute;
}

#mVi2MainContent_Label1 {
  left: 40px;
  position: absolute;
}

#mVi2MainContent_Label1 {
  width: 720px;
}

#mVi2MainContent_Label1 {
  height: 30px;
}

#mVi2MainContent_Label1 {
  z-index: 0;
}

#mVi2MainContent_Label1 {
  font-size: 16px;
}
