.breaseWebViewer .editorImage{height:100%;width:100%;background-repeat:no-repeat;background-position:center;box-sizing:border-box}.breaseWebViewer iframe{height:inherit;width:inherit}.breaseWebViewer.disabled iframe{pointer-events:none;opacity:0.4}
