#contentMain_imgDisconnected {
  top: 350px;
  position: absolute;
}

#contentMain_imgDisconnected {
  left: 450px;
  position: absolute;
}

#contentMain_imgDisconnected {
  width: 440px;
}

#contentMain_imgDisconnected {
  height: 300px;
}

#contentMain_imgDisconnected {
  z-index: 0;
}

#contentMain_imgDisconnected {
  background-color: rgba(255, 255, 255, 0);
}

#contentMain_WebViewerVisionMain {
  top: 0px;
  position: absolute;
}

#contentMain_WebViewerVisionMain {
  left: 0px;
  position: absolute;
}

#contentMain_WebViewerVisionMain {
  width: 1280px;
}

#contentMain_WebViewerVisionMain {
  height: 1024px;
}

#contentMain_WebViewerVisionMain {
  z-index: 3;
}

#contentMain_WebViewerVisionMain iframe {
  background-color: rgba(255, 255, 255, 0);
}

#contentMain_WebViewerVisionMain div.editorImage {
  background-color: rgba(255, 255, 255, 0);
}

#contentMain_WebViewerVisionMain iframe {
  border-style: none;
}

#contentMain_WebViewerVisionMain div.editorImage {
  border-style: none;
}

#contentMain_WebViewerVisionMain iframe {
  border-width: 0px 0px 0px 0px;
}

#contentMain_WebViewerVisionMain div.editorImage {
  border-width: 0px 0px 0px 0px;
}

#contentMain_paperMain1 {
  top: 0px;
  position: absolute;
}

#contentMain_paperMain1 {
  left: 0px;
  position: absolute;
}

#contentMain_paperMain1 {
  width: 1300px;
}

#contentMain_paperMain1 {
  height: 1024px;
}

#contentMain_paperMain1 {
  z-index: 11;
}

#contentMain_paperMain1 {
  border-style: none;
}

#contentMain_paperMain2 {
  top: 0px;
  position: absolute;
}

#contentMain_paperMain2 {
  left: 0px;
  position: absolute;
}

#contentMain_paperMain2 {
  width: 1300px;
}

#contentMain_paperMain2 {
  height: 1024px;
}

#contentMain_paperMain2 {
  z-index: 12;
}

#contentMain_paperMain2 {
  border-style: none;
}

#contentMain_paperMain3 {
  top: 0px;
  position: absolute;
}

#contentMain_paperMain3 {
  left: 0px;
  position: absolute;
}

#contentMain_paperMain3 {
  width: 1300px;
}

#contentMain_paperMain3 {
  height: 1024px;
}

#contentMain_paperMain3 {
  z-index: 13;
}

#contentMain_paperMain3 {
  border-style: none;
}

#contentMain_paperMain4 {
  top: 0px;
  position: absolute;
}

#contentMain_paperMain4 {
  left: 0px;
  position: absolute;
}

#contentMain_paperMain4 {
  width: 1300px;
}

#contentMain_paperMain4 {
  height: 1024px;
}

#contentMain_paperMain4 {
  z-index: 14;
}

#contentMain_paperMain4 {
  border-style: none;
}

#contentMain_paperMain5 {
  top: 0px;
  position: absolute;
}

#contentMain_paperMain5 {
  left: 0px;
  position: absolute;
}

#contentMain_paperMain5 {
  width: 1300px;
}

#contentMain_paperMain5 {
  height: 1024px;
}

#contentMain_paperMain5 {
  z-index: 15;
}

#contentMain_paperMain5 {
  border-style: none;
}

#contentMain_paperMain6 {
  top: 0px;
  position: absolute;
}

#contentMain_paperMain6 {
  left: 0px;
  position: absolute;
}

#contentMain_paperMain6 {
  width: 1300px;
}

#contentMain_paperMain6 {
  height: 1024px;
}

#contentMain_paperMain6 {
  z-index: 16;
}

#contentMain_paperMain6 {
  border-style: none;
}

#contentMain_paperMain7 {
  top: 0px;
  position: absolute;
}

#contentMain_paperMain7 {
  left: 0px;
  position: absolute;
}

#contentMain_paperMain7 {
  width: 1300px;
}

#contentMain_paperMain7 {
  height: 1024px;
}

#contentMain_paperMain7 {
  z-index: 17;
}

#contentMain_paperMain7 {
  border-style: none;
}

#contentMain_paperMain8 {
  top: 0px;
  position: absolute;
}

#contentMain_paperMain8 {
  left: 0px;
  position: absolute;
}

#contentMain_paperMain8 {
  width: 1300px;
}

#contentMain_paperMain8 {
  height: 1024px;
}

#contentMain_paperMain8 {
  z-index: 18;
}

#contentMain_paperMain8 {
  border-style: none;
}

#contentMain_paperMain9 {
  top: 0px;
  position: absolute;
}

#contentMain_paperMain9 {
  left: 0px;
  position: absolute;
}

#contentMain_paperMain9 {
  width: 1300px;
}

#contentMain_paperMain9 {
  height: 1024px;
}

#contentMain_paperMain9 {
  z-index: 19;
}

#contentMain_paperMain9 {
  border-style: none;
}

#contentMain_paperMain10 {
  top: 0px;
  position: absolute;
}

#contentMain_paperMain10 {
  left: 0px;
  position: absolute;
}

#contentMain_paperMain10 {
  width: 1300px;
}

#contentMain_paperMain10 {
  height: 1024px;
}

#contentMain_paperMain10 {
  z-index: 20;
}

#contentMain_paperMain10 {
  border-style: none;
}

#contentMain_btnChrosshairEnable {
  top: 125px;
  position: absolute;
}

#contentMain_btnChrosshairEnable {
  left: 1330px;
  position: absolute;
}

#contentMain_btnChrosshairEnable {
  width: 280px;
}

#contentMain_btnChrosshairEnable {
  height: 100px;
}

#contentMain_btnChrosshairEnable {
  z-index: 30;
}

#contentMain_btnChrosshairEnable span {
  font-size: 32px;
}

#contentMain_btnChrosshairEnable span {
  font-weight: bold;
}

#contentMain_btnRepetitiveMode {
  top: 10px;
  position: absolute;
}

#contentMain_btnRepetitiveMode {
  left: 1330px;
  position: absolute;
}

#contentMain_btnRepetitiveMode {
  width: 280px;
}

#contentMain_btnRepetitiveMode {
  height: 100px;
}

#contentMain_btnRepetitiveMode {
  z-index: 31;
}

#contentMain_btnRepetitiveMode span {
  font-size: 32px;
}

#contentMain_btnRepetitiveMode span {
  font-weight: bold;
}

#contentMain_labCameraNo {
  height: 30px;
}

#contentMain_labCameraNo {
  top: 335px;
  position: absolute;
}

#contentMain_labCameraNo {
  left: 1335px;
  position: absolute;
}

#contentMain_labCameraNo {
  width: 270px;
}

#contentMain_labCameraNo {
  z-index: 32;
}

#contentMain_labCameraNo {
  justify-content: center;
  text-align: center;
  -ms-flex-align: center;
  align-items: center;
}

#contentMain_labCameraNo {
  font-size: 32px;
}

#contentMain_labCameraNo {
  font-weight: normal;
}

#contentMain_numDetailsNo {
  top: 245px;
  position: absolute;
}

#contentMain_numDetailsNo {
  left: 1425px;
  position: absolute;
}

#contentMain_numDetailsNo {
  width: 80px;
}

#contentMain_numDetailsNo {
  height: 80px;
}

#contentMain_numDetailsNo {
  z-index: 33;
}

#contentMain_numDetailsNo input {
  justify-content: center;
  text-align: center;
}

#contentMain_numDetailsNo input {
  font-size: 50px;
}

#contentMain_numDetailsNo {
  padding: 0px 0px 0px 0px;
}

#contentMain_numDetailsNoDown {
  top: 245px;
  position: absolute;
}

#contentMain_numDetailsNoDown {
  left: 1335px;
  position: absolute;
}

#contentMain_numDetailsNoDown {
  width: 80px;
}

#contentMain_numDetailsNoDown {
  height: 80px;
}

#contentMain_numDetailsNoDown {
  z-index: 34;
}

#contentMain_numDetailsNoDown {
  border-width: 0px;
}

#contentMain_numDetailsNoUp {
  top: 245px;
  position: absolute;
}

#contentMain_numDetailsNoUp {
  left: 1525px;
  position: absolute;
}

#contentMain_numDetailsNoUp {
  width: 80px;
}

#contentMain_numDetailsNoUp {
  height: 80px;
}

#contentMain_numDetailsNoUp {
  z-index: 35;
}

#contentMain_numDetailsNoUp {
  border-width: 0px;
}

#contentMain_DropDownBoxImgRotation {
  top: 400px;
  position: absolute;
}

#contentMain_DropDownBoxImgRotation {
  left: 1340px;
  position: absolute;
}

#contentMain_DropDownBoxImgRotation.DropDownBoxView {
  width: 280px;
}

#contentMain_DropDownBoxImgRotation.DropDownBoxView {
  height: 100px;
}

#contentMain_DropDownBoxImgRotation {
  z-index: 36;
}

#contentMain_DropDownBoxImgRotation > .ItemView {
  padding: 0px 10px;
}

#contentMain_DropDownBoxImgRotation .TextView {
  justify-content: center;
  text-align: center;
}

#contentMain_DropDownBoxImgRotation_listBoxWrapper .TextView {
  justify-content: center;
  text-align: center;
}

#contentMain_DropDownBoxImgRotation .TextView {
  font-size: 32px;
}

#contentMain_DropDownBoxImgRotation_listBoxWrapper .TextView {
  font-size: 32px;
}

#contentMain_RectangleFront {
  top: 0px;
  position: absolute;
}

#contentMain_RectangleFront {
  left: 0px;
  position: absolute;
}

#contentMain_RectangleFront {
  width: 1300px;
}

#contentMain_RectangleFront {
  height: 1024px;
}

#contentMain_RectangleFront {
  z-index: 37;
}

#contentMain_RectangleFront {
  border-style: none;
}
