﻿@import "mixins.scss";
#contentMain_imgDisconnected {
	@include elemTop(350);
}
#contentMain_imgDisconnected {
	@include elemLeft(450);
}
#contentMain_imgDisconnected {
	@include elemAutoWidth(440);
}
#contentMain_imgDisconnected {
	@include elemAutoHeight(300);
}
#contentMain_imgDisconnected {
		z-index: 0;
}
#contentMain_imgDisconnected {
		background-color: rgba(255, 255, 255, 0);
}
#contentMain_WebViewerVisionMain {
	@include elemTop(0);
}
#contentMain_WebViewerVisionMain {
	@include elemLeft(0);
}
#contentMain_WebViewerVisionMain {
	@include elemWidth(1280);
}
#contentMain_WebViewerVisionMain {
	@include elemHeight(1024);
}
#contentMain_WebViewerVisionMain {
		z-index: 3;
}
#contentMain_WebViewerVisionMain {
	& iframe{
		background-color: rgba(255, 255, 255, 0);
	}
}
#contentMain_WebViewerVisionMain {
	& div.editorImage{
		background-color: rgba(255, 255, 255, 0);
	}
}
#contentMain_WebViewerVisionMain {
	& iframe{
		border-style: none;
	}
}
#contentMain_WebViewerVisionMain {
	& div.editorImage{
		border-style: none;
	}
}
#contentMain_WebViewerVisionMain {
	& iframe{
		border-width: 0px 0px 0px 0px;
	}
}
#contentMain_WebViewerVisionMain {
	& div.editorImage{
		border-width: 0px 0px 0px 0px;
	}
}
#contentMain_paperMain1 {
	@include elemTop(0);
}
#contentMain_paperMain1 {
	@include elemLeft(0);
}
#contentMain_paperMain1 {
	@include elemWidth(1300);
}
#contentMain_paperMain1 {
	@include elemHeight(1024);
}
#contentMain_paperMain1 {
		z-index: 11;
}
#contentMain_paperMain1 {
		border-style: none;
}
#contentMain_paperMain2 {
	@include elemTop(0);
}
#contentMain_paperMain2 {
	@include elemLeft(0);
}
#contentMain_paperMain2 {
	@include elemWidth(1300);
}
#contentMain_paperMain2 {
	@include elemHeight(1024);
}
#contentMain_paperMain2 {
		z-index: 12;
}
#contentMain_paperMain2 {
		border-style: none;
}
#contentMain_paperMain3 {
	@include elemTop(0);
}
#contentMain_paperMain3 {
	@include elemLeft(0);
}
#contentMain_paperMain3 {
	@include elemWidth(1300);
}
#contentMain_paperMain3 {
	@include elemHeight(1024);
}
#contentMain_paperMain3 {
		z-index: 13;
}
#contentMain_paperMain3 {
		border-style: none;
}
#contentMain_paperMain4 {
	@include elemTop(0);
}
#contentMain_paperMain4 {
	@include elemLeft(0);
}
#contentMain_paperMain4 {
	@include elemWidth(1300);
}
#contentMain_paperMain4 {
	@include elemHeight(1024);
}
#contentMain_paperMain4 {
		z-index: 14;
}
#contentMain_paperMain4 {
		border-style: none;
}
#contentMain_paperMain5 {
	@include elemTop(0);
}
#contentMain_paperMain5 {
	@include elemLeft(0);
}
#contentMain_paperMain5 {
	@include elemWidth(1300);
}
#contentMain_paperMain5 {
	@include elemHeight(1024);
}
#contentMain_paperMain5 {
		z-index: 15;
}
#contentMain_paperMain5 {
		border-style: none;
}
#contentMain_paperMain6 {
	@include elemTop(0);
}
#contentMain_paperMain6 {
	@include elemLeft(0);
}
#contentMain_paperMain6 {
	@include elemWidth(1300);
}
#contentMain_paperMain6 {
	@include elemHeight(1024);
}
#contentMain_paperMain6 {
		z-index: 16;
}
#contentMain_paperMain6 {
		border-style: none;
}
#contentMain_paperMain7 {
	@include elemTop(0);
}
#contentMain_paperMain7 {
	@include elemLeft(0);
}
#contentMain_paperMain7 {
	@include elemWidth(1300);
}
#contentMain_paperMain7 {
	@include elemHeight(1024);
}
#contentMain_paperMain7 {
		z-index: 17;
}
#contentMain_paperMain7 {
		border-style: none;
}
#contentMain_paperMain8 {
	@include elemTop(0);
}
#contentMain_paperMain8 {
	@include elemLeft(0);
}
#contentMain_paperMain8 {
	@include elemWidth(1300);
}
#contentMain_paperMain8 {
	@include elemHeight(1024);
}
#contentMain_paperMain8 {
		z-index: 18;
}
#contentMain_paperMain8 {
		border-style: none;
}
#contentMain_paperMain9 {
	@include elemTop(0);
}
#contentMain_paperMain9 {
	@include elemLeft(0);
}
#contentMain_paperMain9 {
	@include elemWidth(1300);
}
#contentMain_paperMain9 {
	@include elemHeight(1024);
}
#contentMain_paperMain9 {
		z-index: 19;
}
#contentMain_paperMain9 {
		border-style: none;
}
#contentMain_paperMain10 {
	@include elemTop(0);
}
#contentMain_paperMain10 {
	@include elemLeft(0);
}
#contentMain_paperMain10 {
	@include elemWidth(1300);
}
#contentMain_paperMain10 {
	@include elemHeight(1024);
}
#contentMain_paperMain10 {
		z-index: 20;
}
#contentMain_paperMain10 {
		border-style: none;
}
#contentMain_btnChrosshairEnable {
	@include elemTop(125);
}
#contentMain_btnChrosshairEnable {
	@include elemLeft(1330);
}
#contentMain_btnChrosshairEnable {
	@include elemAutoWidth(280);
}
#contentMain_btnChrosshairEnable {
	@include elemAutoHeight(100);
}
#contentMain_btnChrosshairEnable {
		z-index: 30;
}
#contentMain_btnChrosshairEnable {
	span{
		font-size: 32px;
	}
}
#contentMain_btnChrosshairEnable {
	span{
	@include font-weight-bold(true);
	}
}
#contentMain_btnRepetitiveMode {
	@include elemTop(10);
}
#contentMain_btnRepetitiveMode {
	@include elemLeft(1330);
}
#contentMain_btnRepetitiveMode {
	@include elemAutoWidth(280);
}
#contentMain_btnRepetitiveMode {
	@include elemAutoHeight(100);
}
#contentMain_btnRepetitiveMode {
		z-index: 31;
}
#contentMain_btnRepetitiveMode {
	span{
		font-size: 32px;
	}
}
#contentMain_btnRepetitiveMode {
	span{
	@include font-weight-bold(true);
	}
}
#contentMain_labCameraNo {
	@include elemAutoHeight(30);
}
#contentMain_labCameraNo {
	@include elemTop(335);
}
#contentMain_labCameraNo {
	@include elemLeft(1335);
}
#contentMain_labCameraNo {
	@include elemAutoWidth(270);
}
#contentMain_labCameraNo {
		z-index: 32;
}
#contentMain_labCameraNo {
	@include text-alignment-all('center');
}
#contentMain_labCameraNo {
		font-size: 32px;
}
#contentMain_labCameraNo {
	@include font-weight-bold(false);
}
#contentMain_numDetailsNo {
	@include elemTop(245);
}
#contentMain_numDetailsNo {
	@include elemLeft(1425);
}
#contentMain_numDetailsNo {
	@include elemWidth(80);
}
#contentMain_numDetailsNo {
	@include elemHeight(80);
}
#contentMain_numDetailsNo {
		z-index: 33;
}
#contentMain_numDetailsNo {
	input{
	@include text-alignment(center);
	}
}
#contentMain_numDetailsNo {
	input{
		font-size: 50px;
	}
}
#contentMain_numDetailsNo {
		padding: 0px 0px 0px 0px;
}
#contentMain_numDetailsNoDown {
	@include elemTop(245);
}
#contentMain_numDetailsNoDown {
	@include elemLeft(1335);
}
#contentMain_numDetailsNoDown {
	@include elemAutoWidth(80);
}
#contentMain_numDetailsNoDown {
	@include elemAutoHeight(80);
}
#contentMain_numDetailsNoDown {
		z-index: 34;
}
#contentMain_numDetailsNoDown {
		border-width: 0px;
}
#contentMain_numDetailsNoUp {
	@include elemTop(245);
}
#contentMain_numDetailsNoUp {
	@include elemLeft(1525);
}
#contentMain_numDetailsNoUp {
	@include elemAutoWidth(80);
}
#contentMain_numDetailsNoUp {
	@include elemAutoHeight(80);
}
#contentMain_numDetailsNoUp {
		z-index: 35;
}
#contentMain_numDetailsNoUp {
		border-width: 0px;
}
#contentMain_DropDownBoxImgRotation {
	@include elemTop(400);
}
#contentMain_DropDownBoxImgRotation {
	@include elemLeft(1340);
}
#contentMain_DropDownBoxImgRotation {
	&.DropDownBoxView{
	@include elemWidth(280);
	}
}
#contentMain_DropDownBoxImgRotation {
	&.DropDownBoxView{
	@include elemHeight(100);
	}
}
#contentMain_DropDownBoxImgRotation {
		z-index: 36;
}
#contentMain_DropDownBoxImgRotation {
	& > .ItemView{
		padding: 0px 10px;
	}
}
#contentMain_DropDownBoxImgRotation {
	& .TextView{
	@include text-alignment(center);
	}
}
#contentMain_DropDownBoxImgRotation_listBoxWrapper {
	& .TextView{
	@include text-alignment(center);
	}
}
#contentMain_DropDownBoxImgRotation {
	& .TextView{
		font-size: 32px;
	}
}
#contentMain_DropDownBoxImgRotation_listBoxWrapper {
	& .TextView{
		font-size: 32px;
	}
}
#contentMain_RectangleFront {
	@include elemTop(0);
}
#contentMain_RectangleFront {
	@include elemLeft(0);
}
#contentMain_RectangleFront {
	@include elemWidth(1300);
}
#contentMain_RectangleFront {
	@include elemHeight(1024);
}
#contentMain_RectangleFront {
		z-index: 37;
}
#contentMain_RectangleFront {
		border-style: none;
}
