#contentBlob_tabBlob {
  top: 15px;
  position: absolute;
}

#contentBlob_tabBlob {
  left: 10px;
  position: absolute;
}

#contentBlob_tabBlob {
  width: 1060px;
}

#contentBlob_tabBlob {
  height: 345px;
}

#contentBlob_tabBlob {
  z-index: 0;
}

#contentBlob_ItemNo {
  z-index: 0;
}

#contentBlob_itemModel {
  z-index: 1;
}

#contentBlob_itemClipped {
  z-index: 2;
}

#contentBlob_itemArea {
  z-index: 3;
}

#contentBlob_itemPosX {
  z-index: 4;
}

#contentBlob_itemPosY {
  z-index: 5;
}

#contentBlob_itemOrientation {
  z-index: 6;
}

#contentBlob_itemGray {
  z-index: 7;
}

#contentBlob_itemLength {
  z-index: 8;
}

#contentBlob_itemWidth {
  z-index: 9;
}

#contentBlob_btnBlobRegionalFeatures {
  top: 375px;
  position: absolute;
}

#contentBlob_btnBlobRegionalFeatures {
  left: 10px;
  position: absolute;
}

#contentBlob_btnBlobRegionalFeatures {
  width: 360px;
}

#contentBlob_btnBlobRegionalFeatures {
  height: 60px;
}

#contentBlob_btnBlobRegionalFeatures {
  z-index: 1;
}

#contentBlob_btnBlobRegionalFeatures span {
  font-size: 18px;
}

#contentBlob_btnBlobEnhancedBlobInfo {
  top: 375px;
  position: absolute;
}

#contentBlob_btnBlobEnhancedBlobInfo {
  left: 400px;
  position: absolute;
}

#contentBlob_btnBlobEnhancedBlobInfo {
  width: 360px;
}

#contentBlob_btnBlobEnhancedBlobInfo {
  height: 60px;
}

#contentBlob_btnBlobEnhancedBlobInfo {
  z-index: 2;
}

#contentBlob_btnBlobEnhancedBlobInfo span {
  font-size: 18px;
}
