#contentCodeReader_tabCodeReader {
  top: 10px;
  position: absolute;
}

#contentCodeReader_tabCodeReader {
  left: 10px;
  position: absolute;
}

#contentCodeReader_tabCodeReader {
  width: 1175px;
}

#contentCodeReader_tabCodeReader {
  height: 350px;
}

#contentCodeReader_tabCodeReader {
  z-index: 0;
}

#contentCodeReader_ItemNo {
  z-index: 0;
}

#contentCodeReader_itemData {
  z-index: 1;
}

#contentCodeReader_itemGrading {
  z-index: 2;
}

#contentCodeReader_itemPosX {
  z-index: 3;
}

#contentCodeReader_itemPosY {
  z-index: 4;
}

#contentCodeReader_itemOrientation {
  z-index: 5;
}

#contentCodeReader_itemType {
  z-index: 6;
}

#contentCodeReader_labCodeReader1 {
  top: 380px;
  position: absolute;
}

#contentCodeReader_labCodeReader1 {
  left: 50px;
  position: absolute;
}

#contentCodeReader_labCodeReader1 {
  width: 171px;
}

#contentCodeReader_labCodeReader1 {
  height: 27px;
}

#contentCodeReader_labCodeReader1 {
  z-index: 1;
}

#contentCodeReader_labCodeReader1 {
  justify-content: flex-end;
  text-align: right;
  -ms-flex-align: center;
  align-items: center;
}

#contentCodeReader_labCodeReader1 {
  font-size: 18px;
}

#contentCodeReader_CodeReaderTypePreset.DropDownBoxView {
  height: 30px;
}

#contentCodeReader_CodeReaderTypePreset {
  top: 380px;
  position: absolute;
}

#contentCodeReader_CodeReaderTypePreset {
  left: 230px;
  position: absolute;
}

#contentCodeReader_CodeReaderTypePreset.DropDownBoxView {
  width: 465px;
}

#contentCodeReader_CodeReaderTypePreset {
  z-index: 2;
}

#contentCodeReader_CodeReaderTypePreset .TextView {
  justify-content: center;
  text-align: center;
}

#contentCodeReader_CodeReaderTypePreset_listBoxWrapper .TextView {
  justify-content: center;
  text-align: center;
}

#contentCodeReader_CodeReaderTypePreset .TextView {
  font-size: 18px;
}

#contentCodeReader_CodeReaderTypePreset_listBoxWrapper .TextView {
  font-size: 18px;
}

#contentCodeReader_labCodeReader2 {
  top: 420px;
  position: absolute;
}

#contentCodeReader_labCodeReader2 {
  left: 10px;
  position: absolute;
}

#contentCodeReader_labCodeReader2 {
  width: 210px;
}

#contentCodeReader_labCodeReader2 {
  height: 27px;
}

#contentCodeReader_labCodeReader2 {
  z-index: 3;
}

#contentCodeReader_labCodeReader2 {
  justify-content: flex-end;
  text-align: right;
  -ms-flex-align: center;
  align-items: center;
}

#contentCodeReader_labCodeReader2 {
  font-size: 18px;
}

#contentCodeReader_CodeReaderParamMode.DropDownBoxView {
  height: 30px;
}

#contentCodeReader_CodeReaderParamMode {
  top: 420px;
  position: absolute;
}

#contentCodeReader_CodeReaderParamMode {
  left: 230px;
  position: absolute;
}

#contentCodeReader_CodeReaderParamMode.DropDownBoxView {
  width: 465px;
}

#contentCodeReader_CodeReaderParamMode {
  z-index: 4;
}

#contentCodeReader_CodeReaderParamMode .TextView {
  justify-content: center;
  text-align: center;
}

#contentCodeReader_CodeReaderParamMode_listBoxWrapper .TextView {
  justify-content: center;
  text-align: center;
}

#contentCodeReader_CodeReaderParamMode .TextView {
  font-size: 18px;
}

#contentCodeReader_CodeReaderParamMode_listBoxWrapper .TextView {
  font-size: 18px;
}

#contentCodeReader_labCodeReader3 {
  top: 460px;
  position: absolute;
}

#contentCodeReader_labCodeReader3 {
  left: 10px;
  position: absolute;
}

#contentCodeReader_labCodeReader3 {
  width: 210px;
}

#contentCodeReader_labCodeReader3 {
  height: 27px;
}

#contentCodeReader_labCodeReader3 {
  z-index: 5;
}

#contentCodeReader_labCodeReader3 {
  justify-content: flex-end;
  text-align: right;
  -ms-flex-align: center;
  align-items: center;
}

#contentCodeReader_labCodeReader3 {
  font-size: 18px;
}

#contentCodeReader_CodeReaderParamOptimization.DropDownBoxView {
  height: 30px;
}

#contentCodeReader_CodeReaderParamOptimization {
  top: 460px;
  position: absolute;
}

#contentCodeReader_CodeReaderParamOptimization {
  left: 230px;
  position: absolute;
}

#contentCodeReader_CodeReaderParamOptimization.DropDownBoxView {
  width: 269px;
}

#contentCodeReader_CodeReaderParamOptimization {
  z-index: 6;
}

#contentCodeReader_CodeReaderParamOptimization .TextView {
  justify-content: center;
  text-align: center;
}

#contentCodeReader_CodeReaderParamOptimization_listBoxWrapper .TextView {
  justify-content: center;
  text-align: center;
}

#contentCodeReader_CodeReaderParamOptimization .TextView {
  font-size: 18px;
}

#contentCodeReader_CodeReaderParamOptimization_listBoxWrapper .TextView {
  font-size: 18px;
}

#contentCodeReader_btnCodeReaderGrading {
  top: 370px;
  position: absolute;
}

#contentCodeReader_btnCodeReaderGrading {
  left: 910px;
  position: absolute;
}

#contentCodeReader_btnCodeReaderGrading {
  width: 269px;
}

#contentCodeReader_btnCodeReaderGrading {
  height: 60px;
}

#contentCodeReader_btnCodeReaderGrading {
  z-index: 7;
}

#contentCodeReader_btnCodeReaderGrading span {
  font-size: 18px;
}

#contentCodeReader_btnCodeReaderRobustness {
  top: 440px;
  position: absolute;
}

#contentCodeReader_btnCodeReaderRobustness {
  left: 910px;
  position: absolute;
}

#contentCodeReader_btnCodeReaderRobustness {
  width: 269px;
}

#contentCodeReader_btnCodeReaderRobustness {
  height: 60px;
}

#contentCodeReader_btnCodeReaderRobustness {
  z-index: 8;
}

#contentCodeReader_btnCodeReaderRobustness span {
  font-size: 18px;
}
