#contentMatch_tabMatch {
  top: 10px;
  position: absolute;
}

#contentMatch_tabMatch {
  left: 10px;
  position: absolute;
}

#contentMatch_tabMatch {
  width: 1100px;
}

#contentMatch_tabMatch {
  height: 340px;
}

#contentMatch_tabMatch {
  z-index: 0;
}

#contentMatch_ItemNo {
  z-index: 0;
}

#contentMatch_itemModel {
  z-index: 1;
}

#contentMatch_itemScore {
  z-index: 2;
}

#contentMatch_itemPosX {
  z-index: 4;
}

#contentMatch_itemPosY {
  z-index: 5;
}

#contentMatch_itemOrientation {
  z-index: 6;
}

#contentMatch_itemScale {
  z-index: 7;
}

#contentMatch_Label10 {
  height: 30px;
}

#contentMatch_Label10 {
  top: 365px;
  position: absolute;
}

#contentMatch_Label10 {
  left: -25px;
  position: absolute;
}

#contentMatch_Label10 {
  width: 150px;
}

#contentMatch_Label10 {
  z-index: 1;
}

#contentMatch_Label10 {
  justify-content: flex-end;
  text-align: right;
  -ms-flex-align: center;
  align-items: center;
}

#contentMatch_Label10 {
  font-size: 18px;
}

#contentMatch_Label11 {
  height: 30px;
}

#contentMatch_Label11 {
  top: 405px;
  position: absolute;
}

#contentMatch_Label11 {
  left: -25px;
  position: absolute;
}

#contentMatch_Label11 {
  width: 150px;
}

#contentMatch_Label11 {
  z-index: 2;
}

#contentMatch_Label11 {
  justify-content: flex-end;
  text-align: right;
  -ms-flex-align: center;
  align-items: center;
}

#contentMatch_Label11 {
  font-size: 18px;
}

#contentMatch_numMatchMinScore {
  width: 100px;
}

#contentMatch_numMatchMinScore {
  height: 30px;
}

#contentMatch_numMatchMinScore {
  top: 365px;
  position: absolute;
}

#contentMatch_numMatchMinScore {
  left: 135px;
  position: absolute;
}

#contentMatch_numMatchMinScore {
  z-index: 3;
}

#contentMatch_numMatchMaxOverlap {
  width: 100px;
}

#contentMatch_numMatchMaxOverlap {
  height: 30px;
}

#contentMatch_numMatchMaxOverlap {
  top: 405px;
  position: absolute;
}

#contentMatch_numMatchMaxOverlap {
  left: 135px;
  position: absolute;
}

#contentMatch_numMatchMaxOverlap {
  z-index: 4;
}
