#contentMT_grpMeasurement {
  top: 10px;
  position: absolute;
}

#contentMT_grpMeasurement {
  left: 10px;
  position: absolute;
}

#contentMT_grpMeasurement {
  width: 390px;
}

#contentMT_grpMeasurement {
  height: 490px;
}

#contentMT_grpMeasurement {
  z-index: 0;
}

#contentMT_labMT6 {
  height: 30px;
}

#contentMT_labMT6 {
  top: 13px;
  position: absolute;
}

#contentMT_labMT6 {
  left: 34px;
  position: absolute;
}

#contentMT_labMT6 {
  width: 70px;
}

#contentMT_labMT6 {
  z-index: 1;
}

#contentMT_labMT6 {
  justify-content: center;
  text-align: center;
  -ms-flex-align: center;
  align-items: center;
}

#contentMT_labMT6 {
  font-size: 20px;
}

#contentMT_labMT6 {
  font-weight: bold;
}

#contentMT_labMT1 {
  top: 55px;
  position: absolute;
}

#contentMT_labMT1 {
  left: 19px;
  position: absolute;
}

#contentMT_labMT1 {
  width: 60px;
}

#contentMT_labMT1 {
  height: 27px;
}

#contentMT_labMT1 {
  z-index: 0;
}

#contentMT_labMT1 {
  justify-content: flex-end;
  text-align: right;
  -ms-flex-align: center;
  align-items: center;
}

#contentMT_labMT1 {
  font-size: 22px;
}

#contentMT_labMT1 {
  font-weight: bold;
}

#contentMT_labMT10 {
  height: 30px;
}

#contentMT_labMT10 {
  top: 13px;
  position: absolute;
}

#contentMT_labMT10 {
  left: 134px;
  position: absolute;
}

#contentMT_labMT10 {
  width: 191px;
}

#contentMT_labMT10 {
  z-index: 2;
}

#contentMT_labMT10 {
  justify-content: center;
  text-align: center;
  -ms-flex-align: center;
  align-items: center;
}

#contentMT_labMT10 {
  font-size: 20px;
}

#contentMT_labMT10 {
  font-weight: bold;
}

#contentMT_numMT_Results1 {
  height: 30px;
}

#contentMT_numMT_Results1 {
  top: 53px;
  position: absolute;
}

#contentMT_numMT_Results1 {
  left: 129px;
  position: absolute;
}

#contentMT_numMT_Results1 {
  width: 200px;
}

#contentMT_numMT_Results1 {
  z-index: 3;
}

#contentMT_numMT_Results1 {
  border-width: 2px;
}

#contentMT_numMT_Results1 {
  border-radius: 5px;
}

#contentMT_labMT2 {
  top: 98px;
  position: absolute;
}

#contentMT_labMT2 {
  left: 19px;
  position: absolute;
}

#contentMT_labMT2 {
  width: 60px;
}

#contentMT_labMT2 {
  height: 27px;
}

#contentMT_labMT2 {
  z-index: 4;
}

#contentMT_labMT2 {
  justify-content: flex-end;
  text-align: right;
  -ms-flex-align: center;
  align-items: center;
}

#contentMT_labMT2 {
  font-size: 22px;
}

#contentMT_labMT2 {
  font-weight: bold;
}

#contentMT_numMT_Results2 {
  height: 30px;
}

#contentMT_numMT_Results2 {
  top: 93px;
  position: absolute;
}

#contentMT_numMT_Results2 {
  left: 129px;
  position: absolute;
}

#contentMT_numMT_Results2 {
  width: 200px;
}

#contentMT_numMT_Results2 {
  z-index: 5;
}

#contentMT_numMT_Results2 {
  border-width: 2px;
}

#contentMT_numMT_Results2 {
  border-radius: 5px;
}

#contentMT_labMT3 {
  top: 138px;
  position: absolute;
}

#contentMT_labMT3 {
  left: 19px;
  position: absolute;
}

#contentMT_labMT3 {
  width: 60px;
}

#contentMT_labMT3 {
  height: 27px;
}

#contentMT_labMT3 {
  z-index: 6;
}

#contentMT_labMT3 {
  justify-content: flex-end;
  text-align: right;
  -ms-flex-align: center;
  align-items: center;
}

#contentMT_labMT3 {
  font-size: 22px;
}

#contentMT_labMT3 {
  font-weight: bold;
}

#contentMT_numMT_Results3 {
  height: 30px;
}

#contentMT_numMT_Results3 {
  top: 133px;
  position: absolute;
}

#contentMT_numMT_Results3 {
  left: 129px;
  position: absolute;
}

#contentMT_numMT_Results3 {
  width: 200px;
}

#contentMT_numMT_Results3 {
  z-index: 7;
}

#contentMT_numMT_Results3 {
  border-width: 2px;
}

#contentMT_numMT_Results3 {
  border-radius: 5px;
}

#contentMT_labMT4 {
  top: 178px;
  position: absolute;
}

#contentMT_labMT4 {
  left: 19px;
  position: absolute;
}

#contentMT_labMT4 {
  width: 60px;
}

#contentMT_labMT4 {
  height: 27px;
}

#contentMT_labMT4 {
  z-index: 8;
}

#contentMT_labMT4 {
  justify-content: flex-end;
  text-align: right;
  -ms-flex-align: center;
  align-items: center;
}

#contentMT_labMT4 {
  font-size: 22px;
}

#contentMT_labMT4 {
  font-weight: bold;
}

#contentMT_numMT_Results4 {
  height: 30px;
}

#contentMT_numMT_Results4 {
  top: 173px;
  position: absolute;
}

#contentMT_numMT_Results4 {
  left: 129px;
  position: absolute;
}

#contentMT_numMT_Results4 {
  width: 200px;
}

#contentMT_numMT_Results4 {
  z-index: 9;
}

#contentMT_numMT_Results4 {
  border-width: 2px;
}

#contentMT_numMT_Results4 {
  border-radius: 5px;
}

#contentMT_labMT5 {
  top: 218px;
  position: absolute;
}

#contentMT_labMT5 {
  left: 19px;
  position: absolute;
}

#contentMT_labMT5 {
  width: 60px;
}

#contentMT_labMT5 {
  height: 27px;
}

#contentMT_labMT5 {
  z-index: 10;
}

#contentMT_labMT5 {
  justify-content: flex-end;
  text-align: right;
  -ms-flex-align: center;
  align-items: center;
}

#contentMT_labMT5 {
  font-size: 22px;
}

#contentMT_labMT5 {
  font-weight: bold;
}

#contentMT_numMT_Results5 {
  height: 30px;
}

#contentMT_numMT_Results5 {
  top: 213px;
  position: absolute;
}

#contentMT_numMT_Results5 {
  left: 129px;
  position: absolute;
}

#contentMT_numMT_Results5 {
  width: 200px;
}

#contentMT_numMT_Results5 {
  z-index: 11;
}

#contentMT_numMT_Results5 {
  border-width: 2px;
}

#contentMT_numMT_Results5 {
  border-radius: 5px;
}

#contentMT_labMT7 {
  top: 253px;
  position: absolute;
}

#contentMT_labMT7 {
  left: 19px;
  position: absolute;
}

#contentMT_labMT7 {
  width: 60px;
}

#contentMT_labMT7 {
  height: 27px;
}

#contentMT_labMT7 {
  z-index: 12;
}

#contentMT_labMT7 {
  justify-content: flex-end;
  text-align: right;
  -ms-flex-align: center;
  align-items: center;
}

#contentMT_labMT7 {
  font-size: 22px;
}

#contentMT_labMT7 {
  font-weight: bold;
}

#contentMT_numMT_Results6 {
  height: 30px;
}

#contentMT_numMT_Results6 {
  top: 253px;
  position: absolute;
}

#contentMT_numMT_Results6 {
  left: 129px;
  position: absolute;
}

#contentMT_numMT_Results6 {
  width: 200px;
}

#contentMT_numMT_Results6 {
  z-index: 13;
}

#contentMT_numMT_Results6 {
  border-width: 2px;
}

#contentMT_numMT_Results6 {
  border-radius: 5px;
}

#contentMT_labMT8 {
  top: 293px;
  position: absolute;
}

#contentMT_labMT8 {
  left: 19px;
  position: absolute;
}

#contentMT_labMT8 {
  width: 60px;
}

#contentMT_labMT8 {
  height: 27px;
}

#contentMT_labMT8 {
  z-index: 14;
}

#contentMT_labMT8 {
  justify-content: flex-end;
  text-align: right;
  -ms-flex-align: center;
  align-items: center;
}

#contentMT_labMT8 {
  font-size: 22px;
}

#contentMT_labMT8 {
  font-weight: bold;
}

#contentMT_numMT_Results7 {
  height: 30px;
}

#contentMT_numMT_Results7 {
  top: 293px;
  position: absolute;
}

#contentMT_numMT_Results7 {
  left: 129px;
  position: absolute;
}

#contentMT_numMT_Results7 {
  width: 200px;
}

#contentMT_numMT_Results7 {
  z-index: 15;
}

#contentMT_numMT_Results7 {
  border-width: 2px;
}

#contentMT_numMT_Results7 {
  border-radius: 5px;
}

#contentMT_labMT9 {
  top: 333px;
  position: absolute;
}

#contentMT_labMT9 {
  left: 19px;
  position: absolute;
}

#contentMT_labMT9 {
  width: 60px;
}

#contentMT_labMT9 {
  height: 27px;
}

#contentMT_labMT9 {
  z-index: 16;
}

#contentMT_labMT9 {
  justify-content: flex-end;
  text-align: right;
  -ms-flex-align: center;
  align-items: center;
}

#contentMT_labMT9 {
  font-size: 22px;
}

#contentMT_labMT9 {
  font-weight: bold;
}

#contentMT_numMT_Results8 {
  height: 30px;
}

#contentMT_numMT_Results8 {
  top: 333px;
  position: absolute;
}

#contentMT_numMT_Results8 {
  left: 129px;
  position: absolute;
}

#contentMT_numMT_Results8 {
  width: 200px;
}

#contentMT_numMT_Results8 {
  z-index: 17;
}

#contentMT_numMT_Results8 {
  border-width: 2px;
}

#contentMT_numMT_Results8 {
  border-radius: 5px;
}

#contentMT_labMT11 {
  top: 373px;
  position: absolute;
}

#contentMT_labMT11 {
  left: 19px;
  position: absolute;
}

#contentMT_labMT11 {
  width: 60px;
}

#contentMT_labMT11 {
  height: 27px;
}

#contentMT_labMT11 {
  z-index: 18;
}

#contentMT_labMT11 {
  justify-content: flex-end;
  text-align: right;
  -ms-flex-align: center;
  align-items: center;
}

#contentMT_labMT11 {
  font-size: 22px;
}

#contentMT_labMT11 {
  font-weight: bold;
}

#contentMT_numMT_Results9 {
  height: 30px;
}

#contentMT_numMT_Results9 {
  top: 373px;
  position: absolute;
}

#contentMT_numMT_Results9 {
  left: 129px;
  position: absolute;
}

#contentMT_numMT_Results9 {
  width: 200px;
}

#contentMT_numMT_Results9 {
  z-index: 19;
}

#contentMT_numMT_Results9 {
  border-width: 2px;
}

#contentMT_numMT_Results9 {
  border-radius: 5px;
}

#contentMT_labMT12 {
  top: 413px;
  position: absolute;
}

#contentMT_labMT12 {
  left: 19px;
  position: absolute;
}

#contentMT_labMT12 {
  width: 60px;
}

#contentMT_labMT12 {
  height: 27px;
}

#contentMT_labMT12 {
  z-index: 20;
}

#contentMT_labMT12 {
  justify-content: flex-end;
  text-align: right;
  -ms-flex-align: center;
  align-items: center;
}

#contentMT_labMT12 {
  font-size: 22px;
}

#contentMT_labMT12 {
  font-weight: bold;
}

#contentMT_numMT_Results10 {
  height: 30px;
}

#contentMT_numMT_Results10 {
  top: 413px;
  position: absolute;
}

#contentMT_numMT_Results10 {
  left: 129px;
  position: absolute;
}

#contentMT_numMT_Results10 {
  width: 200px;
}

#contentMT_numMT_Results10 {
  z-index: 21;
}

#contentMT_numMT_Results10 {
  border-width: 2px;
}

#contentMT_numMT_Results10 {
  border-radius: 5px;
}

#contentMT_btnMTuseXY {
  top: 15px;
  position: absolute;
}

#contentMT_btnMTuseXY {
  left: 415px;
  position: absolute;
}

#contentMT_btnMTuseXY {
  width: 269px;
}

#contentMT_btnMTuseXY {
  height: 60px;
}

#contentMT_btnMTuseXY {
  z-index: 1;
}

#contentMT_btnMTuseXY span {
  font-size: 18px;
}
