﻿@import "mixins.scss";
#contentMT_grpMeasurement {
	@include elemTop(10);
}
#contentMT_grpMeasurement {
	@include elemLeft(10);
}
#contentMT_grpMeasurement {
	@include elemWidth(390);
}
#contentMT_grpMeasurement {
	@include elemHeight(490);
}
#contentMT_grpMeasurement {
		z-index: 0;
}
#contentMT_labMT6 {
	@include elemAutoHeight(30);
}
#contentMT_labMT6 {
	@include elemTop(13);
}
#contentMT_labMT6 {
	@include elemLeft(34);
}
#contentMT_labMT6 {
	@include elemAutoWidth(70);
}
#contentMT_labMT6 {
		z-index: 1;
}
#contentMT_labMT6 {
	@include text-alignment-all('center');
}
#contentMT_labMT6 {
		font-size: 20px;
}
#contentMT_labMT6 {
	@include font-weight-bold(true);
}
#contentMT_labMT1 {
	@include elemTop(55);
}
#contentMT_labMT1 {
	@include elemLeft(19);
}
#contentMT_labMT1 {
	@include elemAutoWidth(60);
}
#contentMT_labMT1 {
	@include elemAutoHeight(27);
}
#contentMT_labMT1 {
		z-index: 0;
}
#contentMT_labMT1 {
	@include text-alignment-all('right');
}
#contentMT_labMT1 {
		font-size: 22px;
}
#contentMT_labMT1 {
	@include font-weight-bold(true);
}
#contentMT_labMT10 {
	@include elemAutoHeight(30);
}
#contentMT_labMT10 {
	@include elemTop(13);
}
#contentMT_labMT10 {
	@include elemLeft(134);
}
#contentMT_labMT10 {
	@include elemAutoWidth(191);
}
#contentMT_labMT10 {
		z-index: 2;
}
#contentMT_labMT10 {
	@include text-alignment-all('center');
}
#contentMT_labMT10 {
		font-size: 20px;
}
#contentMT_labMT10 {
	@include font-weight-bold(true);
}
#contentMT_numMT_Results1 {
	@include elemAutoHeight(30);
}
#contentMT_numMT_Results1 {
	@include elemTop(53);
}
#contentMT_numMT_Results1 {
	@include elemLeft(129);
}
#contentMT_numMT_Results1 {
	@include elemAutoWidth(200);
}
#contentMT_numMT_Results1 {
		z-index: 3;
}
#contentMT_numMT_Results1 {
		border-width: 2px;
}
#contentMT_numMT_Results1 {
	@include border-radius(5px);
}
#contentMT_labMT2 {
	@include elemTop(98);
}
#contentMT_labMT2 {
	@include elemLeft(19);
}
#contentMT_labMT2 {
	@include elemAutoWidth(60);
}
#contentMT_labMT2 {
	@include elemAutoHeight(27);
}
#contentMT_labMT2 {
		z-index: 4;
}
#contentMT_labMT2 {
	@include text-alignment-all('right');
}
#contentMT_labMT2 {
		font-size: 22px;
}
#contentMT_labMT2 {
	@include font-weight-bold(true);
}
#contentMT_numMT_Results2 {
	@include elemAutoHeight(30);
}
#contentMT_numMT_Results2 {
	@include elemTop(93);
}
#contentMT_numMT_Results2 {
	@include elemLeft(129);
}
#contentMT_numMT_Results2 {
	@include elemAutoWidth(200);
}
#contentMT_numMT_Results2 {
		z-index: 5;
}
#contentMT_numMT_Results2 {
		border-width: 2px;
}
#contentMT_numMT_Results2 {
	@include border-radius(5px);
}
#contentMT_labMT3 {
	@include elemTop(138);
}
#contentMT_labMT3 {
	@include elemLeft(19);
}
#contentMT_labMT3 {
	@include elemAutoWidth(60);
}
#contentMT_labMT3 {
	@include elemAutoHeight(27);
}
#contentMT_labMT3 {
		z-index: 6;
}
#contentMT_labMT3 {
	@include text-alignment-all('right');
}
#contentMT_labMT3 {
		font-size: 22px;
}
#contentMT_labMT3 {
	@include font-weight-bold(true);
}
#contentMT_numMT_Results3 {
	@include elemAutoHeight(30);
}
#contentMT_numMT_Results3 {
	@include elemTop(133);
}
#contentMT_numMT_Results3 {
	@include elemLeft(129);
}
#contentMT_numMT_Results3 {
	@include elemAutoWidth(200);
}
#contentMT_numMT_Results3 {
		z-index: 7;
}
#contentMT_numMT_Results3 {
		border-width: 2px;
}
#contentMT_numMT_Results3 {
	@include border-radius(5px);
}
#contentMT_labMT4 {
	@include elemTop(178);
}
#contentMT_labMT4 {
	@include elemLeft(19);
}
#contentMT_labMT4 {
	@include elemAutoWidth(60);
}
#contentMT_labMT4 {
	@include elemAutoHeight(27);
}
#contentMT_labMT4 {
		z-index: 8;
}
#contentMT_labMT4 {
	@include text-alignment-all('right');
}
#contentMT_labMT4 {
		font-size: 22px;
}
#contentMT_labMT4 {
	@include font-weight-bold(true);
}
#contentMT_numMT_Results4 {
	@include elemAutoHeight(30);
}
#contentMT_numMT_Results4 {
	@include elemTop(173);
}
#contentMT_numMT_Results4 {
	@include elemLeft(129);
}
#contentMT_numMT_Results4 {
	@include elemAutoWidth(200);
}
#contentMT_numMT_Results4 {
		z-index: 9;
}
#contentMT_numMT_Results4 {
		border-width: 2px;
}
#contentMT_numMT_Results4 {
	@include border-radius(5px);
}
#contentMT_labMT5 {
	@include elemTop(218);
}
#contentMT_labMT5 {
	@include elemLeft(19);
}
#contentMT_labMT5 {
	@include elemAutoWidth(60);
}
#contentMT_labMT5 {
	@include elemAutoHeight(27);
}
#contentMT_labMT5 {
		z-index: 10;
}
#contentMT_labMT5 {
	@include text-alignment-all('right');
}
#contentMT_labMT5 {
		font-size: 22px;
}
#contentMT_labMT5 {
	@include font-weight-bold(true);
}
#contentMT_numMT_Results5 {
	@include elemAutoHeight(30);
}
#contentMT_numMT_Results5 {
	@include elemTop(213);
}
#contentMT_numMT_Results5 {
	@include elemLeft(129);
}
#contentMT_numMT_Results5 {
	@include elemAutoWidth(200);
}
#contentMT_numMT_Results5 {
		z-index: 11;
}
#contentMT_numMT_Results5 {
		border-width: 2px;
}
#contentMT_numMT_Results5 {
	@include border-radius(5px);
}
#contentMT_labMT7 {
	@include elemTop(253);
}
#contentMT_labMT7 {
	@include elemLeft(19);
}
#contentMT_labMT7 {
	@include elemAutoWidth(60);
}
#contentMT_labMT7 {
	@include elemAutoHeight(27);
}
#contentMT_labMT7 {
		z-index: 12;
}
#contentMT_labMT7 {
	@include text-alignment-all('right');
}
#contentMT_labMT7 {
		font-size: 22px;
}
#contentMT_labMT7 {
	@include font-weight-bold(true);
}
#contentMT_numMT_Results6 {
	@include elemAutoHeight(30);
}
#contentMT_numMT_Results6 {
	@include elemTop(253);
}
#contentMT_numMT_Results6 {
	@include elemLeft(129);
}
#contentMT_numMT_Results6 {
	@include elemAutoWidth(200);
}
#contentMT_numMT_Results6 {
		z-index: 13;
}
#contentMT_numMT_Results6 {
		border-width: 2px;
}
#contentMT_numMT_Results6 {
	@include border-radius(5px);
}
#contentMT_labMT8 {
	@include elemTop(293);
}
#contentMT_labMT8 {
	@include elemLeft(19);
}
#contentMT_labMT8 {
	@include elemAutoWidth(60);
}
#contentMT_labMT8 {
	@include elemAutoHeight(27);
}
#contentMT_labMT8 {
		z-index: 14;
}
#contentMT_labMT8 {
	@include text-alignment-all('right');
}
#contentMT_labMT8 {
		font-size: 22px;
}
#contentMT_labMT8 {
	@include font-weight-bold(true);
}
#contentMT_numMT_Results7 {
	@include elemAutoHeight(30);
}
#contentMT_numMT_Results7 {
	@include elemTop(293);
}
#contentMT_numMT_Results7 {
	@include elemLeft(129);
}
#contentMT_numMT_Results7 {
	@include elemAutoWidth(200);
}
#contentMT_numMT_Results7 {
		z-index: 15;
}
#contentMT_numMT_Results7 {
		border-width: 2px;
}
#contentMT_numMT_Results7 {
	@include border-radius(5px);
}
#contentMT_labMT9 {
	@include elemTop(333);
}
#contentMT_labMT9 {
	@include elemLeft(19);
}
#contentMT_labMT9 {
	@include elemAutoWidth(60);
}
#contentMT_labMT9 {
	@include elemAutoHeight(27);
}
#contentMT_labMT9 {
		z-index: 16;
}
#contentMT_labMT9 {
	@include text-alignment-all('right');
}
#contentMT_labMT9 {
		font-size: 22px;
}
#contentMT_labMT9 {
	@include font-weight-bold(true);
}
#contentMT_numMT_Results8 {
	@include elemAutoHeight(30);
}
#contentMT_numMT_Results8 {
	@include elemTop(333);
}
#contentMT_numMT_Results8 {
	@include elemLeft(129);
}
#contentMT_numMT_Results8 {
	@include elemAutoWidth(200);
}
#contentMT_numMT_Results8 {
		z-index: 17;
}
#contentMT_numMT_Results8 {
		border-width: 2px;
}
#contentMT_numMT_Results8 {
	@include border-radius(5px);
}
#contentMT_labMT11 {
	@include elemTop(373);
}
#contentMT_labMT11 {
	@include elemLeft(19);
}
#contentMT_labMT11 {
	@include elemAutoWidth(60);
}
#contentMT_labMT11 {
	@include elemAutoHeight(27);
}
#contentMT_labMT11 {
		z-index: 18;
}
#contentMT_labMT11 {
	@include text-alignment-all('right');
}
#contentMT_labMT11 {
		font-size: 22px;
}
#contentMT_labMT11 {
	@include font-weight-bold(true);
}
#contentMT_numMT_Results9 {
	@include elemAutoHeight(30);
}
#contentMT_numMT_Results9 {
	@include elemTop(373);
}
#contentMT_numMT_Results9 {
	@include elemLeft(129);
}
#contentMT_numMT_Results9 {
	@include elemAutoWidth(200);
}
#contentMT_numMT_Results9 {
		z-index: 19;
}
#contentMT_numMT_Results9 {
		border-width: 2px;
}
#contentMT_numMT_Results9 {
	@include border-radius(5px);
}
#contentMT_labMT12 {
	@include elemTop(413);
}
#contentMT_labMT12 {
	@include elemLeft(19);
}
#contentMT_labMT12 {
	@include elemAutoWidth(60);
}
#contentMT_labMT12 {
	@include elemAutoHeight(27);
}
#contentMT_labMT12 {
		z-index: 20;
}
#contentMT_labMT12 {
	@include text-alignment-all('right');
}
#contentMT_labMT12 {
		font-size: 22px;
}
#contentMT_labMT12 {
	@include font-weight-bold(true);
}
#contentMT_numMT_Results10 {
	@include elemAutoHeight(30);
}
#contentMT_numMT_Results10 {
	@include elemTop(413);
}
#contentMT_numMT_Results10 {
	@include elemLeft(129);
}
#contentMT_numMT_Results10 {
	@include elemAutoWidth(200);
}
#contentMT_numMT_Results10 {
		z-index: 21;
}
#contentMT_numMT_Results10 {
		border-width: 2px;
}
#contentMT_numMT_Results10 {
	@include border-radius(5px);
}
#contentMT_btnMTuseXY {
	@include elemTop(15);
}
#contentMT_btnMTuseXY {
	@include elemLeft(415);
}
#contentMT_btnMTuseXY {
	@include elemAutoWidth(269);
}
#contentMT_btnMTuseXY {
	@include elemAutoHeight(60);
}
#contentMT_btnMTuseXY {
		z-index: 1;
}
#contentMT_btnMTuseXY {
	span{
		font-size: 18px;
	}
}
