#contentOCR_tabOCR {
  top: 10px;
  position: absolute;
}

#contentOCR_tabOCR {
  left: 10px;
  position: absolute;
}

#contentOCR_tabOCR {
  width: 1180px;
}

#contentOCR_tabOCR {
  height: 350px;
}

#contentOCR_tabOCR {
  z-index: 0;
}

#contentOCR_ItemNo {
  z-index: 0;
}

#contentOCR_itemData {
  z-index: 1;
}

#contentOCR_itemGrading {
  z-index: 2;
}

#contentOCR_itemPosX {
  z-index: 4;
}

#contentOCR_itemPosY {
  z-index: 5;
}

#contentOCR_itemOrientation {
  z-index: 6;
}

#contentOCR_btnOCR_ParameterMode {
  top: 380px;
  position: absolute;
}

#contentOCR_btnOCR_ParameterMode {
  left: 15px;
  position: absolute;
}

#contentOCR_btnOCR_ParameterMode {
  width: 269px;
}

#contentOCR_btnOCR_ParameterMode {
  height: 60px;
}

#contentOCR_btnOCR_ParameterMode {
  z-index: 1;
}

#contentOCR_btnOCR_ParameterMode span {
  font-size: 18px;
}

#contentOCR_btnOCR_Grading {
  top: 380px;
  position: absolute;
}

#contentOCR_btnOCR_Grading {
  left: 310px;
  position: absolute;
}

#contentOCR_btnOCR_Grading {
  width: 269px;
}

#contentOCR_btnOCR_Grading {
  height: 60px;
}

#contentOCR_btnOCR_Grading {
  z-index: 2;
}

#contentOCR_btnOCR_Grading span {
  font-size: 18px;
}
