#contentPixel_tabPixel {
  top: 15px;
  position: absolute;
}

#contentPixel_tabPixel {
  left: 10px;
  position: absolute;
}

#contentPixel_tabPixel {
  width: 1170px;
}

#contentPixel_tabPixel {
  height: 345px;
}

#contentPixel_tabPixel {
  z-index: 0;
}

#contentPixel_ItemNo {
  z-index: 0;
}

#contentPixel_itemModel {
  z-index: 1;
}

#contentPixel_itemNumPixels {
  z-index: 2;
}

#contentPixel_itemMinGray {
  z-index: 3;
}

#contentPixel_itemMaxGray {
  z-index: 4;
}

#contentPixel_itemMeanGray {
  z-index: 5;
}

#contentPixel_itemDeviationGray {
  z-index: 6;
}

#contentPixel_itemPositionX {
  z-index: 7;
}

#contentPixel_itemPositionY {
  z-index: 8;
}

#contentPixel_itemModelArea {
  z-index: 9;
}

#contentPixel_itemNumConnectedComponents {
  z-index: 10;
}

#contentPixel_btnPixelEnhancedPixelInfo {
  top: 440px;
  position: absolute;
}

#contentPixel_btnPixelEnhancedPixelInfo {
  left: 20px;
  position: absolute;
}

#contentPixel_btnPixelEnhancedPixelInfo {
  width: 360px;
}

#contentPixel_btnPixelEnhancedPixelInfo {
  height: 60px;
}

#contentPixel_btnPixelEnhancedPixelInfo {
  z-index: 1;
}

#contentPixel_btnPixelEnhancedPixelInfo span {
  font-size: 18px;
}
